<input type="hidden" id="count_results" value="<%=@partecipants.count%>"/>
<input type="hidden" id="ids_results" value="<%=@partecipants.map{|p| p.user_id}.join(',')%>"/>

<table style="width:800px;" id="partecipants">
  <thead>
  <th><%= t('pages.groups.edit_permissions.user_title') %></th>
  <th><%= t('pages.groups.edit_permissions.user_title') %></th>
  <th><%= t('pages.users.show.registered_from') %></th>
  <th>registered_sortable</th>
  <th><%= t('pages.groups.participations.added_by') %></th>

  </thead>
  <tbody>
  <% @partecipants.each do |partecipant| %>
      <tr>
        <td>
          <div class="pcontainer">
            <div class="MoImg24">
              <%= partecipant.user_image_tag(24) %>
            </div>
            <div class="Mo">
              <%= link_to_user partecipant.user, :full_name => true %>
            </div>
            <div style="clear:both;"></div>
          </div>
        </td>
        <td><%= (defined? partecipant.partecipation_role) ? partecipant.partecipation_role.name : '' %></td>
        <td><%= l partecipant.created_at if partecipant.created_at %></td>
        <td><%= partecipant.created_at.to_i if partecipant.created_at %></td>
        <td>
          <% if (defined? partecipant.acceptor) && partecipant.acceptor%>
              <div class="pcontainer">
                <div class="MoImg24">
                  <%= partecipant.acceptor.user_image_tag(24) %>
                </div>
                <div class="Mo">
                  <%= link_to_user partecipant.acceptor, :full_name => true %>
                </div>
                <div style="clear:both;"></div>
              </div>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>