<h1><%= t('pages.groups.participations.list_participations') %></h1>
<% if can? :update, @group %>
    <fieldset class="card">
      <legend><%= t('pages.groups.participations.search') %></legend>

      <%= form_for !in_subdomain? ? [@group, SearchPartecipant.new] : SearchPartecipant.new, remote: true do |f| %>
          <div class="row">
            <div class="large-8 columns">
              <%= f.label :keywords %>
              <%= f.text_field :keywords %>
            </div>
          </div>
          <div class="row">
            <div class="large-8 columns">
              <%= f.label :role_id %>
              <%= f.select :role_id, options_from_collection_for_select([OpenStruct.new({id: PartecipationRole::PORTAVOCE, name: @group.admin_title || t('pages.groups.default_admin_title')})] + @group.partecipation_roles, :id, :name, (params[:search_partecipant][:role_id] if params[:search_partecipant]) ), :prompt => t('pages.groups.participations.anything') %>
            </div>
          </div>
          <div class="row">
            <div class="large-8 columns">
              <%= f.label :status_id %>
              <%= f.select :status_id, options_from_collection_for_select(GroupPartecipationRequestStatus.active, :id, :description), :prompt => t('pages.groups.participations.anything') %>
            </div>
          </div>

          <%= f.button t('pages.groups.participations.filter'), class: 'btn blue', data:{disable_with: t('loading')} %>
      <% end %>

    </fieldset>

<% end %>

<div id="results_panel">
  <%= render :partial => 'group_partecipation_results' %>
</div>

<%= content_for :left_panel do %>
    <% if can? :update, @group %>
        <%= render :partial => 'groups/administration_panel' %>
    <% end %>
    <div class="mybox">
      <%= link_to t('pages.groups.show.print_all_participants'), group_group_partecipations_url(@group, format: :csv), :class => "btn printButton disable" %>
    </div>
<% end %>