<h1>Elenco partecipanti</h1>
<% if current_user && ((@group.portavoce.include? current_user) || is_admin?) %>
    <%= form_for [@group, SearchPartecipant.new], remote: true do |f| %>
        <p><%= f.label :keywords %><br/>
          <%= f.text_field :keywords %>
        </p>
        <p>
          <%= f.label :role_id %><br/>
          <%= f.select :role_id, options_from_collection_for_select([OpenStruct.new({id: PartecipationRole::PORTAVOCE, name: @group.admin_title || t('default_admin_title')})] + @group.partecipation_roles, :id, :name), :prompt => 'Scegli un ruolo' %>
        </p>
        <p>
          <%= f.label :status_id %><br/>
          <%= f.select :status_id, options_from_collection_for_select(GroupPartecipationRequestStatus.all, :id, :description), :prompt => 'Scegli uno stato di iscrizione' %>
        </p>
        <%= f.button 'Filtra', class: 'btn blue' %>
    <% end %>
<% end %>

<br/>
<div id="results_panel">
  <%= render :partial => 'group_partecipation_results' %>
</div>
