<%= form_for(@tutorial_progress) do |f| %>
  <% if @tutorial_progress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutorial_progress.errors.count, "error") %> prohibited this tutorial_progress from being saved:</h2>

      <ul>
      <% @tutorial_progress.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :step_id %><br />
    <%= f.number_field :step_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
