<h1>Listing tutorial_progresses</h1>

<table>
  <tr>
    <th>User</th>
    <th>Step</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tutorial_progresses.each do |tutorial_progress| %>
  <tr>
    <td><%= tutorial_progress.user_id %></td>
    <td><%= tutorial_progress.step_id %></td>
    <td><%= tutorial_progress.status %></td>
    <td><%= link_to 'Show', tutorial_progress %></td>
    <td><%= link_to 'Edit', edit_tutorial_progress_path(tutorial_progress) %></td>
    <td><%= link_to 'Destroy', tutorial_progress, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tutorial progress', new_tutorial_progress_path %>
