<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @tutorial_progress.user_id %>
</p>

<p>
  <b>Step:</b>
  <%= @tutorial_progress.step_id %>
</p>

<p>
  <b>Status:</b>
  <%= @tutorial_progress.status %>
</p>


<%= link_to 'Edit', edit_tutorial_progress_path(@tutorial_progress) %> |
<%= link_to 'Back', tutorial_progresses_path %>
