<ul class="breadcrumbs">
  <li><%= link_to t('pages.groups.administration_panel.forum'), group_frm_admin_root_url(@group) %></li>
  <li><%= link_to t('frm.admin.forum.index'), group_frm_admin_forums_url(@group)%></li>
  <li class="current"><%= @forum.title.html_safe %></li>
</ul>


<%= simple_form_for  @forum, url: group_frm_admin_forum_url(@group,@forum) do |f| %>
    <%= render partial: "form", locals: {f: f} %>
<% end %>


<%= content_for :left_panel do %>
    <%= render partial: 'groups/administration_panel' %>
<% end %>