<input type="hidden" id="count_results" value="<%= @group_participations.count %>"/>
<input type="hidden" id="ids_results" value="<%= @group_participations.map { |p| p.user_id }.join(',') %>"/>

<% @group_participations.each do |participant| %>
    <div class="column small-12 medium-6 large-2">
      <div class="card cool left" data-id="<%= participant.id %>">
        <div class="image">
          <%= participant.user_image_tag(120, force_size: false) %>
        </div>
        <div class="info">
          <div class="name">
            <%= link_to_user participant.user, full_name: true %>
          </div>
          <div>
            <% if participant.created_at %>
                <%= l participant.created_at %>
            <% else %>
                -
            <% end %>
          </div>
          <div>
            <% if defined? participant.acceptor %>
                <% if participant.acceptor %>
                    <%= link_to_user participant.acceptor, full_name: true %>
                <% else %>
                    -
                <% end %>
            <% else %>
                <% if can? :accept_requests, @group %>
                    <% if @group.request_by_vote? %>
                        <%#= link_to 'Accetta la richiesta e procedi con la votazione.', url_for(action: "participation_request_confirm", controller: "groups", id: @group.id, request_id: request.id) %>
                    <% elsif @group.request_by_portavoce? %>
                        <%= link_to t('pages.groups.show.accept_request_button'), participation_request_confirm_group_url(@group, request_id: participant.id, from_list: true), method: :put, remote: true, class: 'btn blue little acceptButton', style: "float:left", data: {disable_with: t('loading')} %>
                        <%= link_to t('pages.groups.show.reject_request_button'), participation_request_decline_group_url(@group, request_id: participant.id, from_list: true), method: :put, remote: true, data: {confirm: 'Sei sicuro di volere declinare questa richiesta?', disable_with: t('loading')}, class: 'btn little rejectButton', style: "float:left" %>
                    <% end %>
                <% end %>
            <% end %>
          </div>
          <% if can? :update, @group %>
              <td>
                <%= link_to t('pages.groups.edit_permissions.remove_user'), group_group_participation_path(@group, participant), method: :delete, class: "btn trashButton", data: {confirm: t('pages.groups.edit.remove_user_confirm', name: participant.user.fullname)} if can? :destroy, participant %>
              </td>
          <% end %>
        </div>
        <div class="bottom">
          <% if defined? participant.participation_role %>
              <% if can? :update, @group %>
                  <%= select_tag "user_role", options_from_collection_for_select([OpenStruct.new({id: ParticipationRole::ADMINISTRATOR, name: @group.admin_title || t('pages.groups.default_admin_title')})] + @group.participation_roles, :id, :name, participant.participation_role.id), data: {id: participant.id, fullname: participant.user.fullname}, class: "user_role_changer" %>
                  <% if @group.group_areas.size > 0 %>
                      <%= link_to t('pages.groups.administration_panel.areas'), '#', class: 'btn areas_button', data: {m_id: participant.id} %>
                      <div class="areas_list shadow-box">
                        <ul>
                          <% @group.group_areas.each do |area| %>
                              <li>
                                <input type="checkbox"
                                       data-user_id="<%= participant.user.id %>"
                                       data-group_area_id="<%= area.id %>"
                                       data-change-area-participation
                                       <% area_participation = area.area_participations.find_by(user_id: participant.user.id) %>
                                       <% if area_participation %>
                                       checked='checked'
                                       <% end %> >
                                <%= area.name %>
                              </li>
                          <% end %>

                        </ul>
                        <div style="clear:both;"></div>
                      </div>
                  <% end %>
              <% else %>
                  <%= participant.participation_role.name %>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
