<h1>Login</h1>

<% form_tag session_path do -%>
<p><%= label_tag 'login', 'Username' %><br />
<%= text_field_tag 'login', @login %></p>

<p><%= label_tag 'password' %><br/>
<%= password_field_tag 'password', nil %></p>

<p><%= label_tag 'remember_me', 'Ricordami su questo computer' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>


<p><%= submit_tag 'Accedi' %></p>

<%= link_to 'Dimenticato la password?', forgot_password_url %>
<% end -%>
