<% @page_title = t("pages.confirmation.title") %>
<div class="card">
  <h2><%= @page_title %></h2>

  <%= simple_form_for(@user, url: user_confirmation_path, html: {method: :post}) do |f| %>
      <%= f.input :login, label: t('activerecord.attributes.user.email') %>
      <%= f.button :button, t("pages.confirmation.submit"), class: 'btn blue' %>
  <% end %>
  <%= render partial: "devise/shared/links" %>
</div>
