<% @page_title = t("pages.confirmation.title") %>
<div class="card">
  <h2><%= @page_title %></h2>

  <%= form_for(resource, as: resource_name, url: user_confirmation_path, html: {method: :post}) do |f| %>
      <%= render partial: 'fragments/error_messages', locals: {resource: resource} %>
      <%= f.label :email, t('pages.registration.username_or_email') %>
      <%= f.text_field :email %>
      <%= f.submit t("pages.confirmation.submit"), :class => 'btn blue' %>
  <% end %>

  <%= render partial: "devise/shared/links" %>
</div>
