<h2>Re-invio Istruzioni di Conferma</h2>

<%= form_for(resource, :as => resource_name, :url => user_confirmation_path, :html => { :method => :post }) do |f| %>
  <%= render :partial => 'fragments/error_messages', :locals => {:resource => resource} %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>
<br/>
  <div><%= f.submit "Inviami le istruzioni" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>