<h4 style="float:left"><%= t('pages.proposal_histories.editor_name') %> </h4>
<div style="float:left;margin-top: 4px;margin-left: 15px;"><%= user_tag(proposal_revision.user, proposal_revision.proposal) %></div>
<div class="clearboth"></div>

<%= render partial: 'proposal_revisions/section_history', collection: proposal_revision.section_histories %>

<% if proposal_revision.solution_histories.size > 0 %>
    <% proposal_revision.solution_histories.includes(section_histories: :paragraphs).order('section_histories.seq').each_with_index do |solution_history,i| %>
        <%=render partial: 'proposal_revisions/solution_history', locals: {proposal: @proposal, solution_history: solution_history, i: i} %>
    <% end %>
<% end %>

<% proposal_revision.contributes.each do |comment| %>
    <%= render partial: 'proposals/integrated_comment', locals: {comment: comment} %>
<% end %>
