<li>
  <div class="card cool left">
    <div class="image">
      <%= blog.user.user_image_tag(120, force_size: false) %>
    </div>
    <div class="info">
      <div class="name">
        <%= link_to (blog.title.to_s != '' ? blog.title : 'Nessun titolo'), blog %>
      </div>
    </div>
    <div class="bottom">
      <div>
        <%= link_to_user blog.user, full_name: true %>
      </div>
      <div>
        <%= t('pages.blogs.index.blog_subtitle', posts: blog.blog_posts.count, comments: blog.comments.count) %>
        <%= link_to 'Modifica', edit_blog_path(blog), class: 'buttonStyle littleText' if can? :edit, blog %>
        <%= link_to 'Cancella', blog, data: {confirm: 'Sei sicuro di voler eliminare questo blog?'}, method: :delete, class: 'buttonStyle littleText' if can? :destroy, blog %>
      </div>
    </div>
  </div>
</li>
