<%= form_for blogs_path, method: 'get', remote: true do |f| %>
    <div class="row">
      <div class="columns">
        <%= f.label t('buttons.search'), t('pages.blogs.index.search_with_query') %>
      </div>
    </div>

    <div class="row">
      <div class="columns small-9">
        <%= text_field_tag :search, params[:search], title: t('pages.blogs.index.find_title')%>
      </div>
      <div class="columns small-3">
        <div class="search_words">
          <%= check_box_tag :and, params[:and] %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns">
        <%= f.label :interest_border, t('pages.blogs.index.search_with_place') %>
      </div>
    </div>
    <div class="row">
      <div class="columns small-9">
        <%= text_field_tag :interest_border, params[:interest_border],
                           title: t('pages.groups.index.find_title'),
                           data: {pre: [InterestBorder.key_to_json(params[:interest_border])]} %>
      </div>
      <div class="columns small-3">
      </div>
    </div>
    <div class="row">
      <div class="columns">
        <%= f.button onclick: 'return checkCharacters();', class: 'btn', data: {disable_with: t('loading')} do %>
            <i class="fa fa-search"></i>
            <%= t('buttons.search') %>
        <% end %>
      </div>
    </div>
<% end %>
