<% @page_title = t('pages.blogs.edit.title', title: @blog.title) %>


<div class="card">
  <div class="row">
    <div class="columns small-12">
      <h2><%= t('pages.blogs.edit.title', title: @blog.title) %></h2>
    </div>
  </div>
      <%= simple_form_for @blog do |f| %>
      <div class="row">
        <div class="columns small-12">
          <%= f.error_notification %>
          <%= f.input :title %>
        </div>
          <div class="columns small-12">
            <%= link_to t('pages.blogs.edit.back_to_blog'), @blog, class: 'btn backButton' %>
            <%= f.button :button, class: 'btn blue' do %>
                <i class="fa fa-save"></i>
                <%= t('buttons.update') %>
            <% end %>
          </div>
      </div>
      <% end %>
</div>

<% content_for :left_panel do %>
    <%= render 'blog_posts/admin_links' %>
    <%= render 'blogs/left_panel' %>
<% end %>

