<h1>Modifica impostazioni blog</h1>

<%= form_for(@blog) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label 'Titolo del blog' %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Aggiorna' %>
  </p>
<% end %>

<%= link_to 'Torna al blog', @blog %>