<h1>Modifica blog</h1>

<%= form_for(@blog) do |f| %>
  <%= render :partial => 'fragments/error_messages', :locals => {:resource => @blog} %>

  <p>
    <%= f.label 'Titolo del blog' %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Aggiorna', :class => 'buttonStyle' %>
  </p>
<% end %>

<%= link_to 'Torna al blog', @blog %>