<%@extend = true%>


<h1><%= t('pages.blogs.index.find_blog_label') %></h1>
<div class="row full-width groups_row">
  <div class="columns large-6" id="blog_search_form">
    <div class="card">

      <%= form_for blogs_path, :method => 'get', :remote => true do |f| %>
          <%= f.label t('buttons.search'), t('pages.blogs.index.search_with_query') %>
          <div style="float:left">
            <%= text_field_tag :search, params[:search], :title => t('pages.groups.index.find_title'), style: 'width:300px' %>
          </div>
          <div class="search_words">
            <%= check_box_tag :and, params[:and], :title => "Scegli se cercare tutte le parole o almeno una" %>
          </div>

          <div class="clearboth"></div>
          <%= f.button t('pages.blogs.index.find_button'), onclick: 'return checkCharacters();', :class => 'btn searchButton', data: {disable_with: t('loading')} %>
      <% end %>
    </div>
  </div>
  <div class="columns large-6 show-for-large-up">
    <div id="tag_cloud" class="card">
      <% @tags.each do |tag| %>
          <%= link_to tag.text, blogs_url(tag: tag.text), remote: true, rel: tag.blog_posts_count %>
      <% end %>
    </div>
  </div>
</div>



<script type="text/javascript">
    $.fn.tagcloud.defaults = {
        size: {start: 12, end: 24, unit: 'pt'},
        color: {start: '#000', end: '#bbb'}
    };

    $('#tag_cloud a').tagcloud();

    function checkCharacters() {
        if (($('#search').val().length > 2) || ($('#interest_border').val() != '')) {
            return true;
        }
        else {
            alert('<%=t('pages.blogs.index.insert_query')%>');
            return false;
        }
    }

    var everPushedSomething = false;
    var initialUrl = location.href;

    $(window).bind('popstate', function (event) {
        var onloadPop = !everPushedSomething && location.href == initialUrl;
        everPushedSomething = true;
        if (onloadPop) {
            return;
        }
        $.getScript(addQueryParam(location.href, 'back', 'true'));
    });

    $("#and").switchButton({
        checked: <%=params[:and] == 'on' %>,
        on_label: $('<div class="switch_opt">&</div>'),
        off_label: $('<div class="switch_opt">||</div>'),
        on_title: '<%=t('pages.groups.index.switchButton.all_words')%>',
        off_title: '<%=t('pages.groups.index.switchButton.one_word')%>'
    });

    $('.switch-button-label.on, .switch-button-label.off').qtip({
        prerender: true,
        position: {
            at: 'top center',
            my: 'bottom center',
            viewport: $(window),
            effect: false
        },
        style: {
            classes: 'qtip-dark'
        }
    });

</script>


<div id="blogs_list">
  <% if @blogs.count > 0 %>
      <%= render :partial => "blog", :collection => @blogs %>
  <% else %>
      <h2><%= t('pages.blogs.index.search_description') %></h2>
  <% end %>
  <div class="clearboth"></div>
</div>
<div class="clearboth"></div>
<div id="more_blogs_container">
  <%= render :partial => 'more_blogs' %>
</div>


<%content_for :left_panel do%>

<%end%>