<%= stylesheet_link_tag 'blog_kit' %>
<h1>Tutti i blog</h1>

<table class="stiled">
  <tr>
    <th class="ui-state-default">Titolo</th>
	<th class="ui-state-default">Autore</th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%=h blog.title %></td>
	<td><%=h blog.user.name %></td>
    
	<td><%= link_to 'Mostra', blog %></td>
    <td><%= link_to 'Modifica', edit_blog_path(blog) if (user_signed_in? and current_user.is_my_blog? blog.id)%></td>
    <td><%= link_to 'Cancella', blog, :confirm => 'Sei sicuro di voler eliminare questo blog?', :method => :delete if (user_signed_in? and current_user.is_my_blog? blog.id)%></td>
  </tr>
<% end %>
</table>

<script type="text/javascript">
	$(function() {
		$('tr:odd').addClass("odd gradeA");
		$('tr:even').addClass("even gradeA");
	});

</script>

<br />