<h1>Vuoi creare un tuo blog personale?</h1>
<%= form_for(@blog) do |f| %>
<% if @blog.errors.any? %>
<ul>
	<% @blog.errors.full_messages.each do |msg| %>
	<li>
		<%= msg %>
	</li>
	<% end %>
</ul>
<% end %>
<p>
	<%= f.label 'Titolo del tuo blog' %>
	<br />
	<%= f.text_field :title %>
</p>
<p>
	<%= f.submit 'Crea' %>
</p>
<% end %>

<%= link_to 'No, grazie!', proposals_path %>