<% javascript 'endless_page' %>

<%=render :layout => "layouts/page_title", :locals => {:title => @blog.title} do%>

<%end%>
  
<% if @blog_posts.size == 0 && !params[:page] %>
	<div class="blogPost">
		<h3><%= t('pages.blogs.show.no_posts') %></h3>
		<p><%= t('pages.blogs.show.no_posts_long') %></p>
	</div>
<% else %>
	<% if @tag %>
		<h3><%= t('pages.blogs.show.tag') %>: <%= @tag %></h3>
	<% end %>
	<div id="blogPostContainer">
	<%= render :collection => @blog_posts, :partial => 'blog_posts/blog_post' %>
	</div>
		
<% end %>


 <div id="loading_results">
  	<span><%= t('pages.blogs.show.previous_posts') %></span>
 </div>

<script type="text/javascript">
			$('input:submit').button();			
		</script>
<br />


<% content_for :left_panel do %>
    <div class="mybox">

      <%= render :partial => 'blog_posts/admin_links' %>
    </div>
<%end%>
