<%= content_for :head do %>
    <%= auto_discovery_link_tag(:atom, blog_url(@blog, format: 'atom')) %>
<% end %>

<% javascript 'endless_page' %>

<%= render :layout => "layouts/page_title", :locals => {:title => @blog.title} do %>

<% end %>

<% if @blog_posts.size == 0 && !params[:page] %>
    <div class="blogPost">
      <h3><%= t('pages.blogs.show.no_posts') %></h3>
      <p><%= t('pages.blogs.show.no_posts_long') %></p>
    </div>
<% else %>
    <% if @tag %>
        <h3><%= t('pages.blogs.show.tag') %>: <%= @tag %></h3>
    <% end %>
    <div id="blogPostContainer">
      <%= render :collection => @blog_posts, :partial => 'blog_posts/blog_post' %>
    </div>

<% end %>


<div id="loading_results">
  <span><%= t('pages.blogs.show.previous_posts') %></span>
</div>

<script type="text/javascript">
    $(function () {
        $('.hidden_menu')
                .click(function (event) {
                    //event.stopPropagation();
                });

        $('html').click(function () {
            $('.hidden_menu').hide();
            $('.hidden_link.visible').removeClass('visible');
        });

        $('.hidden_link')
                .click(function (event) {
                    $(this).addClass('visible');
                    $(this).next().show().position({
                        my: "right top",
                        at: "right bottom",
                        of: $(this)
                    });
                    event.stopPropagation();
                });
    });
</script>

<% content_for :left_panel do %>
   <%=render 'blog_posts/admin_links' %>
   <%=render 'blogs/left_panel' %>
<% end %>
