<%= stylesheet_link_tag 'syntax/' + ('mac_classic') %>
  <h1><%=h @blog.title %></h1>
<%= render :partial => 'blog_posts/admin_links' %>
  
<% if @blog_posts.size == 0 && !params[:page] %>
	<div class="blogPost">
		<h3>Nessun Post</h3>
		<p>Non vi sono ancora Post in questo Blog, torna presto.</p>
	</div>
<% else %>
	<% if @tag %>
		<h3>Tag: <%= @tag %></h3>
	<% end %>
	
	<div class="blogPages">
	<%= will_paginate @blog_posts %>
</div>
	
	<%= render :collection => @blog_posts, :partial => 'blog_posts/blog_post' %>
<div class="blogPages">
	<%= will_paginate @blog_posts %>
</div>  
<% end %>

<script type="text/javascript">
			$('input:submit').button();
			
		</script>

