<%= stylesheet_link_tag 'blog_kit' %>
<%= stylesheet_link_tag 'syntax/' + ('mac_classic') %>


<%= render :partial => 'blog_posts/admin_links' %>

  <h3><%=h @blog.title %></h3>
  
  
<% if @blog_posts.size == 0 && !params[:page] %>
	<div class="blogPost">
		<h1>Nessun Post</h1>
		<p>Non vi sono ancora Post in questo Blog, torna presto.</p>
	</div>
<% else %>
	<% if @tag %>
		<h1>Tag: <%= @tag %></h1>
	<% end %>
	
	<div class="blogPages">
	<%= will_paginate @blog_posts %>
</div>
	
	<%= render :collection => @blog_posts, :partial => 'blog_posts/blog_post' %>
<div class="blogPages">
	<%= will_paginate @blog_posts %>
</div>  
<% end %>

<script type="text/javascript">
			$('input:submit').button();
			
		</script>

