<% @extend=true %>
<% @page_title = t('pages.registration.title') %>

<% if ::Configuration.socialnetwork_active && !in_subdomain? %>
    <div class="card">
      <h2><%= t('pages.registration.identity_provviders_title') %></h2>

      <%= link_to t('pages.top_panel.facebook_login'), omniauth_authorize_path(:user, :facebook), alt: t('pages.top_panel.facebook_login'), title: t('pages.top_panel.facebook_login'), class: 'zocial icon facebook' %>

      <%= link_to t('pages.top_panel.google_login'), omniauth_authorize_path(:user, :google_oauth2), alt: t('pages.top_panel.google_login'), title: t('pages.top_panel.google_login'), class: 'zocial icon googleplus' %>

      <%= link_to t('pages.top_panel.twitter_login'), omniauth_authorize_path(:user, :twitter), alt: t('pages.top_panel.twitter_login'), title: t('pages.top_panel.twitter_login'), class: 'zocial icon twitter' %>

      <%= link_to t('pages.top_panel.meetup_login'), omniauth_authorize_path(:user, :meetup), alt: t('pages.top_panel.meetup_login'), title: t('pages.top_panel.meetup_login'), class: 'zocial icon meetup' %>

      <%= link_to t('pages.top_panel.linkedin_login'), omniauth_authorize_path(:user, :linkedin), alt: t('pages.top_panel.linkedin_login'), title: t('pages.top_panel.linkedin_login'), class: 'zocial icon linkedin' %>

      <%= link_to t('pages.top_panel.tecnologiedemocratiche_login'), omniauth_authorize_path(:user, :tecnologiedemocratiche), alt: t('pages.top_panel.tecnologiedemocratiche_login'), title: t('pages.top_panel.tecnologiedemocratiche_login'), class: 'zocial icon tecnologiedemocratiche' %>
    </div>
<% end %>
<div class="card">
  <h2><%= t('pages.registration.title') %></h2>

  <%= simple_form_for @user, url: user_registration_path, validate: true do |f| %>
      <%= f.error_notification %>

      <%= f.input :email, required: true %>
      <% if resource.email && params[:action] == 'new' %>
          <%= t('pages.registration.email_confirmed') %>
      <% end %>

      <%= f.input :password,
                  required: true,
                  label: t('pages.registration.choose_password'),
                  input_html: {
                          id: "new_user_password"
                  } %>

      <%= f.input :password_confirmation,
                  required: true,
                  label: t('pages.registration.confirm_password'),
                  input_html: {
                          data: { fv_identical_field: 'user[password]',
                                  fv_identical: true },
                          id: "new_user_password_confirmation"
                  } %>

      <%= f.input :name, required: true %>

      <%= f.input :surname, required: true %>

      <div class="conditions">
        <%= render 'devise/registrations/eula' %>
      </div>

      <%= f.input :accept_conditions,
                  as: :boolean,
                  label: t('pages.registration.accept_conditions'),
                  required: true,
                  input_html: { data: { row_selector: 'boolean' } } %>

      <div class="conditions">
        <%= render 'devise/registrations/privacy' %>
      </div>

      <%= f.input :accept_privacy,
                  as: :boolean,
                  label: t('pages.registration.accept_privacy'),
                  required: true,
                  input_html: { data: { row_selector: 'boolean' } } %>

      <%= f.hidden_field :sys_locale_id %>

      <% if ::Configuration.recaptcha %>
          <%= recaptcha_tags display: { 'theme' => 'clean' } %>
      <% end %>

      <div><%= f.submit t('pages.registration.register_button'), class: 'btn blue' %></div>
  <% end %>
</div>

<div id="eula_modal" class="reveal-modal medium" data-reveal>
  <p>
    <%= render partial: 'devise/registrations/eula' %>
  </p>
</div>

<div id="privacy_modal" class="reveal-modal medium" data-reveal>
  <p>
    <%= render partial: 'devise/registrations/privacy' %>
  </p>
</div>

<script type="application/javascript">
    $(function () {
        $('#new_user').formValidation('enableFieldValidators', 'user[email]', true, 'remote')
    });
</script>
