<%@page_title = t('pages.registration.title') %>

<h2><%= t('pages.registration.title') %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true) do |f| %>
<%= render :partial => 'fragments/error_messages', :locals => {:resource => resource} %>

<p><%= f.label :email %><br/>
<%= f.email_field :email %></p>

<p><%= f.label :password, :for => "new_user_password" %><br/>
<%= f.password_field :password, :id => "new_user_password" %></p>

<p><%= f.label :password_confirmation, 'Conferma Password', :for => "new_user_password_confirmation" %><br/>
<%= f.password_field :password_confirmation, :id => "new_user_password_confirmation" %></p>

<p><%= f.label :name %><br/>
<%= f.text_field :name %></p>

<p><%= f.label :surname %><br/>
  <%= f.text_field :surname %></p>

<p>
	 <%= f.label :accept_conditions, raw("Accetto le <a href=\"#\" onclick=\"return openModal();\">condizioni d'uso</a>")%>
	 <%= f.check_box :accept_conditions %>
</p>

  <div><%= f.submit "Registrati", :class => 'buttonStyle' %></div>
<% end %>

<div id="eula_modal" title="Condizioni d'uso" style="width:600px;height:300px;display:none" >
<p>
	<%= render :partial => 'devise/registrations/eula'%>
</p>
</div>


<div id="privacy_modal" title="Normativa sulla Privacy" style="width:600px;height:300px;display:none" >
<p>
	<%= render :partial => 'devise/registrations/privacy'%>
</p>
</div>

<script type="text/javascript">	

	function openPrivacyModal() {
		$( "#privacy_modal" ).dialog({ height: 250, width: 450 });		
		return false;
	}
	
	function openModal() {
		$( "#eula_modal" ).dialog({ height: 250, width: 450 });		
		return false;
	}
</script>
