<% @extend=true %>
<% @page_title = t('pages.registration.title') %>

<% if ::Configuration.socialnetwork_active && !in_subdomain? %>
    <div class="card">
      <h2><%= t('pages.registration.identity_provviders_title') %></h2>

      <%= link_to t('pages.top_panel.facebook_login'), user_omniauth_authorize_path(:facebook), alt: t('pages.top_panel.facebook_login'), title: t('pages.top_panel.facebook_login'), class: 'zocial icon facebook' %>

      <%= link_to t('pages.top_panel.google_login'), user_omniauth_authorize_path(:google_oauth2), alt: t('pages.top_panel.google_login'), title: t('pages.top_panel.google_login'), class: 'zocial icon googleplus' %>

      <%= link_to t('pages.top_panel.twitter_login'), user_omniauth_authorize_path(:twitter), alt: t('pages.top_panel.twitter_login'), title: t('pages.top_panel.twitter_login'), class: 'zocial icon twitter' %>

      <%= link_to t('pages.top_panel.meetup_login'), user_omniauth_authorize_path(:meetup), alt: t('pages.top_panel.meetup_login'), title: t('pages.top_panel.meetup_login'), class: 'zocial icon meetup' %>

      <%= link_to t('pages.top_panel.linkedin_login'), user_omniauth_authorize_path(:linkedin), alt: t('pages.top_panel.linkedin_login'), title: t('pages.top_panel.linkedin_login'), class: 'zocial icon linkedin' %>

      <%= link_to t('pages.top_panel.tecnologiedemocratiche_login'), user_omniauth_authorize_path(:tecnologiedemocratiche), alt: t('pages.top_panel.tecnologiedemocratiche_login'), title: t('pages.top_panel.tecnologiedemocratiche_login'), class: 'zocial icon tecnologiedemocratiche' %>
    </div>
<% end %>
<div class="card">
  <h2><%= t('pages.registration.title') %></h2>

  <%= simple_form_for @user, url: user_registration_path, validate: true do |f| %>
      <%= f.error_notification %>

      <%= f.input :email %>
      <% if resource.email && params[:action] == 'new' %>
          <%= t('pages.registration.email_confirmed') %>
      <% end %>

      <%= f.input :password_confirmation, label: t('pages.registration.choose_password'), id: "new_user_password_confirmation" %>

      <%= f.input :password, label: t('pages.registration.confirm_password'), id: "new_user_password" %>

      <%= f.input :name %>

      <%= f.input :surname %>


      <%= f.label :accept_conditions do %>
          <div class="conditions">
            <%= render 'devise/registrations/eula' %>
          </div>
          <%= f.check_box :accept_conditions %>
          <%= t('pages.registration.accept_conditions') %>
      <% end %>

      <%= f.label :accept_privacy do %>
          <div class="conditions">
            <%= render 'devise/registrations/privacy' %>
          </div>
          <%= f.check_box :accept_privacy %>
          <%= t('pages.registration.accept_privacy') %>
      <% end %>


      <%= f.hidden_field :sys_locale_id %>

      <% if ::Configuration.recaptcha %>
          <%= recaptcha_tags display: {'theme' => 'clean'} %>
      <% end %>

      <div><%= f.submit t('pages.registration.register_button'), class: 'btn blue' %></div>
  <% end %>
</div>

<div id="eula_modal" class="reveal-modal medium" data-reveal>
  <p>
    <%= render partial: 'devise/registrations/eula' %>
  </p>
</div>

<div id="privacy_modal" class="reveal-modal medium" data-reveal>
  <p>
    <%= render partial: 'devise/registrations/privacy' %>
  </p>
</div>
