<h2>Registrazione</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%= render :partial => 'fragments/error_messages', :locals => {:resource => resource} %>
  
<p><%= f.label :login %><br/>
<%= f.text_field :login %></p>

<p><%= f.label :email %><br/>
<%= f.email_field :email %></p>

<p><%= f.label :password %><br/>
<%= f.password_field :password %></p>

<p><%= f.label :password_confirmation, 'Conferma Password' %><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= f.label :name %><br/>
<%= f.text_field :name %></p>

<p><%= f.label :surname %><br/>
<%= f.text_field :surname %></p>

  <div><%= f.submit "Registrati" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
