<%@page_title = 'Pannello amministrazione' %>
<%if is_moderator? %>
<br/>
<br/>
<br/>
    <%= link_to 'Announcements', announcements_path, :class => 'btn' %>

    <p>
      <%=form_tag "/moderator/block/" do %>
          <%=label_tag 'Blocca utente' %>
          <%=text_field_tag 'user_id'%>
          <%=submit_tag 'Vai!'%>
      <%end%>
      <h3>Elenco utenti bloccati</h3>
        <ul>
      <%User.blocked.each do |user|%>
        <li><%= "#{user.fullname} (#{user.login || 'no username'}) (#{user.blocked_name} #{user.blocked_surname})"%>  <%= link_to 'Sblocca', {:controller => 'moderator', :action => 'unblock', :user_id => user.id} %></li>
      <%end%>
        </ul>
    </p>
<%end %>
