<br />

<%= link_to image_tag('accedi_facebook.jpg'), user_omniauth_authorize_path(:facebook), :alt => t('pages.top_panel.facebook_login'), :title => t('pages.top_panel.facebook_login') %>

<%= link_to image_tag('accedi_twitter.png'), user_omniauth_authorize_path(:twitter), :alt => t('pages.top_panel.twitter_login'), :title => t('pages.top_panel.twitter_login') %>

<%= link_to image_tag('accedi_google.png', :height => '22px'), user_omniauth_authorize_path(:google_oauth2), :alt => t('pages.top_panel.google_login'), :title => t('pages.top_panel.google_login') %>

<%= link_to image_tag('accedi_linkedin.png'), user_omniauth_authorize_path(:linkedin), :alt => t('pages.top_panel.linkedin_login'), :title => t('pages.top_panel.linkedin_login') %>

<%= link_to image_tag('accedi_meetup.png'), user_omniauth_authorize_path(:meetup), :alt => t('pages.top_panel.meetup_login'), :title => t('pages.top_panel.meetup_login') %>

<br />

<%- if controller_name != 'sessions' %>
  <%= link_to "Login", new_session_path(resource_name) %><br />
<% end -%>
<ul style="padding-left: 15px;">
<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <li><%= link_to "Non sei ancora registrato? Registrati!", new_registration_path(resource_name) %></li>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <li><%= link_to "Hai dimenticato la password?", new_password_path(resource_name) %></li>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <li><%= link_to "Non hai ricevuto l'email per la conferma?", new_confirmation_path(resource_name) %></li>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <li><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %></li>
<% end -%>
</ul>
