<div class="card">
  <h3>Lock users</h3>
  <%= form_tag block_admin_users_path do %>
      <%= label_tag 'Blocca utente' %>
      <%= text_field_tag 'user_id' %>
      <%= submit_tag 'Vai!', class: 'btn' %>
  <% end %>
</div>
<div class="card">
  <h3><%= 'Elenco utenti bloccati' %></h3>
  <ul>
    <% User.blocked.each do |user| %>
        <li>
          <%= link_to "#{user.id}: #{user.blocked_name} #{user.blocked_surname} (#{user.email})", user %>
          <%= link_to unblock_admin_user_path(user) do %>
              <i class="fa fa-unlock"></i>
              <%= t('buttons.unlock') %>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>
