<%if is_admin? %>
<br/>
<br/>
<br/>
	<%= link_to 'Ricalcola ranking utenti', {:controller => "admin", :action => "calculate_ranking" }, :class => 'recalculate' %>	
	<%= link_to 'Ricalcola stato proposte', {:action => "change_proposals_state", :controller => "admin"}, :class => 'recalculate' %>
	<%= link_to 'Verifica validità Gruppi', {:action => "validate_groups", :controller => "admin"}, :class => 'recalculate' %>
	<script type="text/javascript">
		$('.recalculate').button();
	</script>
	<p>
		Encoding.default_external: <%=Encoding.default_external.name%>
	</p>
	<p>
		Encoding.default_internal: <%=Encoding.default_internal.name%>
	</p>
<%end %>