<% @page_title = 'Pannello amministrazione' %>
<% if is_admin? %>
    <br/>
    <br/>
    <br/>


    <%= link_to 'Ricalcola ranking utenti', {controller: "admin", action: "calculate_ranking"}, class: 'btn' %>
    <%= link_to 'Ricalcola stato proposte', {action: "change_proposals_state", controller: "admin"}, class: 'btn', title: 'Verifica lo stato di tutte le proposte in votazione. Se il temrine è scaduto e non sono state elaborate, le elabora' %>
    <%= link_to 'Verifica validità Gruppi', {action: "validate_groups", controller: "admin"}, class: 'btn' %>
    <%= link_to 'Aggiorna sitemap', {action: "write_sitemap", controller: "admin"}, class: 'btn' %>
    <%= link_to 'Cancella vecchie notifiche', {action: "delete_old_notifications", controller: "admin"}, class: 'btn' %>
    <%= link_to 'Redis Test', {action: "test_redis", controller: "admin"}, class: 'btn' %>
    <%= link_to 'Scheduler Test', {action: "test_scheduler", controller: "admin"}, class: 'btn' %>
    <%= link_to 'Test Schulze', {action: "test_schulze", controller: "elections"}, class: 'btn' %>
    <%= link_to 'Tutorials', '/tutorials', class: 'btn' %>
    <%= link_to 'Calcola affinità Utenti-Gruppi', {action: "calculate_user_group_affinity", controller: "admin"}, class: 'btn' %>
    <%= link_to 'Test gemma', {action: "test_gem", controller: "admin"}, class: 'btn' %>

    <div class="card">
      <h3>Alert Test</h3>
      <%= form_tag "/admin/test_notification/" do %>
          <%= label_tag 'Alert ID' %>
          <%= text_field_tag 'alert_id' %>
          <%= submit_tag 'Send' %>
      <% end %>
    </div>
    <%if ENV['CROWDIN_API'] %>
        <div class="card">
            <h3>Crowdin</h3>
            <%= link_to 'Upload sources', {controller: "admin", action: "upload_sources"}, class: 'btn'%>
            <%= link_to 'Upload italian translations', {controller: "admin", action: "upload_translations"}, class: 'btn'%>
            <%= link_to 'Update sources', {controller: "admin", action: "update_sources"}, class: 'btn'%>
            <%= link_to 'Download translations', {controller: "admin", action: "download_translations"}, class: 'btn'%>
            <%= link_to 'Unzip and delete zip files', {controller: "admin", action: "extract_delete_zip"}, class: 'btn'%>
        </div>
    <%end%>


    <div class="card">
      <h3>Lock users</h3>
      <%= form_tag "/admin/block/" do %>
          <%= label_tag 'Blocca utente' %>
          <%= text_field_tag 'user_id' %>
          <%= submit_tag 'Vai!', class: 'btn' %>
      <% end %>
    </div>
    <div  class="card">
    <h3>Elenco utenti bloccati</h3>
    <ul>
      <% User.blocked.each do |user| %>
          <li>
            <%=user.id%>: <%=link_to user.fullname, user%> (<%=user.login || 'no username'%>) (<%="#{user.blocked_name} #{user.blocked_surname}) (#{user.email}"%>)" %>
            <%= link_to 'Sblocca', {controller: 'admin', action: 'unblock', user_id: user.id} %></li>
      <% end %>
    </ul>
    </div>

<% end %>

<%content_for :left_panel do %>
    <div class="mybox">
      <%= link_to 'Pannello amministratore', admin_panel_url, class: 'btn blue' %>
      <%= link_to 'Gestisci gruppi certificati', certifications_url, class: 'btn blue' %>
      <%= link_to 'Mailing list', {controller: "admin", action: "mailing_list"}, class: 'btn blue' %>
      <%= link_to 'Announcements', announcements_path, class: 'btn blue' %>
      <%= link_to 'Movements', sys_movements_path, class: 'btn blue' %>
      <%= link_to 'Pannello Sidekiq', '/sidekiq', class: 'btn blue' %>

      <%= link_to 'Funziononi', sys_features_path, class: 'btn blue' %>
      <%= link_to 'Certifica utenti', user_sensitives_path, class: 'btn blue' %>
    </div>
<%end%>
