<%@page_title = 'Pannello amministrazione' %>
<%if is_admin? %>
<br/>
<br/>
<br/>
	<%= link_to 'Ricalcola ranking utenti', {:controller => "admin", :action => "calculate_ranking" }, :class => 'recalculate' %>	
	<%= link_to 'Ricalcola stato proposte', {:action => "change_proposals_state", :controller => "admin"}, :class => 'recalculate' %>
	<%= link_to 'Verifica validità Gruppi', {:action => "validate_groups", :controller => "admin"}, :class => 'recalculate' %>
	<%= link_to 'Aggiorna sitemap', {:action => "write_sitemap", :controller => "admin"}, :class => 'recalculate' %>
	<%= link_to 'Cancella vecchie notifiche', {:action => "delete_old_notifications", :controller => "admin"}, :class => 'recalculate' %>
	<%= link_to 'Pannello Resque', '/resque_admin', :class => 'recalculate' %>
	<%= link_to 'Redis Test', {:action => "test_redis", :controller => "admin"}, :class => 'recalculate' %>
    <%= link_to 'Notification Test', {:action => "test_notification", :controller => "admin"}, :class => 'recalculate' %>
	<%= link_to 'Scheduler Test', {:action => "test_scheduler", :controller => "admin"}, :class => 'recalculate' %>
	<%= link_to 'Test Schulze', {:action => "test_schulze", :controller => "elections"}, :class => 'recalculate' %>
	<%= link_to 'Tutorials', '/tutorials', :class => 'recalculate' %>
	<%= link_to 'Calcola affinità Utenti-Gruppi', {:action => "calculate_user_group_affinity", :controller => "admin"}, :class => 'recalculate' %>
	<%= link_to 'Test gemma', {:action => "test_gem", :controller => "admin"}, :class => 'recalculate' %>
    <%= link_to 'Mailing list', {:controller => "admin", :action => "mailing_list" }, :class => 'recalculate' %>
	<script type="text/javascript">
		$('.recalculate').button();
	</script>
	<p>
		Encoding.default_external: <%=Encoding.default_external.name%>
	</p>
	<p>
		Encoding.default_internal: <%=Encoding.default_internal.name%>
	</p>
	
	
	<p>
		<%current_user.scoped_group_partecipations(GroupAction::PROPOSAL).each do |group_partecipation|
		 group = group_partecipation.group
		 role = group_partecipation.partecipation_role		 
		%>
		
		<%=group.name%> - <%=role.name%><br/>
		<%end%>	
	</p>


    <p>
      <%=form_tag "/admin/block/" do %>
          <%=label_tag 'Blocca utente' %>
          <%=text_field_tag 'user_id'%>
          <%=submit_tag 'Vai!'%>
      <%end%>
      <h3>Elenco utenti bloccati</h3>
        <ul>
      <%User.blocked.each do |user|%>
        <li><%= user.fullname + '(' + (user.login || 'no username') + ')'%>  <%= link_to 'Sblocca', {:controller => 'admin', :action => 'unblock', :user_id => user.id} %></li>
      <%end%>
        </ul>
    </p>
<%end %>
