<% @comment = ProposalComment.find(@data[:comment_id]) %>
<% @username = @data[:username] %>
<% @proposal = Proposal.find(@data[:proposal_id]) %>
<% @alert_url = check_alert_alert_url(@alert, host: @alert.user.locale.host, l: @alert.user.locale.lang ) %>

<%= email_h1 do %>
    <%=raw t('mailer.new_contribute.title', {user: @username, comment: @comment.is_contribute? ? t('words.contribution') : t('words.comment'), })%>
<% end %>

<div style="padding: 20px 0 0;clear: both;">
  <div style="float: left;margin: 0px 5px 5px 0px;" title="<% if @proposal.is_anonima? %><%= @username %><% end %>">
    <% if @proposal.is_anonima? %>
        <img src="http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(@username) %>?s=40&d=identicon&r=PG"/>
    <% else %>
        <%= @comment.user_image_tag(40,true) %>
    <% end %>
  </div>
  <div style="border: 1px solid #CCCCCC;border-radius: 3px 3px 0px 0px;margin-left: 50px;color: #333333;">
    <div>
      <div style="word-wrap: break-word;margin: 5px;">
        <%= parsed_content(@comment,@proposal.is_anonima?) %>
      </div>
      <div style="font-size: 0.9em;margin-top: 5px;margin-left: 5px;margin-bottom: 2px;color: #999999;float: left;">
        <% who = @username %>
        <%= raw t('pages.proposals.show.comment_inserted_by', when: (l @comment.created_at), who: who) %>
        <%= "in \"#{@comment.paragraph.section.title}\"" if @comment.paragraph %>
      </div>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>

<%= blue_panel do %>
    <%=raw t('mailer.new_contribute.view_proposal', click_here: (link_to t('mailer.default.click_here'), @alert_url)) %>
<% end %>