<% @proposal = Proposal.find(@data[:proposal_id]) %>
<% @alert_url = check_alert_alert_url(@alert, host: @alert.user.locale.host, l: @alert.user.locale.lang ) %>
<p>
  <%=raw t('mailer.text_update.view_proposal', proposal: (link_to @proposal.title, @alert_url)) %> <br/>
</p>

<% if @data[:revision_id] %>
    <% @revision = ProposalRevision.find(@data[:revision_id]) %>
    <% @contributes = @revision.contributes.all(conditions: ['proposal_comments.user_id = ?', @alert.user.id]) %>

    <% if @contributes.count > 0 %>
        <p>
          <%= t('mailer.text_update.integrated_contributes')%>
        </p>

        <% @contributes.each do |contribute| %>
            <div id="comment<%= contribute.id %>" style="padding: 20px 0 0;clear: both;">
              <div style="float: left;margin: 0px 5px 5px 0px;">
                <%= contribute.user_image_tag(40, true) %>
              </div>
              <div style="border: 1px solid #CCCCCC;border-radius: 3px 3px 0px 0px;margin-left: 50px;color: #333333;">
                <div>
                  <div style="word-wrap: break-word;margin: 5px;">
                    <%= parsed_content(contribute,@proposal.is_anonima?) %>
                  </div>
                  <div style="font-size: 0.9em;margin-top: 5px;margin-left: 5px;margin-bottom: 2px;color: #999999;float: left;">
                    <% who = contribute.user.fullname %>
                    <%= raw t('pages.proposals.show.comment_inserted_by', when: (l contribute.created_at), who: who) %>
                    <%= "in \"#{contribute.paragraph.section.title}\"" if contribute.paragraph %>
                  </div>
                  <div style="clear:both;"></div>
                </div>
              </div>
            </div>
        <% end %>
        <p>
          <%=raw t('mailer.text_update.view_proposal_2', click_here: (link_to t('mailer.text_update.connect',name: APP_SHORT_NAME), @alert_url)) %>
        </p>
    <% end %>
<% end %>