<%@page_title = "#{@category} - #{@group.name}" %>
<%@extend=true%>
<ul class="breadcrumbs">
  <li><%= link_to t('frm.forum.forums'), group_forums_url(@group) %></li>
  <li class="current"><%= link_to @category, group_frm_category_url(@group, @category) %></li>
</ul>
<h2><%= @category %></h2>
<div class='category'>

  <%= render @category %>
</div>

<%= render partial: '/frm/application/forem_footer' %>