<span class="rightFloat think"><%= t('pages.proposals.edit.contribution_valuation') %></span>

<span class="ranking-count"><%= comment.rankings.positives.count %></span>
<i class="icon-smile" title="<%= t('pages.proposals.show.voteup') %>"></i>

<span class="ranking-count"><%= comment.rankings.neutrals.count %></span>
<i class="icon-baffled" title="<%= t('pages.proposals.show.votenil') %>"></i>

<span class="ranking-count"><%= comment.rankings.negatives.count %></span>
<i class="icon-sad" title="<%= t('pages.proposals.show.votedown') %>"></i>


