<div id="noise_manage_panel" title="Gestisci i contributi inutili alla discussione">
  <div style="float:left; width:  400px">
    <h4>Contributi che possono essere marcati</h4>
  </div>
  <div style="float:left; width:  400px">
    <h4>Contributi marcati come Inutili alla discussione</h4>
  </div>
  <div style="clear:both"></div>
  <div style="float:left; width:  400px">
    <div id="active" class="noiseSortable">
      <% @proposal.contributes.unintegrated.where(['soft_reports_count >= ? and noise = false', CONTRIBUTE_MARKS]).each do |contribute| %>
          <div class="noise_element" data-id="<%=contribute.id%>">
            <%= raw auto_link((h(contribute.content)).gsub(/\n/, '<br/>'), :html => {:target => '_blank'}, :sanitize => false) do |text|
              truncate(text, :length => 15)
            end %>
          </div>
      <% end %>
    </div>
  </div>
  <div style="float:left; width:  400px">
    <div id="inactive" class="noiseSortable">
      <% @proposal.contributes.noise.each do |contribute| %>
          <div class="noise_element" data-id="<%=contribute.id%>">
            <%= raw auto_link((h(contribute.content)).gsub(/\n/, '<br/>'), :html => {:target => '_blank'}, :sanitize => false) do |text|
              truncate(text, :length => 15)
            end %>
          </div>
      <% end %>
    </div>
  </div>
  <div class="clearboth"></div>
  <%=form_for 'comments', url:  mark_noise_proposal_proposal_comments_path(@proposal.id), method: :post  do |f| %>
      <%= f.hidden_field 'active' %>
      <%= f.hidden_field 'inactive' %>
      <%= f.submit t('buttons.save'), class: 'btn blue', onclick: 'set_noise_data();' %>
      <input type="button" value="<%=t('buttons.cancel')%>" class="btn" onclick="$.modal.close();"/>
  <%end%>

</div>

<script type="text/javascript">
    $(function () {
        var oldList, newList, item;
        $("#active, #inactive").sortable({
            connectWith: ".noiseSortable",
            forcePlaceholderSize: '100px'
        }).disableSelection();
    });

</script>