<%
   pv = params[:view] ? params[:view].to_i : nil
%>
<% if @proposal.comments.count>1 %>
    <% if current_user %>
        <span id="random_stack_l">
     <% if !pv || (pv == 1) %>
        <%= t('pages.proposals.show.random_stack') %>
    <% else %>
        <%= link_to t('pages.proposals.show.random_stack'), list_proposal_proposal_comments_url(@proposal, :view => 1, :reset => true), :remote => true, :method => :post, :onclick => "hideContributes(1);", :id => 'random_stack_l' %>
    <% end %></span> |
    <% end %>
    <span id="random_stack_2">
      <% if pv == 2 %>
	    <%= t('pages.proposals.show.most_recent') %>
      <% else %>
	    <%= link_to t('pages.proposals.show.most_recent'), list_proposal_proposal_comments_url(@proposal, :view => 2, :reset => true), :remote => true, :method => :post, :onclick => "hideContributes(2);" %>
      <% end %>
    </span> |
    <span id="random_stack_3">
      <% if pv == 3 || (!current_user && !pv) %>
	    <%= t('pages.proposals.show.most_ranked') %>
      <% else %>
	    <%= link_to t('pages.proposals.show.most_ranked'), list_proposal_proposal_comments_url(@proposal, :view => 3, :reset => true), :remote => true, :method => :post, :onclick => "hideContributes(3);" %>
    <% end %>
    </span>


    <span id="noise_comments" style="float:right">
      <% if @proposal.users.include? current_user %>
        <%= link_to t('pages.proposals.show.manage_noise_folder'), manage_noise_proposal_proposal_comments_url(@proposal), :remote => true %>
      <% else %>
        <%= link_to t('pages.proposals.show.noise_folder'), noise_proposal_proposal_comments_url(@proposal), :remote => true %>
      <% end %>
    </span>

    <script type="text/javascript">
        function hideContributes(view) {
            checkActive = false;
            currentPage = 1;
            currentView = view;
            $('#loading_contributes').show();
            $('#proposalCommentsContainer').html("");
        }
    </script>
<% end %>