<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
	
<div id="proposalNewComment" class="blogNewComment">
	<script>
		function sblank() {
			var el = document.getElementById('blog_comment_content');
			//    el.value = '';
		}

		function hide() {
			$('#insert_comment').hide();
			$('#insert_comment_loading').show();
		}

		$(function() {
			$('#insert_comment').button();
		});

	</script>

	<%= form_for [@proposal,proposal_comment], :remote => true do |f| %>
	
	<%= render :partial => 'fragments/error_messages', :locals => {:resource =>proposal_comment} %>
	
	<p>
		<%= f.label :content, t(:insert_contribute) %>
        <span id="miglioricontributi">
          <%=image_tag 'icon_info.gif', :style => 'cursor:pointer'%>
        </span>

      <br/>
      <div id="comment-form-comment">
        <%= f.text_area :content, :class => 'blogNewCommentField', :rows => 5, :cols => 70 %>


		</div>
	</p>
	<p>
		<%= f.submit 'Invia', :id => 'insert_comment', :onclick => "hide();" %>
		<%= image_tag "spinner.gif", :style => 'display: none;', :id => 'insert_comment_loading' %>
	</p>
	<% end %>
	
	<script type="text/javascript">
		$(function() {

			$('.blogNewCommentField').focus(function() {
				$('#comment-form-comment').toggleClass("active");
			}).focusout(function() {
				$('#comment-form-comment').toggleClass("active");
			});



            $('#proposal_comment_content')
                    .charCount({
				allowed : <%=CONTRIBUTE_MAX_LENGTH%>,
				warning : 100,
				counterText : 'Caratteri disponibili: '
			});
            $('#proposal_comment_content').elastic();
		});
		
  		$(document).ajaxError(function(e, XHR, options){
    		if (XHR.status == 401){
      			window.location.replace("<%= new_user_session_path %>");
    		}
  		});
    </script>
</div>

