<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
	
<div id="proposalNewComment" class="blogNewComment">
	<script>
		function sblank() {
			var el = document.getElementById('blog_comment_content');
			//    el.value = '';
		}

		function hide() {
			$('#insert_comment').hide();
			$('#insert_comment_loading').show();
		}

		$(function() {
			$('#insert_comment').button();
		});

	</script>

	<%= form_for [@proposal,proposal_comment], :remote => true do |f| %>
	
	<%= render :partial => 'fragments/error_messages', :locals => {:resource =>proposal_comment} %>
	
	<p>
		<%= f.label :content, t(:insert_contribute) %>  <span id="miglioricontributi"><%=image_tag 'icon_info.gif', :alt => 'Di cosa si tratta?', :title => 'Di cosa si tratta?', :style => 'cursor:pointer'%></span>

      <br/>
      <div id="comment-form-comment">
		<%= f.text_area :content, :class => 'blogNewCommentField', :rows => 10, :cols => 50 %>
		</div>
	</p>
	<p>
		<%= f.submit 'Invia', :id => 'insert_comment', :onclick => "hide();" %>
		<%= image_tag "spinner.gif", :style => 'display: none;', :id => 'insert_comment_loading' %>
	</p>
	<% end %>
	
	<script type="text/javascript">
		$(function() {
			$('.blogNewCommentField').focus(function() {
				$('#comment-form-comment').toggleClass("active");
			}).focusout(function() {
				$('#comment-form-comment').toggleClass("active");
			});

            $('#miglioricontributi').ctooltip("<strong>Come posso contribuire?</strong><br/>i contributi non devono esprimere dei semplici apprezzamenti ma sostanziali modifiche al testo: critiche costruttive, soluzioni alternative o miglioramenti alla proposta aiuteranno il redattore a sviluppare una sintesi del testo condivisa.<br/><br/><b>Nota</b>: Il contributo più prezioso è quello che permette di trovare una soluzione alla proposta!");

			$('#proposal_comment_content').charCount({
				allowed : <%=CONTRIBUTE_MAX_LENGTH%>,
				warning : 100,
				counterText : 'Caratteri disponibili: '
			});
		});
		
  		$(document).ajaxError(function(e, XHR, options){
    		if (XHR.status == 401){
      			window.location.replace("<%= new_user_session_path %>");
    		}
  		});


    </script>
</div>

