<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

		
<%if current_user %>
	<%	my_rank = current_user.comment_rank(comment)
		can_rank_again = current_user.can_rank_again_comment?(comment)
		if my_rank%>
			<% if my_rank == 1 %>
				<div class="votedup-mini", title="<%=t('pages.proposals.show.voteup')%>"></div>
			 <%elsif can_rank_again%>
				 <%= link_to  '',  {:action => "rankup", :controller => "proposal_comments", :id => comment.id, :proposal_id => @proposal.id}, 
				 					:remote => true, :method=>:put,
									:id => "voteup-mini#{comment.id}", :class=>"voteup-mini", :title => t('pages.proposals.show.voteup')%>
			<%end%>
			<% if my_rank == 2 %>
				<div class="votednil-mini", title="<%=t('pages.proposals.show.votenil')%>"></div>
			 <%elsif can_rank_again%>
				 <%= link_to  '',  {:action => "ranknil", :controller => "proposal_comments", :id => comment.id, :proposal_id => @proposal.id}, 
				 					:remote => true, :method=>:put,
									:id => "votenil-mini#{comment.id}", :class=>"votenil-mini", :title =>t('pages.proposals.show.votenil')%>
			<%end%>
			<% if my_rank == 3 %>
				<div class="voteddown-mini", title="<%=t('pages.proposals.show.votedown')%>"></div>
			<% elsif can_rank_again%>
				<%= link_to '', {:action => "rankdown", :controller => "proposal_comments", :id => comment.id, :proposal_id => @proposal.id}, 
									:remote => true, :method=>:put,
									:id => "votedown-mini#{comment.id}", :class=>"votedown-mini", :title => t('pages.proposals.show.votedown') %>
			<%end%>		
			<%= render :partial => 'fragments/votes_and_rank', :locals => {:object => comment} %>
	<%else%>
		<%if can_rank_again%>
		 	<%= link_to  '',  {:action => "rankup", :controller => "proposal_comments", :id => comment.id, :proposal_id => @proposal.id}, 
		 						:remote => true, :method => :put,
								:id => "voteup-mini#{comment.id}", :class=>"voteup-mini", :title => t('pages.proposals.show.voteup')%>
			 
			<%= link_to  '',  {:action => "ranknil", :controller => "proposal_comments", :id => comment.id, :proposal_id => @proposal.id}, 
								:remote => true, :method => :put,
									:id => "votenil-mini#{comment.id}", :class=>"votenil-mini", :title => t('pages.proposals.show.votenil')%>
		
			<%= link_to '', {:action => "rankdown", :controller => "proposal_comments", :id => comment.id, :proposal_id => @proposal.id}, 
								:remote => true, :method => :put,
								:id => "votedown-mini#{comment.id}", :class=>"votedown-mini", :title => t('pages.proposals.show.votedown') %>
		<%end%>	
		
	<%end %>
<%else%>
	
<%end %>
<%= image_tag "spinner.gif", :style => 'display: none;', :class => 'rightFloat loading' %>