<% if can? :participate, @proposal %>
    <% my_rank = current_user.comment_rank(comment) %>
    <% can_rank_again = current_user.can_rank_again_comment?(comment) %>

    <% if my_rank %>
        <% if can_rank_again %>
            <span class="think"><%= t('pages.proposals.contribution_valuation_again') %></span>
        <% end %>
        <%= image_tag "spinner.gif", style: 'display: none;', class: 'loading' %>

        <span class="ranking-count"><%= comment.rankings.positives.count %></span>
        <% if my_rank == 1 %>
            <i class="icon-smile-full" style="margin-right:10px" title="<%= t('pages.proposals.show.voteup') %>"></i>
        <% elsif can_rank_again %>
            <%= link_to_rankup(@proposal, comment) %>
        <% else %>
            <i class="icon-smile" title="<%= t('pages.proposals.show.voteup') %>"></i>
        <% end %>

        <span class="ranking-count" style="margin-right:3px"><%= comment.rankings.neutrals.count %></span>
        <% if my_rank == 2 %>
            <i class="icon-baffled-full" style="margin-right:10px" title="<%= t('pages.proposals.show.votenil') %>"></i>
        <% elsif can_rank_again %>
            <%= link_to_ranknil(@proposal, comment) %>
        <% else %>
            <i class="icon-baffled" title="<%= t('pages.proposals.show.votenil') %>"></i>
        <% end %>

        <span class="ranking-count"><%= comment.rankings.negatives.count %></span>
        <% if my_rank == 3 %>
            <i class="icon-sad-full" title="<%= t('pages.proposals.show.votedown') %>"></i>
        <% elsif can_rank_again %>
            <%= link_to_rankdown(@proposal, comment) %>
        <% else %>
            <i class="icon-sad" title="<%= t('pages.proposals.show.votedown') %>"></i>
        <% end %>
    <% else %>
        <%= render 'ranking_panel_others', { comment: comment } %>
    <% end %>

<% else %>
<% end %>
