<div class="blogPost" id="blogPost<%= blog_post.id %>">
  <% if user_signed_in? && ((current_user.is_my_blog_post? blog_post.id) || (@group && (@group.portavoce.include? current_user)) || is_admin?) %>
      <div class="hidden_link">
      </div>
      <div class="hidden_menu">
        <% if @group && ((can? :remove_post, @group) || (can? :edit, blog_post)) %>
            <%= link_to(t('pages.groups.show.remove_post'), remove_post_group_path(@group, :post_id => blog_post.id), :method => :put, :remote => true, :class => 'menu_item', :confirm => "Sei sicuro di voler rimuovere il post '#{blog_post.title}' dalla bacheca del gruppo?") %>
        <% end %>
        <% if (user_signed_in? and ((current_user.is_my_blog_post? blog_post.id) || is_admin?)) %>
              <%= link_to t('pages.blog_posts.edit_button'), edit_blog_blog_post_path(blog_post.blog, blog_post), :class => 'menu_item' %>
              <%= link_to(t('pages.blog_posts.delete_button'), blog_blog_post_path(blog_post.blog, blog_post), :method => :delete, :class => 'menu_item', :confirm => "Sei sicuro di voler cancellare il post '#{blog_post.title}'. Esso scomparirà sia dall bacheca del gruppo che dal tuo blog personale e non sarà più possibile recuperarlo.") %>
        <% end %>
      </div>
  <% end %>

  <div class="blogUserImage">
    <%= blog_post.user_image_tag %>
  </div>
  <h3 class="blogPostTitle">
    <%= link_to(h(blog_post.title), @group ? [@group, blog_post] : [blog_post.blog, blog_post]) %>
    <% if !blog_post.published? %>
        [<%= t('pages.blog_posts.drafts') %>]
    <% end %>
  </h3>


  <p class="blogPostPostedAt">
    <%= raw t('pages.blog_posts.list_elements.inserted', name: (link_to_user blog_post.user), date: (l blog_post.updated_at)) %>
  </p>


  <div class="blogPostBody">
    <%= blog_post.parsed_body %>
  </div>

  <hr class="blogPostBreak"/>
  <% unless blog_post.tags.blank? %>
      <p class="blogPostTags">
        <b>Tags: </b>
        <%= raw blog_post.tags_with_links %>
      </p>
  <% end %>

  <div style="clear: both;"></div>
</div>
