
<div class="blogPost">

	<div class="blogUserImage">
		<%= blog_post.user_image_tag %>
	</div>
	<h3 class="blogPostTitle">
		<%= link_to(h(blog_post.title), [blog_post.blog,blog_post]) %>
		<% if !blog_post.published? %>	
			[Bozza]
		<% end %>
	</h3>

	<p class="blogPostPostedAt">
		Inserito
		<% if blog_post.show_user? %>
			da <span class="blogPoster"><%=link_to_user blog_post.user %></span>
		<% end %>
		il
		<span class="blogPostDate"><%= blog_post.updated_at.strftime("%d/%m/%Y alle %H:%M") %></span>
	</p>

	<div class="blogPostBody">
		<%= blog_post.parsed_body %>
	</div>

	<hr class="blogPostBreak" />
	<% unless blog_post.tags.blank? %>
		<p class="blogPostTags">
			<b>Tags: </b>
			<%=raw blog_post.tags_with_links %>
		</p>
	<% end %>
	
	<%if (user_signed_in? and current_user.is_my_blog_post? blog_post.id)%>
	<p class="blogFooter">
		<ul class="blogList">
			<li><%= link_to('Modifica', edit_blog_blog_post_path(blog_post.blog,blog_post))%></li>
			<li><%= link_to('Cancella', blog_blog_post_path(blog_post.blog,blog_post), :method => :delete, :confirm => "Sei sicuro di voler cancellare il post: #{blog_post.title}") %></li>
		</ul>
	</p>
	<%end%>
	
	
	<div style="clear: both;" ></div>
</div>
