
<div id="comment<%= comment.id %>" class="blogComment"<%if (comment.collapsed) %>style="display:none"<%end%>>	 
	<div class="blogUserImage">
		<%= comment.user_image_tag(60) %>
	</div>	
	 <div class="triangle-right left">
        
        
        <div class="baloon_header">
			<div class="blogCommentPostedAt">
				Inserito il <span class="blogPostDate"><%= comment.formatted_created_at%></span>
				da <span class="blogPoster"><%=raw comment.user.link_to_page %></span>		 		
			</div>
		</div>
		<div class="baloon-content">
			<%= comment.parsed_body %>
		</div>
		<div class="baloon-footer">
			<% if current_user and (current_user.id == comment.user_id or current_user.id == @blog_post.user_id) %>
			<p>
					<%= link_to 'Cancella', {:controller => "blog_comments", :action => "delete",  :blog_post_id => @blog_post.id, :id => comment.id},
					:remote => "true",
					:onclick => "return false;",
					:class => "deleteCommentLink",					
					:id => "delete#{comment.id}"%>
			</p>										   
			<% end %>	
		</div>
	<script>	
	    
		<%if (comment.collapsed) %>
			$('#comment<%= comment.id%>').show(600);
	    <%end%>
	    
	    
	    $('#delete<%= comment.id%>').click(function(event) {
	    	hiding(event,<%= comment.id%>);	    	
	    });
		
		
	</script>
	</div>
</div>