<div id="comment<%= comment.id %>" class="blogComment card"
     <% if (comment.collapsed) %>style="display:none"
     <% end %>>
  <div class="blog-comment-image">
    <%= comment.user_image_tag(20) %>
    <span class="blogPoster"><%= link_to_user comment.user %></span>
  </div>
  <div class="blog-comment-content">
    <%= raw auto_link((h(comment.body)).gsub(/\n/, '<br/>'), html: {target: '_blank'}, sanitize: false) do |text|
      truncate(text, length: 15)
    end %>
  </div>
  <div class="blog-comment-footer">
    <div title='<%=l comment.created_at %>'>
      <%= time_in_words comment.created_at %>
      <% if can? :destroy, comment %>
          <div style="float:right">
            <%= link_to t('pages.blog_posts.comment.delete_button'), [@blog,@blog_post,comment], method: :delete,  data: {remote: true, confirm: t('pages.proposals.show.delete_contribute_confirmation')}, class: "deleteCommentLink" %>
          </div>
      <% end %>
    </div>
  </div>
  <script type="text/javascript">
      <%if (comment.collapsed) %>
      $('#comment<%= comment.id%>').show(600);
      <%end%>
  </script>
  <div style="clear:both;"></div>
</div>