<div id="accordion" style="width:80%">
    <h3><a href="#">Piccola guida</a></h3>
    <div style="line-height:1;">
    	<h2>Immagini</h2>				
				<p>
					Puoi inserire delle immagini usando il seguente tag:<br />
					![alt text](image url)
				</p>
				
					<ul>
						<li>**grassetto**</li>
						<li>*corsivo*</li>
						<li>&gt;Testo rientrato</li>
						<li>&gt;&gt;Testo rientrato innestato</li>
						<li>* Lista non ordinata di (ul)</li>
						<li>1. Lista ordinata (ol) </li>
						<li>[Questo è un link](http://www.example.com/)</li>
						<li>[Questo è un link](http://www.example.com/ "con un nome")</li>					
					</ul>
    </div>    
</div>

<script type="text/javascript">
	$('#accordion').accordion({
			collapsible: true,
			autoHeight: false, 
    		active: false 
		});
	
</script>


<%= form_for([@blog,@blog_post], :html => { :multipart => true }) do |f| %>
		
		<script type="text/javascript">
			$(function() {
				$('#blog_post_body').markItUp(mySettings);				
			});
		</script>

	<div class="editBlogPost">
			<% if @blog_post.errors.size > 0 %>
				<div id="errorExplanation" class="ui-state-error ui-corner-all">
					<h2><%= t('pages.groups.new.errors_title') %></h2>
					<ul>
						<% @blog_post.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
			<p>
				<%= f.label :title %><br />
				<%= f.text_field :title, :style => 'width:80%' %>
			</p>
			<p>
				<%= f.label :body %><br />
				<%= f.text_area :body%>
			</p>
			<p>
				<%= f.label :tags_list, t('pages.groups.new.tags.title') %><br />
				<%= f.text_field :tags_list %>
			</p>
			<p>
				<%= f.label :published %><br />
				<%= f.radio_button :published, true, :checked=>"checked" %><%= f.label :published_true %><br />
				<%= f.radio_button :published, false %><%= f.label :published_false %>
			</p>
			
			<p>
				<%= f.label :groups, 'Il post verrà pubblicato nelle pagine di questi gruppi:' %>
				<br/>
				<% @groups.each do |group|%>
				 <div>

				 <%= check_box_tag "blog_post[group_ids][]", group.id, (group.id.to_s == params[:group_id]), style: 'float:left;'%>
                  <div class="blogUserImage" title="<%=group.name%>">
                    <%= group.group_image_tag 20 %>
                  </div>
                  <%= f.label group.name, style: 'float:left;'%>
                   <div style="clear: both;"></div>
                 </div>
				<%end%> 
			</p>
			<p>
				<input  type="hidden" name="group_id" value="<%=params[:group_id]%>"/>
				<%= f.submit t('buttons.save'), :class=>'buttonStyle' %><br/><br />
				<%= link_to 'Torna indietro', :back, :class=>'buttonStyle' %>
			</p>
		<div class="blogEditRightPanel">
			

			
		</div>
		<br style="clear: both;" />
	</div>
<% end %>

<% data = "["
   @blog_post.tags_list.split(',').each do |l|
   	data +=  "{\"id\":\""+ l + "\",\"name\":\"" + l + "\"},"
   	end 
   data += "]"	
   %>

<script type="text/javascript">
	$(function() {
		input = $('#blog_post_tags_list')
		if (input != null) {
			input.tokenInput([], {
				theme: "facebook",
				crossDomain: false,
                allowFreeTagging: true,
				prePopulate: <%=raw data%>,
				hintText: "Digita i tag che vuoi inserire",
				searchingText: "Digita i tag che vuoi inserire",
				preventDuplicates: true
			})
		}
	});
</script>  		
	
