<%= form_for([@blog, @blog_post], :html => {:multipart => true}) do |f| %>

    <div class="editBlogPost">
      <% if @blog_post.errors.size > 0 %>
          <div id="errorExplanation" class="ui-state-error ui-corner-all">
            <h2><%= t('pages.groups.new.errors_title') %></h2>
            <ul>
              <% @blog_post.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <p>
        <%= f.label :title %>
        <%= f.text_field :title, :style => 'width:80%' %>
      </p>

      <p>
        <%= f.label :body %>
        <%= f.cktext_area :body, ckeditor: {toolbar: 'blog', language: I18n.locale} %>
      </p>

      <p>
        <%= f.label :tags_list, t('pages.groups.new.tags.title') %>
        <%= f.text_field :tags_list %>
      </p>

      <p>
        <%= f.label :published %>
        <%= f.label :published_true do %>
            <%= f.radio_button :published, true, :checked => "checked" %>
            <%= t('activerecord.attributes.blog_post.published_true') %>
        <% end %>
        <%= f.label :published_false do %>
            <%= f.radio_button :published, false %>
            <%= t('activerecord.attributes.blog_post.published_false') %>
        <% end %>
      </p>

      <% if @groups.count > 0 %>
          <p>
            <%= f.select :group_ids, @groups.map { |group| [group.name, group.id, {'data-image' => group.image_url}] }, {}, multiple: '', style: 'width: 80%;' %>
          </p>
      <% end %>
      <p>
        <input type="hidden" name="group_id" value="<%= params[:group_id] %>"/>
        <%= link_to t('buttons.cancel'), :back, :class => 'btn' %>
        <%= f.submit t('buttons.save'), :class => 'btn blue' %>

      </p>

      <div style="clear: both;"></div>
    </div>
<% end %>

<% data = "["
   @blog_post.tags_list.split(',').each do |l|
     data += "{\"id\":\""+ l + "\",\"name\":\"" + l + "\"},"
   end
   data += "]"
%>


<script type="text/javascript">

    $(function () {
        $('#blog_post_tags_list').tokenInput("<%=tags_path(format: :json )%>", {
            theme: "facebook",
            crossDomain: false,
            allowFreeTagging: true,
            minChars: 3,
            hintText: "<%=t('digit_tags')%>",
            searchingText: "<%=t('digit_tags')%>",
            preventDuplicates: true,
            allowTabOut: true,
            tokenValue: "name"
        });

        function format(state) {
            var element_ = state.element;
            return "<img src='" + $(element_).data('image') + "' style='width:20px;height:20px;margin-right:5px;'/>" + state.text;
        }

        $('#blog_post_group_ids').select2({
            formatResult: format,
            formatSelection: format
        });

    });
</script>  		
	
