<% javascript 'endless_page' 
@item_type = "Blog"
@title = @blog_post.title
if !@blog_post.published?	
	@title += "[Bozza]"
end
%>

<%=render :layout => "layouts/page_title", :locals => {:title => @blog_post.title} do%>
	<%= link_to 'Modifica', edit_blog_blog_post_path(@blog), :class => 'editButton littleText' if (user_signed_in? && (is_admin? || (current_user.is_my_blog_post? @blog_post.id))) %><br />
	<%= link_to 'Cancella', blog_blog_post_path(@blog), :method => :delete, :confirm => "Sei sicuro di voler cancellare il post #{@blog_post.title}?", :class => 'deleteButton littleText' if (user_signed_in? and current_user.is_my_blog_post? @blog_post.id) %><br />
	<g:plus action="share" annotation="bubble"></g:plus><br />
	<a href="https://twitter.com/share" 
	   class="twitter-share-button" 
	   data-lang="en"
	   data-text="Ho inserito un nuovo post su Airesis: <%= blog_blog_post_url(@blog) %>">Tweet</a>
<%end%>


<div class="blogPost">

<script>
	
	var pageURL = "<%= blog_blog_post_path(@blog) %>";
	 
</script>

	
	<p class="blogPostPostedAt">
		Inserito
		<% if @blog_post.show_user? %>
			da <span class="blogPoster"><%=link_to_user @blog_post.user %></span>
		<% end %>
		il
		<span class="blogPostDate"><%= @blog_post.updated_at.strftime("%d/%m/%Y alle %H:%M") %></span>
	</p>

	<div class="blogPostBody" itemprop="description">
		<%= @blog_post.parsed_body %>
	</div>

	<hr class="blogPostBreak" />
	<% unless @blog_post.tags.empty? %>
		<p class="blogPostTags">
			<b>Tags: </b>
			<%=raw @blog_post.tags_with_links %>
		</p>
	<% end %>
	
		
	<%= render :partial => 'blog_comments/new_blog_comment', :locals => {:blog_comment => @blog_comment} %>
		
		<div id="blogPostCommentsContainer">
		<%= render :partial => 'blog_posts/comments' %>
	  </div>
	  <div id="loading_results">
	  	<span>Commenti precedenti...</span>
	  </div>
	
	<br style="clear: both;" />
</div>


<%content_for :left_panel do%>
<%end%>
