<% if current_user %>
    <%= subscribe_to blog_blog_post_path(@blog_post.blog, @blog_post) %>
<% end %>

<% content_for :html_options do %>
    itemscope itemtype="http://schema.org/Blog"
<% end %>

<%= content_for :head do %>
    <meta property="og:url" content="<%= current_url %>"/>
    <meta property="og:title" content="<%= @blog_post.title %>"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="<%= asset_url('logo120.png') %>"/>
    <meta property="og:site_name" content="<%= ENV['APP_LONG_NAME'] %>"/>
    <meta property="fb:app_id" content="<%= ENV['FACEBOOK_APP_ID'] %>"/>
    <meta property="article:published_time" content="<%= @blog_post.created_at.strftime('%Y/%m/%d') %>">
    <meta property="article:tag" content="<%= @blog_post.tags_list %>">
<% end %>

<% javascript 'endless_page' %>

<div class="blogPost">
  <script type="text/javascript">

      var pageURL = "<%= @blog_url %>";
  </script>
  <div class="card">
    <h1>
      <%= blog_post_label @blog_post %>
      <%= @page_title %>
    </h1>

    <div class="blogPostBody" itemprop="description">
      <%= sanitize @blog_post.body %>
      <div class="clearboth"></div>
    </div>
    <div class="blogPostFooter">
      <div class="blogPostPostedAt">
        <%= raw t('pages.blog_posts.list_elements.inserted', name: (link_to ((@blog_post.user_image_tag 15) + @blog_post.user.fullname), @blog_post.user), date: (l @blog_post.created_at)) %>
        |
      <span class="blogComments">

      <%= link_to t('pages.blog_posts.view.comments', count: @blog_post.blog_comments.count), '#blogPostCommentsContainer' %>
      </span>
      </div>
      <% if ::Configuration::socialnetwork_active %>
          <div class="post_buttons">
            <g:plusone size="medium" href="<%= blog_blog_post_url(@blog_post.blog, @blog_post) %>"></g:plusone>
            |
            <a href="https://twitter.com/share"
               class="twitter-share-button"
               data-lang="en"
               data-text="<%= t('twitter.share.blog_post', app: ENV['APP_SHORT_NAME'], tags: @blog_post.tags.for_twitter) %>"
               data-url="<%= blog_blog_post_url(@blog_post.blog, @blog_post) %>">Tweet</a>
            |
            <div class="fb-like" data-href="<%= @blog_url %>" data-width="450" data-layout="button_count" data-show-faces="true" data-send="true"></div>

          </div>
      <% end %>
      <% unless @blog_post.tags.blank? %>
          <div class="blogPostTags">
            <span class="tag_label">Tags: </span>
            <span class="tags_list"><%= raw @blog_post.tags_with_links %></span>
          </div>
      <% end %>
    </div>
  </div>

  <div id="blogNewComment" class="blogNewComment">
    <%= render partial: 'blog_comments/new_blog_comment', locals: {blog_comment: @blog_comment} %>
  </div>
  <div id="blogPostCommentsContainer">
    <%= render partial: 'blog_posts/comments' %>
  </div>
  <div id="loading_results">
    <span><%= t('pages.blog_posts.show.previous_comments') %></span>
  </div>
</div>



<%= content_for :left_panel do %>
    <% if can? :update, @blog_post %>
        <div class="mybox">
          <%= link_to edit_blog_blog_post_path(@blog_post.blog, @blog_post), class: 'btn' do %>
              <i class="fa fa-pencil"></i>
              <%= t('pages.blog_posts.show.edit_button') %>
          <% end %>
          <%= link_to @blog_url, method: :delete, data: {confirm: t('pages.blog_posts.show.delete_button_confirm')}, class: 'btn' do %>
              <i class="fa fa-trash-o"></i>
              <%= t('pages.blog_posts.show.delete_button') %>
          <% end %>
        </div>
    <% end %>
    <% if ::Configuration.socialnetwork_active %>
        <div class="mybox">
          <a href="https://twitter.com/share"
             class="twitter-share-button"
             data-lang="en"
             data-count="vertical"
             data-text="<%= t('twitter.share.blog_post', app: ENV['APP_SHORT_NAME'], tags: @blog_post.tags.for_twitter) %>">Tweet</a>
          <g:plusone size="tall"></g:plusone>
          <%= raw facebook_like %>   <br/>
        </div>
    <% end %>

    <% if @blog_post.groups.count > 0 %>
        <div class="mybox">
          <h4><%= 'Published on the following groups' %></h4>

          <div class="mycont">
            <% @blog_post.groups.each do |group| %>
                <div class="panel">
                  <div class="groupcontainer">
                    <div class="groupImg24">
                      <%= group.group_image_tag(24) rescue nil %>
                    </div>
                    <div class="group">
                      <%= link_to group.name, group_url(group) %>
                    </div>
                  </div>
                  <div class="clearboth"></div>
                </div>
            <% end %>
          </div>
        </div>
    <% end %>
    <% if @blog %>
        <%= render 'blogs/left_panel' %>
    <% end %>
<% end %>

<script type="text/javascript">
    $(function () {
        disegnaCountdown();
    });
</script>
