<%= simple_form_for(@user_sensitive) do |f| %>
    <%= f.error_notification %>

    <div class="inputs">
      <%= f.input :user_id, input_html: { data: {fetch_url: url_for(controller: 'admin', action: 'user_autocomplete')}} %>
      <%= f.input :name %>
      <%= f.input :surname %>
      <%= f.input :birth_date, as: :string %>
      <%= f.input :tax_code %>
      <%= f.file_field :document %>
    </div>

    <div class="actions">
      <%= f.button :submit, class: 'btn blue' %>
    </div>
<% end %>
