<%= simple_form_for @user_sensitive, validate: true do |f| %>
    <%= f.error_notification %>

    <div class="inputs">
      <%= f.input :user_id, input_html: { data: {fetch_url: url_for(controller: 'admin', action: 'user_autocomplete')}} %>
      <%= f.input :name %>
      <%= f.input :surname %>
      <%= f.input :birth_date, as: :birthdate %>
      <%= f.input :tax_code %>
      <%= f.input :document %>
    </div>

    <div class="actions">
      <%= f.button :submit, class: 'btn blue' %>
    </div>
<% end %>
