<div class="inner">

  <div class="clearboth"></div>
  <%= fields_for 'proposal' do |f| %>
      <%= f.fields_for 'votation' do |v| %>
          <%= v.hidden_field 'later' %>
          <div class="choise_a">
            <% if @group && (can? :create_date, @group) && !@dates.empty? %>
                <%= v.radio_button 'choise', 'preset', checked: true %>
            <% end %>

            <% unless @dates.empty? %>
                <%= v.label 'choise_preset', t('pages.proposals.show.created_events'), class: 'radiolabel' %> <br/>

                <div class="inner">
                  <%= v.select :vote_period_id, options_for_select(@dates), {style: 'width:400px'} %>
                </div>
            <% end %>

          </div>
          <% if @group && (can? :create_date, @group) %>
              <div class="choise_b">
                <% unless @dates.empty? %>
                    <%= v.radio_button 'choise', 'new' %>
                <% end %>

                <%= v.label 'choise_new', t('pages.proposals.show.create_new_votation_period'), class: 'radiolabel' %>
                <br/>

                <div class="inner" style="opacity: <%= @dates.empty? ? 1 : 0.6 %>">

                  <div class="row left">
                    <div id="start_preset" class="columns large-5" style="display: block;">
                      <%= v.label 'start', "#{t('label.from')} " %>
                      <div class="start_vot" data-start-votation></div>
                    </div>
                    <div id="start_choose" class="columns large-5" style="display:none">
                      <%= v.label 'start', "#{t('label.from')} " %>
                      <div class="row collapse">
                        <div class="columns small-9">
                          <%= v.text_field 'start' %>
                        </div>
                        <div class="columns small-3">
                          <span class="cancel_action postfix">X</span>
                        </div>
                      </div>
                      <%= v.hidden_field 'start_edited' %>
                    </div>
                    <div class="columns large-5 left">
                      <%= v.label 'end' do %>
                          <%= "#{t('label.to')} " %>
                          <%= v.text_field 'end' %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
          <div class="clearboth"></div>
      <% end %>
  <% end %>


</div>
<%= link_to t('pages.proposals.show.choose_later'), '#', class: 'btn later', id: 'later', data: {other: t('pages.proposals.show.choose_now')} %>
<div class="clearboth"></div>

