<div id="new_quorum" title="Nuovo quorum" style="display: none; font-size: 14px;">
	<%=form_for [@group,Quorum.new], :validate => true, :remote => true do |e|%>		
		<div id="radio">
			<%= e.radio_button :form_type, 's', :checked=>"checked" %><%= e.label :form_type_s, 'Semplice' %>
			<%= e.radio_button :form_type, 'a' %><%= e.label :form_type_a, 'Avanzato' %>
	        <!--<input type="radio" id="radio1" name="radio" checked="checked" value="s"/><label for="radio1">Semplice</label>
	        <input type="radio" id="radio2" name="radio" value="a"  /><label for="radio2">Avanzato</label>-->        
	    </div>
		
			<p>
				<%=e.label :name, t('activerecord.attributes.quorum.name'), :title => t('activerecord.attributes.quorum.name_title')%>	<br />
				<%=e.text_field :name, :title => t('activerecord.attributes.quorum.name_title')%> 		
			</p>
			<p>
					<%=e.label :description, t('activerecord.attributes.quorum.description'),:title => t('activerecord.attributes.quorum.description_title')%>	<br />
					<%=e.text_area :description, :rows=>2,:title => t('activerecord.attributes.quorum.description_title'), :style=>"width:100%", :class=>"elastic" %>
			</p>
			<div id="options">
				<div>
					<label title="Indica il tempo per il quale la proposta deve rimanere in discussione">Durata</label><br />
					<div class="form_float">
						<%=e.label :days_m%>	<br />
						<%=e.text_field :days_m, :class=> "days", :readonly => true%>
					</div>
					<div class="form_float">
						<%=e.label :hours_m%>	<br />
						<%=e.text_field :hours_m, :class=> "hours", :readonly => true%>
					</div>
					<div class="form_float">
						<%=e.label :minutes_m%>	<br />
						<%=e.text_field :minutes_m, :class=> "minutes", :readonly => true%>
					</div>
					<div style="clear: both;"></div>
				</div>
				<div class="advanced" style="padding: 5px 10px 5px 0;">
					<%=e.label :condition, t('activerecord.attributes.quorum.condition'), :title => t('activerecord.attributes.quorum.condition_title')%>	<br />
					<%=e.select :condition, {"e" => "OR", "o" => "AND"}, :title => t('activerecord.attributes.quorum.condition_title')%>
				</div>
				<div class="advanced" style="padding: 5px 10px 5px 0;">			
					<%=e.label :percentage, t('activerecord.attributes.quorum.percentage'), :title => t('activerecord.attributes.quorum.percentage_title')%> <br />
					<%=e.text_field :percentage, :class=> "percentage partecipants", :title => t('activerecord.attributes.quorum.percentage_title'), :readonly => true%>
					<span id="partecipants_number">0</span> su <%=@partecipants_count%> aventi diritto in questo momento
				</div>
				<div class="form_float">
					<%=e.label :good_score,  t('activerecord.attributes.quorum.good_score'), :title => t('activerecord.attributes.quorum.good_score_title')%><br />
					<%=e.text_field :good_score, :value => 50, :class=> "percentage", :validate => false, :title => t('activerecord.attributes.quorum.good_score_title'), :readonly => true%>
				</div>
				<div class="form_float advanced">
					<%=e.label :bad_score, t('activerecord.attributes.quorum.bad_score'), :title => t('activerecord.attributes.quorum.bad_score_title')%>	<br />
					<%=e.text_field :bad_score, :value => 50, :class=> "percentage", :validate => false, :title => t('activerecord.attributes.quorum.bad_score_title'), :readonly => true%>
				</div>
				<div style="clear: both;"></div>
			</div>
		
		<%=e.submit 'Crea', :class => 'buttonStyle'%>
	<%end%>
</div>

<script type="text/javascript">
$(function() {
	$("#new_quorum").validate();
	
	$('.advanced').hide();
	
	$(".partecipants").spinner({
		incremental: true,
		max: 100,
		min: 0,	    	
		spin: function(event,ui) {
	    	$('#partecipants_number').html(Math.max(Math.floor(parseFloat(ui.value) * 0.01 * parseFloat(<%=@partecipants_count%>)),0));
	    }
	});
	
	$('#quorum_good_score').spinner({
		incremental: true,
		max: 100,
		min: 0,	    	
		spin: function(event,ui) {
	    	var good = parseInt($('#quorum_good_score').val());
	    	var bad = parseInt($('#quorum_bad_score').val());
	    	if (good < bad) {
	    		$('#quorum_bad_score').val(good);
	    	}
	    }
	});
	
	$('#quorum_bad_score').spinner({
		incremental: true,
		max: 100,
		min: 0,	    	
		spin: function(event,ui) {
	    	var good = parseInt($('#quorum_good_score').val());
	    	var bad = parseInt($('#quorum_bad_score').val());
	    	if (bad > good) {
	    		$('#quorum_good_score').val(bad);
	    	}
	    }
	}); 
	 
	disegnaBottoni();
	
	$(".hours").spinner({
		incremental: true,
		max: 23,
		min: 0
	});
	$(".days").spinner({
		incremental: true,	    	
		min: 0
	});
	$(".minutes").spinner({
		incremental: true,
		max: 45,
		min: 0,
		step: 15
	});

	$( "#radio" ).buttonset();
 
	$(".elastic").elastic();
 
	$('#radio input[name^=quorum]').change(function(event,el) {
 		$("#options").fadeOut('slow',function(){
	 		val = $('#radio input[name^=quorum]:checked').val();
	 		if (val == 's') {
		     	$('.advanced').hide();
		    }
		    else {
		    	$('.advanced').show();
		    }
	     	$('#options').fadeIn();	
 		})
 	});
});
</script>