	<%=form_for [@group,@quorum], :validate => true, :remote => true do |e|%>
		<div id="radio">
			<%= e.radio_button :form_type, 's', :checked=>"checked" %><%= e.label :form_type_s, 'Semplice' %>
			<%= e.radio_button :form_type, 'a' %><%= e.label :form_type_a, 'Avanzato' %>
	        <!--<input type="radio" id="radio1" name="radio" checked="checked" value="s"/><label for="radio1">Semplice</label>
	        <input type="radio" id="radio2" name="radio" value="a"  /><label for="radio2">Avanzato</label>-->        
	    </div>
		
			<p>
				<%=e.label :name, t('activerecord.attributes.quorum.name')%> <span id="name_title"><%=image_tag 'icon_info.gif', :alt => 'Di cosa si tratta?', :style => 'cursor:pointer'%></span>	<br />
				<%=e.text_field :name, :title => t('activerecord.attributes.quorum.name_title')%> 		
			</p>
			<p>
					<%=e.label :description, t('activerecord.attributes.quorum.description'),:title => t('activerecord.attributes.quorum.description_title')%> <span id="description_title"><%=image_tag 'icon_info.gif', :style => 'cursor:pointer'%></span>	<br />
					<%=e.text_area :description, :rows=>2, :style=>"width:100%", :class=>"elastic" %>
			</p>
			<div id="options">
				<div>
					<%= 'Affinche la proposta acceda alla fase di votazione deve restare in dibattito per almeno' %>
                    <%=e.text_field :days_m, :class=> "days", :readonly => true, :style=>"width:35px"%> <%=e.label :days_m%>, <%=e.text_field :hours_m, :class=> "hours", :readonly => true, :style=>"width:25px"%> <%=e.label :hours_m%>, <%=e.text_field :minutes_m, :class=> "minutes", :readonly => true, :style=>"width:25px"%> <%=e.label :minutes_m%>
					<div style="clear: both;"></div>
				</div>
				<div class="advanced" style="padding: 5px 10px 5px 0;">

					<%=e.select :condition, {"o" => "OR", "e" => "AND"}, :title => t('activerecord.attributes.quorum.condition_title')%>
                  <%= 'deve essere valutata da almeno il' %>

					<%=e.text_field :percentage, :class=> "percentage partecipants", :style=>"width:25px", :title => t('activerecord.attributes.quorum.percentage_title'), :readonly => true%>
					% <%= 'degli utenti che dispongono i permessi per farlo' %> (ovvero <span id="partecipants_number">0</span> su <%=@partecipants_count%> attualmente)
				</div>
				<div class="form_float">
					<%= 'quindi passa in votazione se il gradimento (valutazioni positive) è superiore al' %>
					<%=e.text_field :good_score, :value => 50, :class=> "percentage", :validate => false, :title => t('activerecord.attributes.quorum.good_score_title'), :readonly => true%> %
				</div>
              <div class="form_float advanced">
                <%= 'Se invece il gradimento è inferiore al' %>
                <%=e.text_field :bad_score, :value => 50, :class=> "percentage", :validate => false, :title => t('activerecord.attributes.quorum.bad_score_title'), :readonly => true%>  % <%= 'la proposta viene bocciata senza accedere alla votazione.' %><br/>
              </div>
              <div class="form_float advanced">
                <%= 'La proposta resta in dibattito fintanto che il gradimento è compreso fra le due soglie.' %>
              </div>
				<div style="clear: both;"></div>
			</div>
        <a href="#" class="btn" onclick="$('#new_quorum_container').dialog('destroy');$('#new_quorum_container').empty();"><%= t('buttons.cancel') %></a>
		<%=e.submit button_name, :class => 'btn blue'%>
	<%end%>

<script type="text/javascript">
$(function() {
	$("#new_quorum").validate();
	$('.advanced').hide();
    <%if can? :show_tooltips, nil%>
        $('#name_title').qtip({content:"<%=t('activerecord.attributes.quorum.name_title')%>"});
        $('#description_title').qtip({content:"<%=t('activerecord.attributes.quorum.description_title')%>"});
    <%end%>
	$(".partecipants").spinner({
		incremental: true,
		max: 100,
		min: 0,	    	
		spin: function(event,ui) {
	    	$('#partecipants_number').html(Math.max(Math.floor(parseFloat(ui.value) * 0.01 * parseFloat(<%=@partecipants_count%>)),0));
	    }
	});
	$('#quorum_good_score').spinner({
		incremental: true,
		max: 100,
		min: 0,	    	
		spin: function(event,ui) {
	    	var good = ui.value;
	    	var bad = parseInt($('#quorum_bad_score').val());
	    	if (good < bad) {
	    		$('#quorum_bad_score').val(good);
	    	}
	    }
	});
	
	$('#quorum_bad_score').spinner({
		incremental: true,
		max: 100,
		min: 0,	    	
		spin: function(event,ui) {
	    	var good = parseInt($('#quorum_good_score').val());
	    	var bad = ui.value;
	    	if (bad >= good) {
	    		$('#quorum_good_score').val(bad);
	    	}
	    }
	}); 
	 
	disegnaBottoni();
	$(".hours").spinner({
		incremental: true,
		max: 23,
		min: 0
	});
	$(".days").spinner({
		incremental: true,	    	
		min: 0
	});
	$(".minutes").spinner({
		incremental: true,
		max: 45,
		min: 0,
		step: 15
	});

	$( "#radio" ).buttonset();
 
	$(".elastic").elastic();
	$('#radio input[name^=quorum]').change(function(event,el) {
 		$("#options").fadeOut('slow',function(){
	 		var val = $('#radio input[name^=quorum]:checked').val();
	 		if (val == 's') {
		     	$('.advanced').hide();
		    }
		    else {
		    	$('.advanced').show();
		    }
	     	$('#options').fadeIn();
 		})
 	});

    var curval = $('#radio input[name^=quorum]:checked').val();
    if (curval == 'a') {
        $('.advanced').show();
    }

});
</script>