<div id="available_quorums" class="help">
	<div class="left_panel">
	<ul>
		<li><a href="#" onclick="showSection('whatis');return false;">Come si legge il quorum?</a></li>
	<%@quorums.each do |quorum|%>
		<li><a href="#" onclick="showSection('quorum_'+<%=quorum.id%>);return false;"><%=quorum.name%></a></li>
	<%end%>
	</ul>
	</div>
	<div class="right_panel">
		<div id="whatis" class="quorum_section">
			<h3>Come si legge un quorum?</h3>
			Il quorum è il parametro che determina quando termina la fase di discussione della proposta e si procede alla votazione.<br />
			Quando crei una nuova proposta scegli uno dei quorum a disposizione nello spazio comune o uno tra quelli messi a disposizione dal tuo gruppo.<br />
			In questo help puoi selezionare i diversi quorum e vederne le caratteristiche: troverai la descrizione del quorum e l'elenco dei parametri impostati.<br />		
		</div>
		<%@quorums.each do |quorum|%>
			<div id="quorum_<%=quorum.id%>" class="quorum_section">
				<h3><%=quorum.name%></h3>
				<hr />
				<%=quorum.description%>
				<%if quorum.percentage%>

					Sono necessari almeno <b>
					<%= quorum.min_partecipants %>
					 partecipanti</b>
				<%end%>
				<%if quorum.minutes%>
					<%if quorum.percentage%>
						<b><%=(quorum.condition.upcase == 'OR') ? 'o ' : 'e '%></b>
						devono trascorrere almeno <b><%=quorum.time%></b>.
					<%else%>
                     <br/>
					 La durata è impostata a <b><%=quorum.time%></b>. 
					<%end%>
				<%end%><br />
				Superata tale soglia si passa in votazione se il gradimento ottenuto è superiore al <b><%=quorum.good_score%>%</b>.
				<%if quorum.bad_score != quorum.good_score%>
					<br />
					Se invece il gradimento è al di sotto del <b><%=quorum.bad_score%>%</b> la proposta viene bocciata.
					La discussione continua fintanto che il gradimento è tra il <%=quorum.bad_score%>% ed il <%=quorum.good_score%>%.
				<%end%>
				<hr />
				<label>Numero minimo di partecipanti: </label>
				<%if quorum.percentage%>
					<b><%= quorum.min_partecipants %>
					</b>
				<%else%>
					<b>Non indicato</b>
				<%end%><br />
				<label>Tempo di discussione: </label>
				<%if quorum.minutes%>
					<b><%=quorum.time%></b>
				<%else%>
					<b>Non indicato</b>
				<%end%><br />
				<label>Condizione superamento: </label>
				<%if quorum.condition.upcase == 'OR'%>
					<b>Almeno uno</b>
				<%else%>
					<b>Entrambi</b>
				<%end%><br />
				<label>Quorum: </label><b><%=quorum.good_score%>%</b><br />
				<label>Quorum negativo: </label><b><%=quorum.bad_score%>%</b><br />
			</div>
		<%end%>
	</div>
	<div style="clear: both;"></div>	
</div>

<script type="text/javascript">
	function showSection(id) {
		$('.quorum_section').hide();
		$('#'+id).fadeIn();
	}
	$(function() {
		$('.quorum_section').hide();
		$('#whatis').fadeIn();
	})	
</script>
