<div class="right_panel">
  <div id="whatis" class="quorum_section">
    <%= t('models.quorum.help_content.description_html') %>
  </div>
  <% @quorums.each do |quorum| %>

      <div id="quorum_<%= quorum.id %>" class="quorum_section">
        <ul class="pricing-table">
          <li class="title"><%= quorum.name %></li>
          <li class="description"><%= quorum.description %></li>
          <li class="description"><%= quorum.explanation %></li>
          <li class="bullet-item">
            <span class="gray"><%= t('models.quorum.help_content.time_discussion') %> </span>
            <b><%= quorum.time(true) %></b>
          </li>
          <li class="bullet-item">
            <span class="gray"><%= t('models.quorum.help_content.participants') %> </span>
            <b><%= quorum.percentage ?  quorum.min_partecipants : t('models.quorum.help_content.not_specified') %></b>
          </li>
          <li class="bullet-item">
            <span class="gray"><%= t('models.quorum.help_content.good_score') %> </span>
            <b><%= quorum.good_score %>%</b>
          </li>
          <li class="bullet-item">
            <span class="gray"><%= t('models.quorum.help_content.time_vote') %> </span>
            <b><%= quorum.vote_time %></b>
          </li>
          <li class="bullet-item">
            <span class="gray"><%= t('models.quorum.help_content.participants_vote') %> </span>
            <b><%= quorum.vote_percentage ?  quorum.min_partecipants : t('models.quorum.help_content.not_specified') %></b>
          </li>
          <li class="bullet-item">
            <span class="gray"><%= t('models.quorum.help_content.vote_good_score') %> </span>
            <b><%= quorum.vote_good_score %>%</b>
          </li>
        </ul>
      </div>
  <% end %>
</div>