<div class="mybox" id="setting_menu">
  <h4><%= t('pages.groups.administration_panel.title') %></h4>

  <div class="menu_voice" id="m_group_info">
    <span class="Mo ui-icon ui-icon-gear"></span>
    <%= link_to t('pages.groups.administration_panel.info'), edit_group_url(@group), class: 'Mo' %>
    <div style="clear:both"></div>
  </div>

  <div class="menu_voice" id="m_group_roles">
    <span class="Mo ui-icon ui-icon-comment"></span>
    <%= link_to t('pages.groups.administration_panel.permissions'), group_participation_roles_path(@group), class: 'Mo' %>
    <div style="clear:both"></div>
  </div>

  <div class="menu_voice" id="m_group_users">
    <span class="Mo ui-icon ui-icon-person"></span>
    <%= link_to t('pages.groups.administration_panel.users'), group_group_participations_url(@group), class: 'Mo' %>
    <div style="clear:both"></div>
  </div>

  <div class="menu_voice" id="m_group_proposals">
    <span class="Mo ui-icon ui-icon-comment"></span>
    <%= link_to t('pages.groups.administration_panel.proposals'), group_quorums_url(@group), class: 'Mo' %>
    <div style="clear:both"></div>
  </div>

  <% if ::Configuration::group_areas %>
      <div class="menu_voice" id="m_group_areas">
        <span class="Mo ui-icon ui-icon-clipboard"></span>
        <%= link_to t('pages.groups.administration_panel.areas'), group_group_areas_url(@group), class: 'Mo' %>
        <div style="clear:both"></div>
      </div>
  <% end %>

  <div class="menu_voice" id="m_group_forum">
    <span class="Mo ui-icon ui-icon-contact"></span>
    <%= link_to t('pages.groups.administration_panel.forum'), group_frm_admin_root_url(@group), class: 'Mo' %>
    <div style="clear:both"></div>
  </div>
</div>