<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
	
  
<script type="text/javascript">
	$(function() {
		input = $('#group_partecipant_tokens')
		if (input != null) {
			input.tokenInput("/users.json", {
				crossDomain: false,
				prePopulate: $('#group_partecipant_tokens').data("pre"),
				hintText: "Digita alcuni caratteri per cercare tra gli utenti",
				noResultsText: "Nessun utente trovato",
				searchingText: "Sto cercando...",
				preventDuplicates: true
			});
		}
		
		input = $('#group_interest_border_tkn')
		input.tokenInput("/interest_borders.json", {
			crossDomain: false,
			prePopulate: $('#group_interest_border_tkn').data("pre"),
			hintText: "Digita alcuni caratteri per cercare un luogo",
			noResultsText: "Nessun luogo trovato",
			searchingText: "Sto cercando...",
			preventDuplicates: true,
			tokenLimit: 1
		});
	});

</script>  		
			
<%= form_for @group, :builder => InfoTagBuilder do |f| %>
   <%= render :partial => 'fragments/error_messages', :locals => {:resource => @group} %>
  
  <p>
	  	<%= f.info_tag :name, :help => "Scrivi un nome dal quale si capisca di cosa si occupa il gruppo e dove si trova." %>   	
  </p>
  
  <p>
  		<%= f.info_tag :title_bar, :help => "Il titolo che apparirà in testa alla pagina del gruppo." %>   	  	    
  </p>
  
  <p>
    <%=f.label :description%><br/>
    <%= f.text_area :description, :style=>'width:90%; height:150px;' %>
  </p>
  <p>
  	<%=f.label :image_url%><br />
  	<%= f.text_field :image_url%>
  </p>
  <p>
  	<%= f.info_tag :facebook_page_url, :help => "Se il gruppo ha una pagina Facebook, inserisci qui l'indirizzo." %>   
  </p>
  
  <p>
    <%= f.label :accept_requests%><br/>
    <%= f.radio_button :accept_requests , 'p' %>Portavoce: quando un utente richiede di partecipare al gruppo, l'accettazione è consentita solo ai portavoce del gruppo stesso. Una volta che il portavoce avrà accettato la richiesta, l'utente sarà a tutti gli effetti un partecipante del gruppo.<br/>
	<%= f.radio_button :accept_requests , 'v', :disabled=>"disabled", :title=>"Opzione non ancora disponibile" %>Votazione: quando un utente richiede di partecipare al gruppo, tutti gli altri partecipanti devono esprimere il loro parere entro X giorni, al termine dei quali viene determinato se l'utente può entrare o meno.'<br/>
	<%= f.radio_button :accept_requests , 'b', :disabled=>"disabled", :title=>"Opzione non ancora disponibile" %>Entrambi: avviene la votazione solo a seguito dell'accettazione da parte del portavoce.<br/>
  </p>

	<%if is_admin? %>
<p>
	<% partecipants = @group.partecipants %>

	<%if partecipants.length == 0 %>
		<b>Nessun utente partecipa ancora a questo gruppo</b>	
	<%end%>
</p>
<p>	
		<b>Aggiungi utenti al gruppo</b>
		<%= f.text_field :partecipant_tokens, "data-pre" => @group.partecipants.to_json(:only => [:id, :name]) %>
</p>		
	<%end%> 
	
  <p>
  	
	<%= f.label :interest_border_tkn%>
	<%= f.text_field :interest_border_tkn, "data-pre" => ([@group.interest_border].to_json if @group.interest_border ) %>
</p>
	<% if (controller.action_name != "new") && (controller.action_name != "create") %>
		<%= f.label :porta_id%><br/>
	   	<%= f.select(:porta_id, @group.partecipants.collect {|p| [ p.name, p.id ] })%>
	<%end%>
	
  <p>
    <%= f.submit button_name, :class => 'buttonStyle' %>
  </p>
<% end %>