<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
	
  
<script type="text/javascript">
	$(function() {
		input = $('#group_partecipant_tokens')
		input.tokenInput("/users.json", {
			crossDomain: false,
			prePopulate: $('#group_partecipant_tokens').data("pre"),
			hintText: "Digita alcuni caratteri per cercare tra gli utenti",
			noResultsText: "Nessun utente trovato",
			searchingText: "Sto cercando...",
			preventDuplicates: true
		});
		
		input = $('#group_interest_border_tkn')
		input.tokenInput("/interest_borders.json", {
			crossDomain: false,
			prePopulate: $('#group_interest_border_tkn').data("pre"),
			hintText: "Digita alcuni caratteri per cercare un luogo",
			noResultsText: "Nessun luogo trovato",
			searchingText: "Sto cercando...",
			preventDuplicates: true,
			tokenLimit: 1
		});
	});

</script>  		
			
<%= form_for([@group]) do |f| %>
   <%= render :partial => 'fragments/error_messages', :locals => {:resource => @group} %>
   
  <p>
    <%= f.label :name%><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%=f.label :description%><br/>
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.label :facebook_page_url%><br/>
    <%= f.text_field :facebook_page_url %>
  </p>
  
  <p>
    <b>Richieste di partecipazione</b><br />
    <%= f.radio_button :accept_requests , 'p' %>Portavoce: quando un utente richiede di partecipare al gruppo, l'accettazione è consentita solo ai portavoce del gruppo stesso. Una volta cche il portavoce avrà accettato la richeista, l'utente sarà a tutti gli effetti un partecipante del gruppo.<br/>
	<%= f.radio_button :accept_requests , 'v' %>Votazione: quando un utente richiede di partecipare al gruppo, tutti gli altri partecipanti devono esprimere il loro parere entro X giorni, al termine dei quali viene determinato se l'utente può entrare o meno.'<br/>
	<%= f.radio_button :accept_requests , 'b' %>Entrambi: avviene la votazione solo a seguito dell'accettazione da parte del portavoce.<br/>
  </p>

<p>
	<% partecipants = @group.partecipants %>

	<%if partecipants.length == 0 %>
		<b>Nessun utente partecipa ancora a questo gruppo</b>	
	<%end%>
</p>
<p>	
	<%if is_admin? %>
		<b>Aggiungi utenti al gruppo</b>
		<%= f.text_field :partecipant_tokens, "data-pre" => @group.partecipants.to_json(:only => [:id, :name]) %>
		
		<b>Definisci il confine di interesse</b>
		<%= f.text_field 'interest_border_tkn', "data-pre" => [@group.interest_border].to_json %>

  <p>
		
		
	<%end%> 
</p>
	   <%= f.select(:porta_id, @group.partecipants.collect {|p| [ p.name, p.id ] }, {:include_blank => '==Nessun portavoce=='})%>

  <p>
    <%= f.submit button_name %>
  </p>
  

<% end %>