<%= simple_form_for @group, url: in_subdomain? ? '/update' : nil, validate: true, html: {multipart: true} do |f| %>
    <% if @group.is_private? %>
        <div class="panel callout">
          <p>
            <%= t('pages.groups.edit.private_warning_html', link: (link_to t('pages.groups.administration_panel.proposals'), edit_proposals_group_path(@group))) %>
          </p>
        </div>
    <% end %>

    <%= f.input :name, placeholder: t('activerecord.attributes.group.name_placeholder') %>

    <%= f.label :description %>
    <%= f.cktext_area :description, row: 5, ckeditor: {toolbar: 'blog', language: I18n.locale, wordcount: {showCharCount: true, showWordCount: false, charLimit: 2000, countHTML: true}} %>

    <% if ['edit', 'update'].include? action_name %>
        <%= f.label :rule_book %>
        <%= f.cktext_area :rule_book, row: 5, ckeditor: {toolbar: 'blog', language: I18n.locale} %>
    <% end %>

    <%= f.input :tags_list, label: t('pages.groups.new.tags.title') %>

    <%= f.input :image, accept: "image/jpeg,image/png" %>

    <%= f.input :interest_border_tkn, input_html: {data: {pre: ([@group.interest_border].to_json if @group.interest_border)}} %>

    <% if ['new', 'create'].include? action_name %>
        <%= f.input :default_role_name, placeholder: t('activerecord.attributes.group.default_role_name_placeholder') %>
        <a href="#" data-reveal-id="permessi"><%= t('pages.groups.new.change_permissions_button') %></a>
        <div id="permessi" class="reveal-modal" data-reveal>
          <h2><%= t('pages.groups.new.change_permissions_title') %></h2>

          <div class="panel alert">
            <p><%= t('pages.groups.new.change_permissions_description') %></p>
          </div>

          <% GroupAction.all.each do |action| %>
              <%= f.label action.description do %>
                  <%= f.check_box :default_role_actions, {multiple: true}, action.id, nil %>
                  <%= action.description %>
              <% end %>

          <% end %>

          <a href="#" class="btn" id="default_permissions_button">Default</a>
          <a href="#" class="btn blue" id="change_permissions_button">Ok</a>
        </div>

        <%= f.input :admin_title, placeholder: t('activerecord.attributes.group.admin_title_placeholder') %>

        <%= f.submit button_name, class: 'btn blue', data: {disable_with: t('saving')} %>

    <% else %>
        <%= f.input :admin_title, placeholder: t('activerecord.attributes.group.admin_title_placeholder') %>

        <%= f.label :private, title: "Chi non è membro del gruppo può visualizzare solo il regolamento e le proposte pubbliche" do %>
            <%= f.check_box :private %>
            <%= t('activerecord.attributes.group.private') %>
        <% end %>

        <%= link_to t('pages.groups.edit.change_permissions'), group_participation_roles_path(@group) %>

        <%= f.submit button_name, class: 'btn blue', data: {disable_with: t('updating')} %>
        <%= link_to t('pages.groups.show.destroy_button'), @group, method: :delete, data: {confirm: t('pages.groups.show.confirm_destroy')}, class: 'btn red trashButton right' if can? :destroy, @group %>
    <% end %>
<% end %>

<script type="text/javascript">
    $(function () {
        $('#group_interest_border_tkn').tokenInput("<%=interest_borders_path(format: :json )%>", {
            crossDomain: false,
            prePopulate: $('#group_interest_border_tkn').data("pre"),
            hintText: "<%=t('interest_borders.hint')%>",
            noResultsText: "<%=t('interest_borders.no_place_found')%>",
            searchingText: "<%=t('interest_borders.searching')%>",
            preventDuplicates: true,
            tokenLimit: 1,
            allowTabOut: true
        });

    });


    <%if ['new','create'].include? params[:action]%>


    $('#change_permissions_button').click(function () {
        $('#permessi').foundation('reveal', 'close');
        return false;
    });

    $('#default_permissions_button').click(function () {
        $("input[name=group\\[default_role_actions\\]\\[\\]]").prop('checked', false);
        <%@group.default_role_actions.each do |id|%>
        $('#group_default_role_actions_<%=id%>').prop('checked', true);
        <%end if @group.default_role_actions%>
        return false;
    });

    <%end%>

    $(function () {
        var input = $('#group_tags_list')
        if (input != null) {
            input.tokenInput("<%=tags_path(format: :json )%>", {
                theme: "facebook",
                crossDomain: false,
                allowFreeTagging: true,
                minChars: 3,
                prePopulate: <%=raw @group.tags.map{|t| {id: t.text, name: t.text}}.to_json.to_s%>,
                hintText: "<%=t('digit_tags')%>",
                searchingText: "<%=t('digit_tags')%>",
                preventDuplicates: true,
                allowTabOut: true,
                tokenValue: "name",
                tokenLimit: 5
            })
        }
    });
</script>