<%= form_for @group, url: in_subdomain? ? '/update' : nil, :validate => true, :html => {:multipart => true} do |f| %>
    <% if @group.is_private? %>
        <div class="panel callout">
          <p>
            <%= t('pages.groups.edit.private_warning_html', link: (link_to t('pages.groups.administration_panel.proposals'), edit_proposals_group_path(@group))) %>
          </p>
        </div>
    <% end %>

    <%= render :partial => 'fragments/error_messages', :locals => {:resource => @group} %>

    <p>
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: t('activerecord.attributes.group.name_placeholder') %>
    </p>

    <p>
      <%= f.label :description %>
      <%= f.cktext_area :description, row: 5, ckeditor: {toolbar: 'blog', language: I18n.locale,wordcount: {showCharCount: true, showWordCount: false,  charLimit: 2000, countHTML: true }} %>
    </p>

    <% if ['edit', 'update'].include? params[:action] %>
        <p>
          <%= f.label :rule_book %>
          <%= f.cktext_area :rule_book, row: 5, ckeditor: {toolbar: 'blog', language: I18n.locale} %>
        </p>
    <% end %>


    <% if ::Configuration::socialnetwork_active && false %>
        <p>
          <%= f.label :facebook_page_url %>
          <%= f.text_field :facebook_page_url, placeholder: t('activerecord.attributes.group.facebook_page_url_placeholder'), style: "width: 600px" %>
        </p>
    <% end %>


    <p>
      <%= f.label :tags_list, t('pages.groups.new.tags.title') %>
      <%= f.text_field :tags_list %>
    </p>
    <p>
      <%= f.label :image %>
      <%= f.file_field :image, accept: "image/jpeg,image/png" %>
    <p>

      <%= f.label :interest_border_tkn %>
      <%= f.text_field :interest_border_tkn, "data-pre" => ([@group.interest_border].to_json if @group.interest_border) %>
    </p>


    <% if ['new', 'create'].include? params[:action] %>

        <p>

        </p>

        <p>
          <%= f.label :default_role_name %>
          <%= f.text_field :default_role_name, placeholder: t('activerecord.attributes.group.default_role_name_placeholder'), style: "width: 400px" %>
          <a href="#" onclick="apri_permessi();return false;"><%= t('pages.groups.new.change_permissions_button') %></a>
        </p>
        <p>
          <%= f.label :admin_title %>
          <%= f.text_field :admin_title, placeholder: t('activerecord.attributes.group.admin_title_placeholder'), style: 'width:600px' %>
        </p>

        <div id="permessi" title="<%= t('pages.groups.new.change_permissions_title') %>" style="display:none;">
          <p><%= t('pages.groups.new.change_permissions_description') %>
          </p>
          <% GroupAction.all.each do |action| %>
              <%= f.label action.description do %>
                  <%= f.check_box :default_role_actions, {:multiple => true}, action.id, nil %>
                  <%= action.description %>
              <% end %>

          <% end %>

          <a href="#" onclick="return default_action();" class="btn">Default</a>
          <a href="#" onclick="return ok_action();" class="btn blue">Ok</a>
        </div>

        <p>
          <%= f.submit button_name, :class => 'btn blue', disable_with: t('saving') %>
        </p>

    <% else %>

        <%= f.label :admin_title %>
        <%= f.text_field :admin_title, placeholder: t('activerecord.attributes.group.admin_title_placeholder'), style: 'width:600px' %>

        <%= f.label :private, title: "Chi non è membro del gruppo può visualizzare solo il regolamento e le proposte pubbliche" do %>
            <%= f.check_box :private %>
            <%= t('activerecord.attributes.group.private') %>
        <% end %>

        <%= link_to t('pages.groups.edit.change_permissions'), edit_permissions_group_path(@group) %>

        <p>
          <%= f.submit button_name, :class => 'btn blue', disable_with: t('updating') %>
          <%= link_to t('pages.groups.show.destroy_button'), @group, method: :delete, confirm: t('pages.groups.show.confirm_destroy'), class: 'btn red trashButton right' if can? :destroy, @group %>
        </p>



    <% end %>


<% end %>

<script type="text/javascript">
    $(function () {
        $('#group_interest_border_tkn').tokenInput("<%=interest_borders_path(format: :json )%>", {
            crossDomain: false,
            prePopulate: $('#group_interest_border_tkn').data("pre"),
            hintText: "<%=t('interest_borders.hint')%>",
            noResultsText: "<%=t('interest_borders.no_place_found')%>",
            searchingText: "<%=t('interest_borders.searching')%>",
            preventDuplicates: true,
            tokenLimit: 1,
            allowTabOut: true
        });

    });


    <%if ['new','create'].include? params[:action]%>
    function apri_permessi() {
        $('#permessi')
                .dialog({width: 630,
                    height: 'auto',
                    modal: true,
                    resizable: false,
                    beforeClose: function () {
                        $('#permessi').closest('.ui-dialog').detach().appendTo('#new_group');
                    }
                });
    }

    function ok_action() {
        $('#permessi').dialog("close");
        return false;
    }

    function default_action() {
        $("input[name=group\\[default_role_actions\\]\\[\\]]").prop('checked', false);
        <%@group.default_role_actions.each do |id|%>
        $('#group_default_role_actions_<%=id%>').prop('checked', true);
        <%end%>
        return false;
    }

    <%end%>

    <% data = "["
       @group.tags_list.split(',').each do |l|
   	     data +=  "{\"id\":\""+ l + "\",\"name\":\"" + l + "\"},"
   	   end
       data += "]"
    %>


    $(function () {
        var input = $('#group_tags_list')
        if (input != null) {
            input.tokenInput("<%=tags_path(format: :json )%>", {
                theme: "facebook",
                crossDomain: false,
                allowFreeTagging: true,
                minChars: 3,
                prePopulate: <%=raw data%>,
                hintText: "<%=t('digit_tags')%>",
                searchingText: "<%=t('digit_tags')%>",
                preventDuplicates: true,
                allowTabOut: true,
                tokenValue: "name",
                tokenLimit: 5
            })
        }
    });


</script>