<%= form_for @group, :validate => true, :html => {:multipart => true} do |f| %>
    <%= render :partial => 'fragments/error_messages', :locals => {:resource => @group} %>

    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name, placeholder: t('activerecord.attributes.group.name_placeholder'), style: "width: 600px" %>
    </p>

    <p>
      <%= f.label :title_bar %><br/>
      <%= f.text_field :title_bar, placeholder: t('activerecord.attributes.group.title_bar_placeholder'), style: "width: 600px" %>
    </p>

    <p>
      <%= f.label :description %><br/>
      <%= f.text_area :description, placeholder: t('activerecord.attributes.group.description_placeholder'), style: 'width:600px; height:100px;' %>
    </p>

    <% if ::Configuration::socialnetwork_active %>
        <p>
          <%= f.label :facebook_page_url %><br/>
          <%= f.text_field :facebook_page_url, placeholder: t('activerecord.attributes.group.facebook_page_url_placeholder'), style: "width: 600px" %>
        </p>
    <% end %>

    <p>
      <%= f.label :accept_requests %><br/>
      <%= f.radio_button :accept_requests, 'p' %>
      <%= t('pages.groups.accept_requests.portavoce')%><br/>
      <!--<%= f.radio_button :accept_requests, 'v', :disabled => "disabled", :title => t('unavailable_option') %>Votazione: quando un utente richiede di partecipare al gruppo, tutti gli altri partecipanti devono esprimere il loro parere entro X giorni, al termine dei quali viene determinato se l'utente può entrare o meno.'<br/>
	<%= f.radio_button :accept_requests, 'b', :disabled => "disabled", :title => t('unavailable_option') %>Entrambi: avviene la votazione solo a seguito dell'accettazione da parte del portavoce.<br/>
	-->
    </p>
        <%=  f.label :image %><br/>
        <%=f.file_field :image, accept: "image/jpeg,image/png"  %>
    <p>

      <%= f.label :interest_border_tkn %>
      <%= f.text_field :interest_border_tkn, "data-pre" => ([@group.interest_border].to_json if @group.interest_border) %>
    </p>


    <% if ['new', 'create'].include? params[:action] %>

        <p>

        </p>

        <p>
          <%= f.label :default_role_name %>    <br/>
          <%= f.text_field :default_role_name, placeholder: t('activerecord.attributes.group.default_role_name_placeholder'), style: "width: 400px" %>
          <a href="#" onclick="apri_permessi();return false;"><%= t('pages.groups.new.change_permissions_button') %></a>
        </p>

        <div id="permessi" title="<%= t('pages.groups.new.change_permissions_title')%>" style="display:none;">
          <%= t('pages.groups.new.change_permissions_description') %><br/>
          <% GroupAction.includes(:translations).all.each do |action| %>
              <%= f.check_box :default_role_actions, {:multiple => true}, action.id, nil %> <%= f.label action.description %>
              <br/>
          <% end %>

          <a href="#" onclick="return default_action();" class="btn">Default</a>
          <a href="#" onclick="return ok_action();" class="btn blue">Ok</a>
        </div>
    <% else %>
        <%= link_to t('pages.groups.edit.change_permissions'), edit_permissions_group_path(@group) %>
    <% end %>

    <p>
      <%= f.submit button_name, :class => 'btn blue' %>
    </p>
<% end %>

<script type="text/javascript">
    $(function () {
        $('#group_description')
                .charCount({
                    counterElement: 'div',
                    allowed: 2000,
                    warning: 100
                });

        $('#group_interest_border_tkn').tokenInput("<%=interest_borders_path(format: :json )%>", {
            crossDomain: false,
            prePopulate: $('#group_interest_border_tkn').data("pre"),
            hintText: "<%='Digita alcuni caratteri per cercare un luogo'%>",
            noResultsText: "<%='Nessun luogo trovato'%>",
            searchingText: "<%='Sto cercando...'%>",
            preventDuplicates: true,
            tokenLimit: 1
        });

    });


    <%if ['new','create'].include? params[:action]%>
    function apri_permessi() {
        $('#permessi')
                .dialog({width: 630,
                    height: 'auto',
                    modal: true,
                    resizable: false,
                    beforeClose: function () {
                        $('#permessi').closest('.ui-dialog').detach().appendTo('#new_group');
                    }
                });
    }

    function ok_action() {
        $('#permessi').dialog("close");
        return false;
    }

    function default_action() {
        $("input[name=group\\[default_role_actions\\]\\[\\]]").attr('checked', false);
        <%@group.default_role_actions.each do |id|%>
        $('#group_default_role_actions_<%=id%>').attr('checked', true);
        <%end%>
        return false;
    }
    <%end%>
</script>