<div class="groupPortletListContainer" data-id="<%= group.id %>">
  <div class="card">
    <div class="row">

      <div class="groupUserImage small-3 large-3 columns">
        <%= link_to (group.group_image_tag nil), group_url(group), title: group.name %>
      </div>
      <div class="groupName small-9 large-9 columns">
        <h3>
          <%= link_to group.name, group_url(group), title: group.name %>
          <div class="title_fade"></div>
        </h3>

        <div class="group_tag_desc">
          <%=group.description %>
          <div class="fade_out"></div>
        </div>
      </div>

      <!--div class="groupEvent" style="float:right">
    <%# event = group.events.first
      # if event %>
        <a href="<%#= event_url(event) %>">
          <div class="event_calendar_mini">
            <div class="day">
              <%#= I18n.localize(event.starttime, format: :dayandmonth) %>
            </div>

          </div>
        </a>
    <%# end %>
  </div>-->
    </div>
    <div class="group_bottom row">
      <div class="groupDescription small-3 large-3 columns">
        <%= image_tag 'group_participants.png', title: t('pages.groups.index.participants_number') %>
        <span class="count"><%= group.group_participations_count %></span>
      </div>
      <div class="groupDescription small-3 large-3 columns">
        <%= link_to (image_tag 'group_proposals.png'), group_proposals_url(group), title: t('pages.groups.index.proposals_number') %>
        <span class="count"><%= group.proposals_count %></span>
      </div>
      <div class="groupDescription small-3 large-3 columns">
        <%= link_to (image_tag 'group_events.png'), group_events_url(group), title: t('pages.groups.index.events_number') %>
        <span class="count"><%= group.meeting_organizations_count %></span>
      </div>
      <div class="territoryDescription small-3 large-3 columns">
        <%= link_to group.interest_border.territory.description, groups_url(interest_border: group.interest_border.as_json[:id]) %>
        <div class="territory_fade"></div>
      </div>
    </div>
  </div>
</div>
