<% content_for :left_panel do %>
    <% if can? :view_data, @group %>

        <% if ::Configuration::socialnetwork_active %>
            <div class="mybox">
              <a href="https://twitter.com/share"
                 class="twitter-share-button"
                 data-lang="en"
                 data-count="vertical"
                 data-text="Partecipa a questo gruppo su <%= APP_SHORT_NAME %>: <%= group_url(@group) %>">Tweet</a>

              <g:plusone size="tall"></g:plusone>


              <%= raw facebook_like %>

            </div>
        <% end %>
    <% end %>

    <div class="mybox">
      <a href="#" onclick="openRulesModal();return false;" class="btn notesButton"><%= t('pages.groups.show.rules_button') %></a>


      <div id="rules_modal" title="<%= t('pages.groups.show.rules_button') %>" style="width:400px;height:400px;display:none;text-align: justify">
        <% if @group.rule_book && !@group.rule_book.empty? %>
            <%= raw @group.rule_book %>
        <% else %>

            <div>Le regole sono selezionabili alla creazione di un gruppo. <br/>

              <p>Al momento tutti gli utenti possono creare un gruppo.</p>

              <p>Quando partecipate ad un gruppo i post che inserite nel vostro blog possono essere mostrati in questa
                pagina.</p>

              <p>I gruppi potranno aderire alle proposte, crearne di interne, creare sondaggi e organizzare i
                partecipanti
                secondo ruoli e permessi.</p>
              <ul>
                <li>Partecipazione:</li>
                <% if @group.request_by_vote? %>
                    Quando un utente richiede di partecipare al gruppo, tutti gli altri partecipanti devono esprimere
                    il
                    loro parere entro X giorni, al termine dei quali viene determinato se l'utente può entrare o meno.
                <% elsif @group.request_by_portavoce? %>
                    Quando un utente richiede di partecipare al gruppo, l'accettazione è consentita solo ai portavoce
                    del
                    gruppo stesso. Una volta che il portavoce avrà accettato la richiesta, l'utente sarà a tutti gli
                    effetti
                    un partecipante del gruppo.
                <% end %>
              </ul>
            </div>
        <% end %>
      </div>

      <script type="text/javascript">
          function openRulesModal() {
              $("#rules_modal").dialog({ height: 'auto', width: 600 });
              return false;
          }
      </script>


      <% if can? :view_data, @group %>

          <% if user_signed_in? && current_user.blog %>
              <% if (can? :post_to, @group) %>
                  <%= link_to t('pages.groups.show.post_button'), new_blog_blog_post_url(current_user.blog, :group_id => @group.id), :class => 'btn green newButton', :style => "margin-top:4px;" %>
                  <br/>
              <% end %>
          <% else %>
              <%= link_to t('pages.groups.show.blog_button'), new_blog_path, :class => 'btn green newButton', :style => "margin-top:4px;" %>
              <br/>
          <% end %>
      <% end %>
    </div>

    <% if can? :view_data, @group %>

        <div class="mybox">
          <%= render :partial => 'partecipants_panel' %>
        </div>


        <% requests = @group.partecipation_requests.pending
           if requests.size > 0 %>
            <div class="mybox">
              <p>
              <h4><%= t('pages.groups.show.waiting_partecipation_requests') %></h4>
              </p>
              <% requests.each do |request| %>
                  <p>

                  <div class="pcontainer">
                    <div class="MoImg24">
                      <%= request.user_image_tag(24) %>
                    </div>
                    <div class="Mo2" style="width:155px">
                      <%= link_to_user request.user, :full_name => true %>
                    </div>
                    <% if (can? :accept_requests, @group) %>
                        <% if @group.request_by_vote? %>
                            <%= link_to 'Accetta la richiesta e procedi con la votazione.', url_for(:action => "partecipation_request_confirm", :controller => "groups", :id => @group.id, :request_id => request.id) %>
                        <% elsif @group.request_by_portavoce? %>
                            <%= link_to t('pages.groups.show.accept_request_button'), {:action => "partecipation_request_confirm", :controller => "groups", :id => @group.id, :request_id => request.id}, :class => 'btn blue little acceptButton disableClickButton', style: "float:left" %>
                            <%= link_to t('pages.groups.show.reject_request_button'), {:action => "partecipation_request_decline", :controller => "groups", :id => @group.id, :request_id => request.id}, :class => 'btn little rejectButton disableClickButton', style: "float:left" %>
                        <% end %>
                    <% end %>
                    <div style="clear:both"></div>
                  </div>
                  </p>
              <% end %>
            </div>
        <% end %>

        <% voting = @group.partecipation_requests.voting
           if voting.size > 0 %>
            <div class="mybox">
              <p>
              <h4>Elenco delle richieste di partecipazione in corso di votazione</h4>
              </p>
              <% voting.each do |request| %>
                  <p>
                    <%= link_to_user request.user, :full_name => true %>
                    <a>Vota SI</a>
                    - <a>Vota NO</a>
                  </p>
              <% end %>
            </div>
        <% end %>

        <br/>
        <!--
     <h4>Al momento seguono il gruppo <%= @group.followers.count %> persone</h4>
     <% if current_user
                                                                                         follow = (@group.partecipants.include? current_user) || (@group.followers.include? current_user)
        end
        if !follow %>
            <%= link_to 'Segui', {:action => "ask_for_follow", :controller => "groups", :id => @group.id}, :id => 'group_follow', :class => "buttonStyle littleText disableButton" %>
            <br/>(notifiche non ancora attive, spiacente)
     <% end %>
        -->

        <% @mypartecipation = @group.group_partecipations.where(:user_id => current_user.id).first if current_user %>
        <% if @mypartecipation %>
            <div class="mybox">
              <div id="permissions_list_container" title="<%= t('pages.groups.show.list_permissions.title') %>"></div>
              <%= link_to t('pages.groups.show.list_permissions.button'), permissions_list_group_path(@group), remote: true, class: 'btn infoButton' unless @group.portavoce.include? current_user %>
              <%= link_to t('pages.users.show.get_out_of_group_button'), group_group_partecipation_path(@group, @mypartecipation), :method => :delete, :confirm => t('pages.users.show.get_out_of_group_confermation'), class: 'btn' if can? :destroy, @mypartecipation %>
              <%= link_to t('pages.groups.show.destroy_button'), @group, method: :delete, confirm: t('pages.groups.show.confirm_destroy'), class: 'btn red trashButton' if can? :destroy, @group %>
            </div>
        <% end %>




    <% else %>
        <div class="mybox">
          <p>
            <%= link_to t('pages.groups.show.ask_partecipate_button'), url_for(:action => "ask_for_partecipation", :controller => "groups", :id => @group.id), :class => "btn blue editButton" %>
          </p>
        </div>
    <% end %>


<% end %>