<p>
    <h4><%= t('pages.groups.show.spokesman') %></h4>
    
    <%@group.portavoce.each do |user| %>
    	<%=user_tag(user, nil,true,false)%>
    <%end %>
    
</p>
<br/>

<% partecipants = @group.group_partecipations.includes(:user).limit(5) %>
<%if partecipants.length > 0 %>
<p>
    <h4><%= t('pages.groups.show.partecipants_list') %></h4>

    <% if (can? :accept_requests, @group) %>
        <%= link_to t('pages.groups.show.invite_button'), new_group_invitation_path(:group_id => @group.id), :remote => true, :class => "inviteButton disableButton littleText" %>
        <div id="new_invitation_container"></div>
    <%end%>


    <% if user_signed_in? %>
    <p>
        <% partecipation_request = current_user.has_asked_for_partecipation?(@group.id)
        if !partecipation_request %>
        <%= link_to 'Richiedi di partecipare al gruppo', url_for(:action => "ask_for_partecipation", :controller => "groups", :id => @group.id), :id => 'group_partecipa', :class=>"editButton littleText disableClickButton" %>
        <%else %>
        <!--<b>Hai già fatto richiesta di partecipazione a questo gruppo. Stato della richiesta: <%=partecipation_request.status.description %>
        </b>--><%end %>
    </p>
    
    <%end %>
    <%partecipants.each do |partecipant| %>
	    <%if !@group.portavoce.include? partecipant.user%>
			    <div class="pcontainer">
			        <div class="MoImg24">
			            <%= partecipant.user_image_tag(24) %>
			        </div>
			        <div class="Mo">
			            <%=link_to_user partecipant.user, :full_name => true, :title => partecipant.partecipation_role.name %>
			        </div>
                  <div style="clear:both;"></div>
			    </div>
	    <%end%>
    <%end %>
    <%if @group.group_partecipations.count > 5 %>
        <%=link_to t('pages.groups.show.show_all_partecipants', :count => @group.group_partecipations.count), {:controller => "groups", :action => "partecipants_list_panel", :group_id => @group.id}, :remote => true, :class => "showAllButton disableButton littleText"%>
        <div id="partecipants_list_container" title="<%= t('pages.groups.show.partecipants_full_list')%>"></div>
    <%end%>
</p>
<%else %>
<p>
    <b><%= t('pages.groups.show.no_partecipants') %></b>
</p>
<%end %>