<p>
    <h4><%= @group.admin_title || t('default_admin_title') %></h4>
    
    <%@group.portavoce.includes(:image).each do |user| %>
    	<%=user_tag(user, nil,true,false)%>
    <%end %>
    
</p>
<br/>


<%if @group.group_partecipations.count > 0 %>
    <%@partecipants = @group.group_partecipations.includes([{:user => :image}, :partecipation_role]).limit(5) %>
<p>
    <h4><%= t('pages.groups.show.partecipants_list') %></h4>

    <% if (can? :accept_requests, @group) %>
        <%= link_to t('pages.groups.show.invite_button'), new_group_invitation_path(:group_id => @group.id), :remote => true, :class => "btn inviteButton disable" %>
        <div id="new_invitation_container"></div>
    <%end%>


    <p>
      <% if user_signed_in? %>
        <% @partecipation_request = current_user.has_asked_for_partecipation?(@group.id) %>
      <%end%>
      <% if !@partecipation_request %>
        <%= link_to t('pages.groups.show.ask_partecipate_button'), url_for(:action => "ask_for_partecipation", :controller => "groups", :id => @group.id), :class=>"btn blue editButton" %>
      <%end%>
    </p>

    <%@partecipants.each do |partecipant| %>
	    <%if !@group.portavoce.include? partecipant.user%>
			    <div class="pcontainer">
			        <div class="MoImg24">
			            <%= partecipant.user_image_tag(24) %>
			        </div>
			        <div class="Mo">
			            <%=link_to_user partecipant.user, :full_name => true, :title => partecipant.partecipation_role.name %>
			        </div>
                  <div style="clear:both;"></div>
			    </div>
	    <%end%>
    <%end %>

    <%=link_to t('pages.groups.show.print_all_partecipants'), group_group_partecipations_path(@group, format: :csv), :class => "btn printButton disable"%>
    <%if @group.group_partecipations.count > 5 %>
        <%=link_to t('pages.groups.show.show_all_partecipants', :count => @group.group_partecipations.count), {:controller => "groups", :action => "partecipants_list_panel", :group_id => @group.id}, :remote => true, :class => "btn showAllButton disable"%>
        <div id="partecipants_list_container" title="<%= t('pages.groups.show.partecipants_full_list')%>"></div>
    <%end%>
</p>
<%else %>
<p>
    <b><%= t('pages.groups.show.no_partecipants') %></b>
</p>
<%end %>