<h4><%= @group.admin_title || t('pages.groups.default_admin_title') %></h4>

<% @admins = @group.portavoce %>
<%@admins.includes(:image, :user_type).limit(5).each do |user| %>
    <%= user_tag(user, nil, true, false) %>
<% end %>

<% if @admins.size > 5 %>
    <%= link_to t('pages.groups.show.show_all_admins', :count => @admins.size), group_group_partecipations_url(@group, 'search_partecipant[role_id]' => PartecipationRole::PORTAVOCE), :class => "btn personButton disable" %>
<% end %>


<br/>

<% if @group.group_partecipations.size > 0 %>

    <h4><%= t('pages.groups.show.participants_list') %></h4>

    <% if (can? :accept_requests, @group) %>
        <%= link_to t('pages.groups.show.invite_button'), new_group_invitation_path(:group_id => @group.id), :remote => true, :class => "btn inviteButton disable" %>
        <div id="new_invitation_container"></div>
    <% end %>



    <% if user_signed_in? %>
        <% @partecipation_request = current_user.has_asked_for_partecipation?(@group.id) %>
    <% end %>
    <% if !@partecipation_request %>
        <% if @group.disable_partecipation_requests %>
            <%= eval "#{@group.subdomain}_participation_request" %>
        <% else %>
            <%= link_to t('pages.groups.show.ask_participate_button'), ask_for_partecipation_group_url(@group), :class => "btn blue editButton" %>
        <% end %>
    <% end %>

    <% @partecipants = @group.group_partecipations.includes([{:user => [:image, :user_type]}, :partecipation_role]).limit(5) %>

    <% @partecipants.each do |partecipant| %>
        <% unless partecipant.as_admin? %>
            <div class="pcontainer">
              <div class="MoImg24">
                <%= partecipant.user_image_tag(24) %>
              </div>
              <div class="Mo">
                <%= link_to_user partecipant.user, :full_name => true, :title => partecipant.partecipation_role.name %>
              </div>
              <div style="clear:both;"></div>
            </div>
        <% end %>
    <% end %>

    <% if @partecipants.size > 5 %>
        <%= link_to t('pages.groups.show.show_all_participants', :count => @group.group_partecipations.count), group_group_partecipations_url(@group), :class => "btn personButton disable" %>
    <% end %>

<% else %>
    <p>
      <b><%= t('pages.groups.show.no_participants') %></b>
    </p>
<% end %>