<% if @group.portavoce.include? current_user %>
    <strong><%= t('pages.users.show.admin_permissions') %></strong>
    <ul>
      <%= GroupAction.order(:seq).map { |a| "<li>#{a.description}</li>" }.join('').html_safe %>
    </ul>
<% else %>
    <% if @group.enable_areas && current_user.scoped_areas(@group).count > 0 %>
        <dl class="tabs" data-tab id="permission-tabs">

          <dd class="active">
            <%= link_to t('pages.users.show.group_level_permission_title'), '#group_id' %>
          </dd>
          <% current_user.scoped_areas(@group).each do |area| %>
              <dd><%= link_to area.name, "#area_#{area.id}" %></dd>
          <% end %>
        </dl>
        <div class="tabs-content">
          <div class="content active" id="group_id">
            <strong><%= t('pages.users.show.what_can_i_do') %></strong>
            <ul>
              <li>
                <%= @actions.order(:seq).map { |a| a.description }.join('</li><li>').html_safe %>
              </li>
            </ul>

            <strong><%= t('pages.users.show.what_i_cant_do') %></strong>
            <ul>
              <li>
                <%= GroupAction.where.not(id: @actions.select('group_actions.id')).order(:seq).map { |a| a.description }.join('</li><li>').html_safe %>
              </li>
            </ul>
          </div>
          <% current_user.scoped_areas(@group).each do |area| %>
              <div class="content" id="area_<%= area.id %>">
                <strong><%= t('pages.users.show.what_can_i_do') %></strong>
                <ul>
                  <% area.area_participations.find_by(user_id: current_user.id).area_role.area_actions.order(:seq).each do |group_action| %>
                      <li>
                        <%= group_action.description %>
                      </li>
                  <% end %>
                </ul>

                <strong><%= t('pages.users.show.what_i_cant_do') %></strong>
                <ul>
                  <% GroupAction.where(id: DEFAULT_AREA_ACTIONS).where.not(id: area.area_participations.find_by(user_id: current_user.id).area_role.area_actions.select('group_actions.id')).each do |group_action| %>
                      <li>
                        <%= group_action.description %>
                      </li>
                  <% end %>
                </ul>
              </div>
          <% end %>
        </div>
    <% else %>
        <strong><%= t('pages.users.show.what_can_i_do') %></strong>
        <ul>
          <%= @actions.order(:seq).map { |a| "<li>#{a.description}</li>" }.join('').html_safe %>
        </ul>

        <strong><%= t('pages.users.show.what_i_cant_do') %></strong>
        <ul>
          <%= GroupAction.excluding_ids(@actions.select('group_actions.id').order(:seq)).map { |a| "<li>#{a.description}</li>" }.join('').html_safe %>
        </ul>
    <% end %>
<% end %>
