<table>
  <thead>
  <tr>
    <td rowspan="2"><%= t('pages.groups.edit_quorums.active') %></td>
    <td rowspan="2"><%= t('pages.groups.edit_quorums.name') %></td>
    <td colspan="3"><%='Debate'%></td>
    <td colspan="3"><%='Votation'%></td>
  </tr>
  <tr>
    <td><%= t('pages.groups.edit_quorums.time') %></td>
    <td>
      <%= t('pages.groups.edit_quorums.participants') %>
    </td>
    <td>
      <%= t('pages.groups.edit_quorums.good_percentage') %>
    </td>
    <td><%= t('pages.groups.edit_quorums.time') %></td>
    <td>
      <%= t('pages.groups.edit_quorums.participants') %>
    </td>
    <td><%= 'Percentage' %></td>
  </tr>
  </thead>
  <tbody>
  <% @group.quorums.all.each do |quorum| %>
      <tr valign="top" title="<%= quorum.description %>">
        <td>
          <input type="checkbox" onclick="return change_quorum_status(this,<%=quorum.id%>);"
                 <% if quorum.active %>
                 checked="true"
                 <% end %>
                 />
        </td>
        <td>
          <b><%= quorum.name %>:</b>
        </td>
        <td> <%= quorum.time %>
        <td> <%= desc_percentage(quorum.percentage) %>
        </td>
        <td> <%= quorum.good_score %>%
        </td>
        <td> <%= quorum.vote_time %>
        <td> <%= desc_percentage(quorum.vote_percentage) %>
        </td>
        <td> <%= quorum.vote_good_score %>%
        </td>
        <td>
            <%= link_to "Modifica", edit_group_best_quorum_url(@group, quorum), :remote => true, :title => t('buttons.edit'), :class => "ui-icon ui-icon-pencil", :style=>'float:left' %>
            <%= link_to 'Delete', [@group, quorum], :method => :delete, :remote => true, :confirm => raw(t('pages.groups.edit_quorums.confirm_deletion', quorum: quorum.name)), :title => t('buttons.delete'), :class => "ui-icon ui-icon-trash", :style=>'float:left' %>
        </td>
      </tr>
  <% end %>
  </tbody>
  <thead>
  <tr>
    <td colspan="2"><%='Average values'%></td>
    <td></td>
    <td><%= (@group.statistic.valutations*100 / @group.count_proposals_partecipants).round(2) %>%</td>
    <td><%= @group.statistic.good_score.round(2) %>%</td>
    <td></td>
    <td><%= (@group.statistic.vote_valutations*100 / @group.count_voter_partecipants).round(2) %>%</td>
    <td></td>
  </tr>
  </thead>
</table>

<script type="text/javascript">
    function change_quorum_status(el, quorum_id) {
        if (el.checked) {
            $.ajax({
                data: "active=true"+"&l=<%=I18n.locale%>",
                url: "/groups/" + <%=@group.id%> +"/quorums/" + quorum_id + "/change_status",
                dataType: 'script',
                type: 'post'
            });
        }
        else {
            $.ajax({
                data: "active=false"+"&l=<%=I18n.locale%>",
                url: "/groups/" + <%=@group.id%> +"/quorums/" + quorum_id + "/change_status",
                dataType: 'script',
                type: 'post'
            });
        }
    }
</script>
