<table>
  <thead>
  <tr>
    <td rowspan="2"><%= t('pages.groups.edit_quorums.active') %></td>
    <td rowspan="2"><%= t('pages.groups.edit_quorums.name') %></td>
    <td colspan="3"><%= 'Debate' %></td>
    <td colspan="2"><%= 'Votation' %></td>
  </tr>
  <tr>
    <td><%= t('pages.groups.edit_quorums.time') %></td>
    <td>
      <%= t('pages.groups.edit_quorums.participants') %>
    </td>
    <td>
      <%= t('pages.groups.edit_quorums.good_percentage') %>
    </td>
    <td>
      <%= t('pages.groups.edit_quorums.participants') %>
    </td>
    <td><%= 'Percentage' %></td>
  </tr>
  </thead>
  <tbody>
  <% @group.quorums.each do |quorum| %>
      <tr valign="top" title="<%= quorum.description %>">
        <td>
          <input type="checkbox" data-quorum-check="<%=quorum.id%>"
                 <% if quorum.active %>
                 checked="true"
                 <% end %>
                 />
        </td>
        <td>
          <b><%= quorum.name %>:</b>
        </td>
        <td> <%= quorum.time %>
        <td> <%= desc_percentage(quorum.percentage) %>
        </td>
        <td> <%= quorum.good_score %>%
        </td>
        <td> <%= desc_percentage(quorum.vote_percentage) %>
        </td>
        <td> <%= quorum.vote_good_score %>%
        </td>
        <td>
          <%= link_to edit_group_best_quorum_url(@group, quorum), remote: true,
                      title: t('buttons.edit') do %>
              <i class="fa fa-pencil"></i>
          <% end %>
          <%= link_to [@group, quorum], method: :delete, remote: true,
                      data: {confirm: raw(t('pages.groups.edit_quorums.confirm_deletion', quorum: quorum.name))},
                      title: t('buttons.delete') do %>
              <i class="fa fa-trash"></i>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
