
<table style="text-align: left; font-size: 12px">
	<tr style="background-color: #E3E9F9" valign="top">
		<td ><b>Default</b></td>
		<td ><b>Ruolo</b></td>
		<td ><b>Descrizione</b></td>
		
		<% GroupAction.all.each do |action|%>
		<td  ><b><%=action.description%></b></td>
		<%end%>
		
	</tr>
	<tbody>
<%
PartecipationRole.common.each do |role|
abilitations = role.action_abilitations.by_group(@group).all
%>
	<tr valign="top">
			<td>
				<%if (role.id != 2)%>
				<input name="predef" type="radio" value="<%=role.id%>" onclick="return change_default_role(<%=role.id%>);" <%if (role.id==@group.partecipation_role_id)%> checked="true" <%end%>> </td>
				<%end%>
			<td>
				<b><%=role.name%>:</b>
				</td>
				<td> <%=role.description%>	
					</td>
				<% GroupAction.all.each do |action|%>
					<td><input type="checkbox" onclick="return change_permission_block(this,<%=role.id%>,<%=action.id%>);"
						<%if (abilitations.find{|a| a.group_action_id == action.id} || (role.id == 2))%> 
						checked="true"
						<%end%>
						disabled="disabled"
						title="Non puoi modificare questi permessi"
						/></td>
				<%end%>	
					
		</tr>
<%end%>
	<%@group.partecipation_roles.each do |role|
	abilitations = role.action_abilitations.by_group(@group).all%>
		<tr valign="top" style="border-bottom: 1px dotted grey">
			<td><input name="predef" type="radio" value="<%=role.id%>" onclick="return change_default_role(<%=role.id%>);"  <%if (role.id==@group.partecipation_role_id)%> checked="true" <%end%>></td>
			<td>
				<b><%=role.name%>:</b>
				</td>
				<td> <%=role.description%>	
					</td>
					<% GroupAction.all.each do |action|%>
						<td><input type="checkbox" onclick="return change_permission_block(this,<%=role.id%>,<%=action.id%>);"
							<%if (abilitations.find{|a| a.group_action_id == action.id})%> 
						checked="true"
						<%end%>
							 /></td>
					<%end%>	
					
					<td><%if (role.id!=@group.partecipation_role_id)%><%= link_to "X", partecipation_role_path(role), :method => :delete, :remote => true, :confirm => "Sei sicuro di voler eliminare questo ruolo?" %><%end%></td>
		</tr>
	<%end%>
	</tbody>
</table>