<table class="table_list">
  <thead class="table_header">
  <th>Ruolo</th>
  <th>Descrizione</th>

  <% GroupAction.order(:seq).each do |action| %>
      <th><%= action.description %></th>
  <% end %>

  </thead>
  <tbody>

  <% @group.partecipation_roles.each do |role|
    abilitations = role.action_abilitations.by_group(@group).all %>
      <tr valign="top" style="border-bottom: 1px dotted grey; <%='background-color: #EAEBFF' if (role.id == @group.partecipation_role_id)%>">
        <td>
          <%= role.name %>
        </td>
        <td> <%= role.description %>
        </td>
        <% GroupAction.order(:seq).each do |action| %>
            <td><input type="checkbox" onclick="return change_permission_block(this,<%=role.id%>,<%=action.id%>);"
                       <% if (abilitations.find { |a| a.group_action_id == action.id }) %>
                       checked="true"
                       <% end %>
                       /></td>
        <% end %>

        <td>
          <% if (role.id != @group.partecipation_role_id) %>
              <%= link_to "X", partecipation_role_path(role), :method => :delete, :remote => true, :confirm => "Sei sicuro di voler eliminare questo ruolo?" %>
          <% end %>
          <%= link_to "Modifica", edit_partecipation_role_path(role), :remote => true %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>