<dl id="roles_accordion" class="accordion" data-accordion>
  <dd>
  <% @group.partecipation_roles.each do |role|
    abilitations = role.action_abilitations.by_group(@group).all %>
          <a href="#<%=role.id%>"><%= role.name %>
            <% if (role.id == @group.partecipation_role_id) %> (default)
            <% end %>
          </a>

        <div id="<%= role.id %>" class="content">
          <% if (role.id != @group.partecipation_role_id) %>
              <%= link_to t('buttons.delete'), partecipation_role_path(role), :method => :delete, :remote => true, :class => 'btn deleteButton', style: 'float:right', :confirm => t('pages.groups.edit_permissions.confirm_role_deletion') %>
          <% end %>
          <%= link_to t('buttons.edit'), edit_partecipation_role_path(role), :class => 'btn editButton', style: 'float:right', :remote => true %>
          <h4><%= role.description %></h4>
          <% GroupAction.order(:seq).each do |action| %>
              <input type="checkbox" onclick="return change_permission_block(this,<%=role.id%>,<%=action.id%>);"
                     <% if (abilitations.find { |a| a.group_action_id == action.id }) %>
                     checked="true"
                     <% end %>
                     />
              <span><%= action.description %></span> <br/>
          <% end %>

        </div>
  <% end %>
  </dd>
</dl>
<script>
    $(function () {
        //$( "#roles_accordion" ).accordion();
        disegnaBottoni();
    });
</script>