<div id="rules_modal" class="reveal-modal" data-reveal role="dialog">
  <h2><%= t('pages.groups.show.rules_button') %></h2>
  <% if @group.rule_book && !@group.rule_book.empty? %>
      <%= raw @group.rule_book %>
  <% else %>
      <div><%= t('pages.groups.show.rule_book_html') %>
        <ul>
          <li>Participation:</li>
          <% if @group.request_by_vote? %>
            <%= t('pages.groups.show.request_by_vote_rules') %>
          <% elsif @group.request_by_portavoce? %>
            <%= t('pages.groups.show.request_by_spokesman_rules') %>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>
