<% if @group.group_partecipations.count > 1 %>
    <table id="roles_table">
      <thead>
      <th><%= t('pages.groups.edit_permissions.user_title') %></th>
      <th><%= t('pages.groups.edit_permissions.role_title') %></th>
      <th></th>
      </thead>
      <tbody>
      <% @group.group_partecipations.includes(:user, :partecipation_role).each do |gp| %>
          <% if gp.user != current_user %>
              <tr>
                <td>
                  <%= gp.user.user_image_tag 16 %>
                  <%= link_to gp.user.fullname, gp.user %>
                </td>
                <td>
                  <%= select_tag "user_role", options_from_collection_for_select([OpenStruct.new({id: PartecipationRole::PORTAVOCE, name: @group.admin_title || t('pages.groups.default_admin_title')})] + @group.partecipation_roles, :id, :name, gp.partecipation_role.id), "data-user_id" => gp.user.id, :class => "user_role_changer" %>
                </td>
                <td>
                  <%= link_to t('pages.groups.edit_permissions.remove_user'), group_group_partecipation_path(@group,gp), :method => :delete, :class => "btn trashButton" , confirm: t('pages.groups.edit.remove_user_confirm', name: gp.user.fullname) if can? :destroy, gp%>
                </td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
<% else %>
    <h4><%= t('pages.groups.edit_permissions.no_users_yet') %></h4>
<% end %>