<%@page_title = t("pages.groups.edit_proposals.title")%>     
<%=render :layout => "layouts/page_title", :locals => {:title => t('pages.groups.edit_proposals.title')} do%>

<%end%>

<div id="quorum_panel_container">
<%= render :partial => 'groups/quorums_panel' %>
</div>

<%=link_to 'Aggiungi un nuovo quorum', new_group_quorum_url(@group), :remote => true, :class=>"btn blue newButton disable"%>

<div id="new_quorum_container" title="Nuovo quorum" style="display: none; font-size: 14px;">
</div>

<div id="edit_quorum_container" title="Modifica quorum" style="display: none; font-size: 14px;">
</div>

<br />
<h2><%= 'Parametri di configurazione proposte' %></h2>
<%=check_box :group, :default_anonima, :onclick=>"return change_default_anonima(this);"%><%= 'Anonimato temporaneo attivo' %><br />
<%=check_box :group, :default_visible_outside, :onclick=>"return change_default_visible_outside(this);"%><%= "Proposte visibili all'esterno" %><br />
<%=check_box :group, :default_secret_vote, :onclick=>"return change_default_secret_vote(this);"%><%= 'Voto segreto' %><br />
<hr>
<%=check_box :group, :change_advanced_options, :onclick=>"return change_advanced_options(this);"%> <%= 'Permetti ai redattori di scegliere liberamente le opzioni sopraindicate' %><br />

<script type="text/javascript">
	function change_default_anonima(el) {
		var active = (el.checked) ? "true" : "false";
		$.ajax({
        	data: "active="+active,
        	url: "/groups/" + <%=@group.id%>  + "/change_default_anonima",     
            dataType: 'script',
        	type: 'post'    
        });
	}
	
	function change_default_visible_outside(el) {
		var active = (el.checked) ? "true" : "false";
		$.ajax({
        	data: "active="+active,
        	url: "/groups/" + <%=@group.id%>  + "/change_default_visible_outside",     
            dataType: 'script',
        	type: 'post'    
        });
	}

    function change_default_secret_vote(el) {
        var active = (el.checked) ? "true" : "false";
        $.ajax({
            data: "active="+active,
            url: "/groups/" + <%=@group.id%>  + "/change_default_secret_vote",
            dataType: 'script',
            type: 'post'
        });
    }

	function change_advanced_options(el) {
		var active = (el.checked) ? "true" : "false";
		$.ajax({
        	data: "active="+active,
        	url: "/groups/" + <%=@group.id%>  + "/change_advanced_options",     
            dataType: 'script',
        	type: 'post'    
        });
	}
	$(function() {

		$('#addQuorum').click(function() {
			$('#new_quorum').dialog({
				width: 500,
				height: 'auto',
				modal : true,
				resizable: false,
				close : function(event, ui) {
					$('#new_quorum').dialog('destroy');			
				}
			});
		});		
			
		$('#quorum_table').dataTable( {
	        "oLanguage": {
	            "sLengthMenu": "Mostra _MENU_ quorum per pagina",
	             "sSearch": "Cerca:",
	            "sZeroRecords": "Nessun quorum, spiacente..",
	            "sInfo": "Sto mostrando da _START_ a _END_ di _TOTAL_ quorum",
	            "sInfoEmpty": "Sto mostrando 0 quorum",
	            "sInfoFiltered": "(filtrati da un totale di _MAX_ quorum)",
	            "oPaginate": {
			        "sPrevious": "Pagina precedente",
			        "sNext": "Pagina successiva"
			      }
	        },
	        "aoColumns": [null,{ "bSortable": false }]  
	    });
	    
	    $('#roles_table_wrapper label').css("font-weight","normal").css("font-size","12px");	     
	});
	
	function hideNewQuorumPanel() {
    	console.log('hei');
        $('#new_quorum_container').dialog('destroy');
        $('#new_quorum_container').empty();
    }

    function hideEditQuorumPanel() {
        console.log('hei');
        $('#edit_quorum_container').dialog('destroy');
        $('#edit_quorum_container').empty();
    }

</script>
                
<%=content_for :left_panel do%>
	<%= render :partial => 'groups/administration_panel' %>

<%end%>
