     
<%=render :layout => "layouts/page_title", :locals => {:title => t('pages.groups.edit_permissions.title')} do%>
	<a href="#" class="newButton" id="addRole">Aggiungi un nuovo ruolo</a>
<%end%>

<div id="roles_panel_container">
<%= render :partial => 'groups/roles_panel' %>
</div>

<div id="new_role" title="Nuovo ruolo" style="display: none">
	<%
	role = PartecipationRole.new(:group_id => @group.id)%>
	<%=form_for role, :remote => true do |f|%>
		<%=f.hidden_field :group_id%>	
		<p>
		<%=f.label :name%>	<br />
		<%=f.text_field :name%>
		</p>
		<p>
		<%=f.label :description%>	<br />
		<%=f.text_field :description%>
		</p>
		<%=f.submit 'Crea'%>
	<%end%>
</div>
<p>
	<b>Attenzione! I permessi ed i ruoli personalizzati non sono ancora disponibili.</b>
</p>
<script type="text/javascript">
	$(function() {
		$('#addRole').click(function() {
			$('#new_role').dialog({
				modal : true,
				close : function(event, ui) {
					$('#new_role').dialog('destroy');			
				}
			});
		});
	});
	
	function change_permission_block(el,role_id,action_id){
    	if (el.checked) {
    		$.ajax({
	        	data: "action_id="+action_id+"&role_id="+role_id+"&group_id=<%=@group.id%>&block=false",
	        	url: "/partecipation_roles/change_group_permission",     
	            dataType: 'script',
	        	type: 'post'    
	        });
    	}
    	else {
	        $.ajax({
	        	data: "action_id="+action_id+"&role_id="+role_id+"&group_id=<%=@group.id%>&block=true",
	        	url: "/partecipation_roles/change_group_permission",     
	            dataType: 'script',
	        	type: 'post'    
	        });
	       }
    }
    
    
    function hideNewRolePanel() {
    	console.log('hei');
    	$('#new_role').dialog('destroy');
    }
	
	
</script>
                
<%=content_for :left_panel do%>
	<%= render :partial => 'groups/administration_panel' %>

<%end%>
