<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDtW03LI8FjTNde4lliYapacbJrtAXQ6w8&sensor=false">
      </script>
      
      
<%=render :layout => "layouts/page_title", :locals => {:title => t('pages.groups.edit_events.title')} do%>
	<%=link_to 'Crea un nuovo evento', new_event_group_path(@group),:remote => true, :class=>"newButton" %>
<%end%>
                <div>
                    <div id='calendar' style="width:500px">
                    </div>
                </div>
                <div id = "desc_dialog" style ="display:none;">
                    <div id = "event_desc">
                    </div>
                    <br/>
                    <br/>
                    <div id = "event_actions">
                        <span id = "edit_event"></span>
                        <span id = "delete_event"></span>
                    </div>
                </div>
                <div id = "create_event_dialog" style ="display:none;">
                    <div id = "create_event">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

             
<script>
                       
    $(function(){
    	<%if params[:new_event] == 'true' %>
    		$('.newButton').click();
    	<%end%>
        // page is now ready, initialize the calendar...
        $('#calendar').fullCalendar({
            editable: true,
            <%if (!is_admin? && current_user != (@group.portavoce rescue nil)) %>
            	disableDragging: true,
            	disableResizing: true,
        	<%end%>
            
            header: {
                right: 'prev,today,next ',
                left: 'title',                                
            },
            defaultView: 'month',
            height: 300,
            aspectRatio: 1,
            slotMinutes: 15,
            firstDay: 1,
            loading: function(bool){
                if (bool) 
                    $('#loading').show();
                else 
                    $('#loading').hide();
            },
            events: '<%=get_events_group_url%>',
            timeFormat: 'h:mm t{ - h:mm t} ',
            dragOpacity: "0.5",
            eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc){
                //              if (confirm("Are you sure about this change?")) {
                moveEvent(event, dayDelta, minuteDelta, allDay);
                //              }
                //              else {
                //                  revertFunc();
                //              }
            },
            
            eventResize: function(event, dayDelta, minuteDelta, revertFunc){
                //              if (confirm("Are you sure about this change?")) {
                resizeEvent(event, dayDelta, minuteDelta);
                //              }
                //              else {
                //                  revertFunc();
                //              }
            },

            eventClick: function(event, jsEvent, view){
                showEventDetails(event);
            },
            dayClick: function(date, allDay, jsEvent, view) {
            	 jQuery.ajax({
				        data: 'date=' + date,
				        dataType: 'script',
				        type: 'get',
				        url: '<%=new_event_group_url(@group)%>'
				    });
            },
        
         eventRender: function(event, element) {
	        if (event.editable) {
	           element.css('cursor', 'pointer');
	        }
	    },
        
        
        });
        
      
        
    });
</script>

<%=content_for :left_panel do%>
	<%= render :partial => 'groups/administration_panel' %>

<%end%>
