     
<%=render :layout => "layouts/page_title", :locals => {:title => t('pages.groups.edit_permissions.title')} do%>
	<a href="#" class="newButton" id="addRole">Aggiungi un nuovo ruolo</a>
<%end%>

<table style="text-align: left">
	<thead>
		
		<th>Ruolo</th>
		<th>Descrizione</th>
		
		<% GroupAction.all.each do |action|%>
		<th><%=action.description%></th>
		<%end%>
		
	</thead>
	<tbody>
<%


PartecipationRole.common.each do |role|
abilitations = role.action_abilitations.by_group(@group).all%>
	<tr>
			<td>
				<b><%=role.name%>:</b>
				</td>
				<td> <%=role.description%>	
					</td>
				<% GroupAction.all.each do |action|%>
					<td><input type="checkbox" onclick="return change_permission_block(this,<%=role.id%>,<%=action.id%>);"
						<%if (abilitations.find{|a| a.group_action_id == action.id} || (role.id == 2))%> 
						checked="true"
						<%end%>
						disabled="disabled"
						title="Non puoi modificare questi permessi"
						/></td>
				<%end%>	
					
		</tr>
<%end%>
	<%@group.partecipation_roles.each do |role|
	abilitations = role.action_abilitations.by_group(@group).all%>
		<tr>
			<td>
				<b><%=role.name%>:</b>
				</td>
				<td> <%=role.description%>	
					</td>
					<% GroupAction.all.each do |action|%>
						<td><input type="checkbox" onclick="return change_permission_block(this,<%=role.id%>,<%=action.id%>);"
							<%if (abilitations.find{|a| a.group_action_id == action.id})%> 
						checked="true"
						<%end%>
							 /></td>
					<%end%>	
					
					<td>
						<%= link_to "X", partecipation_role_path(role), :method => :delete, :remote => true, :confirm => "Sei sicuro di voler eliminare questo ruolo?" %>
					</td>
		</tr>
	<%end%>
	</tbody>
</table>

<div id="new_role" title="Nuovo ruolo" style="display: none">
	<%
	role = PartecipationRole.new(:group_id => @group.id)%>
	<%=form_for role, :remote => true do |f|%>
		<%=f.hidden_field :group_id%>	
		<p>
		<%=f.label :name%>	<br />
		<%=f.text_field :name%>
		</p>
		<p>
		<%=f.label :description%>	<br />
		<%=f.text_field :description%>
		</p>
		<%=f.submit 'Crea'%>
	<%end%>
</div>
<p>
	<b>Attenzione! I permessi ed i ruoli personalizzati non sono ancora disponibili.</b>
</p>
<script type="text/javascript">
	$(function() {
		$('#addRole').click(function() {
			$('#new_role').dialog({
				modal : true,
				close : function(event, ui) {
					$('#new_role').dialog('destroy');			
				}
			});
		});
	});
	
	function change_permission_block(el,role_id,action_id){
    	if (el.checked) {
    		$.ajax({
	        	data: "action_id="+action_id+"&role_id="+role_id+"&group_id=<%=@group.id%>&block=false",
	        	url: "/partecipation_roles/change_group_permission",     
	            dataType: 'script',
	        	type: 'post'    
	        });
    	}
    	else {
	        $.ajax({
	        	data: "action_id="+action_id+"&role_id="+role_id+"&group_id=<%=@group.id%>&block=true",
	        	url: "/partecipation_roles/change_group_permission",     
	            dataType: 'script',
	        	type: 'post'    
	        });
	       }
    }
	
	
</script>
                
<%=content_for :left_panel do%>
	<%= render :partial => 'groups/administration_panel' %>

<%end%>
