<% @page_title = t("pages.groups.edit_proposals.title") %>
<%= render :layout => "layouts/page_title", :locals => {:title => t('pages.groups.edit_proposals.title')} do %>

<% end %>

<div id="quorum_panel_container">
  <%= render :partial => 'groups/quorums_panel' %>
</div>

<%= link_to t('pages.groups.edit_quorums.add_quorum'), new_group_best_quorum_url(@group), :remote => true, :class => "btn blue newButton disable" %>
<br/>
<h2><%= t('pages.groups.edit_quorums.configure_proposal_parameters') %></h2>
<%= check_box :group, :default_anonima, :onclick => "return change_default_anonima(this);" %><%= t('pages.groups.edit_quorums.default_anonymous_proposal') %><br />
<%= check_box :group, :default_visible_outside, :onclick => "return change_default_visible_outside(this);" %><%= t('pages.groups.edit_quorums.default_private_proposal') %><br />
<%= check_box :group, :default_secret_vote, :onclick => "return change_default_secret_vote(this);" %><%= t('pages.groups.edit_quorums.default_secret_vote') %><br />
<hr>
<%= check_box :group, :change_advanced_options, :onclick => "return change_advanced_options(this);" %> <%= t('pages.groups.edit_quorums.let_editor_change_settings') %><br />

<script type="text/javascript">
    function change_default_anonima(el) {
        var active = (el.checked) ? "true" : "false";
        $.ajax({
            data: "active=" + active + "&l=<%=I18n.locale%>",
            url: "<%=change_default_anonima_group_url(@group)%>",
            dataType: 'script',
            type: 'post'
        });
    }

    function change_default_visible_outside(el) {
        var active = (el.checked) ? "true" : "false";
        $.ajax({
            data: "active=" + active + "&l=<%=I18n.locale%>",
            url: "<%=change_default_visible_outside_group_url(@group)%>",
            dataType: 'script',
            type: 'post'
        });
    }

    function change_default_secret_vote(el) {
        var active = (el.checked) ? "true" : "false";
        $.ajax({
            data: "active=" + active + "&l=<%=I18n.locale%>",
            url: "<%=change_default_secret_vote_group_url(@group)%>",
            dataType: 'script',
            type: 'post'
        });
    }

    function change_advanced_options(el) {
        var active = (el.checked) ? "true" : "false";
        $.ajax({
            data: "active=" + active + "&l=<%=I18n.locale%>",
            url: "<%=change_advanced_options_group_url(@group)%>",
            dataType: 'script',
            type: 'post'
        });
    }

    $(function () {

        $('#addQuorum').click(function () {
            $('#new_quorum').dialog({
                width: 500,
                height: 'auto',
                modal: true,
                resizable: false,
                close: function (event, ui) {
                    $('#new_quorum').dialog('destroy');
                }
            });
        });
    });

    function hideNewQuorumPanel() {
        $('#new_quorum_container').dialog('destroy');
        $('#new_quorum_container').empty();
    }

    function hideEditQuorumPanel() {
        $('#edit_quorum_container').dialog('destroy');
        $('#edit_quorum_container').empty();
    }

</script>

<%= content_for :left_panel do %>
    <%= render :partial => 'groups/administration_panel' %>

<% end %>
