<%@page_title = t('pages.groups.index.title') %>
<%=render :layout => "layouts/page_title", :locals => {:title => t('pages.groups.index.title')} do%>
	<%= link_to 'Crea un nuovo gruppo', new_group_path, :class => "newButton"  %>
<%end%>
<br /><br />
<script>
	$(function() {
		$('#search_group').change(function() {
			console.log('searching...');
		});
	});
</script>
<!--
<p>
	<label for="search_group">Cerca un gruppo di tuo interesse</label>
	<input type="text" id="search_group" />
</p>
-->
<% @groups.each do |group| %>
<%=render :partial => "group_tag", :locals => {:group => group}%>
<%end%> 

<script type="text/javascript">
	$(function() {
		disegnaBottoni();
		
	});

</script>



<%=content_for :left_panel do%>
	<%= render :partial => 'users/user_groups_panel' %>


<%end%>
