<%=render :layout => "layouts/page_title", :locals => {:title => t('pages.groups.index.title')} do%>
	<%= link_to 'Crea un nuovo gruppo', new_group_path, :class => "newButton" if current_user %>
<%end%>
<br /><br />
<% @groups.each do |group| %>
<div class="groupListContainer">
	<div class="groupUserImage">
		<img src="http://www.gravatar.com/avatar/2cce45bcf6c3272c1940a020cd037977?s=50">		
	</div>
	<div class="groupName">
		<h3><%= link_to group.name, group %></h3>
	</div>
	<div class="groupDescription">
		
	</div>
	<div class="groupFooter">
		<%= link_to 'Modifica', edit_group_path(group), :class => 'editButton littleText' if (is_admin?)%>
		<%= link_to 'Cancella', group, :confirm => 'Sei sicuro di voler eliminare questo gruppo?', :method => :delete, :class => 'deleteButton littleText' if (is_admin?)%>	
	</div>
	<div style="clear: both"></div>
</div>
<%end%> 

<script type="text/javascript">
	$(function() {
		disegnaBottoni();
		
	});

</script>



<%=content_for :left_panel do%>
	<%= render :partial => 'users/user_groups_panel' %>


<%end%>