<% @page_title = t('pages.groups.index.title') %>

<p>
  <%= form_for groups_path, :html => {:class => "disableForm"}, :method => 'get', :remote => true do |f| %>
      <%= f.label t('pages.groups.index.find_group_label') %>
      <%= text_field_tag :search, params[:search], :title => t('pages.groups.index.find_title') %>
      <%= f.submit t('pages.groups.index.find_button'), :class => 'btn searchButton disable' %>
  <% end %>

</p>

<div id="groups_list">

  <%= render :partial => "group_tag", :collection => @groups, :as => :group %>
  <div style="clear: both"></div>
</div>
<div id="more_groups_container">
<%= render :partial => 'more_groups' %>
</div>

<%= content_for :left_panel do %>
    <div class="mybox">
      <% if ::Configuration::open_space_proposals %>
      <%= link_to t('pages.groups.index.open_space_button'), proposals_path, :class => "btn forwardButton" %>
      <% end %>
      <%if !current_user || (can? :create, Group) %>
          <%= link_to t('pages.groups.index.create_group_button'), new_group_path, :class => "btn blue newButton" %>
      <%else%>
          <%= 'Puoi creare al massimo un gruppo al giorno' %>
      <%end%>
    </div>
    <%= render :partial => 'users/user_groups_panel' %>
<% end %>
