<% @extend=true %>
<% @page_title = t('pages.groups.index.title') %>
<h1><%= t('pages.groups.index.find_group_label') %></h1>
<div class="row full-width">
  <div class="row">
    <div class="columns large-6" id="group_search_form">
      <div class="card">
        <%= render 'groups/search_form' %>
      </div>
    </div>
    <div class="columns large-6 show-for-large-up">
      <div data-tag-cloud class="card">
        <% @tags.each do |tag| %>
            <%= link_to tag.text, groups_url(tag: tag.text), remote: true, rel: tag.groups_count, class: 'round label' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @groups.count > 0 %>
    <ul id="groups_list" class="small-block-grid-1 large-block-grid-2 xlarge-block-grid-3 xxlarge-block-grid-4">
      <%= render partial: "group_tag", collection: @groups, as: :group %>
    </ul>
<% else %>
    <h2><%= t('pages.groups.index.search_description') %></h2>
<% end %>
<div id="more_groups_container">
  <%= render partial: 'more_groups' %>
</div>

<%= content_for :left_panel do %>
    <div class="mybox">
      <% if !current_user || (can? :create, Group) %>
          <%= link_to new_group_path, class: "btn blue" do %>
              <i class="fa fa-plus"></i>
              <%= t('pages.groups.index.create_group_button') %>
          <% end %>
      <% else %>
          <%= t('pages.groups.index.limit_reached') %>
      <% end %>
    </div>
    <%= render partial: 'users/user_groups_panel' %>
<% end %>


<script type="text/javascript">

    $('#interest_border').tokenInput("<%=interest_borders_path(format: :json )%>", {
        crossDomain: false,
        prePopulate: $('#interest_border').data("pre"),
        hintText: "<%=t('interest_borders.hint')%>",
        noResultsText: "<%=t('interest_borders.no_place_found')%>",
        searchingText: "<%=t('interest_borders.searching')%>",
        preventDuplicates: true,
        tokenLimit: 1,
        allowTabOut: true
    });


    function checkCharacters() {
        if (($('#search').val().length > 2) || ($('#interest_border').val() != '')) {
            return true;
        }
        else {
            alert('<%=t('pages.groups.index.insert_query_or_place')%>');
            return false;
        }
    }

    var everPushedSomething = false;
    var initialUrl = location.href;

    $(window).bind('popstate', function (event) {
        var onloadPop = !everPushedSomething && location.href == initialUrl;
        everPushedSomething = true;
        if (onloadPop) {
            return;
        }
        $.getScript(addQueryParam(location.href, 'back', 'true'));
    });

    $("#area").switchButton({
        checked: <%=params[:area] == 'on' %>,
        on_label: $('<div class="switch_opt s_circle"></div>'),
        off_label: $('<div class="switch_opt s_circle"><div class="i_circle"></div></div>'),
        on_title: '<%=t('pages.groups.index.switchButton.exact_border')%>',
        off_title: '<%=t('pages.groups.index.switchButton.area_border')%>'
    });

    $("#and").switchButton({
        checked: <%=params[:and] == 'on' %>,
        on_label: $('<div class="switch_opt">&</div>'),
        off_label: $('<div class="switch_opt">||</div>'),
        on_title: '<%=t('pages.groups.index.switchButton.all_words')%>',
        off_title: '<%=t('pages.groups.index.switchButton.one_word')%>'
    });

    $('.switch-button-label.on, .switch-button-label.off').qtip({
        prerender: true,
        position: {
            at: 'top center',
            my: 'bottom center',
            viewport: $(window),
            effect: false
        },
        style: {
            classes: 'qtip-dark'
        }
    });
</script>
