<%@page_title = t('pages.groups.index.title') %>


<div style="float:left; margin-top: 16px;">
  <%= link_to t('pages.groups.index.open_space_button'), proposals_path, :class => "forwardButton"  %>
</div>

<div style="float:right; margin-top: 16px;">
  <%= link_to t('pages.groups.index.create_group_button'), new_group_path, :class => "newButton"  %>
</div>

<div style="clear: both;"></div>

<br /><br />


<p>
	<%= form_for groups_path, :html => {:class=>"disableForm"}, :method => 'get', :remote => true do |f| %>
		<%=f.label t('pages.groups.index.find_group_label') %>
		<%=text_field_tag :search, params[:search], :title=> t('pages.groups.index.find_title') %>
		<%= submit_tag t('pages.groups.index.find_button'), :class=> 'searchButton disableButton', :id=>"search_button"%>
	<%end%>
	
</p>

<div id="groups_list">
<% @groups.each do |group| %>
<%=render :partial => "group_tag", :locals => {:group => group}%>
<%end%> 
</div>


<%=content_for :left_panel do%>
	<%= render :partial => 'users/user_groups_panel' %>


<%end%>
