<% @extend=true %>
<% @page_title = t('pages.groups.index.title') %>
<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= MAPS_API_KEY %>&sensor=false"></script>
<script type="text/javascript">
    var geocoder;
    var map;
    $(function () {
        if (!geocoder) {
            geocoder = new google.maps.Geocoder();
        }

        var myOptions = {
            zoom : 5,
            center: new google.maps.LatLng(41.77275,14.95214),
            mapTypeId : google.maps.MapTypeId.ROADMAP,
            panControl : true,
            streetViewControl : true,
            mapTypeControl : false
        };


        map = new google.maps.Map(document.getElementById('map'), myOptions);


        google.maps.event.addListener(map, 'center_changed', listenCenterChanged);
        /*geocoder.geocode({
                    'address': 'Italy'
                },
                function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        posizionaMappa(results[0].geometry.location, results[0].geometry.viewport);
                        listenMarkerPosition();
                    }
                    else if (status == google.maps.GeocoderStatus.ZERO_RESULTS) {
                        alert('Spiacente ma non riesco a trovare l\'indirizzo. Prova a cambiarlo...');
                    }
                    else {
                        alert("Impossibile utilizzare il geocoder di Google: " + status);
                    }
                });

        var center = latlng;


        //noinspection JSUnresolvedVariable
        var myOptions = {
            zoom: zoom,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            panControl: false,
            streetViewControl: false,
            mapTypeControl: true,
            draggable: true
        };

       # map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);

        marker = new google.maps.Marker({
            map: map,
            position: latlng,
            draggable: false
        });         */
    });
</script>

<div id="map" style="width:100%;height: 340px;">

</div>
-->

<h1><%= t('pages.groups.index.find_group_label') %></h1>
<!--<div style="float:left; width: 462px; margin-right: 5px;" id="group_search_form">-->
<div style="max-width: 600px;" id="group_search_form">
  <fieldset style="margin-right:10px;">
    <legend><%= t('pages.groups.index.search_mask')%></legend>
    <%= form_for groups_path, :html => {:class => "disableForm"}, :method => 'get', :remote => true do |f| %>
        <p>
          <%= f.label t('buttons.search'), t('pages.groups.index.search_with_query') %>               <br/>
          <%= text_field_tag :search, params[:search], :title => t('pages.groups.index.find_title'), style: 'width:300px' %>
        </p>

        <p>
          <%= f.label :interest_border, t('pages.groups.index.search_with_place') %>      <br/>

        <div style="float:left">
          <%= text_field_tag :interest_border, params[:interest_border], :title => t('pages.groups.index.find_title'), "data-pre" => ([@interest_border].to_json if @interest_border) %>
        </div>
        <div style="float:left;margin-left:10px;">
          <%= check_box_tag :area, params[:area], :title => "Scegli se cercare in maniera precisa o all'interno dell'area indicata" %>
        </div>
        </p>
        <div class="clearboth"></div>
        <%= f.button t('pages.groups.index.find_button'), onclick: 'return checkCharacters();', :class => 'btn searchButton', disable_with: t('loading') %>
    <% end %>
  </fieldset>
</div>
<!--<div style="float:left; width: 452px">
  <fieldset>
    <legend><%= t('pages.groups.index.tags')%></legend>
    <div id="tag_cloud">
      <% @tags.each do |tag| %>
          <%= link_to tag.text, groups_url(tag: tag.text), remote: true, rel: tag.groups_count %>
      <% end %>
    </div>
  </fieldset>
</div>
<div class="clearboth"></div>
-->



<div id="groups_list">
  <%if @groups.count > 0 %>
  <%= render :partial => "group_tag", :collection => @groups, :as => :group %>
      <%else %>
  <h2><%= t('pages.groups.index.search_description') %></h2>
      <%end%>
  <div style="clear: both"></div>
</div>
<div class="clearboth"></div>
<div id="more_groups_container">
  <%#= render :partial => 'more_groups' %>
</div>

<%= content_for :left_panel do %>
    <div class="mybox">
      <% if ::Configuration::open_space_proposals %>
          <%= link_to t('pages.groups.index.open_space_button'), proposals_path, :class => "btn forwardButton" %>
      <% end %>
      <% if !current_user || (can? :create, Group) %>
          <%= link_to t('pages.groups.index.create_group_button'), new_group_path, :class => "btn blue newButton" %>
      <% else %>
          <%= 'Puoi creare al massimo un gruppo al giorno' %>
      <% end %>
    </div>
    <%= render :partial => 'users/user_groups_panel' %>
<% end %>



<script type="text/javascript">
    $.fn.tagcloud.defaults = {
        size: {start: 12, end: 24, unit: 'pt'},
        color: {start: '#000', end: '#bbb'}
    };

    $(function () {
        $('#tag_cloud a').tagcloud();

        $('#interest_border').tokenInput("<%=interest_borders_path(format: :json )%>", {
            crossDomain: false,
            prePopulate: $('#interest_border').data("pre"),
            hintText: "<%=t('interest_borders.hint')%>",
            noResultsText: "<%=t('interest_borders.no_place_found')%>",
            searchingText: "<%=t('interest_borders.searching')%>",
            preventDuplicates: true,
            tokenLimit: 1,
            allowTabOut: true
        });

    });


    function checkCharacters() {
        if (($('#search').val().length > 2) || ($('#interest_border').val() != '')) {
            return true;
        }
        else {
            alert('<%=t('pages.groups.index.insert_query_or_place')%>');
            return false;
        }
    }

    var everPushedSomething = false;
    var initialUrl = location.href;

    $(window).bind('popstate', function (event) {
        var onloadPop = !everPushedSomething && location.href == initialUrl;
        everPushedSomething = true;
        if (onloadPop) {
            return;
        }
        $.getScript(addQueryParam(location.href, 'back', 'true'));
    });

    $("#area").switchButton({
        checked: <%=params[:area] == 'on' %>,
        on_label: $('<div class="s_circle"></div>'),
        off_label: $('<div class="s_circle"><div class="i_circle"></div></div>'),
        on_title: 'Ricerca esatta: cerca tutti i gruppi che hanno indicato questo confine geografico',
        off_title: 'Ricerca di area: cerca tutti i gruppi presenti all\'interno di questo confine geografico'
    });

    $('.switch-button-label.on, .switch-button-label.off').qtip({
        prerender: true,
        position: {
            at: 'top center',
            my: 'bottom center',
            viewport: $(window),
            effect: false
        },
        style: {
            classes: 'qtip-dark'
        }
    });

</script>
