<% @extend=true %>
<% @page_descr = CGI::escapeHTML(strip_tags @group.description)%>
<% javascript 'endless_page' %>

<%= content_for :head do %>
    <meta property="og:url" content="<%= current_url %>"/>
    <meta property="og:site_name" content="<%= ENV['APP_LONG_NAME'] %>"/>
    <meta property="fb:app_id" content="<%= ENV['FACEBOOK_APP_ID'] %>"/>
    <meta property="og:title" content="<%= @group.name %>"/>
    <meta property="og:type" content="airesis:group"/>
    <meta name="description" content="<%= @page_descr %>">
    <meta property="og:image" content="<%= @group.image.exists? ? @group.image.url : asset_url('gruppo-anonimo.png')%>"/>
    <meta property="og:description" content="<%= @page_descr %>"/>
    <%= auto_discovery_link_tag(:atom, group_url(@group, format: 'atom')) %>
<% end %>

<% if can? :view_data, @group %>
    <% javascript 'endless_page' %>
    <div class="row full-width">
      <div class="row">
        <div class="columns medium-12 large-8">
          <% if params[:action] == 'by_year_and_month' %>
              <h2><%= t('pages.groups.archives.page_title', year: params[:year], month: t('date.month_names')[params[:month].to_i]) %></h2>
          <% else %>
              <div class="card"><%= raw (@group.description) %></div>
          <% end %>
          <div id="posts_container">
            <% if @group_posts.size == 0 %>
                <div class="blogPost">
                  <p>
                    <%= t('pages.groups.show.no_blogs_yet') %>
                  </p>
                </div>
            <% else %>
                <%= render collection: @group_posts, partial: 'blog_posts/group_blog_post', as: 'post_publishing' %>
            <% end %>
          </div>
          <% if @group_posts.size > COMMENTS_PER_PAGE %>
              <div id="loading_results" class="post_results">
                <span><%= t('pages.blogs.show.previous_posts') %></span>
              </div>
          <% end %>
        </div>
        <div class="homegroup columns large-4 show-for-large-up">
          <% if can? :view_proposal, @group %>
              <%= render partial: "groups/portlets/proposals", layout: "layouts/portlet" %>
          <% end %>
          <%= render partial: "groups/portlets/topics", layout: "layouts/portlet" %>
          <%= render partial: "groups/portlets/events", layout: "layouts/portlet" %>
        </div>
      </div>
    </div>

    <%= render 'rules_panel' %>
<% end %>
<%= render partial: 'left_panel' %>
