<% javascript 'endless_page' %>

<%=render :layout => "layouts/page_title", :locals => {:title => @group.name} do%>
		<%= link_to 'Modifica', edit_group_path(@group), :class => 'fullEditButton littleText' if (user_signed_in? && (is_admin? || (current_user == @group.portavoce))) %><br />
	<%if user_signed_in? && current_user.blog%>
		<%= link_to 'Inserisci post', new_blog_blog_post_url(current_user.blog, :group_id => @group.id), :class => 'newButton littleText', :style=>"margin-top:4px;" if (can? :post_to, @group) %><br />
	<%else%>
		<%= link_to 'Crea il mio blog per inziare a scrivere', new_blog_path, :class => 'newButton littleText', :style=>"margin-top:4px;"%><br />
	<%end%>
		<%= link_to 'Crea un evento', new_group_event_url(@group), :class => 'newButton littleText', :style=>"margin-top:4px;" if (can? :create_event, @group) %>
<%end%>
<p>
    <h2><%=h @group.description %></h2>
</p>


<%posts = @group.posts.published(:order => 'published_at DESC') %>
<% if posts.size == 0 %>
<div class="blogPost">
    
    <p>
    <b>    Non vi sono ancora Post in questo Gruppo, torna presto.</b>
    </p>
</div>
<% else %>
<%= render :collection => posts, :partial => 'blog_posts/blog_post' %>
<% end %>
<%= render :partial => 'left_panel' %>


<%=content_for :right_panel do%>
	<h4>Proposte sostenute dal gruppo</h4>
	<%@group.proposals.each do |proposal|%>
			<%=link_to proposal.title, proposal_path(proposal)%>
	<%end%>
	<%= "Al momento non ci sono proposte" if @group.proposals.empty?%>
<%end%>

