<%=render :layout => "layouts/page_title", :locals => {:title => @group.name} do%>
	<%= link_to 'Modifica', edit_group_path(@group), :class => 'fullEditButton littleText' if (user_signed_in? && (is_admin? || (current_user == @group.portavoce))) %><br />
	<%= link_to 'Inserisci post', new_blog_blog_post_url(current_user.blog, :group_id => @group.id), :class => 'newButton littleText', :style=>"margin-top:4px;" if (user_signed_in? && (is_admin? || (@group.partecipants.include? current_user))) %><br />
	<%= link_to 'Crea un evento', new_group_event_url(@group), :class => 'newButton littleText', :style=>"margin-top:4px;" if (user_signed_in? && (is_admin? || (current_user == @group.portavoce))) %>
<%end%>
<p>
    <%=h @group.description %>
</p>


<%posts = @group.posts.published(:order => 'published_at DESC') %>
<% if posts.size == 0 %>
<div class="blogPost">
    <h1>Nessun Post</h1>
    <p>
        Non vi sono ancora Post in questo Gruppo, torna presto.
    </p>
</div>
<% else %>
<%= render :collection => posts, :partial => 'blog_posts/blog_post' %>
<% end %>

<%= render :partial => 'left_panel' %>


