<h2><%= t('pages.users.send_message_title', name: @user.fullname) %></h2>
<%= form_for 'message', url: send_message_user_path(@user), remote: true, :class=>'disableForm' do |e| %>
    <p>
      <%= e.label t('pages.users.send_message.subject_label') %> <br/>
      <%= e.text_field 'subject' %>
    </p>
    <p>
      <%= e.label t('pages.users.send_message.body_label') %> <br/>
      <%= e.text_area 'body', rows: 10 %>
    </p>


    <a href="#" class="btn" onclick="$('#new_message_container').foundation('reveal','close');$('#new_message_container').remove();return false;"><%=t('buttons.cancel')%></a>
    <%= e.submit t('buttons.send'), class: 'btn blue disable' %>
<% end %>
