<h2><%= t('pages.users.send_message_title', name: @user.fullname) %></h2>
<%= form_for 'message', url: send_message_user_path(@user), remote: request.xhr?, :class => 'disableForm' do |e| %>
    <div class="row">
      <div class="columns large-12">
        <p>
          <%= e.label t('pages.users.send_message.subject_label') %>
          <%= e.text_field 'subject' %>
        </p>

        <p>
          <%= e.label t('pages.users.send_message.body_label') %>
          <%= e.text_area 'body', rows: 10 %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="columns large-12">
        <%= link_to t('buttons.cancel'), '#', class: 'btn', data: {'reveal-close' => ''} %>
        <%= link_to t('buttons.go_back'), :back, class: 'btn', data: {back: ''} %>
        <%= e.button :button, class: 'btn blue' do %>
            <i class="fa fa-envelope-o"></i>
            <%= t('buttons.send') %>
        <% end %>
      </div>
    </div>
<% end %>
