<div class="mybox" data-ijs="settings-menu">
  <h4><%= t('pages.users.left_panel.title') %></h4>

  <div class="mycont">
    <div class="menu-voice general_info">
      <%= link_to user_url(current_user) do %>
          <i class="fa fa-gears"></i>
          <%= t('pages.users.left_panel.general_info') %>
      <% end %>
    </div>
    <div class="menu-voice alarm_and_notifications">

      <%= link_to alarm_preferences_users_url do %>
          <i class="fa fa-bell"></i>
          <%= t('pages.users.left_panel.alarm_and_notifications') %>
      <% end %>
    </div>
    <div class="menu-voice geographic_borders">
      <%= link_to border_preferences_users_url do %>
          <i class="fa fa-image"></i>
          <%= t('pages.users.left_panel.geographic_borders') %>
      <% end %>
    </div>
    <div class="menu-voice account_and_policy">
      <%= link_to privacy_preferences_users_url do %>
          <i class="fa fa-key"></i>
          <%= t('pages.users.left_panel.account_and_privacy') %>
      <% end %>
    </div>
    <div class="menu-voice statistics">
      <%= link_to statistics_users_url do %>
          <i class="fa fa-bar-chart"></i>
          <%= t('pages.users.left_panel.statistics') %>
      <% end %>
    </div>
  </div>
</div>
