<h3>Profilo di
<%if @user.name%>
	<%= @user.name %>
<%else%>
	<%= @user.login %>
<%end%> 
</h3>
<table style="width:100%">
    <tr>
        <td>
            <div class="user_profile shadow-box">
                <div id="name_profile" class="profile_element">
                    <h2 class="label_profile">Nome: </h2>
                    <div class="info_profile">
                        <%=h @user.name %>
                    </div>
                </div>
                <div id="surname_profile" class="profile_element">
                    <h2 class="label_profile">Cognome: </h2>
                    <div class="info_profile">
                        <%=h @user.surname %>
                    </div>
                </div>
                <%if current_user == @user %>
                <div id="email_profile" class="profile_element">
                    <h2 class="label_profile">Email: </h2>
                    <div class="info_profile">
                        <%=h @user.email %>
                    </div>
                </div>
                 <div id="password_profile" class="profile_element">
                    <h2 class="label_profile">Password: </h2>
                    <div class="info_profile">
                        *****
                    </div>
                </div>
                  <div id="facebook_profile" class="profile_element">
                    <h2 class="label_profile">URL Facebook: </h2>
                    <div class="info_profile">
                      <%=h @user.facebook_page_url %>
                    </div>
                  </div>
                  <div id="linkedin_profile" class="profile_element">
                    <h2 class="label_profile">URL Linkedin: </h2>
                    <div class="info_profile">
                      <%=h @user.linkedin_page_url %>
                    </div>
                  </div>
                <%end%>
                  <div id="username_profile" class="profile_element">
                    <h2 class="label_profile">Username: </h2>
                    <div class="info_profile">
                      <%=h @user.login %>
                    </div>
                  </div>
                  <div id="confirmed_at_profile" class="profile_element">
                    <h2 class="label_profile">Registrato dal: </h2>
                    <div class="info_profile">
                      <%=h @user.confirmed_at.strftime("%d/%m/%Y") %>
                    </div>
                  </div>

            </div>
        </td>
        <td>
    </td>
    </tr>
</table>
<%if current_user == @user %>
<div id="img_modal" class="edit_modal">
    <form  action="/users/<%=@user.id%>" id="upload_form" method="post" enctype="multipart/form-data">
        <h2 style="margin-top:0px;float:left;color: #333333;font-size: 110%;font-weight: bold;vertical-align: top">URL dell'immagine</h2>
        <div style="padding-left:150px">
            <input name="user[blog_image_url]" />
            <br/>
        </div>
		oppure
        <div style="float:left">
            <h2 style="margin-top:0px;float:left;color: #333333;font-size: 110%;font-weight: bold;vertical-align: top">Carica un'immagine</h2>
            <div style="padding-left:150px">
                <input type="file" name="image" />
                <br/>
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" /><input type="hidden" value="put" name="_method">
                <div style="margin-top:8px">
                    <input type="submit" name="commit" value="Salva"/><input type="button" value="Annulla" onclick="$.modal.close();"/>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    
    $(function(){
        $.modal.close();
        
        $('#name_profile').click(function(){
            doModal($("#name_modal"));
        });
        
        $('#surname_profile').click(function(){
            doModal($("#surname_modal"));
        });
        
        $('#email_profile').click(function(){
        <%if current_user.account_type != 'facebook'%>
        	alert('Non è ancora possibile modificare l\'indirizzo email');
            //doModal($("#email_modal"));
        <%else%>
        	alert('Il tuo account è collegato ad un account facebook. Non puoi modificare l\'indirizzo email');
        <%end%>
        });

        $('#password_profile').click(function(){
            doModal($("#password_modal"));
        });

        $('#facebook_profile').click(function(){
            doModal($("#facebook_page_url_modal"));
        });

        $('#linkedin_profile').click(function(){
            doModal($("#linkedin_page_url_modal"));
        });

        $('.image_container img, .caption').mouseover(function(){
            $('.caption').show();
        });
        
        $('.image_container img').mouseout(function(){
            $('.caption').hide();
        });
        
        $('.image_container div a').click(function(){
            doModal($("#img_modal"));
        });
        
        $('.profile_element').css('cursor','pointer');

    });
</script>
<%end %>