<div class="card">
  <div class="image-container">
    <%= avatar(@user, size: 120) %>
    <% if @user == current_user %>
        <div class="caption">
          <a><%= t('pages.users.show.edit_image') %></a>
        </div>
    <% end %>
  </div>
</div>

<% if ::Configuration::user_messages %>
    <span>
      <%= link_to show_message_user_path(@user), remote: true, class: 'btn disable' do %>
          <i class="fa fa-envelope-o"></i>
          <%= t('pages.users.show.send_message_button') %>
      <% end if can? :send_message, @user %>
    </span>
<% end %>

<div class="card">
  <h2><%= t('pages.users.show.profile_info') %><%= t('pages.users.show.profile_info_unconfirmed') unless @user.confirmed? %></h2>

  <% if current_user == @user && @user.user_type_id == UserType::CERTIFIED %>
      <div class="alert-box secondary"><%= t('pages.users.show.certified_cannot_edit_info') %></div>
  <% end %>

  <div id="name_profile" class="profile_element">

    <h2 class="label_profile"><%= t('pages.users.show.name_label') %>: </h2>

    <div class="info_profile">
      <%= h @user.name %>
    </div>
  </div>
  <div id="surname_profile" class="profile_element">
    <h2 class="label_profile"><%= t('pages.users.show.surname_label') %>: </h2>

    <div class="info_profile">
      <%= h @user.surname %>
    </div>
  </div>
  <% if current_user == @user %>
      <div id="email_profile" class="profile_element">
        <h2 class="label_profile"><%= t('pages.users.show.email_label') %>: </h2>

        <div class="info_profile">
          <%= @user.email %> <%= raw "<span style=\"color:#888\">(#{@user.unconfirmed_email} #{t('pages.users.show.to_be_confirmed')})</span>" if @user.unconfirmed_email %>
        </div>
      </div>
      <div id="password_profile" class="profile_element">
        <h2 class="label_profile"><%= t('pages.users.show.password_label') %>: </h2>

        <div class="info_profile">
          *****
        </div>
      </div>

  <% end %>

  <% if @user.show_urls && ::Configuration::socialnetwork_active %>
      <% if @user.has_provider?(Authentication::FACEBOOK) %>
          <div id="facebook_profile" class="profile_element_no_click">
            <h2 class="label_profile"><%= t('pages.users.show.facebook_url_label') %>: </h2>

            <div class="info_profile">
              <%= link_to @user.facebook_page_url, @user.facebook_page_url, target: '_blank' if @user.facebook_page_url.present? %>
            </div>
          </div>
      <% end %>
      <% if @user.has_provider?(Authentication::GOOGLE) %>
          <div id="google_profile" class="profile_element_no_click">
            <h2 class="label_profile"><%= t('pages.users.show.googleplus_url_label') %>: </h2>

            <div class="info_profile">
              <%= link_to(@user.google_page_url, @user.google_page_url, target: '_blank', rel: 'author') if @user.google_page_url.present? %>
            </div>
          </div>
      <% end %>
      <% if @user.has_provider?(Authentication::TWITTER) %>
          <div id="twitter_profile" class="profile_element_no_click">
            <h2 class="label_profile"><%= t('pages.users.show.twitter_url') %>: </h2>

            <div class="info_profile">
              <%= link_to @user.twitter_page_url, @user.twitter_page_url, target: '_blank' %>
            </div>
          </div>
      <% end %>
      <% if @user.has_provider?(Authentication::LINKEDIN) %>
          <div id="linkedin_profile" class="profile_element_no_click">
            <h2 class="label_profile"><%= t('pages.users.show.linkedin_url') %>: </h2>

            <div class="info_profile">
              <%= link_to @user.linkedin_page_url, @user.linkedin_page_url, target: '_blank' if @user.linkedin_page_url.present? %>
            </div>
          </div>
      <% end %>
      <% if @user.has_provider?(Authentication::MEETUP) %>
          <div id="meetup_profile" class="profile_element_no_click">
            <h2 class="label_profile"><%= t('pages.users.show.meetup_url') %>: </h2>

            <div class="info_profile">
              <%= link_to @user.meetup_page_url, @user.meetup_page_url, target: '_blank' if @user.meetup_page_url.present? %>
            </div>
          </div>
      <% end %>
  <% end %>
  <div id="confirmed_at_profile" class="profile_element_no_click">
    <h2 class="label_profile"><%= t('pages.users.show.registered_from') %>: </h2>

    <div class="info_profile">
      <%= l (@user.confirmed? ? @user.confirmed_at : @user.created_at) %>
    </div>
  </div>
  <% if (current_user == @user) && @user.certified? %>
      <div id="confirmed_at_profile" class="profile_element_no_click">
        <h2 class="label_profile"><%= t('pages.users.show.certified_from') %>: </h2>

        <div class="info_profile">
          <%= l @user.certification.created_at %>
        </div>
      </div>
  <% end %>
</div>

<% if current_user == @user %>
    <div id="img_modal" class="reveal-modal medium" data-reveal>
      <%= simple_form_for @user do |f| %>
          <div class="row">
            <div class="columns large-6">
              <h2><%= t('pages.users.show.load_image') %></h2>

              <div class='panel callout'>
                <p>
                  <%= t('pages.users.show.max_file_size') %>
                </p>
              </div>
              <%= f.input :avatar, required: true, input_html: { accepted: 'image/jpeg,image/png',
                                                                 data: { fv_trigger: 'change',
                                                                         fv_file: true,
                                                                         fv_file_maxsize: UPLOAD_LIMIT_IMAGES } } %>
              <%= link_to t('buttons.cancel'), '#', class: 'btn', data: { 'reveal-close' => '' } %>
              <%= f.submit t('buttons.save'), class: 'btn blue' %>
            </div>
          </div>
      <% end %>
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <script type="text/javascript">
      $(function () {
        $('#name_profile').click(function () {
          $("#name_modal").foundation('reveal', 'open');
        });

        $('#surname_profile').click(function () {
          $("#surname_modal").foundation('reveal', 'open');
        });

        $('#email_profile').click(function () {
          $("#email_modal").foundation('reveal', 'open');
        });
        <%if params[:insert_email]%>
        $('#email_profile').click();
        <%end%>

        $('#password_profile').click(function () {
          $("#password_modal").foundation('reveal', 'open');
        });

        $('.image-container div a').click(function () {
          $("#img_modal").foundation('reveal', 'open');
        });

        $('.profile_element').css('cursor', 'pointer');

      });
    </script>
<% else %>
    <script type="text/javascript">
      $(function () {
        $('.profile_element').addClass('profile_element_no_click').removeClass('profile_element');
      });
    </script>
<% end %>
