<% if current_user %>
    <script>
        function change_notification_block(el) {
            if (el.checked) {
                $.ajax({
                    data: "id=" + el.value + "&block=false",
                    url: "/notifications/change_notification_block",
                    dataType: 'script',
                    type: 'post'
                });
                $('#block_email_' + el.value).removeAttr("disabled").removeAttr("title");
            }
            else {
                $.ajax({
                    data: "id=" + el.value + "&block=true",
                    url: "/notifications/change_notification_block",
                    dataType: 'script',
                    type: 'post'
                });

                $('#block_email_' + el.value).attr("disabled", true).attr("title", "Devi attivare la notifica per ricevere l'email");
            }
        }

        function change_email_notification_block(el) {
            if (el.checked) {
                $.ajax({
                    data: "id=" + el.value + "&block=false",
                    url: "/notifications/change_email_notification_block",
                    dataType: 'script',
                    type: 'post'
                });
            }
            else {
                $.ajax({
                    data: "id=" + el.value + "&block=true",
                    url: "/notifications/change_email_notification_block",
                    dataType: 'script',
                    type: 'post'
                });
            }
        }

        function change_email_block(el) {
            if (el.checked) {
                $.ajax({
                    data: "block=false",
                    url: "/notifications/change_email_block",
                    dataType: 'script',
                    type: 'post'
                });
                //$('.block_email').removeAttr("disabled").removeAttr("title");
            }
            else {
                $.ajax({
                    data: "block=true",
                    url: "/notifications/change_email_block",
                    dataType: 'script',
                    type: 'post'
                });
                //$('.block_email').attr("disabled", true).attr("title","Attiva la ricezione delle email con la checkbox posta in alto nella pagina");
            }
        }

    </script>
<% end %>


<%= render :layout => "layouts/page_title", :locals => {:title => t('pages.user.notifications')} do %>
<% end %>
<p>
  <input type="checkbox"
         <% if current_user.email_alerts? %>
         checked="true"
         <% end %>
         onclick="return change_email_block(this);"/>
  <b>Ricevi notifiche e newsletter su <%= current_user.email %></b>

  <% blocked = @current_user.blocked_notifications.all
     blocked_emails = @current_user.blocked_email_notifications.all %>

<table>
  <% NotificationCategory.includes(:notification_types).order(:seq).each do |category| %>
      <tr>
        <td>
          <%= image_tag "notification_categories/#{category.short.downcase}.png" %>
        </td>
        <td>
          <h4><%= category.description %></h4>
        </td>
        <td>
          Ricevi notifica
        </td>
        <td>
          Ricevi email
        </td>
      </tr>
      <% category.notification_types.where('id not in (8,15)').each do |type| %>
          <tr>
            <td></td>
            <td>
              <%= type.description %>
            </td>
            <td style="text-align: center">
              <input type="checkbox" value="<%= type.id %>" id="block_alert_<%= type.id %>"
                     <% unless blocked.include? type %>
                     checked="true"
                     <% end %>
                     onclick="return change_notification_block(this);"/>
            </td>
            <td style="text-align: center">
              <input type="checkbox" value="<%= type.id %>" id="block_email_<%= type.id %>" class="block_email"
                     <% unless blocked_emails.include? type %>
                     checked="true"
                     <% end %>
                     <% if blocked.include? type %>
                     disabled="disabled"
                     title="<%= "Devi attivare la notifica per ricevere l'email" %>"
                     <% end %>
                     onclick="return change_email_notification_block(this);"/>
            </td>
          </tr>
      <% end %>
  <% end %>
</table>
</p>

<% content_for :left_panel do %>
    <% if current_user %>
        <%= render :partial => 'users/preferences_panel' %>

    <% end %>
<% end %>
