<%@page_title = t('pages.users.left_panel.alarm_and_notifications') %>
<% if current_user %>
    <script>
        function change_notification_block(el) {
            var block_ = !el.checked;
            $.ajax({
                data: "id=" + el.value + "&block=" + block_ + "&l=<%=I18n.locale%>",
                url: "/notifications/change_notification_block",
                dataType: 'script',
                type: 'post'
            });
            if (el.checked) {
                $('#block_email_' + el.value).removeAttr("disabled").removeAttr("title");
            }
            else {
                $('#block_email_' + el.value).attr("disabled", true).attr("title", "Devi attivare la notifica per ricevere l'email");
            }
        }

        function change_email_notification_block(el) {
            var block_ = !el.checked;
            $.ajax({
                data: "id=" + el.value + "&block=" + block_ + "&l=<%=I18n.locale%>",
                url: "/notifications/change_email_notification_block",
                dataType: 'script',
                type: 'post'
            });
        }

        function change_email_block(el) {
            var block_ = !el.checked;
            $.ajax({
                data: "block=" + block_ + "&l=<%=I18n.locale%>",
                url: "/notifications/change_email_block",
                dataType: 'script',
                type: 'post'
            });
            if (el.checked) {

                //$('.block_email').removeAttr("disabled").removeAttr("title");
            }
            else {

                //$('.block_email').attr("disabled", true).attr("title","Attiva la ricezione delle email con la checkbox posta in alto nella pagina");
            }
        }

    </script>
<% end %>


<%= render :layout => "layouts/page_title", :locals => {:title => t('pages.user.notifications')} do %>
<% end %>

<% blocked = @current_user.blocked_notifications.all
   blocked_emails = @current_user.blocked_email_notifications.all %>

<table>

  <% NotificationCategory.includes(:notification_types).order(:seq).each do |category| %>
      <tr>
        <td>
          <%= image_tag "notification_categories/#{category.short.downcase}.png" %>
        </td>
        <td>
          <h4><%= category.description %></h4>
        </td>
        <td class="alerts">
          <%= t('pages.users.alarm_preferences.alerts') %>
        </td>
        <td class="emails">
          <%= t('pages.users.alarm_preferences.emails') %>
        </td>
      </tr>
      <% category.notification_types.where('id not in (8,15)').each do |type| %>
          <tr>
            <td></td>
            <td>
              <%= type.description %>
            </td>
            <td style="text-align: center">
              <input type="checkbox" value="<%= type.id %>" id="block_alert_<%= type.id %>"
                     <% unless blocked.include? type %>
                     checked="true"
                     class="block_alert"
                     <% end %>
                     onclick="return change_notification_block(this);"/>
            </td>
            <td style="text-align: center">
              <input type="checkbox" value="<%= type.id %>" id="block_email_<%= type.id %>" class="block_email"
                     <% unless blocked_emails.include? type %>
                     checked="true"
                     class="block_email"
                     <% end %>
                     <% if blocked.include? type %>
                     disabled="disabled"
                     title="<%= "Devi attivare la notifica per ricevere l'email" %>"
                     <% end %>
                     onclick="return change_email_notification_block(this);"/>
            </td>
          </tr>
      <% end %>
  <% end %>
  <tr>
    <td>
      <%= image_tag "newsletter.png" %>
    </td>
    <td>
      <h4><%= t('pages.users.alarm_preferences.receive_on_address', email: current_user.email) %></h4>
    </td>
    <td></td>
    <td style="text-align: center"><input type="checkbox"
                                          <% if current_user.receive_newsletter? %>
                                          checked="true"
                                          <% end %>
                                          onclick="return change_email_block(this);"/>
    </td>
  </tr>
</table>


<% content_for :left_panel do %>
    <% if current_user %>
        <%= render :partial => 'users/preferences_panel' %>

    <% end %>
<% end %>
