<%if current_user %>
<%= javascript_include_tag 'simplemodal' %>
<script>
    function change_notification_block(el){
    	if (el.checked) {
    		$.ajax({
	        	data: "id="+el.value+"&block=false",
	        	url: "/notifications/change_notification_block",     
	            dataType: 'script',
	        	type: 'post'    
	        });
    	}
    	else {
	        $.ajax({
	        	data: "id="+el.value+"&block=true",
	        	url: "/notifications/change_notification_block",     
	            dataType: 'script',
	        	type: 'post'    
	        });
	       }
    }
    
</script>
<%end %>


<%=render :layout => "layouts/page_title", :locals => {:title => t('pages.user.notifications')} do%>
<%end%>  
<p>
   
	<%=form_for current_user, :remote => true do |f| %>
		<%=f.check_box :email_alerts, :onclick => "$(this).next().next().click();" %>
		<b>Ricevi notifiche su <%=current_user.email%></b>
		<%=f.submit 'Salva', :style=>'display:none;'%>
	
	<%end%>
<%blocked = @current_user.blocked_notifications.find(:all)
  readonly = [1,2,4,5,6,8,9,10,12,15,20,21]%>
   	<table>
   <% NotificationCategory.all.each do |category|%>
   		<tr><td>
   		<h4><%=category.description%></h4>
   		</td>
   		<td>
   			Ricevi notifica
   		</td>
   		</tr>
   		<% category.notification_types.all.each do |type|%>
   		<tr>
   			<td>
 				<%=type.description%>
 			</td>
 			<td style="text-align: center">
 				<input type="checkbox" value="<%=type.id%>" 
 				<%unless blocked.include? type%>
 					checked="true" 
 				<%end%>
 				<%unless readonly.include? type.id%>
 					disabled="disabled"
 					title="Tipo di notifica non disponibile"
 				<%end%> 
 				onclick="return change_notification_block(this);"/>
 			</td>
 		</tr>
 		<%end%>
   <% end%>
 	</table>
</p>

<%content_for :left_panel do %>
	<%if current_user %>
	<%= render :partial => 'users/preferences_panel' %>

	<%end%>
<%end%>
