<% @page_title = t('pages.users.left_panel.alarm_and_notifications') %>


<%= render layout: "layouts/page_title", locals: {title: t('pages.user.notifications')} do %>
<% end %>

<% blocked = @current_user.blocked_notifications.all
   blocked_emails = @current_user.blocked_email_notifications.all %>

<table>

  <% NotificationCategory.includes(:notification_types).order(:seq).each do |category| %>
      <thead>
      <tr>
        <td class="hide-for-small">
          <%= image_tag "notification_categories/#{category.short.downcase}.png" %>
        </td>
        <td>
          <%= category.description %>
        </td>
        <td class="alerts">
          <%= t('pages.users.alarm_preferences.alerts') %>
        </td>
        <td class="emails">
          <%= t('pages.users.alarm_preferences.emails') %>
        </td>
      </tr>
      </thead>
      <% category.notification_types.where('id not in (8,15)').each do |type| %>
          <tr>
            <td class="hide-for-small"></td>
            <td>
              <%= type.description %>
            </td>
            <td style="text-align: center">
              <input type="checkbox" value="<%= type.id %>" id="block_alert_<%= type.id %>"
                     <% unless blocked.include? type %>
                     checked="true"
                     class="block_alert"
                     <% end %>
                     data-change-notification-block/>
            </td>
            <td style="text-align: center">
              <input type="checkbox" value="<%= type.id %>" id="block_email_<%= type.id %>" class="block_email"
                     <% unless blocked_emails.include? type %>
                     checked="true"
                     class="block_email"
                     <% end %>
                     <% if blocked.include? type %>
                     disabled="disabled"
                     title="<%= "Devi attivare la notifica per ricevere l'email" %>"
                     <% end %>
                     data-change-email-notification-block/>
            </td>
          </tr>
      <% end %>
  <% end %>
  <tr>
    <td class="hide-for-small">
      <%= image_tag "newsletter.png" %>
    </td>
    <td>
      <%= t('pages.users.alarm_preferences.receive_on_address', email: current_user.email) %>
    </td>
    <td></td>
    <td style="text-align: center"><input type="checkbox"
                                          <% if current_user.receive_newsletter? %>
                                          checked="true"
                                          <% end %>
                                          data-change-email-block/>
    </td>
  </tr>
</table>

<% content_for :left_panel do %>
    <% if current_user %>
        <%= render partial: 'users/preferences_panel' %>
    <% end %>
<% end %>
