<%= form_for 'token', :url => set_interest_borders_users_path do |f| %>
	<div id="border_fields">
		<%= f.label t('pages.users.border_preferences.your_borders')%>
		<%= f.text_field 'interest_borders', "data-pre" => current_user.interest_borders.to_json %>
	</div>
	<div id="loading_borders" style="margin:auto;text-align:center;display:none;">
	<%= image_tag 'ajax-loader.gif'%><br />
	<b><%= t('pages.users.border_preferences.updating') %></b>
	</div>
 <%= f.button t('buttons.save'), :id => "submit_borders", :class=> 'btn blue saveButton' %>
<%end%>
<script type="text/javascript">
	$(function() {
		input = $('#token_interest_borders')
		input.tokenInput("/interest_borders.json", {
			crossDomain: false,
			prePopulate: $('#token_interest_borders').data("pre"),
			hintText: "<%=t('interest_borders_hint')%>",
			noResultsText: "<%=t('no_interest_border')%>",
			searchingText: "<%=t('looking_for_interest_border')%>",
			preventDuplicates: true
		});

		$('#submit_borders').click(function() {
			$(this).hide();
			$('#border_fields').hide();	
			$('#loading_borders').fadeIn();	
			return true;
		}).css('margin-top','10px');
	});

</script>  		
  

<%content_for :left_panel do %>
	<%if current_user %>
	<%= render :partial => 'users/preferences_panel' %>

	<%end%>
<%end%>
