<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <%= form_for :action => 'change_password' do |f| %>
      <fieldset>
          <dl>           
              <dt><label for="old_password" class="block">Old Password</label></dt>
              <dd><%= password_field_tag 'old_password', @old_password, :size => 45, :class => 'text' %></dd>

              <dt><label for="password" class="block">New Password</label></dt>
              <dd><%= password_field_tag 'password', {}, :size => 45, :class => 'text' %>
              <div><small>Between 4 and 40 characters</small></div></dd>

              <dt><label for="password_confirmation"  class="block">Confirm new password</label></dt>
              <dd><%= password_field_tag 'password_confirmation', {}, :size => 45, :class => 'text' %></dd>

          </dl>
          <%= submit_tag 'Change password' %>
      </fieldset>
  <%end%>
