<% @page_title = t('.title') %>

<div class="card">
  <h2><%= @page_title %></h2>

  <p>
    <%= t('.instructions_html') %>
  </p>
</div>
<div class="card">
  <div class="row">
    <div class="columns medium-3">
      <%= avatar(@orig, size: 200) %>
    </div>
    <div class="columns medium-9">
      <%= form_for(:user, url: {action: "join_accounts", controller: "users"}) do |f| %>

          <%= f.label :email, 'Email' %>
          <%= f.text_field :email, readonly: true %>

          <%= f.label :password %>
          <%= f.password_field :password %>

          <%= f.button class: 'btn blue' do %>
              <i class="fa fa-check"></i>
              <%= "Join accounts and login" %>
          <% end %>
          <%= link_to t('buttons.cancel'), root_path, class: 'btn' %>
          <%= link_to t('pages.home.index.forgot_password'), new_user_password_path %>
      <% end %>
    </div>
  </div>
</div>
