<%@page_title = "Conferma le credenziali" %>
<h2>Conferma le credenziali</h2>
<div style="float: left; width:80%; margin-right:10px;margin-bottom:10px; text-align:justify;">
  <b>Hai eseguito correttamente la procedura di login tramite provider ma a quanto pare è già presente un altro account con lo stesso indirizzo email.<br />
    Procedi con l'autenticazione per unire le informazioni dei due account.<br />
    Una volta inserite le credenziali i due account verranno uniti dando la priorità alle informazioni dell'account già presente sul portale.</b><br />
  <b>Se l'account proviene da un altro IdentityProvider e non possiedi la password di accesso, accedi tramite tale IdentityProvider e utilizza la funzione di unione
  account presente nelle tue Preferenze nella sezione 'Account e Privacy'</b>
</div>
<div style="float:left;">
  <%= @orig.user_image_tag%>
</div>
<div style="clear:both;"></div>
<%= form_for(:user, :url => {:action => "join_accounts", :controller => "users"}) do |f| %>
<div>
	<%= f.label :email, 'Email' %>
	<br />
	<%= f.text_field :email, {:disabled => true} %>
</div>
<div>
	<%= f.label :password %>
	<br />
	<%= f.password_field :password %>
</div>
<div>
	<%= f.submit "Unisci i due account ed esegui il login", :class => 'buttonStyle' %>
</div>
<% end %> 
