<h2>Conferma le credenziali</h2>
<h3>Hai eseguito correttamente la procedura di login tramite facebook ma è già presente un altro account con lo stesso indirizzo email. Procedi con l'autenticazione per unire le informazioni sui due account.'
	Una volta inserite le credenziali i due account verranno uniti dando la priorità alle informazioni dell'account già presente sul portale</h3>
	
<%= form_for(:user, :url => {:action => "join_accounts", :controller => "users"}) do |f| %>
 <div>
 	<%=@orig.user_image_tag%>
 	</div>
 	 <div>
  <%= f.label :email, 'Email' %><br />
  <%= f.text_field :email, {:disabled => true} %></div>
  <div>
  <%= f.label :login, 'Username' %><br />
  <%= f.text_field :login %></div>
  
  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

 
  <div><%= f.submit "Unisci i due account ed esegui il login" %></div>
<% end %>
