<% @page_title = t('.title') %>

<div class="card">
  <h2><%= @page_title %></h2>

  <p>
    <%= t('.instructions_html') %>
  </p>
</div>
<div class="card">
  <div class="row">
    <div class="columns medium-3">
      <%= avatar(@orig, size: 200) %>
    </div>
    <div class="columns medium-9">
      <%= simple_form_for(:user, url: join_accounts_users_path) do |f| %>
          <%= f.input :email, label: 'Email', readonly: true, disabled: true %>
          <%= f.input :password %>

          <%= button_tag type: :submit, class: 'btn blue' do %>
              <i class="fa fa-check"></i>
              <%= t('buttons.join_accounts') %>
          <% end %>
          <%= link_to t('buttons.cancel'), root_path, class: 'btn' %>
          <%= link_to t('pages.home.index.forgot_password'), new_user_password_path %>
      <% end %>
    </div>
  </div>
</div>
