<% @page_title = "Conferma le credenziali" %>
<h2>Conferma le credenziali</h2>
<div class="panel">
  <p>
    <%= raw "Hai eseguito correttamente la procedura di login tramite provider ma a è già presente un altro account con lo stesso indirizzo email.<br />
        Inserisci le tue credenziali su Airesis per unire le informazioni dei due account.<br />
        Se non possiedi la password di accesso, accedi con l'altro account e impostane una dalle preferenze." %>
  </p>
</div>
<div class="row">
  <div class="columns large-2">
    <%= @orig.user_image_tag %>
  </div>
  <div class="columns large-10">
    <%= form_for(:user, url: {action: "join_accounts", controller: "users"}) do |f| %>

        <%= f.label :email, 'Email' %>
        <%= f.text_field :email, {disabled: true} %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= link_to t('buttons.cancel'), root_path, class: 'btn' %>
        <%= f.button class: 'btn blue' do %>
            <i class="fa fa-check"></i>
            <%= "Join accounts and login" %>
        <% end %>
    <% end %>
  </div>
</div>


