<% @page_title = t('pages.user.privacy') %>
<%= render :layout => "layouts/page_title", :locals => {:title => t('pages.user.privacy')} do %>
<% end %>

<h2><%= t('pages.users.privacy_preferences.options') %></h2>

<%= check_box :user, :show_tooltips, value: current_user.show_tooltips, onclick: "return change_show_tooltips(this);" %> <%= t('pages.users.privacy_preferences.tooltips') %>
<br/>
<% if ::Configuration::socialnetwork_active %>
    <%= check_box :user, :show_urls, value: current_user.show_urls, onclick: "return change_show_urls(this);" %> <%= t('pages.users.privacy_preferences.show_urls') %>
    <br/>
<% end %>
<% if ::Configuration::user_messages %>
    <%= check_box :user, :receive_messages, value: current_user.receive_messages, onclick: "return change_receive_messages(this);" %> <%= t('pages.users.privacy_preferences.private_messages') %>
    <br/>
<% end %>
<% if ::Configuration.rotp %>
    <h2><%= t('pages.users.privacy_preferences.rotp_title') %></h2>
    <%= check_box :user, :rotp_enabled, value: current_user.rotp_enabled, onclick: "return change_rotp_enabled(this);" %> <%= t('pages.users.privacy_preferences.rotp') %>
    <div id="rotp_container">
      <%= render 'users/rotp_code' %>
    </div>
<% end %>

<br/>

<h2><%= t('.language') %></h2>
<%= select_tag 'locale', options_from_collection_for_select(SysLocale.all, :id, :key, current_user.sys_locale_id) %>


<% if ::Configuration::socialnetwork_active %>
    <h2><%= t('pages.users.privacy_preferences.join_accounts') %></h2>
    <h5>
      <%= raw t('pages.users.privacy_preferences.join_accounts_description') %></h5>

    <%
       authentications = current_user.authentications
       alreadyproviders = current_user.authentications.pluck(:provider) %>

    <% if alreadyproviders.size == 5 %>
        <%= t('pages.users.privacy_preferences.joined_all') %>
    <% end %>
    <% unless alreadyproviders.include? Authentication::FACEBOOK %>
        <%= link_to t('pages.users.privacy_preferences.join_facebook'), user_omniauth_authorize_path(:facebook) %>
        <br/>
    <% end %>

    <% unless alreadyproviders.include? Authentication::GOOGLE %>
        <%= link_to t('pages.users.privacy_preferences.join_google'), user_omniauth_authorize_path(:google_oauth2) %>
        <br/>
    <% end %>

    <% unless alreadyproviders.include? Authentication::TWITTER %>
        <%= link_to t('pages.users.privacy_preferences.join_twitter'), user_omniauth_authorize_path(:twitter) %>
        <br/>
    <% end %>

    <% unless alreadyproviders.include? Authentication::LINKEDIN %>
        <%= link_to t('pages.users.privacy_preferences.join_linkedin'), user_omniauth_authorize_path(:linkedin) %>
        <br/>
    <% end %>

    <% unless alreadyproviders.include? Authentication::MEETUP %>
        <%= link_to t('pages.users.privacy_preferences.join_meetup'), user_omniauth_authorize_path(:meetup) %>
        <br/>
    <% end %>


    <% if alreadyproviders.size > 0 %>
        <h2><%= t('pages.users.privacy_preferences.providers_list') %>:</h2>
        <% authentications.each do |authentication| %>
            <% if authentication.provider == Authentication::FACEBOOK %>
                Facebook
            <% elsif authentication.provider == Authentication::GOOGLE %>
                Google
            <% elsif authentication.provider == Authentication::TWITTER %>
                Twitter
            <% elsif authentication.provider == Authentication::LINKEDIN %>
                Linkedin
            <% elsif authentication.provider == Authentication::MEETUP %>
                Meetup
            <% end %>
            -
            <% if @user.email %>
                <%= link_to 'Scollega', [@user, authentication], method: :delete, confirm: 'Sei sicuro di voler scollegare questo Identity Provider? Non potrai più accedere tramite esso.' %><br/>
            <% else %>
                <%= link_to 'Scollega', '#', onclick: "alert('#{j 'Per poter rimuovere l\'Identity Provider devi prima fornire un indirizzo email valido e confermarlo dal menu \'Informazioni Generali\'.'}');return false;" %><br/>
            <% end %>
        <% end %>
    <% end %>
<% end %>



<script type="text/javascript">
    function change_show_tooltips(el) {
        var active = (el.checked) ? "true" : "false";
        $.ajax({
            data: "active=" + active + "&l=<%=I18n.locale%>",
            url: "/users/change_show_tooltips",
            dataType: 'script',
            type: 'post'
        });
    }

    function change_show_urls(el) {
        var active = (el.checked) ? "true" : "false";
        $.ajax({
            data: "active=" + active + "&l=<%=I18n.locale%>",
            url: "/users/change_show_urls",
            dataType: 'script',
            type: 'post'
        });
    }

    function change_receive_messages(el) {
        var active = (el.checked) ? "true" : "false";
        $.ajax({
            data: "active=" + active + "&l=<%=I18n.locale%>",
            url: "/users/change_receive_messages",
            dataType: 'script',
            type: 'post'
        });
    }

    function change_rotp_enabled(el) {
        <%if can? :change_rotp_enabled, current_user %>
        var confirm_msg = el.checked ? "<%=t('pages.users.privacy_preferences.rotp_confirm_enable')%>" : '<%=t('pages.users.privacy_preferences.rotp_confirm_disable')%>';
        if (!confirm(confirm_msg)) {
            return false;
        }

        var active = (el.checked) ? "true" : "false";
        $.ajax({
            data: "active=" + active + "&l=<%=I18n.locale%>",
            url: "/users/change_rotp_enabled",
            dataType: 'script',
            type: 'post'
        });
        <%else %>
        alert('Per abilitare il Token di sicurezza devi inserire un\'indirizzo email valido');
        return false;
        <%end%>
    }

    $('#locale').bind("change", function () {
        var currentValue = $(this).val();
        var currentLabel = $('option:selected', $(this)).text();
        $.ajax({
            data: "locale=" + currentValue + "&l=<%=I18n.locale%>",
            url: "/users/change_locale",
            dataType: 'script',
            type: 'post'
        });
        console.log(currentLabel);
        return true;
    });


</script>


<% content_for :left_panel do %>
    <% if current_user %>
        <%= render :partial => 'users/preferences_panel' %>
    <% end %>
<% end %>
