<% content_for :html_options do %>
    itemscope itemtype="http://data-vocabulary.org/Person"
<% end %>

<% content_for :head do %>
    <meta itemprop="name" content="<%= @user.fullname %>"/>
    <meta itemprop="nickname" content="<%= @user.login %>"/>
    <meta itemprop="url" content="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>"/>
<% end %>


<% @page_title = @user.fullname %>

<div id="user_profile_container">
  <%= render partial: 'user_profile' %>
</div>


<% if @user == current_user && @user.group_participations.count > 0 %>
    <div class="card">
      <% @group_participations = @user.group_participations.includes([:group, :participation_role, :user]) %>
      <h2><%= t('pages.users.show.groups_title') %></h2>
      <table id="participation_table">
        <thead>
        <tr>
          <th><%= t('pages.users.show.group_column') %></th>
          <th><%= t('pages.users.show.role_column') %></th>
          <th class="show-for-medium-up"><%= t('pages.users.show.registered_from') %></th>
          <th>registered_from</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @group_participations.each do |participation| %>
            <tr>
              <td>
                <%= link_to participation.group do %>
                    <%= participation.group_image_tag 20 %>
                    <span class="show-for-medium-up"><%= participation.group.name %></span>
                <% end %>
              </td>
              <td><span id="participation_<%= participation.id %>"><%= participation.participation_role.name %></span>
              </td>
              <td class="show-for-medium-up"><%= participation.created_at if participation.created_at %></td>
              <td><%= participation.created_at.to_i if participation.created_at %></td>
              <td><%= link_to t('pages.users.show.get_out_of_group_button'), group_group_participation_url(participation.group, participation), method: :delete, data: {confirm: t('pages.users.show.get_out_of_group_confermation')}, class: 'btn' if can? :destroy, participation %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <script>
          <%@group_participations.each do |participation| %>
          $('#participation_<%=participation.id%>').qtip({content: "<strong><%=t('pages.users.show.what_can_i_do')%></strong><ul><li><%=raw participation.participation_role.group_actions.order(:seq).map{|a| a.description}.join('</li><li>')%></li></ul><br/>"});
          <%end%>
      </script>
    </div>
<% end %>

<% if current_user == @user %>
    <div id="name_modal" class="reveal-modal medium" data-reveal>
      <%= form_for @user, remote: true do |f| %>
          <div class="row">
            <div class="columns large-6">
              <h2><%= t('pages.users.show.name_label') %></h2>
              <%= f.text_field :name, size: 20 %>
              <input type="button" value="<%= t('buttons.cancel') %>" onclick="$('#name_modal').foundation('reveal','close');" class="btn"/>
              <%= f.submit t('buttons.save'), class: 'btn blue' %>
            </div>
          </div>
      <% end %>
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <div id="surname_modal" class="reveal-modal medium" data-reveal>
      <%= form_for @user, remote: true do |f| %>
          <h2><%= t('pages.users.show.surname_label') %></h2>

          <%= f.text_field :surname, size: 20 %>
          <input type="button" value="<%= t('buttons.cancel') %>" onclick="$('#surname_modal').foundation('reveal','close');" class="btn"/>
          <%= f.submit t('buttons.save'), class: 'btn blue' %>
      <% end %>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="password_modal" class="reveal-modal medium" data-reveal>
      <%= form_for @user, remote: true do |f| %>
          <h2><%= t('pages.users.show.password_label') %></h2>

          <%= f.text_field :password, type: :password, size: 20, style: "margin-bottom:5px;", placeholder: 'Nuova password' %>
          <%= f.text_field :password_confirmation, type: :password, size: 20, placeholder: 'Conferma nuova password' %>
          <input type="button" value="<%= t('buttons.cancel') %>" onclick="$('#password_modal').foundation('reveal','close');" class="btn"/>
          <%= f.submit t('buttons.save'), class: 'btn blue' %>
      <% end %>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="email_modal" class="reveal-modal medium" data-reveal>
      <%= form_for @user, remote: true do |f| %>
          <h2><%= t('pages.users.show.email_label') %></h2>

          <%= f.text_field :email, size: 25 %>
          <input type="button" value="<%= t('buttons.cancel') %>" onclick="$('#email_modal').foundation('reveal','close');" class="btn"/>
          <%= f.submit t('buttons.save'), class: 'btn blue' %>
      <% end %>
      <a class="close-reveal-modal">&#215;</a>
    </div>
<% end %>

<script type="text/javascript">
    <%if current_user == @user%>
    $('#participation_table').dataTable({
        "bPaginate": false,
        "bFilter": false,
        "bSearchable": false,
        "bInfo": false,
        "aaSorting": [
            [2, 'desc']
        ],
        "aoColumns": [null, null, {"iDataSort": 3}, {"bVisible": false}, null]
    });
    <%end%>
</script>

<% content_for :left_panel do %>
    <% if current_user == @user %>
        <%= render partial: 'users/preferences_panel' %>
    <% end %>
<% end %>
