<% @page_title = @user.fullname %>
<% content_for :html_options do %>
    itemscope itemtype="http://data-vocabulary.org/Person"
<% end %>

<% content_for :head do %>
    <meta itemprop="name" content="<%= @user.fullname %>"/>
    <meta itemprop="nickname" content="<%= @user.fullname %>"/>
    <meta itemprop="url" content="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>"/>
<% end %>

<div id="user_profile_container">
  <%= render partial: 'user_profile' %>
</div>

<% if @user == current_user && @user.group_participations.count > 0 %>
    <div class="card">
      <% @group_participations = @user.group_participations.includes([:group, :participation_role, :user]) %>
      <h2><%= t('pages.users.show.groups_title') %></h2>
      <table id="participation_table">
        <thead>
        <tr>
          <th><%= t('pages.users.show.group_column') %></th>
          <th><%= t('pages.users.show.role_column') %></th>
          <th class="show-for-medium-up"><%= t('pages.users.show.registered_from') %></th>
          <th>registered_from</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <%= render partial: 'users/group_participation', collection: @group_participations, as: :participation %>
        </tbody>
      </table>
    </div>
<% end %>

<% if current_user == @user %>
    <div id="name_modal" class="reveal-modal medium" data-reveal>
      <%= simple_form_for @user, remote: true do |f| %>
          <div class="row">
            <div class="columns large-6">
              <%= f.input :name, size: 20, required: true %>
              <input type="button" value="<%= t('buttons.cancel') %>" onclick="$('#name_modal').foundation('reveal','close');" class="btn"/>
              <%= f.submit t('buttons.save'), class: 'btn blue' %>
            </div>
          </div>
      <% end %>
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <div id="surname_modal" class="reveal-modal medium" data-reveal>
      <%= simple_form_for @user, remote: true do |f| %>
          <%= f.input :surname, size: 20, required: true %>
          <input type="button" value="<%= t('buttons.cancel') %>" onclick="$('#surname_modal').foundation('reveal','close');" class="btn"/>
          <%= f.submit t('buttons.save'), class: 'btn blue' %>
      <% end %>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="password_modal" class="reveal-modal medium" data-reveal>
      <%= simple_form_for @user, remote: true do |f| %>
          <%= f.input :password, required: true, type: :password,
                      label: t('pages.password.edit.new_password'), size: 20 %>
          <%= f.input :password_confirmation,
                      required: true,
                      type: :password,
                      size: 20,
                      label: t('pages.registration.confirm_password'),
                      input_html: { data: {fv_identical_field: 'user[password]', fv_identical: true}} %>
          <input type="button" value="<%= t('buttons.cancel') %>" onclick="$('#password_modal').foundation('reveal','close');" class="btn"/>
          <%= f.submit t('buttons.save'), class: 'btn blue' %>
      <% end %>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="email_modal" class="reveal-modal medium" data-reveal>
      <%= simple_form_for @user, remote: true do |f| %>
          <%= f.input :email, label: t('pages.users.show.email_label'), size: 25, required: true %>
          <input type="button" value="<%= t('buttons.cancel') %>" onclick="$('#email_modal').foundation('reveal','close');" class="btn"/>
          <%= f.submit t('buttons.save'), class: 'btn blue' %>
      <% end %>
      <a class="close-reveal-modal">&#215;</a>
    </div>
<% end %>

<% content_for :left_panel do %>
    <% if current_user == @user %>
        <%= render partial: 'users/preferences_panel' %>
    <% end %>
<% end %>
