<%@page_title = t("pages.password.title")%>
<h2><%=@page_title %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= render :partial => 'fragments/error_messages', :locals => {:resource => resource} %>

  <div><%= f.label :login, 'Il tuo Username o la tua Email' %><br />
  <%= f.text_field :login %></div>
<br/>
  <div><%= f.submit t("pages.password.submit"), :class=>'btn blue'  %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>