<h1>Listing sys_payment_notifications</h1>

<table>
  <tr>
    <th>Transaction</th>
    <th>Status</th>
    <th>Fee</th>
    <th>Gross</th>
    <th>Created at</th>
    <th></th>
    <th></th>
  </tr>

<% @sys_payment_notifications.each do |sys_payment_notification| %>
  <tr>
    <td><%= sys_payment_notification.transaction_id %></td>
    <td><%= sys_payment_notification.status %></td>
    <td><%= sys_payment_notification.payment_fee %></td>
    <td><%= sys_payment_notification.payment_gross %></td>
    <td><%= sys_payment_notification.created_at %></td>
    <td><%= sys_payment_notification.payable_id %></td>
    <td><%= sys_payment_notification.payable_type %></td>
  </tr>
<% end %>
</table>
