<ul class="small-block-grid-2 large-block-grid-4" data-equalizer>
  <li data-equalizer-watch>
    <ul class="pricing-table donate">
      <li class="title">Small</li>
      <li class="price">5.00€</li>
      <li class="description">A simple donation to help the project</li>
      <li class="bullet-item">Buy a coffee for the developer</li>
      <li class="cta-button">
        <a class="button show-for-small" href="#"><%= paypal_button(size: 'small', amount: '5.00') %></a>
        <a class="button show-for-medium-up" href="#"><%= paypal_button(size: 'large', amount: '5.00') %></a>
      </li>
    </ul>
  </li>

  <li data-equalizer-watch>
    <ul class="pricing-table donate">
      <li class="title">Premium</li>
      <li class="price">20.00€</li>
      <li class="description">Become member of Tecnologie Democratiche</li>
      <li class="bullet-item">Membership</li>
      <li class="cta-button">
        <a class="button show-for-small" href="#"><%= paypal_button(size: 'small', amount: '20.00') %></a>
        <a class="button show-for-medium-up" href="#"><%= paypal_button(size: 'large', amount: '20.00') %></a>
      </li>
    </ul>
  </li>

  <li data-equalizer-watch>
    <ul class="pricing-table donate">
      <li class="title">Standard</li>
      <li class="price">50.00€</li>
      <li class="description">Premium member of Tecnologie Democratiche</li>
      <li class="bullet-item">Become member and help the developer fix some bugs</li>
      <li class="cta-button">
        <a class="button show-for-small" href="#"><%= paypal_button(size: 'small', amount: '50.00') %></a>
        <a class="button show-for-medium-up" href="#"><%= paypal_button(size: 'large', amount: '50.00') %></a>
      </li>
    </ul>
  </li>

  <li data-equalizer-watch>
    <ul class="pricing-table donate">
      <li class="title">Custom</li>
      <li class="price">--.--€</li>
      <li class="description">Any amount</li>
      <li class="bullet-item">Your help is greatly appreciated!</li>
      <li class="cta-button">
        <a class="button show-for-small" href="#"><%= paypal_button(size: 'small') %></a>
        <a class="button show-for-medium-up" href="#"><%= paypal_button(size: 'large') %></a>
      </li>
    </ul>
  </li>
</ul>
