<ul class="small-block-grid-2 large-block-grid-4">
  <li>
    <ul class="pricing-table">
      <li class="title">Small</li>
      <li class="price">1.00€</li>
      <li class="description">A simple donation to help the project</li>
      <li class="bullet-item">Buy 1/2 coffee for the developer</li>
      <li class="cta-button">
        <a class="button show-for-small" href="#">
          <script src="/assets/paypal-button.min.js?merchant=<%= "#{PAYPAL['paypal_merchant']}" %>"
                  data-button="donate"
                  data-name="Airesis"
                  data-number="1"
                  data-size="small"
                  data-currency="EUR"
                  data-amount="1.00"
                  data-quantity="1"
                  data-lc="<%= I18n.locale %>"
                  data-env="<%= "#{Rails.env == 'production' ? 'www' : 'sandbox'}" %>">
          </script>
        </a><a class="button show-for-medium-up" href="#">
        <script src="/assets/paypal-button.min.js?merchant=<%= "#{PAYPAL['paypal_merchant']}" %>"
                data-button="donate"
                data-name="Airesis"
                data-number="1"
                data-size="large"
                data-currency="EUR"
                data-amount="1.00"
                data-quantity="1"
                data-lc="<%= I18n.locale %>"
                data-env="<%= "#{Rails.env == 'production' ? 'www' : 'sandbox'}" %>">
        </script>
      </a>
      </li>
    </ul>
  </li>

  <li>
    <ul class="pricing-table">
      <li class="title">Standard</li>
      <li class="price">5.00€</li>
      <li class="description">Advanced donator</li>
      <li class="bullet-item">Help the developer fix 1/2 bug</li>
      <li class="cta-button">
        <a class="button show-for-medium-up" href="#">
          <script src="/assets/paypal-button.min.js?merchant=<%= "#{PAYPAL['paypal_merchant']}" %>"
                  data-button="donate"
                  data-name="Airesis"
                  data-number="1"
                  data-size="large"
                  data-currency="EUR"
                  data-amount="5.00"
                  data-quantity="1"
                  data-lc="<%= I18n.locale %>"
                  data-env="<%= "#{Rails.env == 'production' ? 'www' : 'sandbox'}" %>">
          </script>
        </a>
        <a class="button show-for-small" href="#">
          <script src="/assets/paypal-button.min.js?merchant=<%= "#{PAYPAL['paypal_merchant']}" %>"
                  data-button="donate"
                  data-name="Airesis"
                  data-number="1"
                  data-size="small"
                  data-currency="EUR"
                  data-amount="5.00"
                  data-quantity="1"
                  data-lc="<%= I18n.locale %>"
                  data-env="<%= "#{Rails.env == 'production' ? 'www' : 'sandbox'}" %>">
          </script>
        </a>
      </li>
    </ul>
  </li>

  <li>
    <ul class="pricing-table">
      <li class="title">Premium</li>
      <li class="price">20.00€</li>
      <li class="description">Become member of Tecnologie Democratiche</li>
      <li class="bullet-item">Membership</li>
      <li class="cta-button">
        <a class="button show-for-small" href="#">
          <script src="/assets/paypal-button.min.js?merchant=<%= "#{PAYPAL['paypal_merchant']}" %>"
                  data-button="donate"
                  data-name="Airesis"
                  data-number="1"
                  data-size="small"
                  data-currency="EUR"
                  data-amount="20.00"
                  data-quantity="1"
                  data-lc="<%= I18n.locale %>"
                  data-env="<%= "#{Rails.env == 'production' ? 'www' : 'sandbox'}" %>">
          </script>
        </a>
        <a class="button show-for-medium-up" href="#">
          <script src="/assets/paypal-button.min.js?merchant=<%= "#{PAYPAL['paypal_merchant']}" %>"
                  data-button="donate"
                  data-name="Airesis"
                  data-number="1"
                  data-size="large"
                  data-currency="EUR"
                  data-amount="20.00"
                  data-quantity="1"
                  data-lc="<%= I18n.locale %>"
                  data-env="<%= "#{Rails.env == 'production' ? 'www' : 'sandbox'}" %>">
          </script>
        </a>
      </li>
    </ul>
  </li>

  <li>
    <ul class="pricing-table">
      <li class="title">Custom</li>
      <li class="price">--.--€</li>
      <li class="description">Any amount</li>
      <li class="bullet-item">Your help is greatly appreciated!</li>
      <li class="cta-button">
        <a class="button show-for-small" href="#">
          <script src="/assets/paypal-button.min.js?merchant=<%= "#{PAYPAL['paypal_merchant']}" %>"
                  data-button="donate"
                  data-name="Airesis"
                  data-number="1"
                  data-size="small"
                  data-currency="EUR"
                  data-quantity="1"
                  data-lc="<%= I18n.locale %>"
                  data-env="<%= "#{Rails.env == 'production' ? 'www' : 'sandbox'}" %>">
          </script>
        </a>
        <a class="button show-for-medium-up" href="#">
          <script src="/assets/paypal-button.min.js?merchant=<%= "#{PAYPAL['paypal_merchant']}" %>"
                  data-button="donate"
                  data-name="Airesis"
                  data-number="1"
                  data-size="large"
                  data-currency="EUR"
                  data-quantity="1"
                  data-lc="<%= I18n.locale %>"
                  data-env="<%= "#{Rails.env == 'production' ? 'www' : 'sandbox'}" %>">
          </script>
        </a>
      </li>
    </ul>
  </li>
</ul>