<div class="slide blue">
  <div class="row centered">
    <div id="linkback" class="fake_anchor"></div>
    <h2><%= t('.paragraph1.title') %></h2>

    <%= t('.paragraph1.content_html') %>

    <h3><%= t('.paragraph2.title') %></h3>

    <table width="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
        <td>
          <div style="border:1px dotted grey; padding:10px ">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td> <%= link_to image_tag("helpus_2.gif"), root_path, :target => "_blank" %> </td>
                <td valign="top"><h3>160x600 - Wide skyscraper
                  <br>
                  <textarea name="textarea2" style="width:100%; height:400px " onClick="this.select();"><a href="http://www.airesis.it/" target="_blank" title="Airesis: scelta di partecipazione, trasparenza, dialogo ed equit&agrave;"><img src="http://www.airesis.it/assets/helpus_2.gif" width="160" height="600" border="0" alt="Airesis: Scegli di partecipare"></a>
                  </textarea></h3></td>
              </tr>
            </table>
          </div>
        </td>
        <td valign="top">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>
                <div style="border:1px dotted grey; padding:10px ">
                  <%= link_to image_tag("helpus_3.gif"), root_path, :target => "_blank" %>
                  <h3>468x60 - Full Banner </h3>
                  <textarea name="textarea4" style="width:100%; height:100px " onClick="this.select();"><a href="http://www.airesis.it/" target="_blank" title="Airesis: scelta di partecipazione, trasparenza, dialogo ed equit&agrave; "><img src="http://www.airesis.it/assets/helpus_3.gif" width="468" height="60" border="0" alt="Airesis: Scegli di partecipare"></a></textarea>
                </div>
              </td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td>
                <div style="border:1px dotted grey; padding:10px ">
                  <%= link_to image_tag("helpus_1.gif"), root_path, :target => "_blank" %>
                  <h3>160x160 - Square </h3>
                  <textarea name="textarea3" style="width:100%; height:100px " onClick="this.select();"><a href="http://www.airesis.it/" target="_blank" title="Airesis: scelta di partecipazione, trasparenza, dialogo ed equit&agrave; "><img src="http://www.airesis.it/assets/helpus_1.gif" width="160" height="160" border="0" alt="Airesis: Scegli di partecipare"></a></textarea>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <h3><%= t('.paragraph3.title') %></h3>

        <label><a href="http://www.airesis.it/" target="_blank" title="Airesis: il primo social network per l'edemocracy ">Airesis: Scegli di partecipare </a></label>
        <textarea name="textarea" style="width:100%; height:100px " onclick="this.select();">
          <a href="http://www.airesis.it/" target="_blank" title="Airesis: scelta di partecipazione, trasparenza, dialogo ed equit&agrave; ">Airesis:
          Scegli di partecipare</a></textarea>
    <%= t('.paragraph3.content_html') %>

  </div>
</div>