<table>
  <tr>
    <th>Effettuato il</th>
    <th>Utente</th>
    <th>Ammontare</th>
    <th>Descrizione</th>
  </tr>

  <% movements.each do |sys_movement| %>
      <tr>

        <td><%=l sys_movement.made_on %></td>
        <td><%= sys_movement.user.fullname %></td>
        <td><%= sys_movement.amount %> <%= sys_movement.currency.description %></td>
        <td><%= sys_movement.description %></td>
      </tr>
  <% end %>
</table>
<br>
<b>Totale: </b> <%= movements.sum(:amount) %>