<% @page_title = t('home.helpus.title') %>
<% @page_descr = t('home.helpus.description') %>

<div class="slide violet">
  <div class="row centered">
    <div id="sostenere" class="fake_anchor"></div>
    <h2>Scegli cosa sostenere</h2>

    <div>
      <div style="float:left;width:78%;">
        <p>Airesis permette di effettuare donazioni mirate su singole funzionalità. Il gruppo di sviluppo ha in cantiere
          decine di idee ma per realizzarlee servono fondi per portare avanti i lavori.</p>

        <p>Da oggi puoi scegliere di fare una donazione per la realizzazione di una specifica funzionalità, o proporci
          nuove idee per le quali saresti disposto a donare qualcosa.</p>

        <p>Vai alla <%= link_to 'pagina dedicata alle donazioni', donations_url %> e guarda cosa vorremmo realizzare con
          il tuo aiuto!</p>
      </div>
      <div style="float: left;">
        <iframe scrolling="no" width="160" height="250" frameborder="0" allowtransparency="true" src="http://www.buonacausa.org/widget/show/476"></iframe>
      </div>
      <div style="clear: both;"></div>
    </div>

  </div>
</div>
<% @features.each_with_index do |feature, i| %>
    <div class="slide <%= @colors[i%5] %>">
      <div class="row centered">
        <div class="columns large-3">
          <%=image_tag feature.image.url(:medium), class: 'presentation' %>
        </div>
        <div class="columns large-9">
          <h2>
            <div class="sys_title"><%= feature.title %></div>
            <span><%= feature.paypal_url(donations_url,sys_payment_notifications_url) %></span>
          </h2>
          <h3><%= "Required: #{feature.amount_required}€" %></h3>
          <h3><%= "Received: #{feature.amount_received_calc}€" %></h3>

          <p>
            <%= feature.description %>
          </p>
        </div>
      </div>
    </div>
<% end %>

