<% @page_title = t('home.engage.title') %>
<% @meta_description = t('home.engage.description') %>


<div class="row" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="row centered">
    <dl class="sub-nav">
      <dd><a href="#opensource"><%= t('home.engage.nav.opensource')%></a></dd>
      <dd><a href="#partecipare"><%= t('home.engage.nav.participate')%></a></dd>
      <dd><a href="#linkback"><%= t('home.engage.nav.banner')%></a></dd>
    </dl>
  </div>
</div>

<div class="slide">
  <div class="row centered">

    <h2 id="opensource"><%= t('home.engage.paragraph1.title')%></h2>
    <a href="https://github.com/coorasse/Airesis"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork Airesis on GitHub" class="show-for-medium-up"></a>

    <%= t('home.engage.paragraph1.description_html', donations_path: sostienici_path)%>
  </div>
</div>
<div class="slide yellow">
  <div class="row centered">
    <h2 id="partecipare"><%= t('home.engage.paragraph2.title')%></h2>

    <div>
      <%= t('home.engage.paragraph2.description_html', email: raw(" <SCRIPT TYPE=\"text/javascript\">emailE=('nicolagiulietti@' + 'hotmail.it');document.write('<A href=\"mailto:' + emailE + '\">' + emailE + '</a>')</SCRIPT>"),
                                                       chisiamo: chisiamo_path, cell:"380 2931955",
                                                       form:"https://docs.google.com/forms/d/1UJXAIaLYp73XRr_BfvOG-V4Yw9Xf9K0eARNGevtyE1M/viewform")%>

      <div class="panel">
        <h3><%= t('home.engage.developer.title')%></h3>
        <%=t('home.engage.developer.description_html', chisiamo: chisiamo_path) %>
      </div>

      <div class="panel">
        <h3><%= t('home.engage.analyst.title')%></h3>
        <%=t('home.engage.analyst.description_html') %>
      </div>

      <div class="panel">
        <h3><%= t('home.engage.first_lev_tester.title')%></h3>
        <%=t('home.engage.first_lev_tester.description_html') %>
      </div>

      <div class="panel">
        <h3><%= t('home.engage.sec_lev_tester.title')%></h3>
        <%=t('home.engage.sec_lev_tester.description_html') %>
      </div>

      <div class="panel">
        <h3><%= t('home.engage.graphic.title')%></h3>
        <%=t('home.engage.graphic.description_html') %>
      </div>

      <div class="panel">
        <h3><%= t('home.engage.recruiter.title')%></h3>
        <%=t('home.engage.recruiter.description_html') %>
      </div>

      <div class="panel">
        <h3><%= t('home.engage.communication.title')%></h3>
        <%= t('home.engage.communication.description_html')%>
      </div>

      <div class="panel">
        <h3><%=t('home.engage.i18n.title') %></h3>
        <%=t('home.engage.i18n.description_html') %>
      </div>
    </div>
  </div>
</div>


<%= render partial: 'linkback' %>
