<% @page_title = t('home.helpus.title') %>
<% @meta_description = t('home.helpus.description') %>
<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="row centered">
    <dl class="sub-nav">
      <dd><a href="#why"><%= t('.paragraph1.title') %></a></dd>
      <dd><a href="#sostenere"><%= t('.paragraph2.title') %></a></dd>
      <dd><a href="#donare"><%= t('.paragraph3.title') %></a></dd>
      <dd><a href="#linkback"><%= t('.paragraph5.title') %></a></dd>
    </dl>
  </div>
</div>

<div class="slide yellow">
  <div class="row centered">
    <div id="why" class="fake_anchor"></div>
    <h2><%= t('.paragraph1.title') %></h2>

      <div class="large-9 columns">
        <%= t('.paragraph1.content_html') %>
      </div>
      <div class="large-3 columns" style="text-align:center">
        <iframe scrolling="no" width="160" height="250" frameborder="0" allowtransparency="true" src="http://www.buonacausa.org/widget/show/476"></iframe>
      </div>

  </div>
</div>
<div class="slide violet">
  <div class="row centered">
    <div id="sostenere" class="fake_anchor"></div>
    <h2><%= t('.paragraph2.title') %></h2>
    <%= t('.paragraph2.content_html', link:donations_url) %>
  </div>
</div>
<div class="slide red">
  <div class="row centered">
    <div id="donare" class="fake_anchor"></div>
    <h2><%= t('.paragraph3.title') %></h2>
    <%= t('.paragraph3.content_html') %>

    <%= render 'donate_buttons' %>

    <%= t('.paragraph4.content_html', mail: "info@airesis.it") %>
  </div>
</div>

<%= render partial: 'linkback' %>
