<%= cache "homepage_#{I18n.locale}" do %>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
    <html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <title><%= APP_LONG_NAME %></title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="description" content="Partecipa alle decisioni, proponi le tue idee, suggerisci delle soluzioni, vota e decidi il tuo futuro">
      <meta property="og:title" content="<%= APP_LONG_NAME %>"/>
      <meta property="og:type" content="website"/>
      <meta property="og:image" content="<%= "#{request.protocol}#{request.host_with_port}#{asset_path("logo120.png")}" %>"/>
      <meta property="og:site_name" content="<%= APP_LONG_NAME %>"/>
      <meta property="og:description" content="Partecipa alle decisioni, proponi le tue idee, suggerisci delle soluzioni, vota e decidi il tuo futuro"/>
      <meta property="fb:app_id" content="<%= FACEBOOK_APP_ID %>"/>
      <meta name="author" content="Tecnologie Democratiche">
      <link rel="shortcut icon" href="/favicon.ico"/>

      <%= javascript_include_tag 'jquery', 'jquery.qtip' %>

      <%= stylesheet_link_tag 'landing.css' %>
      <%= stylesheet_link_tag 'jquery.qtip' %>
      <%= stylesheet_link_tag 'redmond/custom' %>

      <%= stylesheet_link_tag "foundation_and_overrides" %>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">


      <link rel="shortcut icon" type="image/x-icon" href="">
    </head>
    <body>

    <script type="text/javascript">
        window.___gcfg = {
            lang: 'it'
        };
        (function () {
            var po = document.createElement("script");
            po.type = "text/javascript";
            po.async = true;
            po.src = "https://apis.google.com/js/plusone.js";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(po, s);
        })();

        ( function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/<%="#{I18n.locale.to_s.gsub('-','_')}"%>/all.js#xfbml=1&appId=221145254619152";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");

        //google analytics
        <%if Rails.env == 'production'%>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34897773-1']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_setDomainName', '<%= request.domain %>']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
        <%end%>


        $(function () {

            $('.cur.language').qtip({
                content: $('#language'),
                position: {
                    at: 'bottom center',
                    my: 'top right',
                    viewport: $(window),
                    effect: false,
                    adjust: {
                        method: 'shift',
                        x: 0, y: 0
                    }
                },
                style: {
                    classes: 'qtip-light qtip-shadow qtip-cur'
                },
                show: {
                    event: 'click',
                    solo: true
                },
                hide: {
                    event: 'click -unfocus',
                    fixed: true,
                    delay: 500
                }
            });

        })


    </script>
    <div id="fb-root"></div>

    <div id="great_container">

      <div class="row full-width top-bar"><!-- Menù navigatore-->
        <div class="row centered">

          <ul class="navbar" style="float: left; margin-left: 5px;">
            <li><%= link_to t('pages.home.index.whatis'), edemocracy_path %></li>
            <li class="vertical-divider"></li>
            <li><%= link_to t('pages.home.index.partecipate'), partecipa_path %></li>
            <li class="vertical-divider"></li>
            <li><%= link_to t('pages.home.index.videos'), videoguide_path %></li>
            <li class="vertical-divider"></li>
            <li><%= link_to t('pages.home.index.whowe'), chisiamo_path %></li>
            <li class="vertical-divider"></li>
            <li><%= link_to t('pages.header.support_us'), sostienici_path %></li>
          </ul>
          <div style="padding-top: 2px; float:right; margin-right: 20px;">
            <div style="padding-top: 8px; float:left;">
              <g:plusone size="medium" href="<%= SITE %>"></g:plusone>
            </div>
            <div style="padding-top: 8px; float:left;">
              <div class="fb-like" data-href="<%= SITE %>" data-send="false" data-layout="button_count" data-width="150" data-show-faces="true"></div>
            </div>
            <div style="padding-top: 8px; padding-left: 25px; float:left;">
              <%= image_tag "flags/#{I18n.locale}.png", :class => 'cur language', title: t('pages.home.index.change_language') %>
            </div>

            <div id="language" style="display:none;">
              <%= link_to (image_tag 'flags/en.png') + ' Europe', SysLocale.find_by_key('en').url %>
              <br/>
              <%= link_to (image_tag 'flags/it-IT.png') + ' Italia', SysLocale.find_by_key('it-IT').url %>
              <br/>
              <%= link_to (image_tag 'flags/pt-PT.png') + ' Portugal', SysLocale.find_by_key('pt-PT').url %>
              <br/>
              <%= link_to (image_tag 'flags/pt-BR.png') + ' Brasìl', SysLocale.find_by_key('pt-BR').url %>
              <br/>
              <%= link_to (image_tag 'flags/es-ES.png') + ' Spain', SysLocale.find_by_key('es-ES').url %>
              <br/>
              <%= link_to (image_tag 'flags/es-EC.png') + ' Ecuador', SysLocale.find_by_key('es-EC').url %>
              <br/>
              <%= link_to (image_tag 'flags/fr.png') + ' France', SysLocale.find_by_key('fr').url %>
              <br/>
              <%= link_to (image_tag 'flags/de.png') + ' Germany', SysLocale.find_by_key('de').url %>
              <br/>
              <%= link_to (image_tag 'flags/ro-RO.png') + ' România', SysLocale.find_by_key('ro-RO').url %>
              <br/>
              <%= link_to (image_tag 'flags/en-US.png') + ' America', SysLocale.find_by_key('en-US').url %>
              <br/>
              <%= link_to (image_tag 'flags/pt-BR.png') + ' Brasìl', SysLocale.find_by_key('pt-BR').url %>
              <br/>
              <%= link_to (image_tag 'flags/es-EC.png') + ' Ecuador', SysLocale.find_by_key('es-EC').url %>
              <br/>
              <%= link_to (image_tag 'flags/zh.png') + ' China', SysLocale.find_by_key('zh').url %>
              <br/>
            </div>
          </div>
        </div>
      </div>

      <div class="row full-width medium-bar"><!-- Menù navigatore-->
        <div class="row centered" style="margin-top: 10px">
          <!-- Logo principale-->
          <%= image_tag 'logo_main.png', :style => 'float:left;', :alt => "Airesis - Scegli di partecipare" %>

          <div style="float:right" class="show-for-medium-up">
            <div style=" width:387px;font-family:Arial; text-align:center;">
              <div style="margin:5px; line-height:26px;">
                <%= link_to t('pages.home.index.cloud_1'), proposals_path, :style => 'font-size:37px;text-decoration:none; color: #87A800; ' %>
                <%= link_to t('pages.home.index.cloud_2'), groups_path, :style => 'font-size:26px;text-decoration:none;  color: #FF7600; padding-top:5px;' %>
                <br/>
                <%= link_to t('pages.home.index.cloud_3'), 'http://it.wikipedia.org/wiki/edemocracy', :target => '_blank', :style => 'font-size:32px;text-decoration:none; color: #039FAF;' %>
                <%= link_to t('pages.home.index.cloud_4'), 'http://www.decorourbano.org/', :target => '_blank', :style => 'font-size:25px;text-decoration:none; color: #FF7600;' %>
                <%= link_to t('pages.home.index.cloud_5'), 'http://www.facebook.it', :target => '_blank', :style => 'font-size:28px;text-decoration:none;  color: #FF7600;padding-top:15px;' %>
                <%= link_to t('pages.home.index.cloud_6'), 'http://it.wikipedia.org/wiki/Forum_(Internet)', :target => '_blank', :style => 'font-size:25px;text-decoration:none; color: #87A800;' %>
                <%= link_to t('pages.home.index.cloud_7'), partecipa_path, :style => 'font-size:40px;text-decoration:none; color: #DE2159;' %>
                <%= link_to t('pages.home.index.cloud_8'), 'http://it.wikipedia.org/wiki/Votazione_elettronica', :style => 'font-size:40px;text-decoration:none; color: #039FAF;' %>
                <%= link_to t('pages.home.index.cloud_9'), 'http://www.doodle.com/', :style => 'font-size:23px;text-decoration:none; color: #87A800;' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row full-width sub-bar">
        <!--Slogan-->
        <div class="row centered" style="margin-top:15px;">

          <div class="columns large-5">
            <div class="row">
              <div class="columns large-5 small-5">
                <div>
                <%= link_to t('pages.home.index.try_it'), proposals_path, :class => "homepageButton" %>
                </div>
              </div>

              <div class="columns large-7 small-7">
                <%= link_to t('pages.home.index.register'), new_user_registration_path, :class => "homepageButton", :id => 'signup' %>
              </div>

            </div>
          </div>
          <div class="columns large-7">
            <%= form_for(resource, :as => resource_name, :url => {:action => "create", :controller => "devise/sessions"}) do |f| %>
                <div class="row">
                  <div class="columns large-4">

                    <%= f.text_field :login, placeholder: 'Email' %>
                    <%= f.password_field :password, placeholder: 'Password' %>
                  </div>
                  <div class="columns large-4 small-6">
                    <%= f.submit t('pages.home.index.login'), :class => "homepageButton" %>
                    <div style="margin-top: 3px; font-size: 12px ">
                      <%= f.check_box :remember_me, :checked => true %>
                      <%= t('pages.home.index.keep_connected') %>
                    </div>
                  </div>


                  <div class="columns large-4 small-6">
                    <%= t('pages.proposals.index.login_with') %>
                    <div style="margin-top: 10px;">
                      <%= link_to image_tag('logos/facebook.png'), user_omniauth_authorize_path(:facebook), :alt => t('pages.top_panel.facebook_login'), :title => t('pages.top_panel.facebook_login') %>
                      <%= link_to image_tag('logos/google.png'), user_omniauth_authorize_path(:google_oauth2), :alt => t('pages.top_panel.google_login'), :title => t('pages.top_panel.google_login') %>
                      <%= link_to image_tag('logos/twitter.png'), user_omniauth_authorize_path(:twitter), :alt => t('pages.top_panel.twitter_login'), :title => t('pages.top_panel.twitter_login') %>
                      <br/>
                      <%= link_to image_tag('logos/meetup.png', :style => 'margin-top:5px'), user_omniauth_authorize_path(:meetup), :alt => t('pages.top_panel.meetup_login'), :title => t('pages.top_panel.meetup_login') %>
                      <%= link_to image_tag('logos/linkedin.png', :style => 'margin-top:5px'), user_omniauth_authorize_path(:linkedin), :alt => t('pages.top_panel.linkedin_login'), :title => t('pages.top_panel.linkedin_login') %>

                    </div>
                  </div>

                </div>

                <div class="row littleText" style="font-weight: normal; font-size: 12px; ">
                  <div style="float: left;margin-top: 4px;"><%= link_to t('pages.home.index.forgot_password'), new_password_path(resource_name) %></div>

                </div>


            <% end %>
          </div>
        </div>
      </div>
      <!--Sottoblocchi informativi-->
      <div class="row full-width last-bar">
        <div class="row centered">
          <div class="columns large-7">
            <div class="row">
              <div class="columns large-6">


                <h5><%= raw t('pages.home.index.field_1.title') %></h5>

                <p><%= t('pages.home.index.field_1.content') %></p>


              </div>
              <div class="columns large-6">
                <h5><%= raw t('pages.home.index.field_3.title') %></h5>

                <p><%= t('pages.home.index.field_3.content') %></p>


              </div>
            </div>
            <div class="row">
              <div class="columns large-6">


                <h5><%= raw t('pages.home.index.field_2.title') %></h5>

                <p><%= t('pages.home.index.field_2.content') %> </p>
              </div>
              <div class="columns large-6">


                <h5><%= raw t('pages.home.index.field_4.title') %></h5>

                <p><%= t('pages.home.index.field_4.content') %></p>
              </div>
            </div>
          </div>
          <div class="columns large-5">
            <div style="height:10px;"></div>
            <a href="https://twitter.com/democracyo" class="twitter-follow-button" data-show-count="false" data-size="large">
              <%= t('pages.home.index.follw_on_twitter') %></a>

            <div style="height:20px;"></div>
            <div class="fb-like-box" data-href="http://www.facebook.com/airesisit"
                 data-width="300" data-height="260" data-show-faces="false" data-show-likes="false" data-stream="true" data-header="false" data-border-color="white">
            </div>

          </div>

        </div>

      </div>
      <div class="row">
      <%= render :partial => "layouts/new_footer" %>
      </div>
    </div>
    </body>
    </html>
<% end %>