<!DOCTYPE html>
<!--[if lt IE 8 ]>
<html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>

  <!--- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title><%= t('home.tags.title') %></title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="<%= t('home.tags.description') %>">
  <meta property="og:title" content="<%= t('home.tags.title') %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="<%= "#{request.protocol}#{request.host_with_port}#{asset_path("logo120.png")}" %>"/>
  <meta property="og:site_name" content="<%= ENV['APP_LONG_NAME'] %>"/>
  <meta property="og:description" content="
    <% t('home.tags.description') %>"/>
  <meta property="fb:app_id" content="<%= ENV['FACEBOOK_APP_ID'] %>"/>
  <meta name="author" content="Tecnologie Democratiche">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%= stylesheet_link_tag 'landing/all' %>

  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag "vendor/modernizr" %>

  <%= javascript_include_tag "landing/all" %>

  <%= render 'layouts/favicons' %>

  <% if I18n.locale.to_s == "crowdin" %>
      <script type="text/javascript">
          var _jipt = [];
          _jipt.push(['project', 'airesis']);
      </script>
      <script type="text/javascript" src="//cdn.crowdin.net/jipt/jipt.js">
      </script>
  <% end %>
</head>

<body>

<script type="text/javascript">
    window.___gcfg = {
        lang: 'it'
    };
    (function () {
        var po = document.createElement("script");
        po.type = "text/javascript";
        po.async = true;
        po.src = "https://apis.google.com/js/plusone.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(po, s);
    })();

    ( function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/<%="#{I18n.locale.to_s.gsub('-','_')}"%>/all.js#xfbml=1&appId=221145254619152";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = "//platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, "script", "twitter-wjs");

    //google analytics
    <%if Rails.env == 'production'%>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34897773-1']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_setDomainName', '<%= request.domain %>']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
    <%end%>


</script>
<div id="fb-root"></div>


<div id="preloader">
  <div id="status">
    <%= image_tag 'landing/preloader.gif', height: 64, width: 64 %>
  </div>
</div>

<!-- Header
================================================== -->
<header>

  <div class="logo">
    <a class="smoothscroll" href="#hero">
      <%= image_tag 'logo_completo_white_mini.png' %>
    </a>
  </div>

  <nav id="nav-wrap">

    <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show Menu</a>
    <a class="mobile-btn" href="#" title="Hide navigation">Hide Menu</a>

    <ul id="nav" class="nav">
      <li><%= link_to 'What is', edemocracy_path %></li>
      <li><a class="smoothscroll" href="#features">Features</a></li>
      <li><%= link_to 'Donations', sostienici_path %></li>
      <li><%= link_to 'Volunteers', chisiamo_path %></li>
      <li><%= link_to 'Register', new_user_registration_path %></li>
    </ul>
    <!-- end #nav -->

  </nav>
  <!-- end #nav-wrap -->


  <ul class="header-social">
    <li><a href="https://www.facebook.com/airesisit"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://twitter.com/democracyo"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://plus.google.com/+AiresisIt"><i class="fa fa-google-plus"></i></a></li>
  </ul>

</header>
<!-- Header End -->


<!-- Homepage Hero
================================================== -->
<section id="hero">
  <div class="row">
    <div class="columns">
      <div class="hero-text">
        <%= image_tag 'logo_completo_medium.png', alt: "Airesis - Scegli di partecipare", title: t('home.tags.title') %>
        <h1 class="responsive-headline"><%= t('home.intro.paragraph_1.title') %></h1>


      </div>
      <div class="row" data-equalizer>
        <div class="columns large-6">
          <div class="login-form card buttons" data-equalizer-watch>
            <%= form_for resource, as: resource_name, url: user_session_path do |f| %>
                <div class="row">
                  <div class="columns large-12 medium-10 medium-push-1 large-push-0">
                    <ul class="social-network small-block-grid-5">
                      <li><%= link_to t('pages.top_panel.facebook_login'), user_omniauth_authorize_path(:facebook), alt: t('pages.top_panel.facebook_login'), title: t('pages.top_panel.facebook_login'), class: 'zocial icon facebook' %></li>
                      <li><%= link_to t('pages.top_panel.google_login'), user_omniauth_authorize_path(:google_oauth2), alt: t('pages.top_panel.google_login'), title: t('pages.top_panel.google_login'), class: 'zocial icon googleplus' %></li>
                      <li><%= link_to t('pages.top_panel.twitter_login'), user_omniauth_authorize_path(:twitter), alt: t('pages.top_panel.twitter_login'), title: t('pages.top_panel.twitter_login'), class: 'zocial icon twitter' %></li>
                      <li><%= link_to t('pages.top_panel.meetup_login'), user_omniauth_authorize_path(:meetup), alt: t('pages.top_panel.meetup_login'), title: t('pages.top_panel.meetup_login'), class: 'zocial icon meetup' %></li>
                      <li><%= link_to t('pages.top_panel.linkedin_login'), user_omniauth_authorize_path(:linkedin), alt: t('pages.top_panel.linkedin_login'), title: t('pages.top_panel.linkedin_login'), class: 'zocial icon linkedin' %></li>
                    </ul>
                  </div>
                  <div class="columns large-12 medium-10 medium-push-1 large-push-0">
                    <%= f.text_field :login, placeholder: 'Email' %>
                    <%= f.password_field :password, placeholder: 'Password' %>
                  </div>
                  <div class="columns large-6 medium-5 medium-push-1 large-push-0  text-left">
                    <div style="margin-top: 3px; font-size: 12px ">
                      <%= f.check_box :remember_me, checked: true %>
                      <%= t('pages.home.index.keep_connected') %>
                    </div>
                  </div>
                  <div class="column large-6 medium-5 medium-pull-1 large-pull-0 text-right">
                    <%= f.submit t('pages.home.index.login'), class: "button" %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
        <div class="columns large-6">
          <div class="card buttons" data-equalizer-watch>
            <div class="row">
              <div class="columns large-12 medium-10 medium-push-1 large-push-0">
                <p><%= t('pages.home.index.field_1.content') %></p>
              </div>
            </div>
            <div class="row">
              <div class="columns large-12 medium-10 medium-push-1 large-push-0">
                <div class="row">
                  <div class="columns medium-6">
                    <%= link_to t('pages.home.index.register'), new_user_registration_path, class: "button trial alert" %>
                  </div>
                  <div class="columns medium-6">
                    <%= link_to t('pages.home.index.try_it'), public_path, class: 'button' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="hero-image">
        <%= image_tag 'landing/hero-airesis.png' %>
      </div>
    </div>
  </div>
</section>

<section id="whatis" class="green-background">
  <div class="row content">
    <span><i class="quote-left fa fa-quote-left"></i></span>

    <div class="text-container">
      <div class="columns">
        <h1><%= t('home.whatis.paragraph_1.title') %>.</h1>
      </div>
      <div class="columns">
        <blockquote>
          <p><%= t('home.whatis.paragraph_1.content_html') %>
          </p>
        </blockquote>
      </div>
    </div>
    <span><i class="quote-right fa fa-quote-right"></i></span>
  </div>
</section>

<section id='features'>
  <div class="row feature groups">
    <div class="medium-5 columns feature-media">
      <%= image_tag 'presentation/group.png' %>
    </div>
    <div class="medium-7 columns">
      <div class="card">
        <h3><%= t('home.whatis.paragraph_2.title') %></h3>

        <p><%= t('home.whatis.paragraph_2.content_html', groups: Group.count) %></p>
      </div>
    </div>

  </div>

  <div class="row feature permissions">
    <div class="medium-5 columns feature-media medium-push-7">
      <%= image_tag 'presentation/permissions.png' %>
    </div>
    <div class="columns medium-7 medium-pull-5">
      <div class="card">
        <h3><%= t('home.whatis.paragraph_3.title') %></h3>

        <p><%= t('home.whatis.paragraph_3.content_html') %></p>
      </div>
    </div>
  </div>

  <div class="row feature events">
    <div class="medium-5 columns feature-media">
      <%= image_tag 'presentation/event.png' %>
    </div>
    <div class="columns medium-7">
      <div class="card">
        <h3><%= t('home.whatis.paragraph_5.title') %></h3>

        <p><%= t('home.whatis.paragraph_5.content_html') %></p>
      </div>
    </div>

  </div>

  <div class="row feature proposals">
    <div class="medium-5 columns feature-media medium-push-7">
      <%= image_tag 'presentation/proposal.png' %>
    </div>
    <div class="medium-7 columns medium-pull-5">
      <div class="card">
        <h3><%= t('home.whatis.paragraph_4.title') %></h3>

        <p><%= t('home.whatis.paragraph_4.content_html', users: User.count, proposals: Proposal.count) %></p>
      </div>
    </div>

  </div>

  <div class="row feature documents">
    <div class="medium-5 columns feature-media">
      <%= image_tag 'presentation/documents.png' %>
    </div>
    <div class="medium-7 columns">
      <div class="card">
        <h3><%= t('home.whatis.paragraph_6.title') %></h3>

        <p><%= t('home.whatis.paragraph_6.content_html') %></p>
      </div>
    </div>
  </div>

  <div class="row feature forum">
    <div class="medium-5 columns feature-media medium-push-7">
      <%= image_tag 'presentation/forum.png' %>
    </div>
    <div class="medium-7 columns medium-pull-5">
      <div class="card">
        <h3><%= t('home.whatis.paragraph_7.title') %></h3>

        <p><%= t('home.whatis.paragraph_7.content_html', topics: Frm::Topic.count) %>
        </p>
      </div>
    </div>

  </div>

  <div class="row feature more">
    <div class="medium-5 columns feature-media">
      <%= image_tag 'presentation/more.png' %>
    </div>
    <div class="medium-7 columns">
      <div class="card">
        <h3><%= t('home.whatis.paragraph_8.title') %></h3>

        <p><%= t('home.whatis.paragraph_8.content_html', intro_page: (link_to t('home.whatis.paragraph_8.link'), eparticipation_path)) %>
        </p>
      </div>
    </div>

  </div>
</section>
<!-- Homepage Hero end -->

<!-- Pricing Section
================================================== -->
<section id="pricing">

  <div class="row section-head">

    <h1><%= t('home.helpus.paragraph3.title') %></h1>

    <p><%= t('home.helpus.paragraph3.content_html') %>
    </p>

  </div>

  <div class="row">
    <ul class="pricing-tables small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-equalizer>
      <li data-equalizer-watch>
        <div class="price-block">
          <h3 class="plan-title"><i class="fa fa-coffee"></i>Small</h3>

          <p class="plan-price">
            5.00€
            <span>Buy a coffee for the developers</span>
          </p>

          <div class="plan-sign-up">
            <script src="<%= asset_path('paypal-button.min.js') %>?merchant=<%= "#{PAYPAL['paypal_merchant']}" %>"
                    data-button="donate"
                    data-name="Airesis - Scegli di partecipare"
                    data-number="1"
                    data-size="small"
                    data-currency="EUR"
                    data-amount="5.00"
                    data-quantity="1"
                    data-lc="<%= I18n.locale %>"
                    data-env="<%= "#{Rails.env == 'production' ? 'www' : 'sandbox'}" %>">
            </script>
          </div>
        </div>
      </li>
      <li data-equalizer-watch>
        <div class="price-block">
          <h3 class="plan-title"><i class="fa fa-thumbs-up"></i>Standard</h3>

          <p class="plan-price">
            20.00€
            <span>Become member of Tecnologie Democratiche</span>
          </p>

          <div class="plan-sign-up">
            <script src="<%= asset_path('paypal-button.min.js') %>?merchant=<%= "#{PAYPAL['paypal_merchant']}" %>"
                    data-button="donate"
                    data-name="Airesis"
                    data-number="1"
                    data-size="small"
                    data-currency="EUR"
                    data-amount="20.00"
                    data-quantity="1"
                    data-lc="<%= I18n.locale %>"
                    data-env="<%= "#{Rails.env == 'production' ? 'www' : 'sandbox'}" %>">
            </script>
          </div>
        </div>
      </li>
      <li data-equalizer-watch>
        <div class="price-block">
          <h3 class="plan-title"><i class="fa fa-star"></i>Great</h3>

          <p class="plan-price">
            50.00€
            <span>Become member of TD and contribute to the development</span>
          </p>

          <div class="plan-sign-up">
            <script src="<%= asset_path('paypal-button.min.js') %>?merchant=<%= "#{PAYPAL['paypal_merchant']}" %>"
                    data-button="donate"
                    data-name="Airesis"
                    data-number="1"
                    data-size="small"
                    data-currency="EUR"
                    data-amount="50.00"
                    data-quantity="1"
                    data-lc="<%= I18n.locale %>"
                    data-env="<%= "#{Rails.env == 'production' ? 'www' : 'sandbox'}" %>">
            </script>
          </div>
        </div>
      </li>
      <li data-equalizer-watch>
        <div class="price-block">
          <h3 class="plan-title"><i class="fa fa-trophy"></i>Up to you</h3>

          <p class="plan-price">--.--€
            <span>Your help is greatly appreciated!</span>
          </p>

          <div class="plan-sign-up">
            <script src="<%= asset_path('paypal-button.min.js') %>?merchant=<%= "#{PAYPAL['paypal_merchant']}" %>"
                    data-button="donate"
                    data-name="Airesis"
                    data-number="1"
                    data-size="small"
                    data-currency="EUR"
                    data-quantity="1"
                    data-lc="<%= I18n.locale %>"
                    data-env="<%= "#{Rails.env == 'production' ? 'www' : 'sandbox'}" %>">
            </script>
          </div>
        </div>
      </li>
    </ul>

  </div>

</section>
<!-- Pricing End -->

<!-- Subscribe
================================================== -->
<section id="subscribe">
  <h1><%= "FOLLOW US" %></h1>

  <div class="row">
    <div class="columns medium-6">
      <div class="fb-like-box" data-height="600" data-width="450" data-href="http://www.facebook.com/AiresisIt" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false"></div>
    </div>
    <div class="columns medium-6">
      <a class="twitter-timeline" href="https://twitter.com/hashtag/airesis" data-widget-id="511174030523518976">#airesis
        Tweet</a>
      <script>!function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
          if (!d.getElementById(id)) {
              js = d.createElement(s);
              js.id = id;
              js.src = p + "://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js, fjs);
          }
      }(document, "script", "twitter-wjs");</script>
    </div>
  </div>

</section>


<section id="testimonials" class="green-background">
  <div class="row content">
    <span><i class="quote-left fa fa-quote-left"></i></span>

    <div class="text-container">
      <div class="columns">
        <h1><%= "Citations" %></h1>
      </div>
      <div class="columns flex-container">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <blockquote>
                <p>Quae optima sunt, esse communia.
                </p>

                <p>(Le idee migliori sono proprietà comune.)</p>
                <cite>Lucio Anneo Seneca</cite>
              </blockquote>
            </li>
            <li>
              <blockquote>
                <p>The tragedy of modern democracies is that they have not yet succeeded in effecting democracy.
                </p>
                <cite>Jacques Maritain</cite>
              </blockquote>
            </li>
            <li>
              <blockquote>
                <p>Nothing is stronger than an idea whose time has come.
                </p>
                <cite>Victor Hugo</cite>
              </blockquote>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <span><i class="quote-right fa fa-quote-right"></i></span>
  </div>
</section>

<!-- Screenshots
================================================== -->
<section id="screenshots">

  <div class="row section-head">

    <h1><%= t('home.whowe.intro.title') %></h1>

    <p><%= t('home.whowe.intro.description_html', story: story_path) %>
    </p>

  </div>

  <div class="row">

    <div class="columns">

      <ul id="screenshots-wrapper" class="small-block-grid-2 medium-block-grid-4">

        <li>
          <div class="item-wrap">
            <%= link_to chisiamo_path(anchor: 'development') do %>
                <%= image_tag "volunteers/rodi_alessandro.jpg" %>
                <div class="link-icon">
                  <div>Alessandro Rodi</div>
                  <i class="fa fa-plus"></i>
                </div>
            <% end %>

          </div>
        </li>

        <li>
          <div class="item-wrap">
            <%= link_to chisiamo_path(anchor: 'development') do %>
                <%= image_tag "volunteers/tilatti_marino.png" %>
                <div class="link-icon">
                  <div>Marino Tilatti</div>
                  <i class="fa fa-plus"></i>
                </div>
            <% end %>
          </div>
        </li>

        <li>
          <div class="item-wrap">
            <%= link_to chisiamo_path(anchor: 'analysis') do %>
                <%= image_tag "volunteers/giulietti_nicola.png" %>
                <div class="link-icon">
                  <div>Nicola Giulietti</div>
                  <i class="fa fa-plus"></i>
                </div>
            <% end %>
          </div>
        </li>

        <li>
          <div class="item-wrap">
            <%= link_to chisiamo_path(anchor: 'analysis') do %>
                <%= image_tag "volunteers/baiotto_marco.png" %>
                <div class="link-icon">
                  <div>Marco Baiotto</div>
                  <i class="fa fa-plus"></i>
                </div>
            <% end %>

          </div>
        </li>


        <li>
          <div class="item-wrap">
            <%= link_to chisiamo_path(anchor: 'i18n') do %>
                <%= image_tag "volunteers/tolja_jacopo.jpg" %>
                <div class="link-icon">
                  <div>Jacopo Tolja</div>
                  <i class="fa fa-plus"></i>
                </div>
            <% end %>
          </div>
        </li>

        <li>
          <div class="item-wrap">
            <%= link_to chisiamo_path(anchor: 'communication') do %>
                <%= image_tag "volunteers/curini_simone.jpg" %>
                <div class="link-icon">
                  <div>Simone Curini</div>
                  <i class="fa fa-plus"></i>
                </div>
            <% end %>
          </div>
        </li>

        <li>
          <div class="item-wrap">
            <%= link_to chisiamo_path(anchor: 'test') do %>
                <%= image_tag "volunteers/mion_carlo.jpg" %>
                <div class="link-icon">
                  <div>Carlo Mion</div>
                  <i class="fa fa-plus"></i>
                </div>
            <% end %>

          </div>
        </li>

        <li>
          <div class="item-wrap">
            <%= link_to chisiamo_path(anchor: 'test') do %>
                <%= image_tag "volunteers/zanellato_luca.jpg" %>
                <div class="link-icon">
                  <div>Luca Zanellato</div>
                  <i class="fa fa-plus"></i>
                </div>
            <% end %>

          </div>
        </li>

        <li>
          <div class="item-wrap">
            <%= link_to chisiamo_path(anchor: 'graphic') do %>
                <%= image_tag "volunteers/kabora_marcello.png" %>
                <div class="link-icon">
                  <div>Marcello Kabora</div>
                  <i class="fa fa-plus"></i>
                </div>
            <% end %>
          </div>
        </li>

        <li>
          <div class="item-wrap">
            <%= link_to chisiamo_path(anchor: 'communication') do %>
                <%= image_tag "volunteers/chiara_gianferrari.jpg" %>
                <div class="link-icon">
                  <div>Chiara Gianferrari</div>
                  <i class="fa fa-plus"></i>
                </div>
            <% end %>
          </div>
        </li>

        <li>
          <div class="item-wrap">
            <%= link_to chisiamo_path(anchor: 'communication') do %>
                <%= image_tag "volunteers/matteo_martini.jpg" %>
                <div class="link-icon">
                  <div>Matteo Martini</div>
                  <i class="fa fa-plus"></i>
                </div>
            <% end %>
          </div>
        </li>

        <li>
          <div class="item-wrap">
            <%= link_to partecipa_path(anchor: 'partecipare') do %>
                <%= image_tag "volunteers/you.png" %>
                <div class="link-icon">
                  <div><%= t('you') %></div>
                  <i class="fa fa-plus"></i>
                </div>
            <% end %>
          </div>
        </li>

      </ul>
      <!-- portfolio-wrapper end -->

    </div>
    <!-- twelve columns end -->

  </div>
  <!-- end row -->

</section>
<!-- Screenshots End -->


<!-- Subscribe Section End-->


<!-- Footer
================================================== -->
<footer>

  <div class="row">

    <div class="medium-6 columns info">

      <div class="footer-logo">
        <a href="#">
          <%= image_tag 'logo_completo_white_mini.png' %>
        </a>
      </div>
      <p><a href="https://github.com/coorasse/Airesis" target="_blank"><%= t('pages.footer.for_edemocracy_html') %></a>
        v.<%= VERSION %></p>

      <p>Airesis is supported and promoted by the No-Profit Association 'Tecnologie Democratiche'. Many thanks to all
        the volunteers that help us to continue this important project.
      </p>

    </div>

    <div class="medium-6 columns right-cols">

      <div class="row">

        <div class="columns small-6 text-center">
          <h3 class="social">socialize</h3>
          <ul>
            <li><a href="https://www.facebook.com/airesisit">Facebook</a></li>
            <li><a href="https://twitter.com/democracyo">Twitter</a></li>
            <li><a href="https://plus.google.com/+AiresisIt">Google+</a></li>
          </ul>
        </div>

        <div class="columns small-6 text-center">
          <h3 class="contact">Contact Us</h3>
          <ul>
            <li><a href="mailto:info@airesis.it">info@airesis.it</a></li>
            <li><a href="mailto:simone.curini@airesis.it">Simone Curini</a></li>
            <li><a href="mailto:nicolagiulietti@hotmail.it">Nicola Giulietti</a></li>
            <li><a href="mailto:marino.tilatti@airesis.it">Marino Tilatti</a></li>
          </ul>
        </div>

      </div>
      <!-- Nested Row End -->

    </div>


    <div id="go-top">
      <a class="smoothscroll" title="Back to Top" href="#hero"><i class="fa fa-chevron-up"></i></a>
    </div>

  </div>
  <!-- Row End -->

</footer>
<!-- Footer End-->


<!-- Java Script
================================================== -->
<%= javascript_include_tag 'landing/main' %>

</body>

</html>
