<% @page_title = t('.title') %>
<% @page_descr = t('.description') %>
<div class="row">
  <div class="row centered">
    <dl class="sub-nav">
      <dd><a href="#caratteristiche_funzioni"><%= t('home.intro.paragraph_5.title') %></a></dd>
      <dd><a href="#descrizione_operativa"><%= t('home.intro.paragraph_6.title')%></a></dd>
      <dd><a href="#Specifiche_tecniche">Specifiche tecniche</a></dd>
    </dl>
  </div>
</div>

<div class="slide red">
  <div class="row centered">
    <h2 id="edemocracy"><%= t('.paragraph_1.title') %></h2>
    <%= t('.paragraph_1.content_html') %>
  </div>
</div>

<div class="slide">
  <div class="row centered">
    <iframe src="https://docs.google.com/presentation/d/1U2w96q28GhIDCoL0hgwvnigUC_xANbl8FCmfPriq4QI/embed?start=true&loop=false&delayms=5000" frameborder="0" width="770" height="620" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
</div>

<div class="slide yellow">
  <div class="row centered">
    <div id="principi" class="fake_anchor"></div>
    <h2><%= t('.paragraph_3.title') %></h2>
    <%= t('.paragraph_3.content_html') %>

  </div>
</div>
<div class="slide violet">
  <div class="row centered">

    <h2 id="Obiettivo"><%= t('.paragraph_4.title') %></h2>
    <%= t('.paragraph_4.content_html') %>
  </div>
</div>
<div class="slide">
  <div class="row centered">
    <div id="caratteristiche_funzioni" class="fake_anchor"></div>
    <h2><%= t('.paragraph_5.title') %></h2>
    <%= t('.paragraph_5.content_html') %>
  </div>
</div>
<div class="slide yellow">
  <div class="row centered">
    <h3 id="funzioni_base"><%= t('.paragraph_6.title') %></h3>
    <%= t('.paragraph_6.content_html') %>

  </div>
</div>
<div class="slide blue">
  <div class="row centered">
    <h3 id="strumento_proposte"><%= t('.paragraph_7.title') %></h3>
    <%= t('.paragraph_7.content_html')%>
  </div>
</div>
<div class="slide violet">
  <div class="row centered">
    <h3 id="votazione"><%= t('.paragraph_8.title') %></h3>
    <%= t('.paragraph_8.content_html')%>
  </div>
</div>
<div class="slide green">
  <div class="row centered">
    <h3 id="promozione_proposte"><%= t('.paragraph_9.title') %></h3>
    <%= t('.paragraph_9.content_html') %>
  </div>
</div>
<div class="slide red">
  <div class="row centered">
    <h3 id="Anonimato_temporaneo"><%= t('.paragraph_10.title') %></h3>
    <%= t('.paragraph_10.content_html') %>

  </div>
</div>
<div class="slide yellow">
  <div class="row centered">
    <h3 id="Gestione_gruppi"><%= t('.paragraph_11.title') %></h3>
    <%= t('.paragraph_11.content_html') %>
  </div>
</div>
<div class="slide">
  <div class="row centered">
    <h3 id="Gruppi"><%= t('.paragraph_12.title') %></h3>
    <%= t('.paragraph_12.content_html') %>
  </div>
</div>


