<% @page_title = t('.title') %>
<% @meta_description = t('.description') %>
<div class="row">
  <div class="row centered">
    <dl class="sub-nav">
      <dd><a href="#characteristics_features"><%= t('home.intro.paragraph_5.title') %></a></dd>
      <dd><a href="#basic_features"><%= t('home.intro.paragraph_6.title')%></a></dd>
      <dd><a href="#technical_specs"><%= t('home.intro.technical_specs.title')%></a></dd>
    </dl>
  </div>
</div>

<div class="slide red">
  <div class="row centered">
    <h1 id="edemocracy"><%= t('.paragraph_1.title') %></h1>
    <%= t('.paragraph_1.content_html') %>
  </div>
</div>

<div class="slide yellow">
  <div class="row centered">
    <div id="principles" class="fake_anchor"></div>
    <h1><%= t('.paragraph_3.title') %></h1>
    <%= t('.paragraph_3.content_html') %>

  </div>
</div>
<div class="slide violet">
  <div class="row centered">

    <h1 id="Obiettivo"><%= t('.paragraph_4.title') %></h1>
    <%= t('.paragraph_4.content_html') %>
  </div>
</div>
<div class="slide">
  <div class="row centered">
    <div id="characteristics_features" class="fake_anchor"></div>
    <h1><%= t('.paragraph_5.title') %></h1>
    <%= t('.paragraph_5.content_html') %>
  </div>
</div>
<div class="slide yellow">
  <div class="row centered">
    <h2 id="funzioni_base"><%= t('.paragraph_6.title') %></h2>
    <%= t('.paragraph_6.content_html') %>

  </div>
</div>
<div class="slide blue">
  <div class="row centered">
    <h2 id="strumento_proposte"><%= t('.paragraph_7.title') %></h2>
    <%= t('.paragraph_7.content_html')%>
  </div>
</div>
<div class="slide violet">
  <div class="row centered">
    <h2 id="votazione"><%= t('.paragraph_8.title') %></h2>
    <%= t('.paragraph_8.content_html')%>
  </div>
</div>
<div class="slide green">
  <div class="row centered">
    <h2 id="promozione_proposte"><%= t('.paragraph_9.title') %></h2>
    <%= t('.paragraph_9.content_html') %>
  </div>
</div>
<div class="slide red">
  <div class="row centered">
    <h2 id="Anonimato_temporaneo"><%= t('.paragraph_10.title') %></h2>
    <%= t('.paragraph_10.content_html') %>

  </div>
</div>
<div class="slide yellow">
  <div class="row centered">
    <h2 id="Gestione_gruppi"><%= t('.paragraph_11.title') %></h2>
    <%= t('.paragraph_11.content_html') %>
  </div>
</div>
<div class="slide">
  <div class="row centered">
    <h2 id="Gruppi"><%= t('.paragraph_12.title') %></h2>
    <%= t('.paragraph_12.content_html') %>
  </div>
</div>


