<%@extend = true %>
<!--Scrivania dell'utente -->

<div id="homecont">

  <%= render partial: "home/portlets/proposals", layout: "layouts/portlet"%>
<%= render partial: "home/portlets/votation", layout: "layouts/portlet"%>
<!--<%#= render partial: "home/portlets/notifications", layout: "layouts/portlet"%>
<%#= render partial: "home/portlets/blogs", layout: "layouts/portlet"%>
<%#= render partial: "home/portlets/groups", layout: "layouts/portlet"%>
<%#= render partial: "home/portlets/last_contributes", layout: "layouts/portlet"%>-->
<%= render partial: "home/portlets/topics", layout: "layouts/portlet"%>
<%= render partial: "home/portlets/territory", layout: "layouts/portlet"%>

</div>


<%=content_for :left_panel do%>    
	<%=render partial: 'users/user_groups_panel'%>
<%end%>
