<script type="text/javascript" src="../src/plugins/jqplot.dateAxisRenderer.min.js"></script>
<% @page_title = t('.title') %>
<div class="row">
  <div class="row centered">
    <h2 id="statistics"><%= @page_title %></h2>

    <div style="height: 400px; width: 600px; " id="chart1">
    </div>

    <h4><%= t('.proposals_number') %></h4> <%= Proposal.count %>
    <h4><%= t('.proposals_debate') %></h4> <%= Proposal.in_valutation.count %>
    <h4><%= t('.proposals_vote') %></h4> <%= Proposal.in_votation.count %>
    <h4><%= t('.proposals_voted') %></h4> <%= Proposal.voted.count %>
    <h4><%= t('.proposals_rejected') %></h4> <%= Proposal.abandoned.count %>
    <hr>
    <h4><%= t('.users_count') %></h4> <%= User.count %>
    <h4><%= t('.users_lastmonth') %></h4> <%= User.where(['last_sign_in_at > ?',Time.now - 1.month]).count %>

    <hr>
    <h4><%= t('.groups_count') %></h4> <%= Group.count %>
  </div>
</div>

<script type="text/javascript">
  $(function() {
      var line1=<%= @stat1.map{|h| [h['date'],h['sum'].to_i]}.to_s.gsub(/"/, "'").html_safe %>;
      var plot1 = $.jqplot('chart1', [line1], {
          title: '<%=j t('.proposals_per_month')%>',
          axes:{xaxis:{
              renderer:$.jqplot.DateAxisRenderer,
              tickOptions:{
                  formatString:'%b&nbsp;%y'
              }
          }},
          series:[{lineWidth:4, markerOptions:{style:'square'}}],
          highlighter: {
              show: true,
              sizeAdjust: 7.5
          },
          cursor: {
              show: false
          }
      });
  });
</script>
