<script type="text/javascript" src="../src/plugins/jqplot.dateAxisRenderer.min.js"></script>
<% @page_title = "Statistiche" %>
<h2 id="statistics"><%= @page_title %></h2>

<div style="height: 400px; width: 600px; " id="chart1">
</div>

<h4><%= 'Numero di proposte totali:' %></h4> <%= Proposal.count %>
<h4><%= 'Numero di proposte in dibattito:' %></h4> <%= Proposal.in_valutation.count %>
<h4><%= 'Numero di proposte in votazione:' %></h4> <%= Proposal.in_votation.count %>
<h4><%= 'Numero di proposte votate:' %></h4> <%= Proposal.voted.count %>
<h4><%= 'Numero di proposte abbandonate:' %></h4> <%= Proposal.abandoned.count %>
<hr>
<h4><%= 'Numero di utenti:' %></h4> <%= User.count %>
<h4><%= "Numero di utenti che hanno fatto login nell'ultimo mese:" %></h4> <%= User.where(['last_sign_in_at > ?',Time.now - 1.month]).count %>
<hr>
<h4><%= 'Numero di gruppi:' %></h4> <%= Group.count %>




<script type="text/javascript">
  $(function() {
      var line1=<%= @stat1.map{|h| [h['date'],h['sum'].to_i]}.to_s.gsub(/"/, "'").html_safe %>;
      var plot1 = $.jqplot('chart1', [line1], {
          title:'Numero di proposte al mese',
          axes:{xaxis:{
              renderer:$.jqplot.DateAxisRenderer,
              tickOptions:{
                  formatString:'%b&nbsp;%y'
              }
          }},
          series:[{lineWidth:4, markerOptions:{style:'square'}}],
          highlighter: {
              show: true,
              sizeAdjust: 7.5
          },
          cursor: {
              show: false
          }
      });
  });

</script>
