<% @page_title = "Video guide e tutorial "%>
<% @page_descr = "Il nostro percorso per realizzare un nuovo software, una idea nata con internet capace di far evolvere la democrazia. "%>
<% video_width=400
   video_height=233%>
<% @page_descr = "Il nostro percorso per realizzare un nuovo software, una idea nata con internet capace di far evolvere la democrazia. "%>
<% content_for :left_panel do %>

      <div id="navlist" class="well" style="padding: 3px 0px; margin: 0px;">
        <ul class="nav nav-list">
          <li>
            <h4 class="nav-header">Contenuti</h4>
          </li>
          <li >
            <a href="#registrazione">Registrarsi ad Airesis</a>
          </li>
          <li >
            <a href="#spazio">Spazio comune e spazio dei gruppi</a>
          </li>
          <li>
            <a href="#gruppo">La creazione di un gruppo</a>
          </li>
          <li>
            <a href="#gestione">La gestione di un gruppo</a>
          </li>
          <li>
            <a href="#meccanismo">Sostegno di una proposta</a>
          </li>
          <li>
            <a href="#autore">Autore di una proposta</a>
          </li>
          <li>
            <a href="#valutare">Mandare in votazione</a>
          </li>
          <li>
            <a href="#commento">Valutare un commento</a>
          </li>
          <li>
            <a href="#history">La history di una proposta</a>
          </li>
          <li>
            <a href="#notifiche">Ricezione di notifiche</a>
          </li>
          <li>
            <a href="#elezioni">Indire elezioni</a>
          </li>
          <li>
            <a href="#calendario">Calendario ed eventi</a>
          </li>
        </ul>
      </div>

<% end %>
<h2 id="spazio">VIDEO-FAQ DI AIRESIS</h2>

<h3 id="registrazione">Registrarsi ad Airesis</h3>
<p>Per poter inserire le proprie proposte, i propri commenti, creare un gruppo o richiedere di partecipare alle attività di un gruppo, è necessario registrarsi ad Airesis. La registrazione può aver luogo tramite facebook oppure inserendo i propri dati personali e quindi confermando la registrazione attraverso un link inviato alla propria casella di posta elettronica.</p>

<iframe width="<%=video_width%>" height="<%=video_height%>" src="http://www.youtube.com/embed/P9n3ENZg2tE?rel=0" frameborder="0" allowfullscreen></iframe>


<h3 id="spazio">Spazio comune e spazio dei gruppi</h3>

<p>Lo “spazio comune” è uno spazio in cui tutti i cittadini possono inserire proposte e discuterle senza la necessità di far parte di alcun gruppo.
  Lo spazio dei gruppi è uno spazio che ciascun gruppo può autogestire autonomamente.</p>

<iframe width="<%=video_width%>" height="<%=video_height%>" src="http://www.youtube.com/embed/n_ZruAcNkVk?rel=0" frameborder="0" allowfullscreen></iframe>



<h3 id="gruppo">La creazione di un gruppo</h3>

<p>Per creare un gruppo in Airesis è sufficiente andare nella pagina “cerca gruppi”, quindi far click sul pulsante “crea nuovo gruppo” (visibile solo dopo aver effettuato il log-in). Si avvia così la creazione di un gruppo con una procedura semplice e veloce.</p>

<iframe width="<%=video_width%>" height="<%=video_height%>" src="http://www.youtube.com/embed/KiwC5zSS2uc?rel=0" frameborder="0" allowfullscreen></iframe>



<h3 id="gestione">La gestione di un gruppo</h3>

<p>Il compito di gestire le impostazioni di un gruppo spetta ai “portavoce” che possono essere eletti nell’ambito di ciascun gruppo.
I portavoce possono modificare le informazioni relative al gruppo, ma soprattutto i ruoli ed i permessi, ossia autorizzare o no determinate categorie di utenti a specifiche azioni nell’ambito del gruppo (es. partecipare alle votazioni del gruppo).
I portavoce possono creare categorie di utenti (es. utenti certificati) e spostare i membri di un gruppo da una categoria all’altra.</p>

<iframe width="<%=video_width%>" height="<%=video_height%>" src="http://www.youtube.com/embed/tZq4GWiX8II?rel=0" frameborder="0" allowfullscreen></iframe>



<h3 id="meccanismo">Il meccanismo di sostegno di una proposta da parte di un gruppo</h3>

<p>I gruppi presenti in Airesis possono sostenere le proposte pubbliche inserite nello spazio comune. Questo significa condividere tali proposte anche nello spazio del gruppo, ponendole in visibilità trai suoi membri.</p>

<iframe width="<%=video_width%>" height="<%=video_height%>" src="http://www.youtube.com/embed/vheZH-1V-sQ?rel=0" frameborder="0" allowfullscreen></iframe>



<h3 id="autore"> Compito dell’autore di una proposta  successivamente al suo inserimento</h3>

<p>Il compito dell’autore di una proposta non si esaurisce dopo il suo inserimento, ma prosegue nella fase dei elaborazione della proposta, nella quale all’autore è chiesto di modificare ed ampliare il testo della proposta sulla base dei commenti e dei suggerimenti degli altri utenti.</p>

<iframe width="<%=video_width%>" height="<%=video_height%>" src="http://www.youtube.com/embed/y5EiSp558NM?rel=0" frameborder="0" allowfullscreen></iframe>



<h3 id="valutare">Valutare una proposta per mandarla in votazione</h3>

<p>Affinché una proposta possa arrivare alla fase di votazione, deve essere valutata in modo sufficientemente positivo dagli utenti che sono più interessati ad essa e che si occupano della sua elaborazione.</p>

<iframe width="<%=video_width%>" height="<%=video_height%>" src="http://www.youtube.com/embed/1dHktniyh7s?rel=0" frameborder="0" allowfullscreen></iframe>



<h3 id="commento">Valutare un commento</h3>

<p>Airesis consente di valutare i commenti lasciati dagli utenti in relazione ad una proposta. Ciò facilita gli autori della proposta ad individuare i commenti più condivisi e a modificare di conseguenza il testo della loro proposta.</p>

<iframe width="<%=video_width%>" height="<%=video_height%>" src="http://www.youtube.com/embed/pS_l7YoO2pM?rel=0" frameborder="0" allowfullscreen></iframe>



<h3 id="history"> Le versioni di una proposta attraverso la history</h3>

<p> scoprire facilmente quali modifiche sono state effettuate al testo di una proposta è possibile far click sul tasto “HISTORY”, posizionato  in alto a destra nella pagina relativa alla proposta.</p>
<iframe width="<%=video_width%>" height="<%=video_height%>" src="http://www.youtube.com/embed/lN1KLJh5kfg?rel=0" frameborder="0" allowfullscreen></iframe>




<h3 id="notifiche">Impostare la ricezione di notifiche tramite e-mail</h3>

<p>Selezionando opportune impostazioni è possibile ricevere notifiche nella propria casella di posta elettronica e rimanere aggiornati su eventi di interesse che hanno luogo in Airesis.</p>

<iframe width="<%=video_width%>" height="<%=video_height%>" src="http://www.youtube.com/embed/KxoLVoxvpZc?rel=0" frameborder="0" allowfullscreen></iframe>

<h3 id="elezioni">Utilizzo dell’area candidati per indire elezioni</h3>
<p>Ogni gruppo registrato ad Airesis ha a disposizione un’area candidati per indire elezioni. Le elezioni si articolano in due fasi:</p>
<ul><li> fase di candidatura, in cui gli utenti possono candidarsi all’elezione</li>
  <li>fase di votazione, durante la quale gli utenti possono votare i candidati</li>
</ul>
<p>La votazione avviene con metodo Schulze e consente agli elettori di individuare una graduatoria di preferenza tra i diversi candidati.</p>

<iframe width="<%=video_width%>" height="<%=video_height%>" src="http://www.youtube.com/embed/Uy-abJVNXn4?rel=0" frameborder="0" allowfullscreen></iframe>

<h3 id="calendario">Il calendario e la gestione degli eventi</h3>

<p>Airesis mette a disposizione di ogni gruppo un calendario per la pianificazione di tutte le proprie attività: votazioni, elezioni, incontri, riunioni… Per ciascuna iniziativa è possibile fornire tutte le informazioni necessarie per consentire la partecipazione degli interessati. Le iniziative pubbliche possono essere condivise anche nel calendario dello spazio comune.</p>

<iframe width="<%=video_width%>" height="<%=video_height%>" src="http://www.youtube.com/embed/fOMt1CKR3LU?rel=0" frameborder="0" allowfullscreen></iframe>


<p class="tutorial_panel">Segnala a <a href="mailto:nicolagiulietti@hotmail.it">Nicola Giulietti</a>  altre domande a cui può essere utile fornire risposta attraverso una video-guida. Grazie per la collaborazione!</p>