<% @page_title = "Video guide e tutorial " %>
<% @page_descr = "Il nostro percorso per realizzare un nuovo software, una idea nata con internet capace di far evolvere la democrazia. " %>
<% video_width=200
   video_height=200 %>
<% @page_descr = "Il nostro percorso per realizzare un nuovo software, una idea nata con internet capace di far evolvere la democrazia. " %>
<% content_for :left_panel do %>

    <!--  <div class="sticky-anchor"></div>
      <div class="sticky">
        <div id='cssmenu'>
          <ul style="border-bottom: none ;">
            <li class='has-sub'><a href='#Funzioni_base'><span>Funzioni base</span></a>
              <ul>
                <li > <a href="#registrazione">Registrarsi ad Airesis</a></li>
                <li ><a href="#spazio">Spazio comune e spazio dei gruppi</a></li>
                <li ><a href="#notifiche">Ricezione di notifiche</a></li>
                <li ><a href="#elezioni">L’area candidati per le  elezioni</a></li>
                <li ><a href="#calendario">Il calendario e la gestione degli eventi</a></li>

              </ul>
            </li>
            <li class='has-sub last'><a href='#Gruppi'><span>Gruppi</span></a>
              <ul>
                <li ><a href="#gruppo">La creazione di un gruppo</a></li>
                <li ><a href="#gestione">La gestione di un gruppo</a></li>
              </ul>
            </li>
            <li class='has-sub'><a href='#Proposte'><span>Proposte</span></a>
              <ul>
                <li > <a href="#meccanismo">Sostegno di una proposta</a></li>
                <li ><a href="#autore">Compito dell’autore di una proposta</a></li>
                <li ><a href="#valutare">Valutare una proposta per la votazione</a></li>
                <li ><a href="#commento">Valutare un commento</a></li>
                <li ><a href="#history">History di una proposta</a></li>
                <li ><a href="#anonimato">L'anonimato temporaneo</a></li>
                <li ><a href="#redazione">Redazione della sintesi a più mani</a></li>
              </ul>
            </li>
            <li class='has-sub'><a href='#Votazioni'><span>Votazioni</span></a>
              <ul>
                <li ><a href="#quorum">Requisiti per la votazione</a></li>
                <li ><a href="#votopropria">Mettere in votazione una proposta</a></li>
              </ul>
            </li>

          </ul>
        </div>
      </div>
        -->

<% end %>

<div class="slide red">
  <div class="row centered two-cols">
    <h2 id="Funzioni_base">Funzioni base</h2>

    <div class="row">
      <div class="columns large-6">
        <h3 id="registrazione">Registrarsi ad Airesis</h3>

        <p>Per poter inserire le proprie proposte, i propri commenti, creare un gruppo o richiedere di partecipare alle
          attività di un gruppo, è necessario registrarsi ad Airesis. La registrazione può aver luogo tramite facebook
          oppure inserendo i propri dati personali e quindi confermando la registrazione attraverso un link inviato alla
          propria casella di posta elettronica.</p>

        <iframe width="<%= video_width %>" height="<%= video_height %>" src="http://www.youtube.com/embed/P9n3ENZg2tE?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>
      </div>


      <div class="columns large-6">
        <h3 id="spazio">Spazio comune e spazio dei gruppi</h3>

        <p>Lo “spazio comune” è uno spazio in cui tutti i cittadini possono inserire proposte e discuterle senza la
          necessità di far parte di alcun gruppo.
          Lo spazio dei gruppi è uno spazio che ciascun gruppo può autogestire autonomamente.</p>

        <iframe width="<%= video_width %>" height="<%= video_height %>" src="http://www.youtube.com/embed/n_ZruAcNkVk?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="columns large-6">
        <h3 id="notifiche">Ricezione di notifiche</h3>

        <p>Selezionando opportune impostazioni è possibile ricevere notifiche nella propria casella di posta elettronica
          e
          rimanere aggiornati su eventi di interesse che hanno luogo in Airesis.</p>

        <iframe width="<%= video_width %>" height="<%= video_height %>" src="http://www.youtube.com/embed/KxoLVoxvpZc?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="columns large-6">
        <h3 id="calendario">Il calendario e la gestione degli eventi</h3>

        <p>Airesis mette a disposizione di ogni gruppo un calendario per la pianificazione di tutte le proprie attività:
          votazioni, elezioni, incontri, riunioni… Per ciascuna iniziativa è possibile fornire tutte le informazioni
          necessarie per consentire la partecipazione degli interessati. Le iniziative pubbliche possono essere
          condivise
          anche nel calendario dello spazio comune.</p>

        <iframe width="<%= video_width %>" height="<%= video_height %>" src="http://www.youtube.com/embed/fOMt1CKR3LU?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<div class="slide yellow">
  <div class="row centered two-cols">

    <h2 id="Gruppi">Gruppi</h2>

    <div class="row">
      <div class="columns large-6">
        <h3 id="gruppo">La creazione di un gruppo</h3>

        <p>Per creare un gruppo in Airesis è sufficiente andare nella pagina “cerca gruppi”, quindi far click sul
          pulsante
          “crea nuovo gruppo” (visibile solo dopo aver effettuato il log-in). Si avvia così la creazione di un gruppo
          con
          una procedura semplice e veloce.</p>

        <iframe width="<%= video_width %>" height="<%= video_height %>" src="http://www.youtube.com/embed/KiwC5zSS2uc?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="columns large-6">
        <h3 id="gestione">La gestione di un gruppo</h3>

        <p>Il compito di gestire le impostazioni di un gruppo spetta ai “portavoce” che possono essere eletti
          nell’ambito di
          ciascun gruppo.
          I portavoce possono modificare le informazioni relative al gruppo, ma soprattutto i ruoli ed i permessi, ossia
          autorizzare o no determinate categorie di utenti a specifiche azioni nell’ambito del gruppo (es. partecipare
          alle
          votazioni del gruppo).
          I portavoce possono creare categorie di utenti (es. utenti certificati) e spostare i membri di un gruppo da
          una
          categoria all’altra.</p>

        <iframe width="<%= video_width %>" height="<%= video_height %>" src="http://www.youtube.com/embed/tZq4GWiX8II?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="slide blue">
  <div class="row centered two-cols">

    <h2 id="Proposte">Proposte</h2>

    <div class="row">
      <div class="columns large-6">
        <h3 id="meccanismo">Sostegno di una proposta da parte di un gruppo</h3>

        <p>I gruppi presenti in Airesis possono sostenere le proposte pubbliche inserite nello spazio comune. Questo
          significa condividere tali proposte anche nello spazio del gruppo, ponendole in visibilità trai suoi
          membri.</p>

        <iframe width="<%= video_width %>" height="<%= video_height %>" src="http://www.youtube.com/embed/vheZH-1V-sQ?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>

      </div>

      <div class="columns large-6">
        <h3 id="autore"> Compito dell’autore di una proposta </h3>

        <p>Il compito dell’autore di una proposta non si esaurisce dopo il suo inserimento, ma prosegue nella fase
          dei
          elaborazione della proposta, nella quale all’autore è chiesto di modificare ed ampliare il testo della
          proposta
          sulla base dei commenti e dei suggerimenti degli altri utenti.</p>

        <iframe width="<%= video_width %>" height="<%= video_height %>" src="http://www.youtube.com/embed/y5EiSp558NM?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="columns large-6">
        <h3 id="valutare">Valutare una proposta per mandarla in votazione</h3>

        <p>Affinché una proposta possa arrivare alla fase di votazione, deve essere valutata in modo
          sufficientemente
          positivo dagli utenti che sono più interessati ad essa e che si occupano della sua elaborazione.</p>

        <iframe width="<%= video_width %>" height="<%= video_height %>" src="http://www.youtube.com/embed/1dHktniyh7s?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="columns large-6">

        <h3 id="commento">Valutare un commento</h3>

        <p>Airesis consente di valutare i commenti lasciati dagli utenti in relazione ad una proposta. Ciò facilita
          gli
          autori della proposta ad individuare i commenti più condivisi e a modificare di conseguenza il testo della
          loro
          proposta.</p>

        <iframe width="<%= video_width %>" height="<%= video_height %>" src="http://www.youtube.com/embed/pS_l7YoO2pM?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="columns large-6">
        <h3 id="history"> History di una proposta</h3>

        <p> scoprire facilmente quali modifiche sono state effettuate al testo di una proposta è possibile far click
          sul
          tasto “HISTORY”, posizionato in alto a destra nella pagina relativa alla proposta.</p>
        <iframe width="<%= video_width %>" height="<%= video_height %>" src="http://www.youtube.com/embed/lN1KLJh5kfg?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="columns large-6">
        <h3 id="anonimato">L’anonimato temporaneo e la sua disattivazione</h3>

        <p>L’anonimato temporaneo è una peculiarità di Airesis che consente di giudicare i contributi degli utenti
          valutando
          le idee e non le
          persone, nonché di dibattere in modo più costruttivo, liberi da pregiudizi. Qualora vi sia la necessità di
          disattivare l’anonimato, lo si può fare a livello di gruppo o a livello di singola proposta.</p>

        <iframe width="<%= video_width %>" height="<%= video_height %>" src="http://www.youtube.com/embed/9wtUkDmDwTc?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="columns large-6">
        <h3 id="redazione">Redazione della sintesi a più mani</h3>

        <p>L’autore di una proposta, che è tenuto a modificarla sulla base dei suggerimenti ricevuti da altri
          utenti, può
          farsi aiutare nel suo compito da altre persone che danno la loro disponibilità.</p>

        <iframe width="<%= video_width %>" height="<%= video_height %>" src="http://www.youtube.com/embed/VZmIXgtDsbs?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="slide violet">
  <div class="row centered two-cols">

    <h2 id="Votazioni">Votazioni</h2>

    <div class="row">
      <div class="columns large-6">

        <h3 id="quorum">Requisiti per la votazione: i quorum</h3>

        <p>Al fine di effettuare una preselezione delle proposte da votare a livello di gruppo, è possibile
          individuare dei
          requisiti, detti "quorum", che le proposte dovranno raggiungere per poter esser votate. I quorum
          possono essere
          personalizzati da ogni gruppo, ed entro certi limiti anche da chi inserisce una proposta.</p>

        <iframe width="<%= video_width %>" height="<%= video_height %>" src="http://www.youtube.com/embed/zNgucXxSxhA?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>

      </div>

      <div class="columns large-6">
        <h3 id="votopropria">Mettere in votazione una proposta</h3>

        <p>Terminata la fase di dibattito, la proposta entra in un limbo, in attesa che venga definito un
          periodo nel quale
          avrà luogo la votazione. Chi si era occupato di redigere la sintesi della proposta può scegliere un
          periodo di
          votazione da un elenco, oppure creare un nuovo periodo di votazione.</p>

        <iframe width="<%= video_width %>" height="<%= video_height %>" src="http://www.youtube.com/embed/3I42i7cf3Xs?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>

      </div>
    </div>
  </div>
</div>


<p class="tutorial_panel">Segnala a <a href="mailto:nicolagiulietti@hotmail.it">Nicola Giulietti</a> altre
  domande a cui
  può essere utile fornire risposta attraverso una video-guida. Grazie per la collaborazione!</p>