<% @page_title = t('.title') %>
<% @page_descr = t('.description') %>


<div class="slide red" xmlns="http://www.w3.org/1999/html">
  <div class="row centered">

    <h2 id="edemocracy"><%= t('.paragraph_1.title') %></h2>
    <%= t('.paragraph_1.content_html') %>
  </div>
</div>
<div class="slide">
  <div class="row centered">
    <div class="columns large-3">
      <%= image_tag 'presentation/group.png', class: 'presentation' %>
    </div>
    <div class="columns large-9">
      <h2><%= t('.paragraph_2.title') %></h2>
      <%= t('.paragraph_2.content_html') %>
    </div>
  </div>
</div>
<div class="slide yellow">
  <div class="row centered">

    <div class="columns large-9">
      <h2><%= t('.paragraph_3.title') %></h2>
      <%= t('.paragraph_3.content_html') %>
    </div>
    <div class="columns large-3">
      <%= image_tag 'presentation/permissions.png', class: 'presentation' %>
    </div>
  </div>
</div>

<div class="slide violet">
  <div class="row centered">
    <div class="columns large-3">
      <%= image_tag 'presentation/proposal.png', class: 'presentation' %>
    </div>
    <div class="columns large-9">
      <h2><%= t('.paragraph_4.title') %></h2>
      <%= t('.paragraph_4.content_html') %>
    </div>
  </div>
</div>

<div class="slide blue">
  <div class="row centered">

    <div class="columns large-9">
      <h2><%= t('.paragraph_5.title') %></h2>
      <%= t('.paragraph_5.content_html') %>
    </div>
    <div class="columns large-3">
      <%= image_tag 'presentation/event.png', class: 'presentation' %>
    </div>
  </div>
</div>

<div class="slide red">
  <div class="row centered">
    <div class="columns large-3">
      <%= image_tag 'presentation/documents.png', class: 'presentation' %>
    </div>
    <div class="columns large-9">
      <h2><%= t('.paragraph_6.title') %></h2>
      <%= t('.paragraph_6.content_html') %>
    </div>
  </div>
</div>


<div class="slide green">
  <div class="row centered">

    <div class="columns large-9">
      <h2><%= t('.paragraph_7.title') %></h2>
      <%= t('.paragraph_7.content_html') %>
    </div>
    <div class="columns large-3">
      <%= image_tag 'presentation/forum.png', class: 'presentation' %>
    </div>
  </div>
</div>
<div class="slide">
  <div class="row centered">
    <div class="columns large-3">
      <%= image_tag 'presentation/more.png', class: 'presentation' %>
    </div>
    <div class="columns large-9">
      <h2><%= t('.paragraph_8.title') %></h2>
      <%= t('.paragraph_8.content_html') %>
    </div>
  </div>
</div>
