<% @page_title = t('.title') %>
<% @page_descr = t('.description') %>

<div class="row">
  <div class="row centered">
    <dl class="sub-nav">
      <dd><a href="#development"><%= t('.development_area') %></a></dd>
      <dd><a href="#analysis"><%= t('.analysis_area') %></a></dd>
      <dd><a href="#graphic"><%= t('.graphic_area') %></a></dd>
      <dd><a href="#i18n"><%= t('.i18n_area') %></a></dd>
      <dd><a href="#communication"><%= t('.communication_area') %></a></dd>
      <dd><a href="#test"><%= t('.test_area') %></a></dd>
      <dd><a href="#others"><%= t('.other_voluteers') %></a></dd>
    </dl>
  </div>
</div>

<div class="slide">
  <div class="row centered">

    <h2 id="opensource"><%=t('.paragraph1.title')%></h2>
    <%=t('.paragraph1.content_html',story: (link_to t('.paragraph1.story'), story_path))%>
  </div>

</div>

<div class="slide red">
  <div class="row centered">
    <h2><%= t('.development_area') %></h2>
    <div id="development" class="fake_anchor"></div>

    <div class="large-3  columns">
      <div class="image_volontario">
        <%= image_tag "volunteers/rodi_alessandro.jpg", :width => 150 %>
      </div>
      <div>
        <%= mail_to  'alessandro.rodi@airesis.it'%>
        <a href="//plus.google.com/105378296770624698158?prsrc=3" target="_blank" rel="publisher" style="text-decoration:none;display:inline-block;color:#333;text-align:center; font:13px/16px arial,sans-serif;white-space:nowrap;">
          <span style="display:inline-block;font-weight:bold;vertical-align:top;margin-right:0px; margin-top:0px;">Alessandro</span>
          <span style="display:inline-block;vertical-align:top;margin-right:5px; margin-top:0px;">su</span>
          <img src="//ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+" style="border:0;width:16px;height:16px;"/>
        </a><br/>


      </div>
    </div>
    <div class="large-9 columns">
      <div class="descrizione_volontario">
        <h3>Alessandro Rodi</h3>
        <h4><%= t('.rodi_alessandro.title') %></h4>
        <%= t('.rodi_alessandro.content_html', age: age(Date.new(1986, 8, 19))) %>
      </div>
    </div>
  </div>
</div>

<div class="slide yellow">
  <div class="row centered">
    <div class="large-3  columns">
      <div class="image_volontario">
        <%= image_tag "volunteers/tilatti_marino.png", :width => 150 %>
      </div>
      <div>
        <%= mail_to  'marino.tilatti@airesis.it'%>
        <a href="skype:nemesistemi?add"><img src="http://download.skype.com/share/skypebuttons/buttons/add_green_transparent_118x23.png" style="border: none;" width="118" height="23" alt="Aggiungimi a Skype"/></a>
      </div>
    </div>
    <div class="large-9 columns">
      <div class="descrizione_volontario">
        <h3>Marino Tilatti</h3>
        <h4><%= t('.tilatti_marino.title') %></h4>
        <%= t('.tilatti_marino.content_html') %>

      </div>
    </div>
  </div>
</div>



<div class="slide violet">
  <div class="row centered">
    <h2><%= t('.analysis_area') %></h2>
    <div id="analysis" class="fake_anchor"></div>
    <div class="large-3  columns">
      <div class="image_volontario">
        <%= image_tag "volunteers/giulietti_nicola.png", :width => 150 %>
      </div>
      <div>
        <a href="skype:nicolagiulietti?add"><img src="http://download.skype.com/share/skypebuttons/buttons/add_green_transparent_118x23.png" style="border: none;" width="118" height="23" alt="Aggiungimi a Skype"/></a><br>
        <%= mail_to 'mailto:nicolagiulietti@hotmail.it' %>
        <div>cell +39.3802931955</div>
      </div>
    </div>
    <div class="large-9 columns">
      <div class="descrizione_volontario">
        <h3>Nicola Giulietti</h3>
        <h4><%= t('.giulietti_nicola.title') %></h4>
        <%= t('.giulietti_nicola.content_html', age: age(Date.new(1984, 8, 19)), volunteer: age(Date.new(1998, 8, 19))) %>
      </div>
    </div>
  </div>
</div>


<div class="slide green ">
  <div class="row centered">
    <div class="large-3  columns">
      <div class="image_volontario">
        <%= image_tag "volunteers/baiotto_marco.png", :width => 150 %>
      </div>
      <div>
        <%= mail_to 'marco.baiotto@airesis.it' %>
      </div>
    </div>
    <div class="large-9 columns">
      <div class="descrizione_volontario">
        <h3>Marco Baiotto</h3>
        <h4><%= t('.baiotto_marco.title') %></h4>
        <%= t('.baiotto_marco.content_html') %>

      </div>
    </div>
  </div>
</div>

<div class="slide blue">
  <div class="row centered">
    <h2><%= t('.graphic_area') %></h2>
    <div id="graphic" class="fake_anchor"></div>
    <div class="large-3  columns">
      <div class="image_volontario">
        <%= image_tag "volunteers/kabora_marcello.jpg", :width => 150 %>
      </div>
      <div>

      </div>
    </div>
    <div class="large-9 columns">
      <div class="descrizione_volontario">
        <h3>Marcello Kabora</h3>
        <h4><%= t('.kabora_marcello.title') %></h4>
        <%= t('.kabora_marcello.content_html') %>

      </div>
    </div>
  </div>
</div>

<div class="slide yellow">
  <div class="row centered">
    <h2><%= t('.i18n_area') %></h2>
    <div id="i18n" class="fake_anchor"></div>
    <div class="large-3  columns">
      <div class="image_volontario">
        <%= image_tag "volunteers/tolja_jacopo.jpg", :width => 150 %>
      </div>
      <div>
        <%= mail_to 'jacopo.tolja@airesis.it' %>
      </div>
      <div>

      </div>
    </div>
    <div class="large-9 columns">
      <div class="descrizione_volontario">
        <h3>Jacopo Tolja</h3>
        <h4><%= t('.tolja_jacopo.title') %></h4>
        <%= t('.tolja_jacopo.content_html') %>
      </div>
    </div>
  </div>
</div>


<div class="slide red">
  <div class="row centered">
    <h2><%= t('.communication_area') %></h2>
    <div id="communication" class="fake_anchor"></div>
    <div class="large-3  columns">
      <div class="image_volontario">
        <%= image_tag "volunteers/curini_simone.jpg", :width => 150 %>
      </div>
      <div>
        <%= mail_to 'simone.curini@airesis.it' %>
      </div>
    </div>
    <div class="large-9 columns">
      <div class="descrizione_volontario">
        <h3>Simone Curini</h3>
        <h4><%= t('.curini_simone.title') %></h4>
        <%= t('.curini_simone.content_html', age: age(Date.new(1977, 8, 19)), volunteers: age(Date.new(2006, 1, 1))) %>
      </div>
    </div>
  </div>
</div>

<div class="slide yellow">
  <div class="row centered">
    <h2><%= t('.test_area') %></h2>
    <div id="test" class="fake_anchor"></div>
    <div class="large-3  columns">
      <div class="image_volontario">
        <%= image_tag "volunteers/mion_carlo.jpg", :width => 150 %>
      </div>
      <div style="line-height: 20px">
        <%= mail_to 'carlo.mion@airesis.it' %>
        <a href="//plus.google.com/101515742553331217199?prsrc=3" target="_blank"
           rel="publisher" target="_top" style="text-decoration:none;display:inline-block;color:#333;text-align:center; font:13px/16px arial,sans-serif;white-space:nowrap;">
          <span style="display:inline-block;font-weight:bold;vertical-align:top;margin-right:5px; margin-top:0px;">Carlo Mion</span><span style="display:inline-block;vertical-align:top;margin-right:13px; margin-top:0px;">on</span>
          <img src="//ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+" style="border:0;width:16px;height:16px;"/>
        </a>
      </div>
    </div>
    <div class="large-9 columns">
      <div class="descrizione_volontario">
        <h3>Carlo Mion</h3>
        <h4><%= t('.mion_carlo.title') %></h4>
        <%= t('.mion_carlo.content_html') %>

      </div>
    </div>
  </div>
</div>


<div class="slide red">
  <div class="row centered">
    <div class="large-3  columns">
      <div class="image_volontario">
        <%= image_tag "volunteers/zanellato_luca.jpg", :width => 150 %>
      </div>
      <div>
        <%= mail_to 'luca.zanellato@airesis.it' %>
      </div>
      <div>

      </div>
    </div>
    <div class="large-9 columns">
      <div class="descrizione_volontario">
        <h3>Luca Zanellato</h3>
        <h4><%= t('.zanellato_luca.title') %></h4>
        <%= t('.zanellato_luca.content_html') %>
      </div>
    </div>
  </div>
</div>

<div class="slide">
  <div class="row centered">
    <h2><%= t('.other_voluteers') %></h2>
    <div id="others" class="fake_anchor"></div>
    <p>Chiara Gianferrari, Fabio Ceccarelli, Fabio Palmieri, Giovani Spagnolo, Laura Maccioni, Luca Zanellato, Pietro
      Speroni di Fenizio</p>

    <h2><%= t('.contributors') %></h2>

    <p><%= t('.contributors_desc') %> </p>
    <p>
      Alessandro Socciarello, Andrea Papini, Aramis amantini,
      Danilo Mezgec, Enrico Mengotti, Fabio Alemagna, Fabrizio Traboni, Fatima Foudal,
      Francesco Ercavalierenero,Gabriella Creti, Gianmarco Barel, Heba Saied,
      Marco Zordan, Mauro Sasso, Matteo Martini, Massimo Pagani, Michelangelo Marchesi, Pietro Polimeri,
      Riccardo Leone, Rui Martins, Simone D'Errico, Veit Ladurner...</p>

    <h2><%= t('.special_thanks') %></h2>
    <ul>
      <li><a href="https://www.facebook.com/groups/incontrom5s/" target="_blank">
        <%=t('.thanks_1')%></a>
      </li>
      <li><%=t('.thanks_2')%>
      </li>
      <li><%=t('.thanks_3')%>
      </li>
      <li><%=t('.thanks_4')%></li>
      <li><%=t('.thanks_5_html')%>
      </li>
      <li><%=t('.thanks_6_html')%>
      </li>
      <li><%=t('.thanks_7_html')%>
      </li>
      <li><%=t('.thanks_8_html')%>
      </li>
    </ul>
    <a href="http://www.jetbrains.com/ruby/" target="_blank" style="margin-right:40px;">
      <img src="http://confluence.jetbrains.com/download/attachments/20238/RM_logo.gif" style="height:32px"/>
    </a>
    <a href="http://www.gurock.com/testrail/" target="_blank" style="margin-right:40px;">
      <img src="http://www.gurock.com/images/start/testrail.png" style="height:32px"/>
    </a>
    <a href="http://railscasts.com/" target="_blank">
      <img src="http://railscasts.com/assets/railscasts_logo-7101a7cd0a48292a0c07276981855edb.png" style="height:32px"/>
    </a>
  </div>
</div>