<h1>Listing tutorials</h1>

<table id="table">
	
  <thead>
    <th>Action</th>
    <th>Controller</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
<tbody>
<% @tutorials.each do |tutorial| %>
  <tr>
    <td><%= tutorial.action %></td>
    <td><%= tutorial.controller %></td>
    <td><%= tutorial.name %></td>
    <td><%= tutorial.description %></td>
    <td><%= link_to 'Show', tutorial %></td>
    <td><%= link_to 'Edit', edit_tutorial_path(tutorial) %></td>
    <td><%= link_to 'Destroy', tutorial, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Tutorial', new_tutorial_path %>

<script type="text/javascript">
	$(function() {
		$('#table').dataTable();
	});
</script>
