<p id="notice"><%= notice %></p>

<p>
  <b>Action:</b>
  <%= @tutorial.action %>
</p>

<p>
  <b>Controller:</b>
  <%= @tutorial.controller %>
</p>

<p>
  <b>Name:</b>
  <%= @tutorial.name %>
</p>

<p>
  <b>Description:</b>
  <%= @tutorial.description %>
</p>

<p><b>Elenco degli step</b>
	
	<h1>Listing steps</h1>

<table>
  <tr>
    <th>Tutorial</th>
    <th>Index</th>
    <th>Title</th>
    <th>Content</th>
    <th>Required</th>
    <th>Fragment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tutorial.steps.each do |step| %>
  <tr>
    <td><%= step.tutorial_id %></td>
    <td><%= step.index %></td>
    <td><%= step.title %></td>
    <td><%= step.content %></td>
    <td><%= step.required %></td>
    <td><%= step.fragment %></td>
    <td><%= link_to 'Show', tutorial_step_path(@tutorial,step) %></td>
    <td><%= link_to 'Edit', edit_tutorial_step_path(@tutorial,step) %></td>
    <td><%= link_to 'Destroy', tutorial_step_path(@tutorial,step), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Step', new_tutorial_step_path(@tutorial) %>

	
</p>

<p>
<h1>Listing tutorial_assignees</h1>

<table>
  <tr>
    <th>User</th>
    <th>Tutorial</th>
    <th>Completed</th>
    <th>Index</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tutorial.assignees.each do |tutorial_assignee| %>
  <tr>
    <td><%= tutorial_assignee.user.id %> - <%= tutorial_assignee.user.login%></td>
    <td><%= tutorial_assignee.tutorial_id %></td>
    <td><%= tutorial_assignee.completed %></td>
    <td><%= tutorial_assignee.index %></td>
    <td><%= link_to 'Show', tutorial_tutorial_assignee_path(@tutorial,tutorial_assignee) %></td>
    <td><%= link_to 'Edit', edit_tutorial_tutorial_assignee_path(@tutorial,tutorial_assignee) %></td>
    <td><%= link_to 'Destroy', tutorial_tutorial_assignee_path(@tutorial,tutorial_assignee), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tutorial assignee', new_tutorial_tutorial_assignee_path(@tutorial) %>


</p>
<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
<%= link_to 'Back', tutorials_path %>
