<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_API_KEY'] %>&sensor=false"></script>

<% if @group ? (can? :create_event, @group) : is_admin? %>
    <style type="text/css">
        .fc-widget-content {
            cursor: pointer;
        }

        .fc-widget-content:hover {
            background-color: #f5f8f9;
        }

        .fc-widget-content:active {
            background-color: #fbec88;
        }
    </style>
<% end %>

<div class="calendar_container card">
  <div id='calendar'>
  </div>
</div>

<div id="create_event_dialog" class="reveal-modal medium" data-reveal>

</div>

<div class="choose_event_type" style="display:none;">
  <h2 class="modal_title"><%= t('pages.events.index.choose_type') %></h2>
  <div style="max-width:540px;margin:auto;">
    <% EventType.active.each do |event_type| %>
        <div class="event_model_option" data-id="<%= event_type.id %>" style="background-color: <%= event_type.color %>">
          <div class="model_name">
            <div class="name"><%= event_type.description.upcase %></div>
            <div class="icon">
              <%= image_tag "event_types/#{event_type.name.downcase}.png", align: 'middle', alt: event_type.description, title: event_type.description, style: 'width:160px' %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<%= content_for :left_panel do %>
    <% if @group %>
        <div class="mybox">
          <% if can? :create_any_event, @group %>
              <%= link_to '#', class: 'btn blue create_event' do %>
                  <i class="fa fa-plus"></i>
                  <%= t('pages.calendar.create_event_button') %>
              <% end %>
          <% elsif can? :create_event, @group %>
              <%= link_to new_group_event_url(@group, event_type_id: EventType::INCONTRO), remote: true, class: 'btn blue', data: {disable_with: t('loading')} do %>
                  <i class="fa fa-plus"></i>
                  <%= t('pages.calendar.create_event_button') %>
              <% end %>
          <% elsif can? :create_date, @group %>
              <%= link_to new_group_event_url(@group, event_type_id: EventType::VOTAZIONE), remote: true, class: 'btn blue', data: {disable_with: t('loading')} do %>
                  <i class="fa fa-plus"></i>
                  <%= t('pages.calendar.create_event_button') %>
              <% end %>
          <% end %>

          <%= link_to '<img src="//www.google.com/calendar/images/ext/gc_button6.gif" border=0>'.html_safe, "http://www.google.com/calendar/render?cid=#{group_events_url(@group, format: :ics)}", target: '_blank', style: 'display: table; margin: 25px auto;' %>
        </div>
    <% else %>
        <% if is_admin? %>
            <div class="mybox">
              <%= link_to '#', class: 'btn blue disable create_event' do %>
                  <i class="fa fa-plus"></i>
                  <%= t('pages.calendar.create_event_button') %>
              <% end %>
            </div>
        <% end %>
    <% end %>
<% end %>

<script type="text/javascript">
    $(function () {
        $('.create_event').on('click', function () {
            var create_event_ = $('#create_event_dialog');
            create_event_.empty();
            create_event_.append($('.choose_event_type').clone().show());

            $('.event_model_option', create_event_).click(function () {
                var create_event_inner_ = $('.choose_event_type', create_event_);
                var type_id = $(this).data('id');
                create_event_inner_.hide(1000, function () {
                    create_event_inner_.remove();
                    create_event_.append('<%=j render "fragments/loading"%>');
                    $.ajax({
                        url: '<%=j raw new_event_path(group_id: (@group.id if @group), models: true)%>',
                        data: 'event_type_id=' + type_id,
                        dataType: 'script'
                    })
                });


            });

            create_event_.foundation('reveal', 'open', {
                closeOnBackgroundClick: false,
                closeOnEsc: false
            });
            return false;
        });

        //$('.calendar_container').height($(window).height());
        $(window).resize(function () {
            $('#calendar').fullCalendar('option', 'height', $(window).height() - 170);
        });
        $('#calendar').fullCalendar({
            editable: true,
            height: $(window).height() - 185,
            <%unless (@group ? (can? :create_event, @group) : is_admin?) %>
            disableDragging: true,
            disableResizing: true,
            <%end%>
            header: {
                left: 'today prev,next',
                center: 'title',
                right: 'list,month,agendaWeek,agendaDay'
            },
            views: {
                list: {
                    type: 'ListView',
                    duration: { days: 10 },
                    buttonText: 'Liste',
                    titleFormat: 'D MMMM YYYY'
                }
            },
            defaultView: 'month',
            slotMinutes: 15,
            firstDay: <%=t('calendar.firstDay')%>,
            monthNames: <%=raw t('calendar.monthNames')%>,
            monthNamesShort: <%=raw t('calendar.monthNamesShort')%>,
            dayNames: <%=raw t('calendar.dayNames')%>,
            dayNamesShort: <%=raw t('calendar.dayNamesShort')%>,
            buttonText: {
                prevYear: "<span class='fc-text-arrow'>&laquo;</span>",
                nextYear: "<span class='fc-text-arrow'>&raquo;</span>",
                today: '<%=t('calendar.today')%>',
                month: '<%=t('calendar.month')%>',
                week: '<%=t('calendar.week')%>',
                day: '<%=t('calendar.day')%>'
            },
            events: '<%=@group ? group_events_url(@group) : events_url%>',
            timeFormat: {
                month: '<%=t('calendar.timeFormat')%>',
                week: '',
                agenda: ''
            },
            columnFormat: {
                month: 'ddd',
                week: 'ddd M/d',
                day: 'dddd M/d'
            },
            axisFormat: 'H:mm',
            dragOpacity: "0.5",
            eventDrop: function(event, delta, revertFunc, jsEvent, ui, view) {
                moveEvent(event, delta, revertFunc, jsEvent, ui, view);
            },

            eventResize: function(event, delta, revertFunc, jsEvent, ui, view) {
                resizeEvent(event, delta, revertFunc, jsEvent, ui, view);
            },

            eventClick: function (event, jsEvent, view) {
                goEventPage(event);
            },

            eventRender: function (event, element) {
                if (event.editable) {
                    element.css('cursor', 'pointer');
                }
            },
            dayClick: function (date, jsEvent, view) {
                <%if (@group ? (can? :create_event, @group) : is_admin?) %>
                $.ajax({
                    data: 'starttime=' + date.valueOf(),
                    url: '<%=j raw new_event_url(group_id: @group.try(:id), event_type_id: EventType::INCONTRO) %>',
                    dataType: 'script'
                });
                <%end%>
            }
        });

        <%if params[:new_event] == 'true' %>
        $.ajax({
            url: '<%=j raw new_event_url(group_id: @group.try(:id), event_type_id: params[:event_type_id]) %>',
            dataType: 'script'
        });
        <%end%>
    });
</script>
