<% if @group %>
    <h3><%= "Evento del gruppo: #{@group.name}" %></h3>
<% else %>
    admin event
<% end %>
<%= form_for @event, :url => {:controller => 'events', :action => 'update'}, :remote => true do |f| %>
    <%= f.hidden_field :organizer_id %>
    <div class="row">

      <div class="columns large-6 small-6">

        <%= f.label :title %>

        <%= f.text_field :title %>


        <%= f.label :description %>

        <%= f.text_area :description, :rows => 4, :cols => 30 %>

        <% if @event.is_votazione? %>
            <%= f.hidden_field :private %>
        <% else %>
            <p>
              <%= f.label :private %>
              <%= f.check_box :private, :title => t('pages.events.new.private_tooltip') %>
            </p>
        <% end %>

        <%= f.hidden_field :event_type_id %>
      </div>
      <div class="columns large-6 small-6">

        <%= f.label :starttime %>

        <%= f.text_field :starttime, :value => (l(@event.starttime, format: :textfield)), :class => "datePicker" %>

        <%= f.label :endtime %>

        <%= f.text_field :endtime, :value => (l(@event.endtime, format: :textfield)), :class => "datePicker" %>

        <%= f.label :all_day do %>
            <%= f.check_box :all_day %>
            <%= t('activerecord.attributes.event.all_day') %>
        <% end %>
      </div>
    </div>

    <%= f.hidden_field :id, :value => @event.id %>
    <%= f.hidden_field :commit_button, :value => "" %>

    <% if @event.is_incontro? %>
        <div class="row">
          <div class="columns large-6 small-6">


            <%= f.fields_for :meeting, @meeting do |m| %>
                <%= m.fields_for :place, @place do |p| %>
                    <div id="edit_luogo">
                      <%= p.label :comune_id, t('activerecord.attributes.event.meeting.place.comune_id') %>
                      <%= p.text_field :comune_id, :onchange => "codeAddress('edit_luogo');", "data-pre" => [{:id => @event.place.comune.id, :name => @event.place.comune.description}].to_json %>
                      <%= p.label :address %>
                      <%= p.text_field :address, :onchange => "codeAddress('edit_luogo');" %>
                      <%= p.hidden_field :latitude_original %>
                      <%= p.hidden_field :longitude_original %>
                      <%= p.hidden_field :latitude_center %>
                      <%= p.hidden_field :longitude_center %>
                      <%= p.hidden_field :zoom %>

                      <div id="edit_map_canvas" style="width: 320px; height: 320px;"></div>
                      <!--<div id="panorama_canvas" style="width: 320px; height: 120px;"></div>-->
                    </div>
                <% end %>
            <% end %>
          </div>
        </div>
    <% end %>

    <div class="row">
      <div class="columns large-12 small-12">
        <a href="#" class="btn" onclick="$('#event_edit').dialog('destroy');$('#event_edit').remove();"><%= t('buttons.cancel') %></a>
        <% if @event.event_series -%>
            <%= f.submit 'Aggiorna solo questa occorrenza', :onclick => "document.getElementById('event_commit_button').value = this.value" %>
            <%= f.submit 'Aggiorna tutte le occorrenze', :onclick => "document.getElementById('event_commit_button').value = this.value" %>
            <%= f.submit 'Aggiorna tutte le occorrenze successive', :onclick => "document.getElementById('event_commit_button').value = this.value" %>
        <% else -%>
            <%= f.submit 'Aggiorna', :onclick => "document.getElementById('event_commit_button').value = this.value", :class => 'btn blue', :disable_with => t('updating') %>
        <% end -%>
      </div>
    </div>
<% end %>

