<% if @group %>
    <h2><%= "Evento del gruppo: #{@group.name}" %></h2>
<% else %>
    admin event
<% end %>
<%= simple_form_for (@group && !in_subdomain?) ? [@group, @event] : @event, validate: true do |f| %>
    <%= f.hidden_field :organizer_id %>
    <div class="row">
      <div class="columns medium-6">
        <%= f.input :title %>
        <%= f.input :description, rows: 4, cols: 30 %>

        <% if @event.is_votazione? %>
            <%= f.hidden_field :private %>
        <% else %>
            <%= f.label :private do %>
                <%= f.check_box :private, title: t('pages.events.new.private_tooltip') %>
                <%= t('activerecord.attributes.event.private') %>
            <% end %>
        <% end %>
        <div class="row collapse">
          <%= f.label :starttime %>
          <div class="small-9 columns">
            <%= f.text_field :starttime, as: :string, value: (l @event.starttime, format: :datetimepicker) %>
          </div>
          <div class="small-3 columns">
            <span class="postfix">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
        </div>
        <div class="row collapse">
          <%= f.label :endtime %>
          <div class="small-9 columns">
            <%= f.text_field :endtime, as: :string, value: (l @event.endtime, format: :datetimepicker) %>
          </div>
          <div class="small-3 columns">
            <span class="postfix">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
        </div>
        <%= f.label :all_day do %>
            <%= f.check_box :all_day %>
            <%= t('activerecord.attributes.event.all_day') %>
        <% end %>
        <%= f.hidden_field :commit_button, value: "" %>
      </div>

      <div class="columns medium-6">
        <% if @event.is_incontro? %>
            <%= f.simple_fields_for :meeting, @meeting do |m| %>
                <%= m.simple_fields_for :place, @place do |p| %>
                    <div id="edit_luogo">
                      <%= p.input :municipality_id,
                                  input_html: {style: 'width:100%',
                                               'data-pre': {id: @event.place.municipality.id,
                                                            text: @event.place.municipality.description}.to_json} %>
                      <%= p.input :address %>
                      <%= p.hidden_field :latitude_original %>
                      <%= p.hidden_field :longitude_original %>
                      <%= p.hidden_field :latitude_center %>
                      <%= p.hidden_field :longitude_center %>
                      <%= p.hidden_field :zoom %>

                      <div id="edit_map_canvas" style="width: 320px; height: 320px;"></div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="columns large-12 small-12">
        <a href="#" class="btn" onclick="$('#event_edit').foundation('reveal','close');$('#event_edit').remove();">
          <%= t('buttons.cancel') %></a>
        <%= f.submit t('buttons.update'),
                     class: 'btn blue',
                     data: {disable_with: t('updating')} %>
      </div>
    </div>
<% end %>
<a class="close-reveal-modal">&#215;</a>

<script type="text/javascript">
    EventsEdit.eventId = <%=@event.id%>;
    EventsEdit.votation = <%=@event.is_votazione?%>;
    <%if @event.place%>
    EventsEdit.placeDefined = true;
    EventsEdit.latitudeOriginal = <%=@event.place.latitude_original%>;
    EventsEdit.longitudeOriginal = <%=@event.place.longitude_original%>;
    EventsEdit.latitudeCenter = <%=@event.place.latitude_center%>;
    EventsEdit.longitudeCenter = <%=@event.place.longitude_center%>;
    EventsEdit.zoom = <%=@event.place.zoom%>;
    <%end%>
</script>
