<%
   if @group
     controller= "events"
     action ="update" %> <h3>Evento del gruppo: <%= @group.name %></h3>
<% else
     controller = "events"
     action = "update" %>
    admin event
<% end %>
<%= form_for @event, :url => {:controller => controller, :action => action}, :remote => true do |f| %>

    <%= f.hidden_field :organizer_id %>
    <div>
      <table>
        <tr>
          <td width="60%">
            <p>
              <%= f.label :title %>
              <br/>
              <%= f.text_field :title %>
            </p>

            <p>
              <%= f.label :description %>
              <br/>
              <%= f.text_area :description, :rows => 4, :cols => 30 %>
            </p>

            <p>
              <%= f.label :event_type_id %>
              <br/>
              <%= @event.event_type.description %>
              <%= f.hidden_field :event_type_id %>

            </p>

            <p>
              <%= f.label :starttime %>
              <br/>
              <%= f.text_field :starttime, :value => @event.starttime, :class => "datePicker" %>
            </p>

            <p>
              <%= f.label :endtime %>
              <br/>
              <%= f.text_field :endtime, :value => @event.endtime, :class => "datePicker" %>
            </p>

            <p>
              <%= f.label :all_day %>
              <%= f.check_box :all_day %>
            </p>

            <%= f.hidden_field :id, :value => @event.id %>
            <%= f.hidden_field :commit_button, :value => "" %>
            <p>
              <% if @event.event_series -%>
                  <%= f.submit 'Aggiorna solo questa occorrenza', :onclick => "document.getElementById('event_commit_button').value = this.value" %>
                  <%= f.submit 'Aggiorna tutte le occorrenze', :onclick => "document.getElementById('event_commit_button').value = this.value" %>
                  <%= f.submit 'Aggiorna tutte le occorrenze successive', :onclick => "document.getElementById('event_commit_button').value = this.value" %>
              <% else -%>
                  <%= f.submit 'Aggiorna', :onclick => "document.getElementById('event_commit_button').value = this.value", :class => 'btn blue', :disable_with => t('updating') %>
              <% end -%>
            </p></td>
          <td width="40%">
            <%= f.fields_for :meeting, @meeting do |m| %>
                <%= m.fields_for :place, @place do |p| %>
                    <p id="edit_luogo">
                      <%= p.label :comune_id %><br/>
                      <%= p.text_field :comune_id, :onchange => "codeAddress('edit_luogo');", "data-pre" => [{:id => @event.place.comune.id, :name => @event.place.comune.description}].to_json %>
                      <%= p.label :address %><br/>
                      <%= p.text_field :address, :onchange => "codeAddress('edit_luogo');" %>
                      <%= p.hidden_field :latitude_original %>
                      <%= p.hidden_field :longitude_original %>
                      <%= p.hidden_field :latitude_center %>
                      <%= p.hidden_field :longitude_center %>
                      <%= p.hidden_field :zoom %>

                    <div id="edit_map_canvas" style="width: 320px; height: 320px;"></div>
                    <!--<div id="panorama_canvas" style="width: 320px; height: 120px;"></div>-->
                    </p>
                <% end %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
<% end %>


<script type="text/javascript">
    disegnaBottoni();

    $("#event_meeting_attributes_place_attributes_comune_id").tokenInput("/comunes.json", {
        crossDomain: false,
        prePopulate: $('#event_meeting_attributes_place_attributes_comune_id').data("pre"),
        hintText: "Digita alcuni caratteri per cercare un comune",
        noResultsText: "Nessun comune trovato",
        searchingText: "Sto cercando...",
        preventDuplicates: true,
        tokenLimit: 1,
        allowTabOut: true
    });

    if (!geocoder)
        geocoder = new google.maps.Geocoder();

    <%if @event.place%>
    var latlng = new google.maps.LatLng(<%=@event.place.latitude_original%>, <%=@event.place.longitude_original%>);
    var center = new google.maps.LatLng(<%=@event.place.latitude_center%>, <%=@event.place.longitude_center%>);
    var zoom = <%=@event.place.zoom%>;
    <%else%>
    var latlng = new google.maps.LatLng(42.407235, 14.260254);
    var center = latlng;
    var zoom = 5;
    <%end%>

    var map_canvas = $('#edit_map_canvas')[0];

    if (map_canvas) {
        var myOptions = {
            zoom: zoom,
            center: center,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            panControl: true,
            streetViewControl: true,
            mapTypeControl: false
        };

        map = new google.maps.Map(map_canvas, myOptions);

        var panoramaOptions = {
            position: latlng,
            pov: {
                heading: 34,
                pitch: 10,
                zoom: 1
            }
        };

        marker = new google.maps.Marker({
            map: map,
            position: latlng,
            draggable: true
        });

        google.maps.event.addListener(marker, 'dragend', listenMarkerPosition);
        google.maps.event.addListener(map, 'center_changed', listenCenterChanged);
        google.maps.event.addListener(map, 'zoom_changed', listenZoomChanged);

        /*var panorama = new  google.maps.StreetViewPanorama(document.getElementById("panorama_canvas"),panoramaOptions);
         map.setStreetView(panorama);*/

        <%unless @event.place%>
        putMarker("Italy");	//inizializza il marcatore sull'Italia
        <%end%>
    }

    disegnaDatePicker();

</script>