<%=form_for @event, :url => {:controller => "events", :action => "create"}, :remote => true do |f| %>

<%= f.hidden_field :organizer_id%>
<div>
	<table>
		<tr>
			<td width="60%">
			<p>
				<%= f.label :title %>
				<br/>
				<%= f.text_field :title %>
			</p>
			<p>
				<%= f.label :description %>
				<br/>
				<%= f.text_area :description, :rows => 4, :cols => 30 %>
			</p>
			<p>
				<%= f.label :event_type_id%>
				<br/>
				<%= f.select :event_type_id, EventType.all.collect {|p| [ p.description, p.id ] },{}, :onchange => "showPlace(this.value);" %>
			</p>
			<p>
				<%= f.label :starttime %>
				<br/>
				<%= f.text_field :starttime, :class=>"datePicker" %>
			</p>
			<p>
				<%= f.label :endtime %>
				<br/>
				<%= f.text_field :endtime, :class=>"datePicker" %>
			</p>
			<p>
				<%= f.label :all_day %>
				<%= f.check_box :all_day %>
			</p>
			<p>
				<%= f.label :period %>
				<%= f.select :period, Event::REPEATS,{}, :onchange => "showPeriodAndFrequency(this.value);", :disabled => true %>
			</p>
			<p id = "frequency" style = "display:none;">
				<%= f.label :frequency %>
				<%= f.select :frequency, (1..30).to_a %> <span id = "period"></span>
			</p> 
			<p>
				<%= f.submit t('pages.events.new.submit'), disable_with: t('saving') %>
			</p></td>
			<td width="40%"> <%=f.fields_for :meeting, @meeting do |m|%>
			<%=m.fields_for :place, @place do |p|%>
			<p id="luogo">
				<%= p.label :comune_id %><br />
				<%= p.text_field :comune_id, :onchange => "codeAddress('luogo');"%>
				<%= p.label :address %><br />
				<%= p.text_field :address, :onchange => "codeAddress('luogo');" %>
				<%= p.hidden_field :latitude_original %>
				<%= p.hidden_field :longitude_original %>
				<%= p.hidden_field :latitude_center %>
				<%= p.hidden_field :longitude_center %>
				<%= p.hidden_field :zoom %>				
				<div id="create_map_canvas" style="width: 320px; height: 320px;"></div>
				<!--<div id="panorama_canvas" style="width: 320px; height: 120px;"></div>-->
			</p> <%end%>
			<%end%> </td>
		</tr>
	</table>
</div>
<%end %>
<script type="text/javascript">
	
		$('#create_event_dialog').dialog({
			title : 'Nuovo Evento',
			modal : true,
			width : 700,
			close : function(event, ui) {
				$('#create_event_dialog').dialog('destroy');			
			}
		});
	
		$("#create_event_dialog #event_meeting_attributes_place_attributes_comune_id").tokenInput("/comunes.json", {
			crossDomain : false,
			prePopulate : $('#event_meeting_attributes_place_attributes_comune_id').data("pre"),
			hintText : "Digita alcuni caratteri per cercare un comune",
			noResultsText : "Nessun comune trovato",
			searchingText : "Sto cercando...",
			preventDuplicates : true,
			tokenLimit : 1
		});
		if (!geocoder)
			geocoder = new google.maps.Geocoder();
			
		var latlng = new google.maps.LatLng(42.407235,14.260254);
	
		var myOptions = {
			zoom : 5,
			center: latlng,
			mapTypeId : google.maps.MapTypeId.ROADMAP,
			panControl : true,
			streetViewControl : true,
			mapTypeControl : false
		};
		
		
		map = new google.maps.Map(document.getElementById('create_map_canvas'), myOptions);
		
		
	
		var panoramaOptions = {
			position : latlng,
			pov : {
				heading : 34,
				pitch : 10,
				zoom : 1
			}
		};
		marker = new google.maps.Marker({
			map : map,
			draggable : true
		});
		
		google.maps.event.addListener(marker, 'dragend', listenMarkerPosition);
		google.maps.event.addListener(map, 'center_changed', listenCenterChanged);
		google.maps.event.addListener(map, 'zoom_changed', listenZoomChanged);
		
	
		/*var panorama = new  google.maps.StreetViewPanorama(document.getElementById("panorama_canvas"),panoramaOptions);
		 map.setStreetView(panorama);*/
	
		putMarker("Italy");	//inizializza il marcatore sull'Italia
	
		$("#event_endtime").datetimepicker({
        dateFormat : "dd/mm/yy",
        buttonImageOnly : true,
        buttonImage : "<%= asset_path('iconCalendar.png') %>",
        showOn : "both",
        changeMonth : false,
        changeYear : false,
        yearRange : "c-1:c+10",
        duration: "",  
        showTime: true,  
        constrainInput: false,
        stepMinute: 15,  
        stepHour: 1,  
        altTimeField: "alt",  
        time24h: true,
        onClose: function(date) {
        	startTime = $("#event_starttime").datetimepicker("getDate");
        	endTime = $("#event_endtime").datetimepicker("getDate");
        	startDate = new Date(startTime);
        	endDate = new Date(endTime);
	        if (!(endDate.getTime() > startDate.getTime())) { 				
	 			$("#event_starttime").datetimepicker("setDate",endTime);
 			} 			
        }
 	  });   
		
		$('#event_starttime').datetimepicker({
        dateFormat : "dd/mm/yy",
        buttonImageOnly : true,
        buttonImage : "<%= asset_path('iconCalendar.png') %>",
        showOn : "both",
        changeMonth : false,
        changeYear : false,
        yearRange : "c-1:c+10",
        duration: "",  
        showTime: true,  
        constrainInput: false,
        stepMinute: 15,  
        stepHour: 1,  
        altTimeField: "alt",  
        time24h: true,
        onClose: function(date) {
        	startTime = $("#event_starttime").datetimepicker("getDate");
        	endTime = $("#event_endtime").datetimepicker("getDate");
        	startDate = new Date(startTime);
        	endDate = new Date(endTime);
	        if (!(endDate.getTime() > startDate.getTime())) { 				
	 			$("#event_endtime").datetimepicker("setDate",startTime);
 			} 			
        }
   });   
</script>