<%=form_for (@group && !in_subdomain?) ? [@group,@event] : @event, :html => {:class=>"disableForm"}, :remote => true, :validate => true do |f| %>

<%= f.hidden_field :proposal_id %>
<div>
	<table>
		<tr>
			<td width="60%">
			<p>
				<%= f.label :title %>
				<br/>
				<%= f.text_field :title %>
			</p>
			<p>
				<%= f.label :description %>
				<br/>
				<%= f.text_area :description, :rows => 4, :cols => 30 %>
			</p>

            <%if @change_type  %>
            <p>
				<div style="float:left;width:50%;">
				<%= f.label :event_type_id%>
				<br/>
				<%= f.select :event_type_id, EventType.where("name not in ('election','meeting2')").collect {|p| [ p.description, p.id ] },{}, :onchange => "showPlace(this.value);" %>
				</div>
				
				<div style="float:left;width:50%;">
				<%= f.label :private%>
				<br/>
				<%= f.check_box :private, :title => t('pages.events.new.private_tooltip') %>
				</div>
				<div style="clear: both;" />
			</p>
            <%else%>
              <%= f.hidden_field :event_type_id %>
              <%= f.hidden_field :private %>
              <%=hidden_field_tag 'type', params[:type] %>
            <%end%>
			
			<p>
				<%= f.label :starttime %>
				<br/>
				<%= f.text_field :starttime, value: (l(@event.starttime, format: :textfield)), class: 'datePicker' %>
			</p>
			<p>
				<%= f.label :endtime %>
				<br/>
				<%= f.text_field :endtime, value: (l(@event.endtime, format: :textfield)), :class=>"datePicker" %>
			</p>
			<p>
				<%= f.label :all_day %>
				<%= f.check_box :all_day %>
			</p>
			<p>
				<%= f.label :period %>
				<%= f.select :period, Event::REPEATS,{}, :onchange => "showPeriodAndFrequency(this.value);", :disabled => true, :title=> "Opzione non ancora disponibile" %>
			</p>
			<p id = "frequency" style = "display:none;">
				<%= f.label :frequency %>
				<%= f.select :frequency, (1..30).to_a %> <span id = "period"></span>
			</p> 
			<p>
                <a href="#" class="btn" onclick="$('#create_event_dialog').dialog('destroy');"><%= t('buttons.cancel') %></a>
				<%= f.submit t('pages.events.new.submit'), :class => 'btn blue disable', :onclick => "return confirmEventData(this);", disable_with: t('saving')%>
			</p></td>
			<td width="40%"> 
				<%=f.fields_for :election, @election do |e|%>
					<div id="elezione" style="display:none; width:370px;">	
						<p>
							<%=raw "Le seguenti date devono essere comprese entro la data inizio e la data fine dell'evento." %><br />
							<!--<%=raw "La data fine iscrizione candidati deve essere successiva alla data fine iscrizione gruppi."%><br />-->
						</p>
						<!--<p>
						<%= e.label :groups_end_time %><br/>
						<%= e.text_field :groups_end_time, :class=>"datePicker", :id => "groups_end_time" %>
						</p>-->
						<p>
						<%= e.label :candidates_end_time %><br/>
						<%= e.text_field :candidates_end_time, :class=>"datePicker", :id => "candidates_end_time" %>
						</p>						
					</div>
				<%end%>				 
				
				<%=f.fields_for :meeting, @meeting do |m|%>
					<%=m.fields_for :place, @place do |p|%>
						<p id="luogo">
							<%= p.label :comune_id, t('activerecord.attributes.event.meeting.place.comune_id') %><br />
							<%= p.text_field :comune_id, :onchange => "codeAddress('luogo');"%>
							<%= p.label :address %><br />
							<%= p.text_field :address, :onchange => "codeAddress('luogo');" %>
							<%= p.hidden_field :latitude_original %>
							<%= p.hidden_field :longitude_original %>
							<%= p.hidden_field :latitude_center %>
							<%= p.hidden_field :longitude_center %>
							<%= p.hidden_field :zoom %>				
							<div id="create_map_canvas" style="width: 320px; height: 320px;"></div>
							<!--<div id="panorama_canvas" style="width: 320px; height: 120px;"></div>-->
						</p>
					<%end%>
				<%end%>
				
			
			</td>
		</tr>
	</table>
</div>
<%end %>
