<div class="mybox">
  <h4><%= @event.is_past? ? t('pages.events.show.partecipants') : t('pages.events.show.will_partecipate') %></h4>
  <div class="button"></div>
  <div class="mycont">
    <%= render :partial => 'events/partecipants', locals: {partecipants: @event.meeting.yes_partecipations} %>
    <% if @event.meeting.yes_partecipations.empty? %>
        <% if @event.is_past? %>
            <h4><%= t('pages.events.show.no_partecipants') %></h4>
        <% else %>
            <h4><%= t('pages.events.show.no_partecipants_yet') %></h4>
        <% end %>
    <% end %>
  </div>
</div>

<div class="mybox">

  <h4><%= @event.is_past? ? t('pages.events.show.non_partecipants') : t('pages.events.show.will_non_partecipants') %></h4>
  <div class="button close" data-menu2show=0></div>
  <div class="mycont" style="display:none">
    <%= render :partial => 'events/partecipants', locals: {partecipants: @event.meeting.no_partecipations} %>
  </div>
</div>