<h4>Prossimi eventi</h4>
<%@events = Event.find(:all, :order => "starttime asc",:conditions => "endtime > current_timestamp", :limit => 5)
	@events.each do |event|%>
	<a class="buttonStyle" href="/events/<%=event.id%>">
	<div  class="eventcontainer" data-id = "<%=event.id%>">
		<%=event.starttime.strftime("%d/%m/%Y %H:%M")%>
		<br/>
		<%= event.title%>
	</div>
	</a>
	<div class="event-overview" id="event-overview-<%=event.id%>">	
		<p> <%=event.title%></p>
	</div>
<%end%>

<script>
	var keepitplz = false;
	$(function(){
		
		$('.event-overview').mouseenter(function() {
			keepitplz = true;
		});
		
		$('.event-overview').mouseleave(function() {
			var $this = $(this);
			setTimeout(function(){
				if (!keepitplz)
					$this.hide();								
				keepitplz = false;
			},600);
		});
		
		$('.eventcontainer').mouseout(function() {
			var id = $(this).data('id');
			setTimeout(function() {
				if (!keepitplz)
					$('#event-overview-'+id).hide();
				keepitplz = false;				
			},500);
		});
		
		$('.eventcontainer').delayedAction (
	    {
	        delayedAction: function($element){
				var id = $element.data('id');
				$('#event-overview-'+id).show();
	        },
	        cancelledAction: function($element){
				var id = $element.data('id');
				$('#event-overview-'+id).hide();
	        },
	        hoverTime: 500
	    });

	});
	
	
	
	
	
	(function($) {
    $.fn.delayedAction = function(options)
    {
        var settings = $.extend(
            {},
            {
                delayedAction : function(){},
                cancelledAction: function(){},
                hoverTime: 1000               
            },
            options);

        return this.each(function(){
           var $this = $(this);
            $this.hover(function(){  
               $this.data('timerId',
                          setTimeout(function(){
                                      $this.data('hover',false);
                                      settings.delayedAction($this);
                                      },settings.hoverTime));
                $this.data('hover',true);
            },
            function(){        
                if($this.data('hover')){       
                    clearTimeout($this.data('timerId'));
                    settings.cancelledAction($this);
                }
                $this.data('hover',false);
            } );
        });
    }
})(jQuery);

	
	
</script>