<% if user_signed_in? %>
    <% participation = @event.meeting.meeting_participations.find_by(user_id: current_user.id) %>
    <% if participation %>
        <% if @event.past? %>
            <h5><%= participation.will_come? ?
                            t('pages.events.show.yes_partecipated') :
                            t('pages.events.show.no_partecipated') %></h5>
        <% else %>
            <h5><%= participation.will_come? ?
                            t('pages.events.show.yes_partecipate') :
                            t('pages.events.show.no_partecipate') %></h5>
        <% end %>
    <% else %>    <!--you didn't answer -->
        <% if @event.past? %>
            <h1><%= t('pages.events.show.no_answer') %></h1>
        <% else %>
            <h4><%= t('pages.events.show.will_be_in') %></h4>
            <%= simple_form_for [@event, MeetingParticipation.new], remote: true do |f| %>
                <div class="row collapse">
                  <div class="columns small-4">
                    <%= f.input :response,
                                as: :radio_buttons,
                                checked: 'Y',
                                collection: [[t('buttons.yes_word'), 'Y'], [t('buttons.no_word'), 'N']],
                                label: false %>
                  </div>
                  <div class="columns small-8">
                    <span id="guests_number">
                      <%= raw t('pages.events.show.with_guests',
                                field: (f.input :guests, label: false,
                                                input_html: { type: :number,
                                                              style: "width: 35px;display:inline;height:21px;padding: 0",
                                                              maxlength: 2 })) %>
                    </span>
                  </div>
                </div>
                <%= f.input :comment, as: :text, input_html: { rows: 4, cols: 10 } %>
                <%= f.submit t('pages.events.show.reply'), class: 'btn blue', data: { disable_with: t('sending') } %>
            <% end %>
            <script type="text/javascript">
                $(function () {
                    $('#meeting_participation_comment').charCount({
                        allowed: 255,
                        warning: 10,
                        counterText: '<%=j t('pages.proposals.show.characters_left')%>'
                    });

                    $("input[name='meeting_participation\[response\]']").change(function () {
                        var selected_radio = $("input[name='meeting_participation\[response\]']:checked").val();
                        if (selected_radio == 'Y') {
                            $('#guests_number').fadeIn();
                        } else {
                            $('#guests_number').fadeOut();
                        }
                    });
                });
            </script>
        <% end %>
    <% end %>
<% end %>
