<%=javascript_include_tag 'fullcalendar', 'gcal', 'events' %>
<%=stylesheet_link_tag "style", 'fullcalendar', 'redmond/custom', 'dialog' %>
<div class="wrapper">
    <div class="subPageContent">
        <% if flash[:notice] -%>
        <div id = 'flash_notice'>
            <%= flash[:notice] %>
        </div>
        <% end -%>
        <% if flash[:error] -%>
        <div id = 'flash_error'>
            <%= flash[:error] %>
        </div>
        <%end -%>
        
        <div class="aplicationContent">
            <div class="appRightContent">
                <p>
                    <%=link_to 'Crea un evento', {:action => :new},:remote => true, :before => "$('#loading').show()", :complete => "$('#loading').hide()" if is_admin? %>
                </p>
                <script>
                    
                    
                    $(document).ready(function(){
                        // page is now ready, initialize the calendar...
                        $('#calendar').fullCalendar({
                            editable: true,
                            <%if !is_admin? %>
                            	disableDragging: true,
                            	disableResizing: true,
                        	<%end%>
                            
                            header: {
                                left: 'prev,next today',
                                center: 'title',
                                right: 'month,agendaWeek,agendaDay'
                            },
                            defaultView: 'month',
                            height: 600,
                            aspectRatio: 1,
                            slotMinutes: 15,
                            firstDay: 1,
                            loading: function(bool){
                                if (bool) 
                                    $('#loading').show();
                                else 
                                    $('#loading').hide();
                            },
                            events: "/events/1/get_events",
                            timeFormat: 'h:mm t{ - h:mm t} ',
                            dragOpacity: "0.5",
                            eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc){
                                //              if (confirm("Are you sure about this change?")) {
                                moveEvent(event, dayDelta, minuteDelta, allDay);
                                //              }
                                //              else {
                                //                  revertFunc();
                                //              }
                            },
                            
                            eventResize: function(event, dayDelta, minuteDelta, revertFunc){
                                //              if (confirm("Are you sure about this change?")) {
                                resizeEvent(event, dayDelta, minuteDelta);
                                //              }
                                //              else {
                                //                  revertFunc();
                                //              }
                            },

                            eventClick: function(event, jsEvent, view){
                                showEventDetails(event);
                            },
                        
                         eventRender: function(event, element) {
					        if (event.editable) {
					           element.css('cursor', 'pointer');
					        }
					    },
                        
                        
                        });
                    });
                </script>
                <div>
                    <div id='calendar'>
                    </div>
                </div>
                <div id = "desc_dialog" style ="display:none;">
                    <div id = "event_desc">
                    </div>
                    <br/>
                    <br/>
                    <div id = "event_actions">
                        <span id = "edit_event"></span>
                        <span id = "delete_event"></span>
                    </div>
                </div>
                <div id = "create_event_dialog" style ="display:none;">
                    <div id = "create_event">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
