<% @extend=true %>
<% content_for :html_options do %>
    itemscope itemtype="http://schema.org/Event"
<% end %>

<script type="text/javascript">
    var pageURL = "<%= event_event_comments_url(@event) %>";
</script>

<% javascript 'endless_page' %>

<div class="row full-width">
  <% if !@event.is_elezione? %>
      <script type="text/javascript"
              src="https://maps.googleapis.com/maps/api/js?key=<%= MAPS_API_KEY %>&sensor=false">
      </script>

      <div class="columns large-6">
        <div class="event_main">
          <h3>
            <div class="tit1">
              <div class="tit2" itemprop="name">
                <%= raw '<div class="label round">public event</div>' unless @event.private %>
                <%= @event.title %>
              </div>
            </div>
          </h3>

          <div class="event_content" itemprop="description">
            <%= simple_format(@event.description) %>
          </div>
        </div>

        <div class="event_main">
          <h3>
            <div class="tit1">
              <div class="tit2">
                <%= @event.is_past? ? t('pages.events.show.when_past') : t('pages.events.show.when') %>
              </div>
            </div>
          </h3>
          <div class="event_content">
            <%= render partial: 'events/calendar_icon', locals: {time: @event.starttime} %>
            <div style="float:left;margin-top: 10px;">
              <meta itemprop="startDate" content="<%= l @event.starttime, format: :rich %>">
              <b>
                <%= l @event.starttime, format: :from_long_date_time %>
              </b>

              <div style="margin-top:5px;"></div>
              <b>
                <%= I18n.localize(@event.endtime, format: :until_long_date_time) %>
              </b>
            </div>
            <div class="clearboth"></div>
          </div>
        </div>
      </div>
      <% if @event.place %>
          <div class="columns large-6">
            <div class="event_main">
              <h3>
                <div class="tit1">
                  <div class="tit2">
                    <%= @event.is_past? ? t('pages.events.show.where_past') : t('pages.events.show.where') %>
                  </div>
                </div>
              </h3>
              <div class="event_content" itemprop="location" itemscope itemtype="http://schema.org/Place">
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                  <h2>
                    <span itemprop="addressLocality"><%= "#{@event.place.comune.description}" if @event.place.comune %></span>,
                    <span itemprop="streetAddress"><%= @event.place.address %></span></h2>
                </div>

                <div>
                  <div id="map_canvas" style="width: 100%; height: 320px;"></div>
                </div>
              </div>


              <div id="map_modal" title="<%= t('pages.events.show.event_place') %>" style="width:400px;height:400px;display:none">

              </div>
            </div>
          </div>


          <script type="text/javascript">
              var latlng = new google.maps.LatLng(<%=@event.place.latitude_original%>, <%=@event.place.longitude_original%>);

              if (!geocoder) {
                  geocoder = new google.maps.Geocoder();
              }

              var center = latlng;
              var zoom = <%=@event.place.zoom%>;


              //noinspection JSUnresolvedVariable
              var myOptions = {
                  zoom: zoom,
                  center: latlng,
                  mapTypeId: google.maps.MapTypeId.ROADMAP,
                  panControl: false,
                  streetViewControl: false,
                  mapTypeControl: true,
                  draggable: true
              };

              map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);

              marker = new google.maps.Marker({
                  map: map,
                  position: latlng,
                  draggable: false
              });
          </script>
      <% end %>
      <!--	<div class="user_tag last_tag shadow-box">

              <div class="content">
                  Mostra altri...
              </div>
      </div> -->
      <% content_for :left_panel do %>
          <% if can? :update, @event %>
              <div class="mybox">
                <%= link_to t('buttons.edit'), edit_event_path(@event), remote: true, class: 'btn editButton', data:{disable_with: t('loading')} if can? :update, @event %>
                <%= link_to t('buttons.delete'), @event, method: :delete, class: 'btn red trashButton', confirm: 'Sei sicuro di voler eliminare questo evento?', data:{disable_with: t('loading')} if can? :destroy, @event %>
              </div>
          <% end %>

          <% if ::Configuration::socialnetwork_active %>
              <div class="mybox">
                <a href="https://twitter.com/share"
                   class="twitter-share-button"
                   data-lang="en"
                   data-count="vertical"
                   data-text="C'è un nuovo evento su #<%= APP_SHORT_NAME %>">Tweet</a>
                <g:plusone size="tall"></g:plusone>
                <div class="fb-like" data-send="false" data-layout="box_count" data-width="100" data-show-faces="false" data-likeable_type="<%= @event.class.class_name %>" data-likeable_id="<%= @event.id %>"></div>
              </div>
          <% end %>

          <!--
        <% @event.groups.each do |group| %>
				<div class="leftBlogImage">
			    	<%= group.group_image_tag 120 %>
			    </div>

        <% end %>-->
          <% if @event.meeting %>
              <div class="mybox" id="participation_panel_container">
                <%= render partial: 'participation_panel' %>
              </div>


              <% if @event.meeting %>
                  <div id="participants_container">
                    <%= render partial: 'meeting_responses' %>
                  </div>
              <% end %>
          <% end %>
      <% end %>

  <% end %>

  <% if @event.is_votazione? %>
      <div class="columns large-6">
        <div class="event_main">
          <h3>
            <div class="tit1">
              <div class="tit2">
                <% if @event.proposals.count > 0 %>
                    <%= t('pages.events.show.voting_proposals') %>
                <% else %>
                    <%= t('pages.events.show.no_voting_proposals')%>
                <% end %>
              </div>
            </div>
          </h3>

          <div class="event_content">
            <% @event.proposals.each do |proposal| %>
                <% if !proposal.private || (proposal.private? && (can? :view_proposal, proposal.presentation_groups.first)) %>
                    <%= render partial: 'proposals/proposal_list_element', locals: {proposal: proposal} %>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
  <% elsif @event.is_elezione? %>
      <%= render 'elections/election', {election: @event.election} %>
  <% end %>
</div>

<% if @event.is_incontro? || @event.is_riunione? %>
    <div class="row full-width">
      <div class="columns large-6">
        <%= render partial: 'event_comments/new_event_comment', locals: {event_comment: @event_comment} %>

        <div id="eventCommentsContainer">
          <%= render partial: 'events/comments' %>
        </div>
        <div id="loading_results">
          <span><%= t('pages.blog_posts.show.previous_comments') %></span>
        </div>
      </div>
    </div>
<% end %>