<% @extend=true %>
<% content_for :html_options do %>
    itemscope itemtype="http://schema.org/Event"
<% end %>

<% javascript 'endless_page' %>

<div class="row full-width">
  <div class="row">
    <div class="columns large-6">
      <div class="card">
        <div class="card-title">
          <% if @event.private %>
              <div class="label round"><%= 'private' %></div>
          <% else %>
              <div class="label round"><%= 'public' %></div>
          <% end %>
          <%= @event.title %>
        </div>

        <div class="event_content" itemprop="description">
          <%= simple_format(@event.description) %>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <%= @event.past? ? t('pages.events.show.when_past') : t('pages.events.show.when') %>
        </div>
        <div class="event_content">
          <%= render partial: 'events/calendar_icon', locals: { time: @event.starttime } %>
          <div class="event_dates_text">
            <meta itemprop="startDate" content="<%= l @event.starttime, format: '%Y-%m-%dT%H:%M' %>">
            <b>
              <%= @event.formatted_starttime %>
            </b>

            <div style="margin-top:5px;"></div>
            <b>
              <%= @event.formatted_endtime %>
            </b>
          </div>
          <div class="clearboth"></div>
        </div>
      </div>
    </div>
    <% if @event.place %>
        <div class="columns large-6">
          <div class="card">
            <div class="card-title">
              <%= @event.past? ? t('pages.events.show.where_past') : t('pages.events.show.where') %>
            </div>
            <div class="event_content" itemprop="location" itemscope itemtype="http://schema.org/Place">
              <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <h4>
                  <span itemprop="addressLocality">
                    <%= "#{@event.place.municipality.description}" if @event.place.municipality %>
                  </span>,
                  <span itemprop="streetAddress"><%= @event.place.address %></span></h4>
              </div>

              <div>
                <div id="map_canvas" style="width: 100%; height: 320px;"></div>
              </div>
            </div>
            <div id="map_modal" title="<%= t('pages.events.show.event_place') %>" style="width:400px;height:400px;display:none">
            </div>
          </div>
        </div>
    <% end %>

    <% if @event.votation? %>
        <div class="columns large-6">
          <div class="event_main">
            <h3>
              <div class="tit1">
                <div class="tit2">
                  <% if @event.proposals.count > 0 %>
                      <%= t('pages.events.show.voting_proposals') %>
                  <% else %>
                      <%= t('pages.events.show.no_voting_proposals') %>
                  <% end %>
                </div>
              </div>
            </h3>

            <div class="event_content">
              <% @proposals.each do |proposal| %>
                  <% if can? :show, proposal %>
                      <%= render 'proposals/proposal_list_element', proposal_list_element_for_mustache(proposal) %>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

<% if @event.meeting? %>
    <div class="row full-width">
      <div class="columns large-6">
        <%= render partial: 'event_comments/new_event_comment', locals: { event_comment: @event_comment } %>

        <div id="eventCommentsContainer">
          <%= render partial: 'events/comments' %>
        </div>
        <div id="loading_results">
          <span><%= t('pages.blog_posts.show.previous_comments') %></span>
        </div>
      </div>
    </div>
<% end %>

<% content_for :left_panel do %>
    <%= render 'events/left_panel' %>
<% end %>

<script type="text/javascript">
  var pageURL = "<%= event_event_comments_url(@event) %>";

  EventsShow.votation = <%=@event.votation?%>;
  <%if @event.place%>
  EventsShow.latitudeOriginal = <%=@event.place.latitude_original%>;
  EventsShow.longitudeOriginal = <%=@event.place.longitude_original%>;
  EventsShow.latitudeCenter = <%=@event.place.latitude_center%>;
  EventsShow.longitudeCenter = <%=@event.place.longitude_center%>;
  EventsShow.zoom = <%=@event.place.zoom%>;
  <%end%>
</script>
