<% if @event.event_type_id != EventType::ELEZIONI %>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=<%= MAPS_API_KEY %>&sensor=false">
    </script>


    <h1 class="eventtitle"><%= @event.title %></h1>
    <div class="event_description">
      <%= @event.description %>
    </div>
    <br/>

    <h1><%=@event.is_past? ? t('pages.events.show.when_past') : t('pages.events.show.when') %></h1>
    <div class="event_when">
      <%= render :partial => 'events/calendar_icon', :locals => {:time => @event.starttime} %>
      <div style="float:left;margin-top: 10px;">
        <b>
          <%= l @event.starttime, :format => :from_long_date_time %>
        </b>

        <div style="margin-top:5px;"></div>
        <b>
          <%= I18n.localize(@event.endtime, :format => :until_long_date_time) %>
        </b>
      </div>

      <div style="clear: both"></div>
    </div>
    <hr/>


    <% if @event.place %>
        <h1><%=@event.is_past? ? t('pages.events.show.where_past') : t('pages.events.show.where') %></h1>
        <div class="event_where">
          <div style="float:left; margin-right:10px;">
            <a href="#" onclick="return openModal();" title="<%= t('pages.events.show.show_on_map')%>">
              <%= image_tag('maps.png', alt: t('pages.events.show.map'), size: "64x64") %>
            </a>
          </div>

          <div style="float:left">
            <h2>
              <%= @event.place.comune.description if @event.place.comune %>
              <br/> <%= @event.place.address %></h2>
          </div>

          <div style="clear: both"></div>
        </div>

        <div id="map_modal" title="<%= t('pages.events.show.event_place')%>" style="width:400px;height:400px;display:none">
          <div id="map_canvas" style="width: 320px; height: 320px; float:left;"></div>
        </div>
        <hr/>

        <script type="text/javascript">
            var latlng = new google.maps.LatLng(<%=@event.place.latitude_original%>, <%=@event.place.longitude_original%>);

            function openModal() {
                $("#map_modal").dialog({ height: 400,
                    width: 400,
                    open: function () {
                        google.maps.event.trigger(map, 'resize');
                        map.setCenter(latlng);
                    } });
                return false;
            }

            if (!geocoder) {
                geocoder = new google.maps.Geocoder();
            }

            var center = latlng;
            var zoom = <%=@event.place.zoom%>;


            //noinspection JSUnresolvedVariable
            var myOptions = {
                zoom: zoom,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                panControl: false,
                streetViewControl: false,
                mapTypeControl: true,
                draggable: true
            };

            map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);

            marker = new google.maps.Marker({
                map: map,
                position: latlng,
                draggable: false
            });
        </script>
    <% end %>

    <% if @event.meeting %>
        <div id="partecipants_container">
        <%= render :partial => 'meeting_responses' %>
        </div>
    <% end %>

    <!--	<div class="user_tag last_tag shadow-box">

            <div class="content">
                Mostra altri...
            </div>
    </div> -->
    <% content_for :left_panel do %>
        <% if can? :update, @event %>
            <div class="mybox">
              <%= link_to t('buttons.edit'), edit_event_path(@event), remote: true, class: 'btn editButton', disable_with: t('loading') if can? :update, @event %>
              <%= link_to t('buttons.delete'), @event, method: :delete, class: 'btn red trashButton', confirm: 'Sei sicuro di voler eliminare questo evento?', disable_with: t('loading') if can? :destroy, @event %>
            </div>
        <% end %>

        <% if ::Configuration::socialnetwork_active %>
            <div class="mybox">
              <a href="https://twitter.com/share"
                 class="twitter-share-button"
                 data-lang="en"
                 data-count="vertical"
                 data-text="C'è un nuovo evento su #<%= APP_SHORT_NAME %>">Tweet</a>
              <g:plusone size="tall"></g:plusone>
              <%= raw facebook_like %>
            </div>
        <% end %>

        <!--
        <% @event.organizers.each do |group| %>
				<div class="leftBlogImage">
			    	<%= group.group_image_tag 120 %>
			    </div>

        <% end %>-->
        <% if @event.meeting %>
            <div class="mybox" id="partecipation_panel_container">
              <%= render :partial => 'partecipation_panel' %>
            </div>
        <% end %>
    <% end %>

<% end %>

<% if @event.event_type_id == EventType::VOTAZIONE %>
    <p>
      <% if @event.proposals.count > 0 %>
        <h3>In queste giornate si voteranno le seguenti proposte</h3>
        <br/>
        <% @event.proposals.each do |proposal| %>
            <% if !proposal.private || (proposal.private? && (can? :view_proposal, proposal.presentation_groups.first)) %>
                <%= render :partial => 'proposals/proposal_list_element', :locals => {:proposal => proposal} %>
            <% end %>
        <% end %>
    <% else %>
        <h3>Ancora nessuna proposta in votazione durante queste giornate</h3>
    <% end %>

    </p>


<% elsif @event.event_type_id == EventType::ELEZIONI %>

    <%= render 'elections/election', {election: @event.election} %>

<% end %>