<h1>Lista movimenti</h1>

<table>
  <tr>
    <th>Tipo</th>
    <th>Effettuato il</th>
    <th>User</th>
    <th>Ammontare</th>
    <th>Inserito il</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sys_movements.each do |sys_movement| %>
  <tr>
    <td><%= sys_movement.type.description %></td>
    <td><%=l sys_movement.made_on %></td>
    <td><%= sys_movement.user.fullname %></td>
    <td><%= sys_movement.amount %> <%= sys_movement.currency.description %></td>

    <td><%= link_to 'Show', sys_movement %></td>
    <td><%= link_to 'Edit', edit_sys_movement_path(sys_movement) %></td>
    <td><%= link_to 'Destroy', sys_movement, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuovo movimento', new_sys_movement_path, class: 'btn blue' %>
