<h1><%=@election.name%></h1>

<h2>Elenco dei candidati all'elezione</h1>

<ul>
<%@election.candidates.each do |candidate|%>
	<li>
		<b><%=candidate.user.fullname%></b> candidato da <b><%=candidate.groups.map{|g| g.name}.join%></b>	
	</li>

<%end%>
</ul>	


<%=link_to 'Vai alla pagina di voto', vote_page_election_path(@election), :class => 'buttonStyle'%>
<a href="<%=calculate_results_election_path(@election)%>", class="buttonStyle">Calcola risultato</a>
