<h1><%= @election.name %></h1>

<h2><%= 'Elenco dei candidati all\'elezione' %></h2>
<style type="text/css">
    .candidate_panel {
        width: 410px;
        /*height: 48px;*/
        padding: 4px;
        background-color: #F4F4F4;
        background-image: -moz-linear-gradient(center top, #FFFFFF, #F4F4F4);
        border: 1px solid #DDDDDD;
        border-radius: 2px 2px 2px 2px;
        margin-bottom: 10px;
    }

    .candidate_panel img {
        width: 48px;
        height: 48px;
        float: left;
    }

    .candidate_panel .content {
        float: left;
        margin: 0px 5px;
        width: 200px;
    }

    .candidate_panel .vote {
        float: right;
        margin: 0 10px 0 5px;
        width: 120px;
        text-align: center;
    }

    .candidate_panel .vote select {
        font-size: 1.6em;
        margin-bottom: 5px;
    }

</style>

<%
   candidates_num = @election.candidates.count
   @election.candidates.each do |candidate| %>

    <div class="candidate_panel shadow-box">
      <%= candidate.user_image_tag 48 %>
      <div class="content">
        <b><%= link_to_user candidate.user, :full_name => true %></b><br/>
        <%= 'candidato da ' %>
        <b><%= candidate.groups.map { |g| g.name }.join %></b>
      </div>
      <div class="vote">
        <input type="hidden" class="candidate_id" value="<%= candidate.id %>"/>
        <select class="slideNumber">
          <option selected="selected"></option>
          <% candidates_num.times do |c| %>
              <option><%= c+1 %></option>
          <% end %>
        </select>
      </div>
      <div style="clear: both;"></div>
    </div>
<% end %>


<%= form_for 'data', :url => {:action => "vote", :controller => "elections"} do |f| %>
    <%= f.hidden_field 'votes' %>
    <%= f.hidden_field 'string' %>

    <%= f.submit 'Vota!', :onclick => "return elaboraVoto();", :id => 'submit', :class => 'buttonStyle' %>
<% end %>
<br/>

<%= render :partial => 'fragments/how_schulze_works' %>


<script type="text/javascript">
    var vote = [];
    var votestring = "";

    function elaboraVoto() {
        votestring = "";
        vote = [];
        $('.candidate_panel').each(function (panel) {
            var val = $('.slideNumber', this).val();
            if (!val || val == '') val = "0";
            vote.push([$('.candidate_id', this).val(), val])
        })
        vote.sort(function (a, b) {
            return parseInt(b[1]) - parseInt(a[1]);
        })
        for (v in vote) {
            if (v != 0) {
                if (vote[v][1] == vote[v - 1][1]) {
                    votestring += ","
                }
                else {
                    votestring += ";"
                }

            }
            votestring += vote[v][0]
        }

        $('#data_votes').val(array2dToJson(vote, 'candidates', ' '));
        $('#data_string').val(votestring);
        console.log('data_string: ' + votestring);
        console.log('data_votes: ' + array2dToJson(vote, 'candidates', ' '));
        return true;
    }

    $(function () {
        var select = $(".slideNumber");
        var slider = $("<div class='slider'></div>").insertAfter(select).slider({
            min: 1,
            max: <%=candidates_num%>+1,
            range: "min",
            slide: function (event, ui) {
                console.log("sliding")
                $(this).prev()[0].selectedIndex = ui.value - 1;
            }
        });

        $(".slideNumber").change(function () {
            console.log('change');
            $(this).next().slider("value", this.selectedIndex + 1);
        });
    });

</script>
