<div id="create_proposal">
  <%= form_for @group ? [@group, @proposal] : @proposal, :validate => true, :remote => true do |f| %>
      <div class="legend first"><%= t('pages.proposals.new.step_1') %></div>
      <div class="legend"><%= t('pages.proposals.new.step_2') %></div>
      <div class="legend"><%= t('pages.proposals.new.step_3') %></div>
      <div class="legend last"><%= t('pages.proposals.new.step_4') %></div>


      <div class="step root root">
        <%= render 'proposal_types/first_step', {:f => f} %>
      </div>


      <div class="step" id="suggestions">
      </div>

      <div class="step">


        <%= f.fields_for :sections, @problems do |s| %>
            <%= s.hidden_field :title %>
            <%= s.hidden_field :seq %>
            <%= s.fields_for :paragraphs, @problems.paragraphs.build(seq: 1) do |p| %>
                <p>
                  <%= p.label :content, t('pages.proposals.new.estimate.problems_title_label') %> *<br/>
                  <%= p.text_area :content, :rows => 5, :style => "width:98%", :class => "tinymce", :validate => {:presence => true} %>
                  <%= p.hidden_field :seq %>
                </p>
            <% end %>
        <% end %>

        <div class="suggestion_box">
          <div><%= 'Esempio' %></div>
          <div><%= 'Sostituzione dell’impianto termico nella sede dell’Associazione' %></div>
          <div><%= "A causa della rottura della vecchia caldaia, la nostra sede è di fatto impraticabile nei mesi invernali. Poichè è impossibile riparare il gusto, è necessaria la sostituzione del vecchio impianto di riscaldamento con uno nuovo, a basso consumo energetico."%></div>
        </div>

      </div>

      <div class="step">
        <h4><%= t('pages.proposals.new.step_4_title') %></h4>
        <%= f.fields_for :solutions, @solution do |sol| %>
            <%= sol.hidden_field :seq %>
            <%= sol.fields_for :sections, @solution_section do |s| %>
                <%= s.hidden_field :title %>
                <%= s.hidden_field :seq %>
                <%= s.fields_for :paragraphs, @solution_section.paragraphs.build(seq: 1) do |p| %>
                    <p>
                      <%= p.label :content, t('pages.proposals.new.first_solution_title') %><br/>
                      <%= p.text_area :content, :rows => 5, :style => "width:500px", :class => "tinymce" %>
                      <%= p.hidden_field :seq %>
                    </p>
                <% end %>
            <% end %>
        <% end %>
        <div class="suggestion_box">
        <%=raw 'Airesis ti aiuterà a raggiungere il tuo obiettivo attraverso un processo di problem solving condiviso: gli utenti suggeriranno modifiche ed contributi al tuo testo e <b>spetterà a te</b> integrare quelle più gradite.<br/>
         Se non lo farai la tua proposta non andrà in votazione.<br/>
          Buona fortuna e non spaventarti: potrai farti aiutare da altre persone nel tuo compito.' %>
        </div>

      </div>

      <p>
        <%= render :partial => 'fragments/error_messages', :locals => {:resource => @proposal} %>
        <%= f.submit t('pages.proposals.new.create_button'), :class => 'btn blue disable' %>
      </p>
      </div>

  <% end %>
  <script>
      $('.legend').hide();


      $(function () {
          $("#new_proposal").quickWizard({
              nextCallback: showSimilarProposal,
              prevCallback: skipIfNecessary
          });

          input = $('#proposal_interest_borders_tkn')
          input.tokenInput("<%=interest_borders_path(:format => :json)%>", {
              crossDomain: false,
              prePopulate: input.data("pre"),
              hintText: "<%=t('interest_borders_hint')%>",
              noResultsText: "<%=t('no_interest_border')%>",
              searchingText: "<%=t('looking_for_interest_border')%>",
              preventDuplicates: true
          });


          input = $('#proposal_tags_list')
          if (input != null) {
              input.tokenInput([], {
                  theme: "facebook",
                  crossDomain: false,
                  allowFreeTagging: true,
                  hintText: "<%=t('digit_tags')%>",
                  searchingText: "<%=t('digit_tags')%>",
                  preventDuplicates: true
              })
          }
      });

      /**
       * Se lo step delle proposte simili era stato saltato, saltalo anche quando torni indietro
       */
      function skipIfNecessary(activeDiv) {
          if (activeDiv.attr('id') == 'suggestions' && skippedSuggestionStep) {
              $('#form-wizard-prev').click();
          }
      }

      /**
       * Mostra proposte simili se ve ne sono
       */
      function showSimilarProposal(activeDiv) {
          $(':input', activeDiv).first().focus();
          if (activeDiv.attr('id') == 'suggestions') {
              $.ajax({
                  url: '<%=similar_proposals_path :group_id => params[:group_id]%>',
                  data: 'tags=' + $('#proposal_tags_list').val()
              })
          }
          $('#new_proposal').enableClientSideValidations();
      }
  </script>