<div id="create_proposal">
  <%= form_for (@group && !in_subdomain?) ? [@group, @proposal] : @proposal, :validate => true, :remote => true do |f| %>
      <div class="legend first"><%= t('pages.proposals.new.step_1') %></div>
      <div class="legend"><%= t('pages.proposals.new.step_2') %></div>
      <div class="legend"><%= t('pages.proposals.new.step_3') %></div>
      <div class="legend last"><%= t('pages.proposals.new.step_4') %></div>

      <div class="step root root">
        <%= render 'proposal_types/first_step', {:f => f} %>
      </div>


      <div class="step" id="suggestions">
      </div>

      <div class="step">


        <%= f.fields_for :sections, @problems do |s| %>
            <%= s.hidden_field :title %>
            <%= s.hidden_field :seq %>
            <%= s.fields_for :paragraphs, @problems.paragraphs.build(seq: 1) do |p| %>
                <p>
                  <%= p.label :content, t('pages.proposals.new.event.problems_title_label') %> *<br/>
                  <%= p.text_area :content, :rows => 5, :style => "width:98%", :class => "tinymce", :validate => {:presence => true} %>
                  <%= p.hidden_field :seq %>
                </p>
            <% end %>
        <% end %>

        <div class="suggestion_box">
          <div><%= 'Esempio' %></div>
          <div><%= 'Organizzare un festival rock low cost' %></div>
          <div><%= "Nella nostra città esistono molte band giovanili che non trovano spazi per esibirsi e valorizzare il loro talento. D'altra parte il programma di eventi promosso dal Comune per la prossima estate è molto scarno, a causa di mancanza di fondi."%></div>
        </div>

      </div>

      <div class="step">
        <%= render 'proposal_types/last_step', {f: f} %>
      </div>

      <p>
        <%= render :partial => 'fragments/error_messages', :locals => {:resource => @proposal} %>
        <%= f.submit t('pages.proposals.new.create_button'), :class => 'btn blue disable', onclick: 'return validElement();' %>
      </p>
      </div>

  <% end %>
