<h4><%= t('pages.proposals.new.step_1_title') %></h4>

<p>
  <%= f.label :title, t('pages.proposals.new.title_synthetic') %>
  <%= f.text_field :title, placeholder: t('pages.proposals.new.title_placeholder'), :style => "width:500px" %>
</p>


<% @available_areas = current_user.scoped_areas(@group, GroupAction::PROPOSAL_INSERT) %>
<% if @group && @group.enable_areas && @group.group_areas.count > 0 && params[:action] == "new" %>
    <p>
      <%= f.label :group_area_id %>
      <% if @available_areas.size > 0 %>
          <%= select("proposal", "group_area_id", current_user.scoped_areas(@group, GroupAction::PROPOSAL_INSERT).collect { |p| [p.name, p.id] }, {:prompt => t('pages.proposals.new.no_work_area_selected')}) %>
      <% else %>
          <%= t('pages.proposals.new.cannot_add_proposal_in_work_area') %>
      <% end %>
    </p>
<% end %>


<% if ::Configuration.proposal_categories %>
    <p>
      <%= f.label :proposal_category_id %>
      <%= f.select :proposal_category_id, options_for_select(ProposalCategory.all.collect { |p| [p.description, p.id, {'data-imagesrc' => image_path("proposal_categories/#{p.id}_s.png")}]}, @proposal.proposal_category_id),{:include_blank => t('pages.proposals.new.category_prompt')}, {style: 'width:300px'} %>
    </p>
<% end %>

<p>
  <%= f.label :interest_borders_tkn %>
  <%= f.text_field 'interest_borders_tkn', "data-pre" => @proposal.interest_borders.to_json , placeholder: t('pages.proposals.new.interest_borders_tkn_placeholder') %>
</p>

<% if ::Configuration::folksonomy %>
    <p>
      <%= f.label :tags_list %>
      <%= f.text_field :tags_list, placeholder: t('pages.proposals.new.tags_list_placeholder') %>
    </p>
<% end %>


<p>
  <% if @group %>
      <input type="hidden" name="from_group" value="<%= @group.id %>"/>
  <% end %>
  <input type="hidden" name="proposal[presentation_group_ids][]" value="<%= @proposal.presentation_group_ids.join(",") %>"/>
  <%= f.hidden_field :private %>
  <%= f.hidden_field :proposal_type_id %>
  <%= f.hidden_field :proposal_votation_type_id %>
</p>


<script type="text/javascript">
    $(function() {
        var input = $('#proposal_interest_borders_tkn')
        input.tokenInput("<%=interest_borders_path(:format => :json)%>", {
            crossDomain: false,
            prePopulate: input.data("pre"),
            hintText: "<%=t('interest_borders.hint')%>",
            noResultsText: "<%=t('interest_borders.no_place_found')%>",
            searchingText: "<%=t('interest_borders.searching')%>",
            preventDuplicates: true,
            allowTabOut: true
        });

        input = $('#proposal_tags_list')
        if (input != null) {
            input.tokenInput("<%=tags_path(format: :json )%>", {
                theme: "facebook",
                crossDomain: false,
                allowFreeTagging: true,
                minChars: 3,
                hintText: "<%=t('digit_tags')%>",
                searchingText: "<%=t('digit_tags')%>",
                preventDuplicates: true,
                allowTabOut: true,
                tokenValue: "name"
            })
        }


        $('#proposal_proposal_category_id').select2({
            minimumResultsForSearch: -1,
            formatResult: formatCategory,
            formatSelection: formatCategory,
            escapeMarkup: function(m) { return m; }
        });
    });
</script>