<h4><%= t('pages.proposals.new.step_4_title') %></h4>

<p>
  <%= f.label :quorum_id %> *  <%= link_to t('pages.proposals.new.quorum_help'), help_quorums_path(group_id: params[:group_id]), :remote => true %><br/>
  <% if @group %>
    <%@quorum_collection = @group.quorums.active%>
<% else %>
    <%@quorum_collection = Quorum.public.order('seq nulls last') %>
<% end %>
  <%= f.select :quorum_id, options_for_select(@quorum_collection.collect { |p| [p.name, p.id, {'data-description' => p.description, 'data-explanation' => p.explanation, 'data-time_fixed' => p.time_fixed?, 'data-minutes' => p.minutes}]}),{:include_blank => t('pages.proposals.new.quorum_prompt')}, {style: 'width:500px'} %>
<div id="available_quorums_container" title="<%= t('pages.quorums.index.title') %>">
</div>
</p>
<div class="clearboth"></div>
<p id="quorum_explanation" class="toast-info info-panel" style="display:none;">

</p>

<div id="choose_votation" class="toast-info info-panel"  style="display:none">
  <%= f.fields_for 'votation' do |v| %>
    <p>
    <h2 style="color:#fff"><%= 'Scegli subito la data della votazione:' %></h2>
    </p>
      <p>
        <div id="start_preset" style="display: block;">
          <%= v.label 'start', 'Inizio'  %>
          <span class="start_vot" ondblclick="changeStart();"></span>
        </div>
      <div id="start_choose" style="display:none">
        <%= v.label 'start', 'Inizio'  %>
        <%= v.text_field 'start'%>
        <%= v.hidden_field 'start_edited' %>
        <span class="cancel_action">X</span>
      </div>
      </p>
      <p>
        <%= v.label 'end', 'Fine'  %>
        <%= v.text_field 'end' %>
      </p>
  <%end%>
  <div class="btn later"><%= 'No thanks, I will choose it later' %></div>
</div>

<p>
  <% if @change_advanced_options %>
    <%= f.check_box :anonima %>
    <%= f.label :anonima %><br/>
      <%= f.check_box :visible_outside %>
    <%= f.label :visible_outside %><br/>
      <%= f.check_box :secret_vote %>
    <%= f.label :secret_vote %><br/>
  <% end %>
  <%= f.hidden_field :topic_id %>
</p>

<div class="suggestion_box">
  <%=raw 'Airesis ti aiuterà a raggiungere il tuo obiettivo attraverso un processo di problem solving condiviso: gli utenti suggeriranno modifiche ed contributi al tuo testo e <b>spetterà a te</b> integrare quelle più gradite.<br/>
         Se non lo farai la tua proposta non andrà in votazione.<br/>
          Buona fortuna e non spaventarti: potrai farti aiutare da altre persone nel tuo compito.' %>
</div>

