<div id="create_proposal">
  <%= form_for (@group.present?) ? [@group, @proposal] : @proposal, validate: true, remote: true do |f| %>
      <%= render partial: 'proposal_types/wizard_steps' %>


      <div class="step root root">
        <% if @group && @group.enable_areas && @group.group_areas.count > 0 && params[:action] == "new" %>
            <p>
              <%= f.label :group_area_id %><br/>
              <%= select("proposal", "group_area_id", @group.group_areas.all.collect { |p| [p.name, p.id] }, {prompt: 'Nessuna area di lavoro'}) %>
            </p>
        <% end %>
        <% if ::Configuration.proposal_categories %>
            <p>
              <%= f.label :proposal_category_id %><br/>
              <%= select("proposal", "proposal_category_id", ProposalCategory.all.collect { |p| [p.description, p.id] }) %>
            </p>
        <% end %>
        <% if params[:action] == "new" %>
            <p>
              <%= f.label :title %> *<br/>
              <%= f.text_field :title, style: "width:300px" %>
            </p>

            <p>
              <%= f.label :interest_borders_tkn %><br/>
              <%= f.text_field 'interest_borders_tkn', "data-pre" => @proposal.interest_borders.to_json %>
            </p>

            <% if ::Configuration::folksonomy %>
                <p>
                  <%= f.label :tags_list %><br/>
                  <%= f.text_field :tags_list %>
                </p>
            <% end %>

            <p>
              <% if @proposal.change_advanced_options %>
                  <%= f.check_box :anonima %>
                  <%= f.label :anonima %><br/>
                  <%= f.check_box :visible_outside %>
                  <%= f.label :visible_outside %><br/>
                  <%= f.check_box :secret_vote %>
                  <%= f.label :secret_vote %><br/>
              <% end %>
            </p>

            <p>
              <% if @group %>
                  <input type="hidden" name="from_group" value="<%= @group.id %>"/>
              <% end %>
              <%= f.hidden_field :private %>
              <%= f.hidden_field :proposal_type_id %>
              <%= f.hidden_field :proposal_votation_type_id %>
            </p>

        <% end %>
      </div>


      <div class="step" id="suggestions">
      </div>

      <div class="step">
        <h4><%= 'Scrivi in maniera adeguata il testo che vuoi portare a sondaggio' %></h4>

        <%= f.fields_for :sections, @text do |s| %>
            <%= s.hidden_field :title %>
            <%= s.hidden_field :seq %>
            <%= s.fields_for :paragraphs, @text.paragraphs.build(seq: 1) do |p| %>
                <p>
                  <%= p.label :content, @text.title %> *<br/>
                  <%= p.text_area :content, rows: 5, style: "width:500px", class: "tinymce" %>
                  <%= p.hidden_field :seq %>
                </p>
            <% end %>
        <% end %>
      </div>

      <div class="step">
            <h4><%= 'Inserisci tutte le possibili scelte del sondaggio' %></h4>

        <%= f.fields_for :solutions, @solution_a do |sol| %>
            <%= sol.hidden_field :seq %>
            <%= sol.fields_for :sections, @solution_a_section do |s| %>
                <%= s.hidden_field :title %>
                <%= s.hidden_field :seq %>
                <%= s.fields_for :paragraphs, @solution_a_section.paragraphs.build(seq: 1) do |p| %>
                    <p>
                      <%= p.label :content, @solution_a_section.title %><br/>
                      <%= p.text_field :content, rows: 5, style: "width:500px" %>
                      <%= p.hidden_field :seq %>
                    </p>
                <% end %>
            <% end %>
        <% end %>

        <%= f.fields_for :solutions, @solution_b do |sol| %>
            <%= sol.hidden_field :seq %>
            <%= sol.fields_for :sections, @solution_b_section do |s| %>
                <%= s.hidden_field :title %>
                <%= s.hidden_field :seq %>
                <%= s.fields_for :paragraphs, @solution_b_section.paragraphs.build(seq: 1) do |p| %>
                    <p>
                      <%= p.label :content, @solution_b_section.title %><br/>
                      <%= p.text_field :content, rows: 5, style: "width:500px" %>
                      <%= p.hidden_field :seq %>
                    </p>
                <% end %>
            <% end %>
        <% end %>

        <%= f.fields_for :solutions, @solution_c do |sol| %>
            <%= sol.hidden_field :seq %>
            <%= sol.fields_for :sections, @solution_c_section do |s| %>
                <%= s.hidden_field :title %>
                <%= s.hidden_field :seq %>
                <%= s.fields_for :paragraphs, @solution_c_section.paragraphs.build(seq: 1) do |p| %>
                    <p>
                      <%= p.label :content, @solution_c_section.title %><br/>
                      <%= p.text_field :content, rows: 5, style: "width:500px" %>
                      <%= p.hidden_field :seq %>
                    </p>
                <% end %>
            <% end %>
        <% end %>


      </div>

      <p>
        <%= render partial: 'fragments/error_messages', locals: {resource: @proposal} %>
        <%= f.submit "Crea il sondaggio", class: 'btn' %>
      </p>
  <% end %>
</div>


<% data = "["
   @proposal.tags_list.split(',').each do |l|
     data += "{\"id\":\""+ l + "\",\"name\":\"" + l + "\"},"
   end
   data += "]"
%>
