<%= cache "solution_#{I18n.locale}_#{@proposal.proposal_type.short_name.downcase}" do %>
<%
   solution = send(@proposal.proposal_type.short_name.downcase + '_solution')
%>
<div class="solution_main">
  <h3>
    <div class="tit1 sol">
      <div class="tit2">
        <%= "Soluzione #{solution.seq}" %>
      </div>
    </div>
  </h3>
  <div class="sol_content">
    <div class="solutions_column">
      <%= fields_for :proposals, Proposal.new do |p| %>
          <%= p.fields_for :solutions, solution do |sol| %>
              <%= sol.hidden_field :seq %>
              <%= sol.check_box '_destroy', style: 'display:none' %>
              <% solution.sections.each_with_index do |section,j| %>
                  <%= sol.fields_for :sections, section do |s| %>
                      <%= s.hidden_field :title %>
                      <%= s.hidden_field :seq %>
                      <%= s.check_box '_destroy', style: 'display:none' %>
                      <%= s.fields_for :paragraphs, section.paragraphs.first do |p| %>
                          <p class="section_container">
                            <%= s.text_field :title, class: "edit_label" %>
                            <span class="move_button">
                              <%= image_tag 'move.png' %>
                            </span>
                             <span class="remove_button">
                              <a href="#" onclick="removeSolutionSection(this,true);return false;" class="remove_section" data-section_id="<%=j%>"><%= 'Rimuovi sezione' %></a>
                            </span>
                            <br/>
                            <%= p.text_area :content_dirty, :rows => 5, :style => "width:98%;height:280px;", :class => "tinymce" %>
                            <%= p.hidden_field :content %>
                            <%= p.hidden_field :seq %>
                          </p>
                      <% end %>
                  <% end %>
              <% end %>
          <% end %>
      <% end %>

      <div class="new_section">
        <a href="#" onclick="addSolutionSection(this);return false;" class="add_section"><%= 'Aggiungi un paragrafo alla soluzione' %></a>
      </div>

    </div>
  </div>
</div>
<%end%>

