<%= cache "solution_#{I18n.locale}_#{@proposal.proposal_type.name.downcase}" do %>
    <%
       solution = send(@proposal.proposal_type.name.downcase + '_solution')
    %>
    <div class="solution_main">
      <%= fields_for :proposals, Proposal.new do |p| %>
          <%= p.fields_for :solutions, solution do |sol| %>
              <h3>
                <div class="tit1 sol">
                  <div class="tit2">
                    <%= sol.text_field :title %>
                  </div>
                  <span class="remove_sol_button">
                    <a href="#" onclick="removeSolution(this,false);return false;"> <%= 'Rimuovi soluzione' %></a>
                  </span>
                </div>
              </h3>
              <div class="sol_content">
                <div class="solutions_column" data-solution_id="">

                  <%= sol.hidden_field :seq %>
                  <%= sol.check_box '_destroy', style: 'display:none' %>
                  <% solution.sections.each_with_index do |section, j| %>
                      <%= sol.fields_for :sections, section do |s| %>
                          <%= s.hidden_field :title %>
                          <%= s.hidden_field :seq %>
                          <%= s.check_box '_destroy', style: 'display:none' %>
                          <%= s.fields_for :paragraphs, section.paragraphs.first do |p| %>
                              <div class="section_container" data-section_id="<%= j %>">
                                <span class="move_button">
                                    <%= image_tag 'move.png' %>
                                </span>
                                <span class="remove_button">
                                    <a href="#" onclick="removeSolutionSection(this,true);return false;" class="remove_section" data-section_id="<%= j %>"><%= 'Rimuovi sezione' %></a>
                                </span>

                                <div class="clearboth"></div>
                                <%= s.text_field :title, class: "edit_label" %>
                                <%= p.text_area :content_dirty, :rows => 5, :style => "width:98%;height:280px;", :class => "tinymce" %>
                                <%= p.hidden_field :content %>
                                <%= p.hidden_field :seq %>
                              </div>
                          <% end %>
                      <% end %>
                  <% end %>
                </div>
                <div class="new_section">
                  <a href="#" onclick="addSolutionSection(this);return false;" data-solution_id="" class="add_section"><%= 'Aggiungi un paragrafo alla soluzione' %></a>
                </div>
              </div>
          <% end %>
      <% end %>
    </div>


    <script type="text/javascript">
        var sol_link = $('<li data-solution_id="new"><span class="sol_title"><%= solution.title %></span></li>');
        var sub_nav = $('<ul class="sub_navigator"></ul>');
        sol_link.append(sub_nav);
        $('.navigator').append(sol_link);
        <% solution.sections.each_with_index do |section,j| %>
        sub_nav.append('<li data-section_id="<%=j%>"><%= link_to section.title, '#', onclick: "return scrollToSection(this);", class: 'sec_title' %></li>');
        <% end %>
    </script>
<% end %>
