<% percentage = ((@group.actual_storage_size.to_f / @group.max_storage_size.to_f) * 100).round(2) %>
<h4><%= t('pages.groups.documents.storage_size') %></h4>
<span class="progressBar" title="<%= percentage %>%">
	<%= percentage %>
</span>    <br/>
<%= t('pages.groups.documents.max_storage_size') %>: <b><%= (@group.max_storage_size.to_f / 1024).round(2) %>MB</b> <br/>
<%= t('pages.groups.documents.current_storage_usage') %>: <b><%= (@group.actual_storage_size.to_f / 1024).round(2) %>MB</b> <br/>
<script type="text/javascript">
    $(".progressBar").progressBar({
        boxImage: '<%=asset_path "progressbar.gif"%>',
        barImage: <%if percentage > 90 %>
                '<%=asset_path "progressbg_red.gif"%>'
        <%elsif percentage < 70 %>
        '<%=asset_path "progressbg_green.gif"%>'
                <%else%>
                '<%=asset_path "progressbg_orange.gif"%>'
        <%end%>
    });
</script>