<% percentage = ((@group.actual_storage_size.to_f / @group.max_storage_size.to_f) * 100).round(2) %>
<ul class="pricing-table">
  <li class="title"><%= t('pages.groups.documents.storage_size') %></li>
  <li class="price"><%=percentage%>%</li>
  <li class="description">
    <div class="progress">
    <span class="meter" style="width: <%=percentage%>%"></span><%= percentage %>%
  </div>
  </li>
  <li class="bullet-item"><%= t('pages.groups.documents.max_storage_size') %>: <b><%= (@group.max_storage_size.to_f / 1024).round(2) %>MB</b> <br/></li>
  <li class="bullet-item"><%= t('pages.groups.documents.current_storage_usage') %>: <b><%= (@group.actual_storage_size.to_f / 1024).round(2) %>MB</b> <br/></li>
</ul>
