<div id="new_area_role" title="<%= t('pages.area_roles.new.title')%>" style="display: none; font-size: 14px;">
  <%=form_for in_subdomain? ? [@group_area,@area_role] : [@group,@group_area,@area_role] , :remote => true do |f|%>

      <p>
        <%=f.label :name%>	<br />
        <%=f.text_field :name%>
      </p>
      <%unless @group_area.area_role_id == @area_role.id %>
          <p>
            <%=f.label :description%>	<br />
            <%=f.text_area :description, style: "width: 300px;height:150px;"%>
          </p>
      <%end%>


      <%=f.submit button_name, :class => 'btn blue'%>
  <%end%>

  <script type="text/javascript">
      $(function() {
          /*    $('#partecipation_role_description')
           .charCount({
           counterElement:'div',
           allowed:2000,
           warning:100
           });*/
          disegnaBottoni();
      });
  </script>
</div>

<script type="text/javascript">
    $(function () {
        $("#new_area_role").validate();
        disegnaBottoni();
        $(".elastic").elastic();


        $('#group_description')
                .charCount({
                    counterElement: 'div',
                    allowed: 2000,
                    warning: 100
                });

    });
</script>