<%= form_for [@group, @candidate], :validate => false do |f| %>
    <h4><%= t('pages.candidates.new.description') %></h4>
    <%= render :partial => 'fragments/error_messages', :locals => {:resource => @candidate} %>

    <p>
      <%= f.label :user %><br/>
      <%= f.select :user_id, @group.partecipants.collect { |p| [p.fullname, p.id] } %>

    </p>

    <p>
      <%= f.label :election %><br/>
      <%= f.select :election_id, @group.elections.candidates_phase.collect { |e| [e.name, e.id] } %>
    </p>

    <p>
      <a href="#" class="btn" onclick="$('#candidate_modal').dialog('destroy');$('#candidate_modal').remove();"><%= t('buttons.cancel') %></a>
      <%= f.submit t('pages.candidates.new.send_button'), :class => 'btn blue' %>
    </p>
<% end %>