<h1>Lista delle candidature del gruppo</h1>

<ul>
<%@group.candidates.each do |candidate|%>
	<li>
		<b><%=candidate.user.fullname%></b> candidato a <b><%=candidate.election.name%></b>	
	</li>

<%end%>
</ul>	
		

<%= link_to 'Indietro', @group, :class=>"buttonStyle" %>
<%= link_to 'Invia un candidato alle elezioni', new_group_candidate_path(@group), :class=>"buttonStyle"%>
<%= link_to 'Crea una nuova elezione', new_group_event_path(@group, :type=>'election'), :class=>"buttonStyle"%>
<script type="text/javascript">
	$(function() {
		//electionDatePicker();
	});
	
</script>
