<%= content_for :head do %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= MAPS_API_KEY %>&sensor=false"></script>
<% end %>

<div class="toast-warning info-panel" >
  <b>ATTENZIONE!</b> <br/>
  <b>Funzionalità disattivata</b><br/>
  Il modulo elezioni è stato abbandonato a favore del nuovo modello di proposta 'Elezione candidati'
</div>

<%=render :layout => "layouts/page_title", :locals => {:title => "Area candidature"} do%>
			
<%end%>


<table id="candidates">
	<thead>
		<th><%= t('pages.candidates.index.user_column') %></th>
		<th><%= t('pages.candidates.index.election_column') %></th>
		<th><%= t('pages.candidates.index.state_column') %></th>
	</thead>
	<tbody>
		<%@group.candidates.all(:include => [:user,{:election => :event}]).each do |candidate|%>
			<tr>
				<td><%=candidate.user.fullname%></td>
				<td><%=link_to candidate.election.name, candidate.election%></td>
				<td>
					<%if candidate.election.is_candidates_phase?%>
						<%= t('pages.candidates.index.candidates_phase')%>
					<%elsif candidate.election.is_voting_phase?%>
						<%= t('pages.candidates.index.voting_phase') %>
					<%elsif candidate.election.event.is_past?%>
						<%= t('pages.candidates.index.terminated_phase') %>
					<%end%>
				</td>
			</tr>			
		<%end%>				
	</tbody>
</table>
<br />


<script type="text/javascript">
	$(function() {
		$('#candidates').dataTable( {
	        "oLanguage": {
	            "sLengthMenu": "Mostra _MENU_ candidature per pagina",
	             "sSearch": "Cerca:",
	            "sZeroRecords": "Nessuna candidatura, spiacente..",
	            "sInfo": "Sto mostrando da _START_ a _END_ di _TOTAL_ candidature",
	            "sInfoEmpty": "Sto mostrando 0 candidature",
	            "sInfoFiltered": "(filtrate da un totale di _MAX_ candidature)",
	            "oPaginate": {
			        "sPrevious": "Precedenti",
			        "sNext": "Successive"
			      }
	        },	        
	        "aaSorting": [[ 2, "asc" ]],  
	        "bInfo": true,
	        "bFilter": true,
	        "bLengthChange": true
	    }).columnFilter({
			sPlaceHolder: "head:after",
			aoColumns: [ {type:  "select"},
			             {type:  "select"},
			             {type:  "select"}
			           ]

		});
	    
	    $('#candidates_wrapper label').css("font-weight","normal").css("font-size","12px");
	    
	});
	
</script>




<% content_for :left_panel do %>
    <div class="mybox">
	<%= link_to t('pages.candidates.index.send_candidate_button'), new_group_candidate_url(@group),:remote => true, :class=>"btn personButton disable" if (@group.elections.candidates_phase.count != 0) && (can? :send_candidate, @group)%><br />
    </div>
<%end%>