<div class="card">
<h1><%= t('pages.alerts.index.new_not_read') %></h1>
<ul>
  <b><%= t('pages.alerts.index.no_new') if @new_alerts.empty? %></b>
  <% @new_alerts.each do |alert| %>
      <li>
        <%= link_to alert.notification.url do %>
            <%= alert.created_at.strftime("%d/%m/%Y %H:%M") %> - <%= raw alert.notification.message %>
        <% end %>
      </li>
  <% end unless @new_alerts.empty? %>
</ul>

<h1><%= t('pages.alerts.index.old_not_read') %></h1>
<ul>
  <b><%= t('pages.alerts.index.no_old') if @old_alerts.empty? %></b>
  <% @old_alerts.each do |alert| %>
      <li>
        <%= link_to alert.notification.url do %>
            <%= alert.created_at.strftime("%d/%m/%Y %H:%M") %> - <%= raw alert.notification.message %>
        <% end %>
      </li>
  <% end unless @old_alerts.empty? %>
</ul>
</div>

<% content_for :left_panel do %>
    <% if current_user %>
        <%= render partial: 'users/preferences_panel' %>
    <% end %>
<% end %>


<script type="text/javascript">
    $.ajax({
        data: '',
        dataType: 'script',
        type: 'POST',
        url: "/alerts/check_all"
    });
</script>
