<h1><%= t('pages.groups.edit_work_areas.manage.manage_roles_in_area', area: @group_area.name)  %></h1>

<div id="roles_panel_container">
  <%= render :partial => 'group_areas/roles_panel' %>
</div>
<br/>
<%= link_to t('pages.groups.edit_permissions.new_role'), new_group_group_area_area_role_url(@group, @group_area), remote: true, class: 'btn blue newButton disable' %>

<div id="new_area_role_container">
</div>

<hr/>

<div id="roles_table_container">
  <%= render :partial => 'group_areas/user_roles_panel' %>
</div>

<script type="text/javascript">
    $(function () {
        generateTable();
        disegnaBottoni();
    });

    function generateTable() {
        //gestisce il cambio del ruolo di un utente
        $('.user_role_changer').each(function (i, el) {
            var select = $(el);
            var username = select.parent().prev().text();
            var user_id = select.data("user_id");
            //memorizzo il ruolo di ciascun utente
            var previousValue = select.val();
            var previousLabel = $('option:selected', select).text();
            //quando viene cambiato il ruolo, chiedo conferma all'utente
            select.bind("change", function () {

                var currentValue = select.val();
                var currentLabel = $('option:selected', select).text();
                if (confirm("<%=t('pages.groups.edit_permissions.confirm_role_change1')%> " + username + " <%=t('pages.groups.edit_permissions.confirm_role_change2')%> " + previousLabel + " <%=t('pages.groups.edit_permissions.confirm_role_change3')%> " + currentLabel + ". <%=t('pages.groups.edit_permissions.confirm_role_change4')%>")) {
                    previousValue = currentValue;
                    previousLabel = currentLabel;
                    select.disabled = true;
                    //se l'utente conferma invio la richiesta al server
                    $.ajax({
                        data: "user_id=" + user_id + "&id=" + currentValue + "&group_id=<%=@group.id%>",
                        url: "<%=change_permissions_group_group_area_area_roles_url(@group,@group_area)%>",
                        dataType: 'script',
                        type: 'PUT'
                    });
                    return true;
                }
                else {
                    //altrimenti cambio il ruolo dell'utente e gli assegno nuovamente quello che aveva in precedenza.
                    select.val(previousValue);
                    return false;
                }
            })
        });

        $('#roles_table').dataTable({
            "oLanguage": {
                "sLengthMenu": "Mostra _MENU_ utenti per pagina",
                "sSearch": "Cerca:",
                "sZeroRecords": "Nessun utente, spiacente..",
                "sInfo": "Sto mostrando da _START_ a _END_ di _TOTAL_ utenti", //TODO:il18n
                "sInfoEmpty": "Sto mostrando 0 utenti",
                "sInfoFiltered": "(filtrati da un totale di _MAX_ utenti)",
                "oPaginate": {
                    "sPrevious": "Pagina precedente",
                    "sNext": "Pagina successiva"
                }
            },
            "aoColumns": [null, { "bSortable": false }]
        });

        $('#roles_table_wrapper label').css("font-weight", "normal").css("font-size", "12px");
    }

    function change_permission_block(el, role_id, action_id) {
        var block_ = !el.checked
        $.ajax({
            data: "action_id=" + action_id + "&id=" + role_id + "&block=" + block_,
            url: "<%=change_group_group_area_area_roles_url(@group,@group_area)%>",
            dataType: 'script',
            type: 'put'
        });
    }

    function hideNewRolePanel() {
        $('#new_role').dialog('destroy');
    }

    disegnaBottoni();
</script>
