<h2><%= t('pages.groups.edit_work_areas.form.title') %></h2>
<%= simple_form_for !in_subdomain? ? [@group, @group_area] : @group_area, validate: true, remote: true do |e| %>

    <%= e.input :name %>

    <%= e.input :description, as: :text, input_html: {class: "elastic"} %>

    <% if ['new', 'create'].include? params[:action] %>
        <%= e.input :default_role_name %>
    <% end %>

    <input type="hidden" name="manage" value="<%= params[:manage] %>"/>


    <%= link_to t('buttons.cancel'), '#', class: 'btn', data: {'reveal-close' => ''} %>
    <%= link_to t('buttons.go_back'), :back, class: 'btn', data: {back: ''} %>
    <%= e.submit t('buttons.create'), class: 'btn blue', data: {disable_with: t('saving')} %>
<% end %>

<script type="text/javascript">
    $(function () {
        disegnaBottoni();
        $(".elastic").elastic();
    });
</script>