<% @group_areas.each do |area| %>
    <div class="group_area" id="group<%= area.id %>">
      <div>
        <span class="remove_area_button">
          <%#=link_to 'Modifica', edit_group_group_area_path(@group,area), remote: true if can? :update, area%><br/>
          <%=link_to 'Rimuovi', [@group,area], method: :delete, remote: true, confirm: 'Sei sicuro di voler rimuovere quest\'area di lavoro?' if can? :destroy, area%>

        </span>
        <div style="width:40px;height: 40px;"></div>

        <div class="group_area_name">
          <%=link_to area.name, edit_group_group_area_url(@group,area), :remote => true %>
          <div class="fade_out"></div>
        </div>
        <div style="clear:both;"></div>
      </div>
      <%= link_to t('pages.groups.edit_quorums.participants'), '#', class: 'btn areas_button', data: {g_id: area.id} %>
      <div class="areas_list shadow-box">
        <ul>
          <%@partecipants.each do |partecipant|%>
              <li>
                <input type="checkbox"
                       data-user_id="<%=partecipant.id%>"
                       data-group_area_id="<%=area.id%>"
                       onclick="change_area_partecipation(this);"
                       <%if area.partecipants.include? partecipant%> checked='checked'<%end%> >
                <%= partecipant.fullname %>
              </li>
          <%end%>

        </ul>
        <div style="clear:both;"></div>
      </div>
    </div>
<% end %>
<div style="clear:both;"></div>
