<h1><%= t('pages.groups.edit_work_areas.index.not_enabled') %></h1>
<p>
<b><%= t('pages.groups.edit_work_areas.index.description') %></b>
</p>
<p>
<b><%= t('pages.groups.edit_work_areas.index.description2') %></b>
</p>
<p>
  <b><%= t('pages.groups.edit_work_areas.index.description3') %></b>
</p>
<p>
  <b><%= t('pages.groups.edit_work_areas.index.description4') %><%=raw "#{link_to t('pages.groups.administration_panel.permissions').downcase, edit_permissions_group_path(@group)}." %></b>
</p>

<div style="margin:auto; text-align: center;">
<%= link_to t('pages.groups.edit_work_areas.index.enable'), enable_areas_group_url(@group), method: :put, class: 'bigButton buttonStyle', style: 'margin:auto' %>
</div>
<%= content_for :left_panel do %>
    <%= render :partial => 'groups/administration_panel' %>
<% end %>