<%@extend = true%>
<%= render :layout => "layouts/page_title", :locals => {:title => t('pages.groups.edit_work_areas.manage_group_areas')} do %>
    <%= link_to t('pages.groups.edit_work_areas.manage.switch_area_management'), manage_group_group_areas_url(@group), :class => "btn historyButton disable", disable_with: t('loading') %><br />
    <%= link_to t('pages.groups.edit_work_areas.manage.new_area'), new_group_group_area_url(@group), :remote => true, :class => "btn newButton disable" %>

<% end %>
<div id="new_group_area_container">
</div>

<%= t('pages.groups.edit_work_areas.manage.list_participants') %>
<div id="users_list_container">
  <%= render :partial => 'users_list' %>

</div>



<%= content_for :left_panel do %>
    <%= render :partial => 'groups/administration_panel' %>
<% end %>