<%= render :layout => "layouts/page_title", :locals => {:title => t('pages.group_areas.index.title')} do %>
    <%= link_to t('pages.group_areas.index.switch_area_manage_button'), manage_group_group_areas_path(@group), :class => "historyButton disableButton" %><br />
    <%= link_to t('pages.group_areas.index.create_area_button'), new_group_group_area_path(@group), :remote => true, :class => "newButton disableButton" %>

<% end %>
<div id="new_group_area_container">
</div>

<%= 'Elenco partecipanti al gruppo. Seleziona per ciascuno le aree di lavoro a cui deve appartenere' %>
<div id="users_list_container">
  <%= render :partial => 'users_list' %>

</div>



<%= content_for :left_panel do %>
    <%= render :partial => 'groups/administration_panel' %>
<% end %>