<ul class="breadcrumbs">
  <li class="current"><%= 'All working areas' %></li>
</ul>

<%= render layout: "layouts/page_title", locals: {title: t('pages.groups.edit_work_areas.manage_group_areas')} do %>
    <%= link_to t('pages.groups.edit_work_areas.manage.switch_area_participants'), group_group_areas_url(@group), class: "btn historyButton", data:{disable_with: t('loading')} %><br />
    <%= link_to t('pages.groups.edit_work_areas.manage.new_area'), new_group_group_area_url(@group, manage: true), remote: true, class: "btn newButton disable" %>
<% end %>
<div id="new_group_area_container">
</div>

<%= t('pages.groups.edit_work_areas.manage.list_title') %>
<div id="group_areas_container">
  <%= render partial: 'group_areas_list' %>
</div>

<div id="edit_group_area_container">

</div>

<%= content_for :left_panel do %>
    <%= render partial: 'groups/administration_panel' %>
<% end %>


<script type="text/javascript">
  $(function() {
      $('.areas_button')
      .mouseover(function() {
        var _this = $(this);
        var _areas_list = _this.next('.areas_list');
          _areas_list.show().position({
              at: "left bottom",
              my: "left bottom",
              of: _this
          });
      })
      .mouseout(function() {
          var _this = $(this);
          var _areas_list = _this.next('.areas_list');
          setTimeout(function() {
              if (_areas_list.is(':hover')  || _this.is(':hover')) {

              }
              else {
                  _areas_list.hide();
              }
          },200);
      });

      $('.areas_list')
      .mouseout(function() {
          var _this = $(this);
          var _areas_button = _this.prev('.areas_button');
          setTimeout(function() {
              if (_areas_button.is(':hover') || _this.is(':hover')) {

              }
              else {
                  _this.hide();
              }
          },200);
      });
  });

  function change_area_participation(el){
      var group_area_id = $(el).data('group_area_id');
      var user_id = $(el).data('user_id');
      var enable_ = el.checked
      $.ajax({
          data: "group_area_id="+group_area_id+"&user_id="+user_id+"&enable="+enable_,
          url: "<%=change_group_group_areas_url(@group)%>",
          dataType: 'script',
          type: 'PUT'
      });
  }
</script>