<%= render :layout => "layouts/page_title", :locals => {:title => t('pages.group_areas.index.title')} do %>
    <%= link_to t('pages.group_areas.manage.switch_area_index_button'), group_group_areas_path(@group), :class => "historyButton disableButton" %><br />
    <%= link_to t('pages.group_areas.index.create_area_button'), new_group_group_area_path(@group), :remote => true, :class => "newButton disableButton" %>
<% end %>
<div id="new_group_area_container">
</div>

<%= 'Elenco delle aree di lavoro. Seleziona per ciascuna i partecipanti o clicca sul nome per gestire ruoli e permessi specifici' %>
<div id="public">

  <% @group_areas.each do |area| %>
      <div class="group_area" id="group<%= area.id %>">
        <div>
        <div style="width:40px;height: 40px;"></div>

        <b><%=link_to area.name, edit_group_group_area_path(@group,area), :remote => true %></b>
          <div style="clear:both;"></div>
        </div>
        <%= link_to 'Partecipanti', '#', class: 'areas_button', data: {g_id: area.id} %>
        <div class="areas_list shadow-box">
          <ul>
          <%@partecipants.each do |partecipant|%>
            <li>
              <input type="checkbox"
                     data-user_id="<%=partecipant.id%>"
                     data-group_area_id="<%=area.id%>"
                     onclick="change_area_partecipation(this);"
                     <%if area.partecipants.include? partecipant%> checked='checked'<%end%> >
              <%= partecipant.fullname %>
            </li>
          <%end%>

          </ul>
          <div style="clear:both;"></div>
        </div>
      </div>
  <% end %>
  <div style="clear:both;"></div>
</div>

<div id="edit_group_area_container">

</div>

<%= content_for :left_panel do %>
    <%= render :partial => 'groups/administration_panel' %>
<% end %>


<script type="text/javascript">
  $(function() {
      $('.areas_button')
      .mouseover(function() {
        var _this = $(this);
        var _areas_list = _this.next('.areas_list');
        console.log('mouse over');
          _areas_list.show().position({
              at: "left top",
              my: "left bottom",
              of: _this
          });
      })
      .mouseout(function() {
          var _this = $(this);
          var _areas_list = _this.next('.areas_list');
          setTimeout(function() {
              if (_areas_list.is(':hover')  || _this.is(':hover')) {

              }
              else {
                  _areas_list.hide();
              }
          },200);
      });

      $('.areas_list')
      .mouseout(function() {
          var _this = $(this);
          var _areas_button = _this.prev('.areas_button');
          setTimeout(function() {
              if (_areas_button.is(':hover') || _this.is(':hover')) {

              }
              else {
                  _this.hide();
              }
          },200);
      });
  });

  function change_area_partecipation(el){
      var group_area_id = $(el).data('group_area_id');
      var user_id = $(el).data('user_id');
      if (el.checked) {
          $.ajax({
              data: "group_area_id="+group_area_id+"&user_id="+user_id+"&enable=true",
              url: "<%=change_group_group_areas_path(@group)%>",
              dataType: 'script',
              type: 'PUT'
          });
      }
      else {
          $.ajax({
              data: "group_area_id="+group_area_id+"&user_id="+user_id+"&enable=false",
              url: "<%=change_group_group_areas_path(@group)%>",
              dataType: 'script',
              type: 'PUT'
          });
      }
  }
</script>