<%= simple_form_for [:admin, @announcement] do |f| %>
    <% if @announcement.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

          <ul>
            <% @announcement.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.input :message %>
    <%= f.input :starts_at, as: :string, input_html: {data: {datetimepicker: ''}} %>
    <%= f.input :ends_at, as: :string, input_html: {data: {datetimepicker: ''}} %>
    <%= f.submit class: 'btn blue' %>
<% end %>
