<h1>Listing tutorial_assignees</h1>

<table>
  <tr>
    <th>User</th>
    <th>Tutorial</th>
    <th>Completed</th>
    <th>Index</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tutorial_assignees.each do |tutorial_assignee| %>
  <tr>
    <td><%= tutorial_assignee.user_id %></td>
    <td><%= tutorial_assignee.tutorial_id %></td>
    <td><%= tutorial_assignee.completed %></td>
    <td><%= tutorial_assignee.index %></td>
    <td><%= link_to 'Show', tutorial_assignee %></td>
    <td><%= link_to 'Edit', edit_tutorial_assignee_path(tutorial_assignee) %></td>
    <td><%= link_to 'Destroy', tutorial_assignee, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tutorial assignee', new_tutorial_assignee_path %>
