<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @tutorial_assignee.user_id %>
</p>

<p>
  <b>Tutorial:</b>
  <%= @tutorial_assignee.tutorial_id %>
</p>

<p>
  <b>Completed:</b>
  <%= @tutorial_assignee.completed %>
</p>

<p>
  <b>Index:</b>
  <%= @tutorial_assignee.index %>
</p>


<%= link_to 'Edit', edit_tutorial_assignee_path(@tutorial_assignee) %> |
<%= link_to 'Back', tutorial_assignees_path %>
