<p id="notice"><%= notice %></p>

<p>
  <b>Params:</b>
  <%= @sys_payment_notification.params %>
</p>

<p>
  <b>Cart:</b>
  <%= @sys_payment_notification.cart_id %>
</p>

<p>
  <b>Status:</b>
  <%= @sys_payment_notification.status %>
</p>

<p>
  <b>Transaction:</b>
  <%= @sys_payment_notification.transaction_id %>
</p>


<%= link_to 'Edit', edit_sys_payment_notification_path(@sys_payment_notification) %> |
<%= link_to 'Back', sys_payment_notifications_path %>
