<%=form_for @partecipation_role, :remote => true do |f|%>
    <%=f.hidden_field :group_id%>
      <%=f.label :name%>
      <%=f.text_field :name%>

    <%unless @group.partecipation_role_id == @partecipation_role.id %>

        <%=f.label :description%>
        <%=f.text_area :description%>

    <%end%>
    <a href="#" class="btn" onclick="$('#<%=params[:action] == 'edit' ? 'edit_role' : 'new_role'%>').foundation('reveal','close');"><%= t('buttons.cancel') %></a>
    <%=f.button button_name, :class => 'btn blue saveButton'%>
<%end%>
<a class="close-reveal-modal">&#215;</a>

<script type="text/javascript">
  $(function() {
      disegnaBottoni();
  });
</script>