<%=render layout: "layouts/page_title", locals: {title: t('pages.groups.edit_permissions.title')} do%>

<%end%>

<div id="roles_panel_container">
<%= render partial: 'groups/roles_panel' %>
</div>
<br/>
<%=link_to t('pages.groups.edit_permissions.new_role'), new_group_participation_role_url(@group), data: {remote: true, disable_with: t('loading')}, class: 'btn blue' %>

<div id="edit_role" title="<%= t('pages.groups.edit_permissions.edit_role_title')%>"  class="reveal-modal small" data-reveal>

</div>
<div id="new_role"  class="reveal-modal small" data-reveal>
  <h2><%= t('pages.groups.edit_permissions.new_role_title')%></h2>
	<%
	@participation_role = ParticipationRole.new(group_id: @group.id)%>
    <%= render(partial: 'participation_roles/form', locals: {button_name: t('buttons.create')})%>

</div>

<script type="text/javascript">
    $(document).on('click','[data-action-abilitation]',function() {
        var role_id = $(this).data('participation_role_id');
        var action_id = $(this).data('action_id');
        var block_ = !this.checked;
        $.ajax({
            data: "action_id="+action_id+"&block="+block_+"&l=<%=I18n.locale%>",
            url: "/groups/<%=@group.id%>/participation_roles/"+role_id+"/change_group_permission",
            dataType: 'script',
            type: 'post'
        });
    });
</script>
                
<%=content_for :left_panel do%>
	<%= render partial: 'groups/administration_panel' %>

<%end%>
