<h2><%=t('pages.login.title') %></h2>

<%= form_for(resource, :as => resource_name, :url => {:action => "create", :controller => "devise/sessions"}) do |f| %>
  <div><%= f.label :login %><br />
  <%= f.text_field :login %></div>
  
  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me, "Ricordami su questo computer" %></div>
  <% end -%>

  <div><%= f.submit "Login" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>