<% @page_title=t('pages.login.title') %>

<%= render 'devise/shared/social_links' %>
<div class="card">
  <h2><%= t('pages.login.title') %></h2>
  <%= simple_form_for @user, url: user_session_path do |f| %>
      <%= f.input :email, required: true %>
      <%= f.input :password, required: true %>

      <div class="row">
        <div class="columns large-5">
          <%= f.label :remember_me do %>
              <%= f.check_box :remember_me %>
              <%= t('pages.sessions.new.remember_me_label') %>
          <% end %>
        </div>
      </div>


      <div class="row">
        <div class="columns large-5">
          <%= button_tag type: :submit, class: 'btn blue' do %>
              <i class="fa fa-key"></i>
              <%= t('buttons.login') %>
          <% end %>
        </div>
      </div>
  <% end %>
  <%= render 'devise/shared/links' %>
</div>



