<% @page_title=t('pages.login.title') %>
<div class="card">
<h2><%= t('pages.login.title') %></h2>

<%= form_for(resource, :as => resource_name, :url => {:action => "create", :controller => "devise/sessions"}) do |f| %>

    <div class="row">
      <div class="columns large-5">
        <%= f.label :login, t('pages.sessions.new.login_label') %>
        <%= f.text_field :login %>
      </div>
    </div>
    <div class="row">
      <div class="columns large-5">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
    </div>

    <div class="row">
      <div class="columns large-5">
        <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %>
            <%= t('pages.sessions.new.remember_me_label') %>
        <% end %>
      </div>
    </div>


    <div class="row">
      <div class="columns large-5">
        <%= f.button "Login", :class => 'btn blue loginButton' %>
      </div>
    </div>
<% end %>
</div>

<%= render :partial => "devise/shared/links" %>
