<%= simple_form_for [:admin, @sys_movement] do |f| %>
    <% if @sys_movement.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@sys_movement.errors.count, "error") %> prohibited this sys_movement from being saved:</h2>

          <ul>
            <% @sys_movement.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.input :sys_movement_type_id, as: :select, collection: SysMovementType.all.map { |s| [s.description, s.id] }, include_blank: false %>
    <%= f.input :made_on, as: :string, input_html: {type: :date} %>

    <div class="field" style="float:left">

      <%= f.label :amount %>
      <br/>
      <%= f.text_field :amount, maxlength: 10 %>
    </div>
    <div class="field" style="float:left">
      <%= f.label :sys_currency_id %>
      <br/>
      <%= f.collection_select :sys_currency_id, SysCurrency.all, :id, :description %>
    </div>

    <div class="clearboth"></div>

    <%= f.input :description, as: :text %>

    <div class="actions">
      <%= link_to 'Annulla', admin_sys_movements_path, class: 'btn' %>
      <%= f.button :button, 'Salva', class: 'btn blue' %>
    </div>
<% end %>
