<h2><%= t('pages.steps.first_proposal.title_html') %></h2>
<p>
  <%= t('pages.steps.first_proposal.description_html', proposal: (link_to t('open_space'), proposals_path, target: :_blank)) %>
</p>
<p>
  <%= render 'proposals/new_proposal' %>
</p>
<%= link_to complete_tutorial_step_path(@step.tutorial, @step), class: 'btn blue', style: "float:right;" do %>
    <i class="fa fa-arrow-right"></i>
    <%= t('buttons.next') %>
<% end %>
<div style="clear: both"></div>
