<%= form_for [@tutorial,@step] do |f| %>
  <% if @step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% @step.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tutorial_id %><br />
    <%= f.number_field :tutorial_id %>
  </div>
  <div class="field">
    <%= f.label :index %><br />
    <%= f.number_field :index %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :required %><br />
    <%= f.check_box :required %>
  </div>
   <div class="field">
    <%= f.label :fragment %><br />
    <%= f.text_field :fragment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
