<div class="text"><b><%= t('pages.steps.rank_bar_explain.title')%><br /></b>
<%= t('pages.steps.rank_bar_explain.description_html')%>
<div style="clear: both"></div>
<%= link_to t('buttons.ok'), complete_tutorial_step_path(@step.tutorial,@step), :class => 'btn blue acceptButton', :style => "float:right;" %>
<div style="clear: both"></div>
</div>

<!--
<script type="text/javascript">
    $(function () {
        var intro = introJs();
        intro.setOptions({
            steps: [
                {
                    element: '.progressBar',
                    intro: "<div style='width:300px'><%=j t('pages.steps.rank_bar_explain.newdescription2')%></div><div><%=j t('pages.steps.rank_bar_explain.newdescription3')%></div>",
                    position: 'right'

                },
                {
                    element: '#voteup',
                    intro: "<div style='width:300px'><%=j t('pages.steps.rank_bar_explain.newdescription4')%></div>",
                    position: 'right'
                },
                {
                    element: '#votedown',
                    intro: "<div style='width:300px'><%=j t('pages.steps.rank_bar_explain.newdescription5')%></div>",
                    position: 'right'
                },
                {
                    element: '.handscontainer',
                    intro: "<div style='width:300px'><%=j t('pages.steps.rank_bar_explain.newdescription6')%></div>",
                    position: 'right'
                }
            ],
            skipLabel: 'Ok',
            doneLabel: 'Ok',
            nextLabel: 'Prosegui',
            prevLabel: 'Precedente',
            exitOnEsc: false,
            exitOnOverlayClick: false,
            hideSkipDone: true
        });
        intro.oncomplete(function() {
            $('body').css('overflow','auto');
            /*$.ajax({
                url: '<%=complete_tutorial_step_path(@step.tutorial, @step)%>'
            })*/
        })
        intro.start();
        $('body').css('overflow','hidden');
    })
</script>
-->