<h1>Listing steps</h1>

<table>
  <tr>
    <th>Tutorial</th>
    <th>Index</th>
    <th>Title</th>
    <th>Content</th>
    <th>Required</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @steps.each do |step| %>
  <tr>
    <td><%= step.tutorial_id %></td>
    <td><%= step.index %></td>
    <td><%= step.title %></td>
    <td><%= step.content %></td>
    <td><%= step.required %></td>
    <td><%= link_to 'Show', step %></td>
    <td><%= link_to 'Edit', edit_step_path(step) %></td>
    <td><%= link_to 'Destroy', step, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Step', new_step_path %>
