<%proposal_nickname = @proposal.proposal_nicknames.find_by_user_id(comment.user.id)%>

<div id="comment<%= comment.id %>" class="proposalComment"<%if (comment.collapsed) %>style="display:none"<%end %>>
    <div class="blogUserImage">
    	<%if (proposal_nickname && @proposal.is_current?)%>
			<img src="http://www.gravatar.com/avatar/<%=Digest::MD5.hexdigest(proposal_nickname.nickname)%>?s=40&d=identicon&r=PG"/>               	
		<%else%>
	        <%= comment.user_image_tag(40) %>
		<%end%>
    </div>
    <div class="proposal_comment">
    	<div class="baloon-triangle">
    	</div>
        <div id="commentcc" >
	        <div class="baloon_header">
	            <div class="proposalCommentPostedAt">
	                <span class="blogPoster">
	                	<%if (proposal_nickname && @proposal.is_current?)%>
							<%=proposal_nickname.nickname%>	                	
	                	<%else%>
	                		<%=link_to_user comment.user %>
	                	<%end%>
	                </span> dice...
	            </div>
				<div id="flash_messages_comment_<%= comment.id %>" style="height:20px">
					
				</div>
	        </div>
            <div class="baloon-content">
                <%=raw auto_link((h(comment.content)).gsub(/\n/, '<br/>'), :html => { :target => '_blank' }, :sanitize => false) do |text|
				  truncate(text, :length => 15)
				end%>
            </div>
            <div class="baloon-footer">
            	Inserito il <span class="blogPostDate"><%= comment.created_at.strftime("%d/%m/%Y %H:%M") %></span>
	            <div id="rankingpanelcontainer<%=comment.id%>" class="rankingpanelcontainer" >
    	            <%= render :partial => 'proposal_comments/ranking_panel', :locals => {:comment => comment} %>
        	    </div>
                <% if current_user and (is_proprietary? comment or current_user.is_my_proposal? @proposal.id) %>
                    <%= link_to 'Cancella', {:controller => "proposal_comments", :action => "delete",  :proposal_id => @proposal.id, :id => comment.id},
						:remote => "true",
						:onclick => "return false;",
						:class => "deleteCommentLink",					
						:id => "delete#{comment.id}"%>
                <%end%>                               
				<a href="#" onclick="openAnswer(this); return false;">Rispondi al contributo</a>
            </div>
        </div>
     
     <script>     		
	     	<%if (comment.collapsed) %>
				$('#comment<%= comment.id%>').show(600);
		    <%end%>
		    
		     $('#delete<%= comment.id%>').click(function(event) {
	    		hiding(event,<%= comment.id%>);	    	
	   		});
	   		
	   		function openAnswer(el) {
	   			if (!$(el).opened) {
	   				console.log("not open");
	   				$(el).opened = true;
	   				answerPanel = $(el).answerPanel = $("<div>").append("<textarea>").addClass("proposal_comment");
	   				$(el).parent().parent().parent().parent().append(answerPanel);
	   			}
	   			else {
	   				$(el).opened = false;
	   			}
	   			
	   		}
     </script>
    </div>
</div>