<%proposal_nickname = @proposal.proposal_nicknames.find_by_user_id(comment.user.id)
%>

<div id="comment<%= comment.id %>" class="proposalComment"<%if (comment.collapsed) %>style="display:none"<%end %>>
    <div class="blogUserImage">
    	<%if (proposal_nickname && @proposal.is_current? && !(comment.user == current_user))%>
			<img src="http://www.gravatar.com/avatar/<%=Digest::MD5.hexdigest(proposal_nickname.nickname)%>?s=40&d=identicon&r=PG"/>               	
		<%else%>
	        <%= comment.user_image_tag(40) %>
		<%end%>
    </div>
    <div style="margin: 0px 0px 5px 50px;"><span class="blogPoster">
        <%if (proposal_nickname && @proposal.is_current?  && !(comment.user == current_user))%>
            <%=proposal_nickname.nickname%>
        <%else%>
            <%=link_to_user comment.user, :content_text => comment.user.fullname + (proposal_nickname ? (' (' + proposal_nickname.nickname + ')') : '') %>
        <%end%>
    </span> propone... <div id="flash_messages_comment_<%= comment.id %>" style="height:20px; float: right;"></div></div>
    <div class="proposal_comment">
    	<div class="baloon-triangle"></div>
        <div id="commentcc" >
          <div class="baloon_header">

                <div class="proposalCommentPostedAt">

	            </div>

	            </div>
            <div class="baloon-content">
                <%=raw auto_link((h(comment.content)).gsub(/\n/, '<br/>'), :html => { :target => '_blank' }, :sanitize => false) do |text|
				  truncate(text, :length => 15)
				end%>
            </div>
            <div class="baloon-footer">
            	Inserito il <span class="blogPostDate"><%= comment.created_at.strftime("%d/%m/%Y %H:%M") %></span>
	            <div id="rankingpanelcontainer<%=comment.id%>" class="rankingpanelcontainer" >
    	            <%= render :partial => 'proposal_comments/ranking_panel', :locals => {:comment => comment} %>
        	    </div>
                <% if current_user and (is_proprietary? comment or current_user.is_my_proposal? @proposal.id) and ((Time.now - comment.created_at)/60) < 5 %>
                    <%= link_to 'Cancella', {:controller => "proposal_comments", :action => "delete",  :proposal_id => @proposal.id, :id => comment.id},
						:remote => "true",
						:onclick => "return false;",
						:class => "deleteCommentLink",					
						:id => "delete#{comment.id}"%>
                <%end%>                               
            </div>
        </div>
        
     
     <script>     		
	     	<%if (comment.collapsed) %>
				$('#comment<%= comment.id%>').show(600);
		    <%end%>
		    
		     $('#delete<%= comment.id%>').click(function(event) {
	    		hiding(event,<%= comment.id%>);	    	
	   		});
	   		
	   		
     </script>
    </div>
    <%countreplies = comment.replies.count%>
    <%@lastreplies = comment.replies.paginate(:page => 1,:per_page => 5, :order => 'created_at DESC').reverse!%>
    <%if countreplies > 5%>
    <div id="<%=comment.id%>_show" class="show_all_comments">
    	<%=link_to 'Mostra tutti i ' + countreplies.to_s + ' suggerimenti...', show_all_replies_proposal_proposal_comment_path(@proposal,comment), :remote => true%>
    </div>
    <%end%>
    <%= render :partial => 'proposals/reply', :collection => @lastreplies %>
    <div id="<%=comment.id%>_replies">
    </div>
    
    <%if signed_in? && (can? :partecipate, @proposal) %>
      <div class="reply_img">
        <%= current_user.user_image_tag(32) %>
      </div><div  class="proposal_comment_reply"><div class="baloon-triangle"></div>
    	<div id="<%=comment.id%>_reply_area_msg"></div>
    	<%= form_for [@proposal,ProposalComment.new], :remote => true do |f| %>

		<div class="reply_area">
			<%= f.hidden_field :parent_proposal_comment_id, :value => comment.id%>
			<%= f.text_area :content, :class => 'reply_textarea', :id=> "#{comment.id}_reply_text_area"%>
        </div>
        <div class="reply_button">
        	<%=f.submit 'Rispondi', :class=>'disableButton' %>
        </div>
        <div style="clear: both;"></div>
        <%end%>
    </div>
    <%end%>
</div>