<% proposal_nickname = @proposal.proposal_nicknames.find_by(user_id: comment.user.id) %>

<div id="comment<%= comment.id %>" class="proposalComment"
     <% if (comment.collapsed) %> data-collapsed
     <% end %> data-id="<%= comment.id %>">
  <div class="blogUserImage" title="<%= proposal_nickname.nickname if (proposal_nickname && @proposal.is_anonima? && !(comment.user == current_user)) %>">
    <% if (proposal_nickname && @proposal.is_anonima? && !(comment.user == current_user)) %>
        <img src="https://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(proposal_nickname.nickname) %>?s=40&d=identicon&r=PG"/>
    <% else %>
        <%= avatar(comment.user, size: 40) %>
    <% end %>
  </div>
  <div class="proposal_comment" data-comment-id="<%= comment.id %>">
    <%= render partial: 'proposal_comments/content', locals: {comment: comment, proposal_nickname: proposal_nickname} %>
  </div>
  <% countreplies = comment.replies.count %>
  <% if params[:comment_id].present? && (comment.replies.include? ProposalComment.find(params[:comment_id])) %>
      <% @lastreplies = comment.replies.order('proposal_comments.created_at ASC') %>
  <% else %>
      <% @lastreplies = comment.replies.where(["proposal_comments.created_at > ?", comment.updated_at || comment.created_at]).order('proposal_comments.created_at DESC').page(1).per(5).reverse! %>
  <% end %>
  <% if countreplies > @lastreplies.length %>
      <div id="<%= comment.id %>_show" class="show_all_comments">
        <%= link_to t('pages.proposals.show.replies.show_all', count: countreplies), show_all_replies_proposal_proposal_comment_path(@proposal, comment, showed: @lastreplies.length), remote: true, data: {disable_with: t('loading')} %>
      </div>
  <% end %>
  <div id="<%= comment.id %>_replies" style="display:none;">
  </div>
  <% @lastreplies.each_with_index do |reply, i| %>
      <%= render partial: 'proposals/reply', locals: {reply: reply, hide: false} %>
      <% if (i < @lastreplies.length - 1) && (version = comment.versions.where(['created_at between ? and ?', @lastreplies[i].created_at, @lastreplies[i+1].created_at]).first) %>
          <div class="panel callout comment_update_divider">
            <%= raw 'updated on ' + time_in_words(version.created_at) %>
          </div>
      <% end %>
  <% end %>
  <div id="<%= comment.id %>_new_replies">
  </div>

  <% if can? :participate, @proposal %>
      <div class="reply_img">
        <%= avatar(current_user, size: 32) %>
      </div>
      <div class="proposal_comment_reply">
        <div class="baloon-triangle"></div>
        <div id="<%= comment.id %>_reply_area_msg"></div>
        <%= form_for [@proposal, ProposalComment.new], remote: true do |f| %>

            <div class="reply_area">
              <%= f.hidden_field :parent_proposal_comment_id, value: comment.id %>
              <%= f.text_area :content, class: 'reply_textarea', data: {id: comment.id, textntags: ''}, id: "#{comment.id}_reply_text_area", placeholder: t('pages.proposals.show.reply_placeholder') %>
            </div>
            <div class="reply_button">
              <%= f.submit t('pages.proposals.show.reply_button'), class: 'btn disable', data: {disable_with: t('sending')} %>
            </div>
            <div style="clear: both;"></div>
        <% end %>
      </div>
  <% end %>
</div>
