<span class="label info width-80">
  <h3 id="status"><%= @proposal.in_valutation? ? t('pages.proposals.show.during_debate') : @proposal.state.description %></h3><!--TODO:I18n-->
</span>
<% if @proposal.is_anonima? %>
    <span class="label info width-80"><i class="fa fa-user-secret nickname-panel"></i> <%= t('pages.proposals.show.anonimity_active') %></span>
<% end %>
<% if @proposal.visible_outside? %>
    <span class="label info width-80"><i class="fa fa-eye"></i> <%= t('info.proposal.public_visible_short') %></span>
<% end %>

<div style="padding-bottom: 10px;">
  <%= t('pages.proposals.show.created_at_html', time: raw("<div class='date-creation'></div>"), date: (l @proposal.created_at)) %>
</div>
<% if @proposal.updated_at != @proposal.created_at %>
    <div class="mycont">
      <%= t('pages.proposals.show.updated_at_html', time: raw("<div class='date-update'></div>"), date: (l @proposal.updated_at)) %>
    </div>
<% end %>
<% unless @proposal.is_petition? %>
    <% if @proposal.in_valutation? %>
        <div class="mycont" id="condition_left">
          <%if @proposal.quorum.instance_of? OldQuorum%>
            <%if @proposal.quorum.time_left? # if time set and time left%>
                <%if quorum.valutations_left? #if two parameters and valutations left %>
                    <div class="time_end">
                      <%=t('pages.proposals.show.debate_ends_html')%>:</div>
                      <div class="end-debate"></div>
                      <div class="join_clause">
                        <%= @proposal.quorum.or? ?
                                    t('pages.proposals.show.debate_ends_valutations_or') :
                                    t('pages.proposals.show.debate_ends_valutations_and')%>:
                      </div>
                      <b><%=@proposal.quorum.valutations_left%></b>
                <%else%>
                    <div class="time_end"><%=t('pages.proposals.show.debate_ends_html')%>:</div>
                    <div id="end_debate"></div>
                <%end%>
            <%elsif @proposal.quorum.valutations_left? #only valutations %>
                <div class="time_end"><%=t('pages.proposals.show.debate_ends_valutations')%>:</div>
                <b><%=@proposal.quorum.valutations_left%></b>
            <%else #stalled%>
                End of debate:<br/>rank superior to <b><%=@proposal.quorum.good_score%>%</b><br/>
                Abandoned:<br/>rank inferior to <b><%=@proposal.quorum.bad_score%>%</b>
            <%end%>
          <%else%>
            <%if @proposal.quorum.time_left? #if time set and time left%>
                <div class="time_end"><%=t('pages.proposals.show.debate_ends_html')%>:</div>
                  <div class="end-debate"></div>
            <%else%>
                End of debate:<br/>rank superior to <b><%=@proposal.quorum.good_score%>%</b><br/>
            <%end%>
          <%end%>
        </div>
    <% end %>

    <% if @proposal.proposal_state_id == ProposalState::WAIT #in attesa di essere votata        %>
        <div class="mycont">
          <%= t('pages.proposals.show.in_votation_html', start: (l @proposal.vote_period.starttime), end: (l @proposal.vote_period.endtime)) %>
        </div><br/>
    <% elsif @proposal.proposal_state_id == ProposalState::VOTING #in votazione        %>
        <div class="mycont">
          <%= t('pages.proposals.show.in_votation_until_html', date: raw("<div class='end-vote'></div>")) %>
        </div>
    <% end %>
<% end %>
