<% proposal_nickname = @proposal.proposal_nicknames.find_by_user_id(comment.user.id)
%>

<div id="comment<%= comment.id %>" class="proposalComment">
  <div class="blogUserImage" title="
    <% if (proposal_nickname && @proposal.is_anonima? && !(comment.user == current_user)) %><%= proposal_nickname.nickname %>
    <% end %>">
    <% if (proposal_nickname && @proposal.is_anonima? && !(comment.user == current_user)) %>
        <img src="https://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(proposal_nickname.nickname) %>?s=40&d=identicon&r=PG"/>
    <% else %>
        <%= avatar(comment.user, size: 40) %>
    <% end %>
  </div>
  <div class="proposal_comment">
    <div class="baloon-triangle">
    </div>
    <div>
      <div class="baloon_header">

        <div class="integrate_button panel callout">
          <span class="integrate_label"><%= t('pages.proposals.edit.integrated') %></span>
          <input type="checkbox" data-integrate-contribute="<%= comment.id %>">
        </div>
      </div>
      <div class="baloon-content">
        <%= parsed_content(comment, @proposal.is_anonima?) %>
      </div>
      <div class="baloon-footer" title='<%= l(comment.created_at) %>'>
        <% who = (proposal_nickname && @proposal.is_anonima? && !(comment.user == current_user)) ? proposal_nickname.nickname : (link_to_user comment.user, content_text: comment.user.fullname + ((proposal_nickname && @proposal.is_anonima?) ? (' (' + proposal_nickname.nickname + ')') : '')) %>
        <%= raw t('pages.proposals.show.comment_inserted_by', when: time_in_words(comment.created_at), who: who) %>
        <%= "in \"#{comment.location}\"" if comment.has_location? %>
      </div>
      <div id="rankingpanelcontainer<%= comment.id %>" class="rankingpanelcontainer">
        <%= render partial: 'proposal_comments/edit_ranking_panel', locals: {comment: comment} %>
      </div>
      <div style="clear:both;"></div>
    </div>


  </div>
  <% countreplies = comment.replies.count %>
  <% lastreplies = comment.replies.order('created_at DESC').page(1).per(5).to_a.reverse! %>
  <% if countreplies > 5 %>
      <div id="<%= comment.id %>_show" class="show_all_comments">
        <%= link_to t('pages.proposals.show.replies.show_all', count: countreplies), show_all_replies_proposal_proposal_comment_path(@proposal, comment), remote: true %>
      </div>
  <% end %>
  <div id="<%= comment.id %>_replies" style="display:none;">
  </div>
  <%= render partial: 'proposals/reply', collection: lastreplies, locals: {hide: true} %>
  <div id="<%= comment.id %>_new_replies">
  </div>
</div>
