<div class="mybox">
  <%= render 'proposals/new_proposal' %>
</div>

<% if @group && @group.enable_areas && @group.group_areas.length > 0 && ::Configuration.group_areas %>
    <div class="mybox">
      <div id="group_areas">
        <h4><%= t('pages.proposals.index.group_areas_title') %></h4>

        <div class="mybox_button"></div>
        <div class="mycont">
          <div class="row">
            <div class="columns">
              <% if params[:group_area_id] %>
                  <a href="<%= current_url(group_area_id: nil) %>"><%= t('pages.proposals.index.no_group_areas') %></a>
              <% else %>
                  <%= t('pages.proposals.index.all_areas') %>
              <% end %>
            </div>

          </div>

          <% @group.group_areas.each do |area| %>
              <div class="row">
                <div class="columns">
                  <% if params[:group_area_id] == area.id.to_s %>
                      <%= area.name %>
                  <% else %>
                      <%= link_to area.name, current_url(group_area_id: area.id) %>
                  <% end %>
                </div>

              </div>
          <% end %>

        </div>
      </div>
    </div>
<% else # all public proposals       %>
    <div class="mybox">
      <h4><%= t('pages.proposals.index.territory') %></h4>

      <div class="mycont">
        <%= form_tag current_url, method: :get do %>
            <% if @search.interest_border %>
                <%= select_tag :interest_border,
                               options_for_select([[@search.interest_border.text, @search.interest_border.key]],
                                                  @search.interest_border.key),
                               title: t('buttons.search'), class: 'interest_borders' %>
            <% else %>
                <%= select_tag :interest_border, [], title: t('buttons.search'), class: 'interest_borders' %>
            <% end %>
        <% end %>
      </div>
    </div>
<% end %>
<% if ::Configuration.proposal_categories %>

    <div id="categories">
      <div class="mybox">
        <% if params[:category] %>
            <h4 class="filterSelected"><%= t('pages.proposals.index.categories_title') %></h4>
        <% else %>
            <h4><%= t('pages.proposals.index.categories_title') %></h4>
        <% end %>
        <div class="mybox_button"></div>

        <div class="mycont">
          <div class="row">
            <div class="columns large-2"></div>
            <div class="columns large-10">
              <% if params[:category] %>
                  <a href="<%= current_url(category: nil) %>"><%= t('pages.proposals.index.all_categories') %></a>
              <% else %>
                  <span><%= t('pages.proposals.index.all_categories') %></span>
              <% end %>
            </div>
          </div>

          <%
             conditions = "1 = 1"
             joins = "left join proposals on proposals.proposal_category_id = proposal_categories.id"
             if @group
               joins += " left join proposal_supports on proposals.id = proposal_supports.proposal_id  left join group_proposals on proposals.id = group_proposals.proposal_id"
               conditions += " AND ((proposal_supports.group_id = #{@group.id} and proposals.private = 'f') or (group_proposals.group_id = #{@group.id} and proposals.private = 't'))"
             end
             categories = ProposalCategory.joins(joins).where(conditions).order("proposal_categories.seq desc").group(ProposalCategory.column_names.map { |col| "#{ProposalCategory.table_name}.#{col}" }.join(','))

             #categories = ProposalCategory.all
             categories.each do |category| %>
              <div class="row">
                <% if params[:category] == category.id.to_s %>
                    <div class="columns large-2">
                      <%= image_tag("proposal_categories/#{category.id}_s.png",
                                    align: 'middle', alt: category.description,
                                    title: category.description,
                                    style: "width:22px;padding-right:2px;") %>
                    </div>
                    <div class="columns large-10"><%= category.description %></div>
                <% else %>
                    <div class="columns large-2">
                      <%= link_to image_tag("proposal_categories/#{category.id}_s.png",
                                            align: 'middle',
                                            alt: category.description,
                                            style: "width:22px;padding-right:2px;"),
                                  current_url(category: category.id) %>
                    </div>
                    <div class="columns large-10">
                      <%= link_to category.description, current_url(category: category.id) %>
                    </div>
                <% end %>

              </div>
          <% end %>

        </div>
      </div>
    </div>
<% end %>

<% if @group %>
    <div id="proposal_types">
      <div class="mybox">
        <% if params[:type] %>
            <h4 class="filterSelected"><%= t('pages.proposals.index.proposal_types_title') %></h4>
        <% else %>
            <h4><%= t('pages.proposals.index.proposal_types_title') %></h4>
        <% end %>
        <div class="mybox_button"></div>

        <div class="mycont">
          <div class="row">
            <div class="columns large-2">
            </div>
            <div class="columns large-10">
              <% if params[:type] %>
                  <a href="<%= current_url(type: nil) %>"><%= t('pages.proposals.index.all_proposal_types') %></a>
              <% else %>
                  <span><%= t('pages.proposals.index.all_proposal_types') %></span>
              <% end %>
            </div>
          </div>

          <%
             joins = "join proposals on proposals.proposal_type_id = proposal_types.id
                            join group_proposals on proposals.id = group_proposals.proposal_id"
             conditions = " group_proposals.group_id = #{@group.id} and proposals.private = 't'"
             types = ProposalType.joins(joins).where(conditions).group(ProposalType.column_names.map { |col| "#{ProposalType.table_name}.#{col}" }.join(','))
             types.each do |type| %>
              <div class="row">

                <% if params[:type] == type.id.to_s %>
                    <div class="columns large-2">
                      <%= image_tag("proposal_types/#{type.name.downcase}_ico.png", align: 'middle', alt: type.description, title: type.description, style: "width:22px;padding-right:2px;") %>
                    </div>
                    <div class="columns large-10"><%= type.description %></div>
                <% else %>
                    <div class="columns large-2">
                      <%= link_to image_tag("proposal_types/#{type.name.downcase}_ico.png", align: 'middle', alt: type.description, title: type.description, style: "width:22px;padding-right:2px;"), current_url(type: type.id) %>
                    </div>
                    <div class="columns large-10">
                      <%= link_to type.description, current_url(type: type.id) %>
                    </div>
                <% end %>
              </div>
          <% end %>

        </div>

      </div>

    </div>
<% end %>

<div id="creation_date" class="creation_date">
  <div class="mybox">
    <h4><%= t('pages.proposals.left_panel.creation_date') %></h4>

    <div class="mybox_button"></div>
    <div class="mycont">

      <div class="hidden_link text-right">
        <b><%= t('pages.proposals.left_panel.any_date') %></b>
      </div>

      <div class="hidden_menu">
        <%= link_to t('pages.proposals.left_panel.any_date'), current_url(time: nil), class: 'menu_item', data: {type: 'w'} %>
        <%= link_to t('pages.proposals.left_panel.last_hour'), current_url({time: {start: (Time.now - 1.hour).to_i * 1000, end: Time.now.to_i * 1000, type: '1h'}}), class: 'menu_item', data: {type: '1h'} %>
        <%= link_to t('pages.proposals.left_panel.last_24_hour'), current_url({time: {start: (Time.now - 24.hours).to_i * 1000, end: Time.now.to_i * 1000, type: '24h'}}), class: 'menu_item', data: {type: '24h'} %>
        <%= link_to t('pages.proposals.left_panel.last_week'), current_url({time: {start: (Time.now - 7.days).to_i * 1000, end: Time.now.to_i * 1000, type: '7d'}}), class: 'menu_item', data: {type: '7d'} %>
        <%= link_to t('pages.proposals.left_panel.last_month'), current_url({time: {start: (Time.now - 1.month).to_i * 1000, end: Time.now.to_i * 1000, type: '1m'}}), class: 'menu_item', data: {type: '1m'} %>
        <%= link_to t('pages.proposals.left_panel.last_year'), current_url({time: {start: (Time.now - 1.year).to_i * 1000, end: Time.now.to_i * 1000, type: '1y'}}), class: 'menu_item', data: {type: '1y'} %>
        <span class="separator"></span>
        <%= link_to t('pages.proposals.left_panel.date_range'), '#', class: 'menu_item', data: {type: 'f'}, onclick: "$('#choose_dates').foundation('reveal','open');return false;" %>

      </div>
      <div id="choose_dates" class="reveal-modal small" data-reveal>
        <h2><%= t('pages.proposals.left_panel.choose_creation_date') %></h2>
        <%= form_for 'time', {url: @group ? group_proposals_url(@group) : proposals_url, method: :get} do |f| %>
            <% if params[:type] %>
                <input name="type" value="<%= params[:type] %>" type="hidden">
            <% end %>
            <% if params[:category] %>
                <input name="category" value="<%= params[:category] %>" type="hidden">
            <% end %>
            <% if params[:l] %>
                <input name="l" value="<%= params[:l] %>" type="hidden">
            <% end %>
            <% if params[:group_area_id] %>
                <input name="group_area_id" value="<%= params[:group_area_id] %>" type="hidden">
            <% end %>
            <% if params[:search] %>
                <input name="search" value="<%= params[:search] %>" type="hidden">
            <% end %>
            <% if params[:or] %>
                <input name="or" value="<%= params[:or] %>" type="hidden">
            <% end %>

            <p>
              <%= f.label :start_w, t('label.from').capitalize %>
              <%= f.text_field :start_w, value: (params[:time][:start_w] if params[:time]), class: 'datePicker', autocomplete: 'off', data: {start_view: 4, min_view: 2} %>
              <%= f.hidden_field :start, value: (params[:time][:start] if params[:time]) %>
            </p>

            <p>
              <%= f.label :end_w, t('label.to').capitalize %>
              <%= f.text_field :end_w, value: (params[:time][:end_w] if params[:time]), class: 'datePicker', autocomplete: 'off', data: {start_view: 4, min_view: 2} %>
              <%= f.hidden_field :end, value: (params[:time][:end] if params[:time]) %>
            </p>

            <%= f.hidden_field :type, value: 'f' %>

            <p>
              <input type="button" value="<%= t('buttons.cancel') %>" class="btn" onclick="$('#choose_dates').foundation('reveal','close');"/>
              <%= f.button t('buttons.search'), class: 'btn blue', data: {disable_with: t('loading')} %>
            </p>
        <% end %>
      </div>
      <a class="close-reveal-modal">&#215;</a>
    </div>

  </div>
</div>

<% if @group && (can? :view_proposal, @group) %>
    <div class="mybox">
      <h4><%= t('pages.proposals.index.search_title') %></h4>

      <div class="mybox_button"></div>
      <div class="mycont">
        <%= render partial: 'search_form' %>
      </div>
    </div>
<% end %>
