<%= render 'proposals/new_proposal' %>




<% if @group && @group.enable_areas && @group.group_areas.length > 0 && ::Configuration.group_areas %>
    <div class="mybox">
      <div id="group_areas">
        <h4><%= t('pages.proposals.index.group_areas_title') %></h4>

        <div class="button"></div>
        <div class="mycont">
          <% if params[:group_area_id] %>
              <a href="<%= current_url(:group_area_id => nil) %>"><%= t('pages.proposals.index.no_group_areas') %></a>
          <% else %>
              <%= t('pages.proposals.index.all_areas') %>
          <% end %>
          <table>
            <% @group.group_areas.each do |area| %>
                <tr>
                  <td>
                    <% if params[:group_area_id] == area.id.to_s %>
                        <%= area.name %>
                    <% else %>
                        <%= link_to area.name, current_url(:group_area_id => area.id) %>
                    <% end %>
                  </td>

                </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
<% end %>
<% if ::Configuration.proposal_categories %>

    <div id="categories">
      <div class="mybox">
        <% if params[:category] %>
            <h4 class="filterSelected"><%= t('pages.proposals.index.categories_title') %></h4>
        <% else %>
            <h4><%= t('pages.proposals.index.categories_title') %></h4>
        <% end %>
        <div class="button"></div>

        <div class="mycont">
          <% if params[:category] %>
              <a href="<%= current_url(:category => nil) %>" style="margin-left:31px;"><%= t('pages.proposals.index.all_categories') %></a>
          <% else %>
              <span style="margin-left:31px;"><%= t('pages.proposals.index.all_categories') %></span>
          <% end %>
          <table>
            <%
               conditions = "1 = 1"
               joins = "left join proposals on proposals.proposal_category_id = proposal_categories.id"
               if @group
                 joins += " left join proposal_supports on proposals.id = proposal_supports.proposal_id  left join group_proposals on proposals.id = group_proposals.proposal_id"
                 conditions += " AND ((proposal_supports.group_id = #{@group.id} and proposals.private = 'f') or (group_proposals.group_id = #{@group.id} and proposals.private = 't'))"
               end
               categories = ProposalCategory.joins(joins).where(conditions).order("proposal_categories.seq desc").group('proposal_categories.id')

               #categories = ProposalCategory.all
               categories.each do |category| %>
                <tr>
                  <td style="vertical-align: middle;">
                    <% if params[:category] == category.id.to_s %>
                        <%= image_tag("proposal_categories/"+category.id.to_s + "_s.png", :align => 'middle', :alt => category.description, :title => category.description, :style => "width:22px;padding-right:2px;") %>
                        </td>
                        <td><%= category.description %>
                    <% else %>
                        <%= link_to image_tag("proposal_categories/"+category.id.to_s + "_s.png", :align => 'middle', :alt => category.description, :style => "width:22px;padding-right:2px;"), current_url(:category => category.id) %>
                        </td>
                        <td>
                          <a href="<%= current_url(:category => category.id) %>">
                            <%= category.description %>
                          </a>
                    <% end %>
                    </td>
                    </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
<% end %>

<% if @group %>
    <div id="proposal_types">
      <div class="mybox">
        <% if params[:type] %>
            <h4 class="filterSelected"><%= t('pages.proposals.index.proposal_types_title') %></h4>
        <% else %>
            <h4><%= t('pages.proposals.index.proposal_types_title') %></h4>
        <% end %>
        <div class="button"></div>

        <div class="mycont">
          <% if params[:type] %>
              <a href="<%= current_url(:type => nil) %>" style="margin-left:31px;"><%= t('pages.proposals.index.all_proposal_types') %></a>
          <% else %>
              <span style="margin-left:31px;"><%= t('pages.proposals.index.all_proposal_types') %></span>
          <% end %>
          <table>
            <%
               joins = "join proposals on proposals.proposal_type_id = proposal_types.id
                            join group_proposals on proposals.id = group_proposals.proposal_id"
               conditions = " group_proposals.group_id = #{@group.id} and proposals.private = 't'"
               types = ProposalType.all(
                       :joins => joins,
                       :conditions => conditions,
                       :group => 'proposal_types.id'
               )
               types.each do |type| %>
                <tr>
                  <td style="vertical-align: middle;">
                    <% if params[:type] == type.id.to_s %>
                        <%= image_tag("proposal_categories/"+type.id.to_s + "_s.png", :align => 'middle', :alt => type.description, :title => type.description, :style => "width:22px;padding-right:2px;") %>
                        </td>
                        <td><%= type.description %>
                    <% else %>
                        <%= link_to image_tag("proposal_categories/"+type.id.to_s + "_s.png", :align => 'middle', :alt => type.description, :style => "width:22px;padding-right:2px;"), current_url(:type => type.id) %>
                        </td>
                        <td>
                          <a href="<%= current_url(:type => type.id) %>">
                            <%= type.description %>
                          </a>
                    <% end %>
                    </td>
                    </tr>
            <% end %>
          </table>
        </div>

      </div>

    </div>
<% end %>

<div id="creation_date">
  <div class="mybox">
    <h4><%= 'Data di creazione' %></h4>

    <div class="button"></div>
    <div class="mycont">

      <div class="hidden_link">
        <b>Qualsiasi data</b>
      </div>

      <div class="hidden_menu">
        <%= link_to 'Quasiasi data', current_url(:time => nil), class: 'menu_item', data: {type: 'w'} %>
        <%= link_to 'Ultima ora', current_url({'time[start]' => (Time.now - 1.hour).to_i, 'time[end]' => Time.now.to_i, 'time[type]' => '1h'}), class: 'menu_item', data: {type: '1h'} %>
        <%= link_to 'Ultime 24 ore', current_url({'time[start]' => (Time.now - 24.hours).to_i, 'time[end]' => Time.now.to_i, 'time[type]' => '24h'}), class: 'menu_item', data: {type: '24h'} %>
        <%= link_to 'Ultima settimana', current_url({'time[start]' => (Time.now - 7.days).to_i, 'time[end]' => Time.now.to_i, 'time[type]' => '7d'}), class: 'menu_item', data: {type: '7d'} %>
        <%= link_to 'Ultimo mese', current_url({'time[start]' => (Time.now - 1.month).to_i, 'time[end]' => Time.now.to_i, 'time[type]' => '1m'}), class: 'menu_item', data: {type: '1m'} %>
        <%= link_to 'Ultimo anno', current_url({'time[start]' => (Time.now - 1.year).to_i, 'time[end]' => Time.now.to_i, 'time[type]' => '1y'}), class: 'menu_item', data: {type: '1y'} %>
        <span class="separator"></span>
        <%= link_to 'Intervallo di date', '#', class: 'menu_item', data: {type: 'f'}, onclick: 'chooseDates();return false;' %>

      </div>
      <div id="choose_dates" style="display:none" title="Scegli intervallo di date" class="choose_dates_modal">  <!--TODO:I18n-->
        <h4><%= 'Indica un intervallo di date' %></h4>
        <%= form_for 'time', {url: current_url, method: :get} do |f| %>
            <p>
              <%= f.label :start, 'Da' %>
              <%= f.text_field :start, class: 'datePicker' %>
            </p>

            <p>
              <%= f.label :end, 'A' %>
              <%= f.text_field :end, class: 'datePicker' %>
            </p>

            <%= f.hidden_field :type, value: 'f' %>

            <p>
              <input type="button" value="<%= t('buttons.cancel') %>" class="btn" onclick="$.modal.close();"/>
              <%= f.button 'Vai', class: 'btn blue' %>
            </p>
        <% end %>
      </div>
      <div class="clearboth"></div>
    </div>

  </div>
</div>

<% if @group && (can? :view_proposal, @group)%>
    <div class="mybox">
      <h4><%= t('pages.proposals.index.search_title') %></h4>
      <div class="button"></div>
      <div class="mycont">
        <%= render :partial => 'search_form' %>
      </div>
    </div>
<% end %>


<!--<%#= render :partial => 'users/most_active_users_panel' %>-->