<% if @proposal.is_petition? %>
    <% if @proposal.voting? %>
        <div class="rankleftpanel mybox">
          <p class="inpoints">
            <span class="littleText" id="valutazioni"><%= 'Signs' %></span>
            <span class="rightAlign"><%= @proposal.vote.number %>/<%= @proposal.signatures %></span>
          </p>

          <div class="progress success">
            <span class="meter" style="width:<%=[(@proposal.vote.number.to_f / @proposal.signatures.to_f) * 100, 100].min%>%">
                <%=@proposal.vote.number %>/<%= @proposal.signatures%>
            </span>
          </div>


          <% if can? :vote, @proposal %>
              <%= form_for 'data', :url => votation_vote_path(:proposal_id => @proposal.id), remote: true, method: :put do |f| %>
                  <%= f.text_area 'comment', placeholder: 'Share your thought' %>
                  <%= f.submit 'Sign the petition', class: 'btn  blue', disable_with: t('loading') %>
              <% end %>
          <% elsif current_user && vote = UserVote.find_by_proposal_id_and_user_id(@proposal.id, current_user.id) %>
              <p>You signed this petition</p>
          <% end %>
        </div>
    <% end %>
<% else %>
    <div id="rankleftpanel" class="rankleftpanel mybox">
      <div class="points">
        <%= render :partial => 'proposals/points_left_panel' %>
      </div>
      <div class="rank">
        <%= render :partial => 'proposals/rank_left_panel' %>
      </div>

      <div id="block_alerts">
        <%= render :partial => 'blocked_proposal_alerts/block_alerts_panel' %>
      </div>
    </div>

    <div id="dates" class="mybox" style="text-align:center">
      <%= render :partial => 'proposals/dates' %>
    </div>

<% end %>

<% if ::Configuration.socialnetwork_active %>
    <div class="mybox socialnetwork">
      <% @pinurl = if (@group && !@group.image_url.blank?) %>
          <% @group.image_url %>
      <% else %>
          <% "#{request.protocol}#{request.host_with_port}#{asset_path("logo120.png")}" %>
      <% end %>
      <a href="https://twitter.com/share"
         class="twitter-share-button"
         data-lang="en"
         data-count="vertical"
         data-text="Guarda questa proposta su #<%= APP_SHORT_NAME %>">Tweet</a>
      <g:plusone size="tall"></g:plusone>
      <div class="fb-like" data-send="false" data-layout="box_count" data-width="100" data-show-faces="false" data-likeable_type="<%= @proposal.class.class_name %>" data-likeable_id="<%= @proposal.id %>"></div>
      <% if current_user && current_user.has_provider('facebook') %>
          <% if current_user.facebook && ((current_user.facebook.get_connections('me', 'permissions')[0]['xmpp_login'].to_i == 1) rescue nil) %>
              <%= link_to 'Share with friends', facebook_share_proposal_url(@proposal, group_id: @group.try(:id)), remote: true, data: {disable_with: t('loading')}, class: 'zocial facebook', id: 'sharefb' %>
              <% if params[:share] %>
                  <script type="text/javascript">
                      $(function () {
                          $('#sharefb').click();
                      });
                  </script>
              <% end %>
          <% else %>
              <%= link_to 'Share with friends', user_omniauth_authorize_path(:facebook, scope: 'xmpp_login', origin: current_url, share: true), data: {disable_with: t('loading')}, class: 'zocial facebook' %>
          <% end %>
      <% end %>
      <%= link_to 'Promote the proposal', promote_proposal_url(@proposal, group_id: @group.try(:id)), remote: true, data: {disable_with: t('loading')}, class: 'btn blue', id: 'promote_proposal' if @proposal.is_petition? %>
    </div>
<% end %>

<div id="nickname_container">
  <%= render 'proposals/nickname_panel' %>
</div>

<% if @proposal.abandoned? %>
    <div class="mybox">
      <h4><%= t('pages.proposals.show.old_editors_title') %></h4>

      <div class="mycont">
        <div id="old_authors_list">
          <%= render :partial => 'proposals/old_authors_list_panel' %>
        </div>
      </div>
    </div>
<% else %>
    <div class="mybox authors">
      <h4><%= t('pages.proposals.show.editors_title') %></h4>

      <div class="mycont">
        <div id="authors_list">
          <%= render :partial => 'proposals/authors_list_panel' %>
        </div>
        <% if signed_in? && @proposal.in_valutation? %>
            <div id="available_author">
              <%= render :partial => 'proposals/available_author' %>
            </div>
            <div id="available_authors_button">
              <%= render :partial => 'available_authors_button' %>
            </div>
        <% end %>
      </div>
    </div>
<% end %>


<% if ::Configuration.proposal_support && !@proposal.private %>
    <div id="support_left_panel_container">
      <%= render :partial => 'proposals/support_left_panel' %>
    </div>
<% end %>

<!--
    <h4><%= t('pages.proposals.show.attached_documents') %></h4>
    <%= t('pages.proposals.show.no_document_attached') %>
-->

<% unless @proposal.interest_borders.empty? %>
    <div class="mybox">
      <h4><%= t('pages.proposals.show.geographic_boundaries_title') %></h4>

      <div class="mycont">
        <% @proposal.interest_borders.each do |ib| %>
            <div style="margin:5px;" class="ui-state-highlight"><%= ib.description %></div>
        <% end %>
      </div>
    </div>
<% end %>


<% if ::Configuration.proposal_categories %>
    <div class="mybox category">
      <h4><%= t('pages.proposals.show.category_title') %></h4>

      <div class="mycont">
        <div class="row">
          <div class="columns large-2">
            <%= link_to image_tag("proposal_categories/"+@proposal.category.id.to_s + "_s.png", :align => 'middle', :alt => @proposal.category.description, :style => "width:22px;padding-right:2px;"), @group ? group_proposals_url(@group, {:category => @proposal.category.id}) : proposals_url(:category => @proposal.category.id) %>
          </div>
          <div class="columns large-10">
            <%= link_to @proposal.category.description, @group ? group_proposals_url(@group, {:category => @proposal.category.id}) : proposals_url(:category => @proposal.category.id) %>
          </div>
        </div>
      </div>
    </div>
<% end %>
<div class="mybox model">
  <h4><%= t('pages.proposals.show.model_title') %></h4>

  <div class="mycont">
    <div class="row">
      <div class="columns large-2">
        <%= link_to image_tag("proposal_types/#{@proposal.proposal_type.name.downcase}_ico.png", :align => 'middle', :alt => @proposal.proposal_type.description, :title => @proposal.proposal_type.description, :style => "width:22px;padding-right:2px;"), @group ? group_proposals_url(@group, {:type => @proposal.proposal_type.id}) : proposals_url(:type => @proposal.proposal_type.id) %>
      </div>
      <div class="columns large-10">
        <%= link_to @proposal.proposal_type.description, @group ? group_proposals_url(@group, {:type => @proposal.proposal_type.id}) : proposals_url(:type => @proposal.proposal_type.id) %>

      </div>
    </div>
  </div>
</div>

<% if @proposal.in_group_area? %>
    <div class="mybox group_area_box">
      <h4><%= t('pages.proposals.show.group_area') %></h4>

      <div class="mycont">
        <%= link_to @proposal.presentation_areas.first.name, group_proposals_url(@group, {:group_area_id => @proposal.presentation_areas.first.id}) %>
      </div>
    </div>
<% end %>

<% unless @proposal.tags.empty? || !::Configuration.folksonomy %>
    <div class="mybox">
      <h4><%= t('pages.proposals.show.tags_title') %></h4>

      <div class="mycont">
        <% @proposal.tags.each do |tag| %>
            <div class="label round tag">
              <a href="<%= tag_path tag.text %>"><%= tag.text %></a>
            </div>
        <% end %>
      </div>
    </div>
<% end %>

<% unless @proposal.closest(@group.try(:id)).empty? %>
    <div class="mybox">
      <h4><%= t('pages.proposals.show.similar_proposals_title') %></h4>

      <div class="mycont">
        <% @proposal.closest.each do |p| %>
            <div class="panel">
              <%= link_to_proposal p %>
            </div>
        <% end %>
      </div>
    </div>
<% end %>
