<style>	.proposal_list td {		vertical-align: top; 		padding-top: 10px;	}</style><%proposalsnumber = proposals.count
if proposalsnumber > 0 %>
<% proposals.each do |proposal|    user = proposal.user%>
<div id="proposal<%= proposal.id %>" class="blogComment">
    <div class="proposal_list">
        <table style="padding:5px">
            <body>
                <tr>    	
                    <td>
                        <div class="blogUserImage">
                            <%= user.user_image_tag 50 %>
                        </div>
	                     <div>	                         	               			<%= render :partial => 'fragments/votes_and_rank', :locals => {:object => proposal} %>							<%= link_to 'Statistiche', {:action => :statistics, :id => proposal.id},:remote => true, :before => "$('#loading').show()", :complete => "$('#loading').hide()" %>		                  
                        </div>
                	</td>				
                    <td>                  	 	<div id="proposalcc">                                <div class="proposalCommentPostedAt">                                    <h3><%= link_to proposal.title, proposal %></h3>                                    Ultimo aggiornamento del <span class="blogPostDate"><%= proposal.updated_at.strftime("%d/%m/%Y %H:%M") %></span>                                    di <span class="blogPoster"><%= raw(user.link_to_page) %></span>                                </div>                        </div>                         <div class="baloon-content">	                        <%= h proposal.short_content %>							<%= link_to 'continua a leggere la proposta', proposal %>	                     </div>                   	</td>                   		<td>							<%= image_tag("proposal_categories/"+proposal.proposal_category_id.to_s + ".png", :alt => proposal.category.description, :title => proposal.category.description)%>						</td>                </td>
                </tr>
            </body>
        </table>
    </div>
</div>
<% end else%>	Nessuna proposta al momento<%end %>
<div id="statistics_panel"></div>