<div id="proposal<%= proposal.id %>" class="proposal_list">
  <div class="category_icon">
    <%= image_tag("proposal_categories/"+proposal.proposal_category_id.to_s + ".png", :alt => proposal.category.description, :title => proposal.category.description, width: 20) %>
  </div>
  <div class="maintitle">
    <%= link_to proposal.title, proposal.private ? group_proposal_url(proposal.presentation_groups.first, proposal) : proposal_url(proposal, subdomain: false), style: (proposal.rejected? ? 'text-decoration: line-through;' : ''), title: (proposal.rejected? ? 'Rifiutata' : nil) %>
  </div>
  <div class="datetime">
    <%= render :partial => 'proposals/rank_bar', :locals => {:proposal => proposal} %>
    <% count = proposal.count_notifications(current_user.id)['count'].to_i %>
    <% if count > 0 %>
        <%=link_to count,proposal, class: "alert notify" %>
    <%else%>

    <% end %>
  </div>


  <% date = (l proposal.updated_at) %>
  <% title = t('pages.proposals.list.last_update') %>
  <% if proposal.in_valutation? %>
      <% date = (l proposal.updated_at) %>
      <% title = t('pages.proposals.list.last_update') %>
  <% elsif proposal.waiting_date? %>
      <% date = (l proposal.updated_at) %>
      <% title = t('pages.proposals.list.waiting_date') %>
  <% elsif proposal.waiting? %>
      <%title = t('pages.proposals.list.voting_from_to', from: (l proposal.vote_period.starttime) , to: (l proposal.vote_period.endtime))%>
  <% elsif proposal.voting? %>
      <%title = t('pages.proposals.list.voting_until', date: (l proposal.vote_period.endtime)) %>
  <% elsif proposal.voted? %>
      <% if proposal.vote_period %>
          <%title = t('pages.proposals.list.votation_finished', date: (l proposal.vote_period.endtime))%>
      <% else %>
          <%title = t('pages.proposals.list.no_votation') %>
      <% end %>
  <% end %>
  <div style="clear:both">  </div>
  <div class="proposal_bottom">
    <div class="timeDescription" style="float:left">
      <%=link_to (image_tag 'group_events.png'), '#', title: title %>
      <span class="count">
        <%=date %></span>
    </div>
    <div class="proposalDescription" style="float:left">
      <%= image_tag 'group_partecipants.png', title: t('pages.proposals.index.partecipants_number') %>
      <span class="count"><%= proposal.partecipants.count %></span>
    </div>
    <div class="proposalDescription" style="float:left">
      <%=link_to (image_tag 'group_proposals.png'), '#', title: t('pages.groups.index.proposals_number') %>
      <span class="count"><%= proposal.contributes.count %></span>
    </div>
    <div class="proposalDescription" style="float:left">
      <%=link_to (image_tag 'group_proposals.png'), '#', title: t('pages.groups.index.proposals_number') %>

    </div>
  </div>

  <div class="clearboth"></div>
</div>