<div class="mybox">
  <h4>
    <%= t('pages.proposals.edit.navigator') %>
    <i class="fa fa-plus right" data-navigator-expand title="<%= t('proposals.edit.expand_all') %>"></i>
    <i class="fa fa-minus right" data-navigator-collapse style="margin-right: 5px;" title="<%= t('proposals.edit.collapse_all') %>"></i>
  </h4>
  <div class="mycont">
    <ul class="navigator">
      <% @proposal.sections.each_with_index do |section, i| %>
          <%= render 'section_navigator', mustache: {i: i, title: section.title} %>
      <% end %>
    </ul>
    <ul class="navigator">
      <% @proposal.solutions.each_with_index do |solution, i| %>
          <li data-solution_id="<%= i %>" class="sol_nav">
            <span class="sol_title"><%=raw solution.title.present? ? solution.title :  '&nbsp;' %></span>
            <%= navigator_actions classes: 'sol' %>
            <ul class="sub_navigator">
              <% solution.sections.each_with_index do |section, j| %>
                  <%= render 'section_navigator', mustache: {i: (i + 1) * 100 + j, title: section.title, classes: 'sol'} %>
              <% end %>
            </ul>
          </li>
      <% end %>
    </ul>
  </div>
</div>
