<div class="mybox">
  <h4>
    <%= t('pages.proposals.edit.navigator') %>
    <i class="fa fa-plus right" data-navigator-expand title="<%= t('proposals.edit.expand_all') %>"></i>
    <i class="fa fa-minus right" data-navigator-collapse style="margin-right: 5px;" title="<%= t('proposals.edit.collapse_all') %>"></i>
  </h4>
  <div class="mycont">
    <ul class="navigator">
      <% @proposal.sections.each_with_index do |section, i| %>
          <li class="sec_nav" data-section_id="<%= i %>">
            <span class="sec_title_c"><%= link_to section.title, '#', data: {scroll_to_section: ''}, class: 'sec_title' %></span>
            <%= navigator_actions %>
          </li>
      <% end %>
    </ul>
    <ul class="navigator">
      <% @proposal.solutions.each_with_index do |solution, i| %>
          <li data-solution_id="<%= i %>" class="sol_nav">
            <span class="sol_title"><%=raw solution.title.present? ? solution.title :  '&nbsp;' %></span>
            <%= navigator_actions classes: 'sol' %>
            <ul class="sub_navigator">
              <% solution.sections.each_with_index do |section, j| %>
                  <li class="sol_sec_nav" data-section_id="<%= (i+1)*100+j %>">
                    <div class="sec_title_c"><%= link_to section.title, '#', data: {scroll_to_section: ''}, class: 'sec_title' %></div>
                    <%= navigator_actions %>
                  </li>
              <% end %>
            </ul>
          </li>
      <% end %>
    </ul>
  </div>
</div>
