<div class="timeline">
  <div class="cur start" title="<%=raw ("CREAZIONE: "+time_ago_in_words(proposal.created_at)+"<br/>"+(l proposal.created_at, format: :long).upcase)%>"></div>
  <div class="cur stop" title="<%=raw "TERMINE:<br/>#{proposal.quorum.end_desc.upcase}"%>"></div>
  <div class="time" data-percentage="<%= proposal.percentage %>">
    <% unless proposal.quorum.time_fixed? %>
        <div class="cur now" title="<%=raw  "#{proposal.valutations} VALUTAZIONI" %>"></div>
    <% end %>
    <div class="cur quorum" title="<%=raw "QUORUM #{proposal.quorum.good_score}"  %>%" data-percentage="<%= proposal.quorum.good_score %>"></div>
    <% if proposal.quorum.has_bad_score? %>
        <div class="cur bad quorum" title="<%=raw "QUORUM NEGATIVO #{proposal.quorum.bad_score}" %>%" data-percentage="<%= proposal.quorum.bad_score %>"></div>
    <% end %>
    <div class="good" data-percentage="<%= proposal.rank %>">

    </div>
  </div>
</div>