<% if signed_in? && @my_nickname && @proposal.is_anonima? %>
    <div class="mybox">
      <h4><%= t('pages.proposals.show.your_nickname_is') %></h4>

      <div class="mycont">
        <span id="nickname_panel"><%= image_tag 'icon_info.gif', alt: t('pages.proposals.show.what_nickname'), style: 'cursor:pointer' %></span>

        <div class="blogUserImage">
          <%= user_tag(current_user, @proposal) %>
        </div>
      </div>

      <div id="regenerate_nickname">
      <% if can? :update, @my_nickname %>
          <%= link_to t('pages.proposals.show.regenerate_nickname'), proposal_nickname_path(@my_nickname), method: :put, class: 'btn', style: 'display: inline-block' %>
          <div> <%= '(puoi farlo ancora per ' %>  <!--TODO:I18n-->
            <div id="change_nick"></div> <%= ')' %></div>
          <script type="text/javascript">
              var endsDate = new Date(<%=(@my_nickname.created_at + 10.minutes).utc.to_i * 1000%>);
              $('#change_nick').countdown($.extend({until: endsDate, compact: true, onExpiry: removeButton}, $.countdown.regional['it']));

              function removeButton() {
                    $('#regenerate_nickname').fadeOut();
              }
          </script>
      <% end %>
      </div>
    </div>
<% end %>