<p class="inpoints">
  <span class="littleText" id="valutazioni"><%= t('pages.proposals.show.score') %></span>
  <span class="rightAlign"><%= @proposal.valutations %></span>
</p>
<p class="ranking">
  <span class="littleText" id="gradimento"><%= t('pages.proposals.show.rank') %></span>
  <span class="rightAlign"><%= @proposal.rank %>%</span>
</p>
<% mustache_proposal = proposal_for_mustache(@proposal) %>
<% if mustache_proposal['voting_or_voted?'] %>
    <%= render 'proposals/new_vote_bar', mustache_proposal %>
<% else %>
    <%= render 'proposals/new_rank_bar', mustache_proposal %>
<% end %>
