<script type="text/javascript">
	function hideRankPanel2(panel) {
		$('.voteup',panel).hide();
		$('.votedown',panel).hide();		
		$('.votedup',panel).hide();
		$('.voteddown',panel).hide();		
		$('.loadingup',panel).show();
		$('.loadingdown',panel).show();						
	}	
	$(function() {
		$('.voteup').bind('ajax:beforeSend',function(n,xhr) {
			id = $(this).attr('id');
			num = id.replace('voteup','');
			hideRankPanel2($('.handscontainer'));
		});
		
		$('.votedown').bind('ajax:beforeSend',function(n,xhr) {
			id = $(this).attr('id');
			num = id.replace('votedown','');
			hideRankPanel2($('.handscontainer'));
		});
        $('#voteup').ctooltip("<div class='votedup'></div>la proposta è matura per andare in votazione");
        $('#votedown').ctooltip("<div class='voteddown' style='margin: 0px 10px 10px 0px'></div>nel testo devono essere ancora integrati i suggerimenti degli utenti");
        $('#valutazioni').ctooltip("numero di valutazioni ricevute");
        $('#gradimento').ctooltip("percentuale di valutazioni positive");
	});
</script>
<p class="points">
    <span class="littleText" id="valutazioni">Valutazioni </span>  <span class="rightAlign"><%=@proposal.valutations %></span>
</p>
<p class="ranking">
    <span class="littleText" id="gradimento">Gradimento</span> <span class="rightAlign"><%=@proposal.rank %>%</span>
</p>
<%= render :partial => 'proposals/rank_bar', :locals => {:proposal => @proposal} %>
		
<%if (!current_user || (can? :partecipate, @proposal)) %>
		<div class="handscontainer">	
	<%if @my_vote%>
			<% if @my_vote == 1 %>
				<div class="votedup"></div>
			 <%elsif @can_vote_again == 1%>
			 	<span id="voteup"><%= render :partial => 'proposals/ranking_and_spinner', :locals => {:action => "up"} %></span>
			<%end%>
			<% if @my_vote == 3 %>
				<div class="voteddown"></div>
			<% elsif @can_vote_again == 1%>
				<span id="votedown"><%= render :partial => 'proposals/ranking_and_spinner', :locals => {:action => "down"} %></span>
			<%end%>		
	<%elsif @can_vote_again == 1%>
			<%= render :partial => 'proposals/ranking_and_spinner', :locals => {:action => "up"} %>	
			<%= render :partial => 'proposals/ranking_and_spinner', :locals => {:action => "down"} %>
	<%end %>
		</div>
		<div style="clear: both;"></div>
<%end %>


<%= 'Anonimato temporaneo attivo' if @proposal.is_anonima?%>
