<script type="text/javascript">
	$(function() {
		
		
	$("#pb<%=proposal.id%>").progressBar({
		barImage		: 
			<%if proposal.rank < proposal.quorum.bad_score %>
			'<%=asset_path "progressbg_red.gif"%>'
			<%elsif proposal.rank >= proposal.quorum.good_score %>
			'<%=asset_path "progressbg_green.gif"%>'
			<%else%>
			'<%=asset_path "progressbg_orange.gif"%>'
			<%end%>
			,
		max : <%=proposal.quorum.valutations%>*10,
		boxImage : '<%=asset_path "progressbar.gif"%>',

	});
	});
</script>
<span class="progressBar" id="pb<%=proposal.id%>" title="<%=proposal.rank.to_s + "%  " + proposal.valutations.to_s  + "/" + proposal.quorum.valutations.to_s%>"><%=[proposal.valutations,proposal.quorum.valutations].min * 10%></span>		