<% if (can? :partecipate, @proposal) || (!current_user && !@proposal.private) %>
    <div class="handscontainer">
      <% if @my_vote %>
          <% if @my_vote == 1 %>
              <%= render :partial => '/proposals/valutations/votedup' %>
          <% elsif @can_vote_again == 1 %>
              <%= render :partial => '/proposals/valutations/voteup' %>
          <% end %>
          <% if @my_vote == 3 %>
              <%= render :partial => '/proposals/valutations/voteddown' %>
          <% elsif @can_vote_again == 1 %>
              <%= render :partial => '/proposals/valutations/votedown' %>
          <% end %>
      <% elsif @can_vote_again == 1 %>
          <%= render :partial => '/proposals/valutations/voteup' %>
          <%= render :partial => '/proposals/valutations/votedown' %>
      <% end %>
    </div>
    <div style="clear: both;"></div>
<% end %>

<h2 id="status"><%= @proposal.in_valutation? ? t('pages.proposals.show.during_debate') : @proposal.state.description %></h2><!--TODO:I18n-->
<% if @proposal.is_anonima? %>
    <i><%= t('pages.proposals.show.anonimity_active') %></i><br/>
<%end%>
<% if signed_in? %>
    <div style="margin: 5px;">
      <% if @proposal.revisions.count > 0 || @proposal.abandoned? %>
          <%= link_to t('pages.proposals.show.history_button'), proposal_proposal_histories_url(@proposal), :remote => true, :class => 'btn scriptButton', :disable_with => t('loading') %>
      <% end %>
    </div>
    <% if @proposal.voted? %>
        <% if params[:action] == 'show' %>
            <% if @proposal.vote %>
                <%= link_to t('pages.proposals.show.votation_results'), vote_results_proposal_url(@proposal), :remote => true, :class => 'btn disabl resultsButton', :id => "resultsButton" %>
                <br/><br/>
            <% end %>
            <%= link_to t('pages.proposals.show.export_pdf'), proposal_path(@proposal, format: :pdf), target: '_blank', :class => 'btn disable pdfButton' %>
            <div id="vote_results_container" title="<%= t('pages.proposals.show.votation_results_title') %>"></div>
            <script type="text/javascript">
                $(function () {
                    $('#resultsButton').click();
                });
            </script>
        <%else%>
            <%= link_to t('pages.proposal_histories.index.back_to_proposal'), @group ? group_proposal_url(@group,@proposal) : proposal_url(@proposal), class: 'btn blue' %>
        <% end %>
    <% end %>
<% end %>