<% if can? :participate, @proposal %>
    <div class="handscontainer">
      <% if @my_vote %>
          <% if @my_vote == 1 %>
              <%= render partial: '/proposals/valutations/votedup' %>
          <% elsif @can_vote_again == 1 %>
              <%= render partial: '/proposals/valutations/voteup' %>
          <% end %>
          <% if @my_vote == 3 %>
              <%= render partial: '/proposals/valutations/voteddown' %>
          <% elsif @can_vote_again == 1 %>
              <%= render partial: '/proposals/valutations/votedown' %>
          <% end %>
      <% elsif @can_vote_again == 1 %>
          <%= render partial: '/proposals/valutations/voteup' %>
          <%= render partial: '/proposals/valutations/votedown' %>
      <% end %>
    </div>
    <div style="clear: both;"></div>
<% end %>

<h2 id="status"><%= @proposal.in_valutation? ? t('pages.proposals.show.during_debate') : @proposal.state.description %></h2><!--TODO:I18n-->
<% if @proposal.is_anonima? %>
    <i><%= t('pages.proposals.show.anonimity_active') %></i><br/>
<% end %>
<% if signed_in? %>
    <% if @proposal.proposal_revisions.count > 0 || @proposal.abandoned? %>
        <%= link_to proposal_proposal_revisions_url(@proposal), remote: true, class: 'btn', data: {disable_with: t('loading')}, id: "history" do %>
            <i class="fa fa-file-text-o"></i>
            <%= t('pages.proposals.show.history_button') %>
        <% end %>
    <% end %>
    <% if @proposal.voted? %>
        <% if params[:action] == 'show' %>
            <% if @proposal.vote %>
                <%= link_to vote_results_proposal_url(@proposal), remote: true, class: 'btn disable', id: "results-button" do %>
                    <%= t('pages.proposals.show.votation_results') %>
                <% end %>
                <br/><br/>
            <% end %>
            <%= link_to proposal_path(@proposal, format: :pdf), target: '_blank', class: 'btn disable' do %>
                <i class="fa fa-file-pdf-o"></i>
                <%= t('pages.proposals.show.export_pdf') %>
            <% end %>
            <div id="vote_results_container" title="<%= t('pages.proposals.show.votation_results_title') %>"></div>
            <script type="text/javascript">
                $(function () {
                    $('#results-button').click();
                });
            </script>
        <% else %>
            <%= link_to t('pages.proposal_histories.index.back_to_proposal'), @group ? group_proposal_url(@group, @proposal) : proposal_url(@proposal), class: 'btn blue' %>
        <% end %>
    <% end %>
<% end %>
