<% if can? :participate, @proposal %>
    <div class="handscontainer">
      <% if @my_vote %>
          <% if @my_vote == ProposalRanking::POSITIVE %>
              <%= render partial: '/proposals/valutations/votedup' %>
          <% elsif @can_vote_again %>
              <%= render partial: '/proposals/valutations/voteup' %>
          <% end %>
          <% if @my_vote == ProposalRanking::NEGATIVE %>
              <%= render partial: '/proposals/valutations/voteddown' %>
          <% elsif @can_vote_again %>
              <%= render partial: '/proposals/valutations/votedown' %>
          <% end %>
      <% elsif @can_vote_again %>
          <%= render partial: '/proposals/valutations/voteup' %>
          <%= render partial: '/proposals/valutations/votedown' %>
      <% end %>
    </div>
    <div style="clear: both;"></div>
<% end %>
