<script type="text/javascript">

    $(function () {
        $('.voteup').bind('ajax:beforeSend', function (n, xhr) {
            var id = $(this).attr('id');
            var num = id.replace('voteup', '');
            hideRankPanel2($('.handscontainer'));
        });

        $('.votedown').bind('ajax:beforeSend', function (n, xhr) {
            var id = $(this).attr('id');
            var num = id.replace('votedown', '');
            hideRankPanel2($('.handscontainer'));
        });
    });
</script>


<% if (can? :partecipate, @proposal) || (!current_user && !@proposal.private) %>
    <div class="handscontainer">
      <% if @my_vote %>
          <% if @my_vote == 1 %>
              <div class="votedup"></div> <span class="vote_description"><%= t('proposals.show.ready_for_vote') %></span>  <div class="clearboth"></div>
          <% elsif @can_vote_again == 1 %>
              <div id="voteup"><%= render :partial => 'proposals/ranking_and_spinner', :locals => {:action => "up"} %></div>
          <% end %>
          <% if @my_vote == 3 %>
              <div class="voteddown"></div> <span class="vote_description"><%= t('proposals.show.keep_discuss') %></span>
          <% elsif @can_vote_again == 1 %>
              <div id="votedown"><%= render :partial => 'proposals/ranking_and_spinner', :locals => {:action => "down"} %></div>
          <% end %>
      <% elsif @can_vote_again == 1 %>
          <%= render :partial => 'proposals/ranking_and_spinner', :locals => {:action => "up"} %>
          <%= render :partial => 'proposals/ranking_and_spinner', :locals => {:action => "down"} %>
      <% end %>
    </div>
    <div style="clear: both;"></div>
<% end %>

<h2><%= @proposal.in_valutation? ? t('pages.proposals.show.during_debate') : @proposal.state.description %></h2><!--TODO:I18n-->

<span><%=t('pages.proposals.show.created_at_html', time_ago:time_ago_in_words(@proposal.created_at), date:(l @proposal.created_at))%>
</span>
<br/>
<% if @proposal.updated_at != @proposal.created_at %>
    <span>
      <%= t('pages.proposals.show.updated_at_html',time_ago:time_ago_in_words(@proposal.updated_at), date:(l @proposal.updated_at))
      %>
    </span>
<br/>
<% end %>

<% if @proposal.proposal_state_id == ProposalState::WAIT #in attesa di essere votata  %>
    <span><%= t('pages.proposals.show.in_votation_html', start:(l @proposal.vote_period.starttime), end:(l @proposal.vote_period.endtime)) %></span><br/>
<% elsif @proposal.proposal_state_id == ProposalState::VOTING #in votazione  %>
    <span><%= t('pages.proposals.show.in_votation_until_html', date: (l @proposal.vote_period.endtime)) %></span><br/>
<% end %>

<% if @proposal.is_anonima? %>
    <br/><i><%= t('pages.proposals.show.anonimity_active') %></i><br/>
<% end %>

<% if signed_in? %>
    <div style="margin: 5px;">
      <% if @proposal.revisions.count > 0 %>
          <%= link_to t('pages.proposals.show.history_button'), proposal_proposal_histories_path(@proposal), :remote => true, :class => 'btn scriptButton disable', :disable_with => t('loading') %>
      <% end %>
    </div>
    <% if @proposal.voted? %>
        <% if @proposal.vote %>
            <%= link_to t('pages.proposals.show.votation_results'), vote_results_proposal_path(@proposal), :remote => true, :class => 'btn disabl resultsButton', :id => "resultsButton" %>
            <br/><br/>
        <% end %>
        <%= link_to t('pages.proposals.show.export_pdf'), proposal_path(@proposal, format: :pdf), target: '_blank', :class => 'btn disable pdfButton' %>
        <div id="vote_results_container" title="<%= t('pages.proposals.show.votation_results_title') %>"></div>
        <script type="text/javascript">
            $(function () {
                $('#resultsButton').click();
            });
        </script>
    <% end %>
<% end %>