<div id="report_contribute" class="reveal-modal medium" data-reveal>
  <%= form_for 'proposal_comment', url: report_proposal_proposal_comments_path(@proposal), remote: true do |f| %>
      <%= cache "report_panel_#{I18n.locale}" do %>
          <input type="hidden" name="id" value="0" id="report_contribute_id"/>
          <div>
            <h2><%= t('pages.proposals.report_contribute.mark_title') %></h2>
            <div class='panel callout'>
              <p>
                <%=raw t('pages.proposals.report_contribute.mark_description', num: CONTRIBUTE_MARKS)%>
              </p>
            </div>

            <% ProposalCommentReportType.softs.each do |r| %>
                <input type="radio" name="reason" value="<%= r.id %>"> <%= r.description %>
                <br/>
            <% end %>
            <input type="button" value="<%=t('buttons.cancel')%>" class="btn" onclick="$('#report_contribute').foundation('reveal','close');"/>
            <%= f.submit t('buttons.mark'), class: 'btn blue', disable_with: t('loading') %>
            <hr/>
            <h2><%= t('pages.proposals.report_contribute.report_title')%></h2>
            <div class='panel callout'>
              <p><%=raw t('pages.proposals.report_contribute.report_description')%>
              </p>
            </div>
            <% ProposalCommentReportType.graves.each do |r| %>
                <input type="radio" name="reason" value="<%= r.id %>"> <%= r.description %>
                <br/>
            <% end %>
          </div>
          <div style="margin-top:8px">
            <input type="button" value="<%=t('buttons.cancel')%>" class="btn" onclick="$('#report_contribute').foundation('reveal','close');"/>
            <%= f.submit t('buttons.report'), class: 'btn blue', disable_with: t('loading') %>
          </div>
      <% end %>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>