<% comment_nickname = @proposal.proposal_nicknames.find_by_user_id(reply.user.id) %>
<div id="replys<%= reply.id %>">
  <div class="reply_img" title="
    <% if comment_nickname && @proposal.is_anonima? && !(reply.user == current_user) %>
        <%= comment_nickname.nickname %>
    <% end %>">
    <% if comment_nickname && @proposal.is_anonima? && !(reply.user == current_user) %>
        <img src="http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(comment_nickname.nickname) %>?s=32&d=wavatar&r=PG"/>
    <% else %>
        <%= reply.user_image_tag(32) %>
    <% end %>
  </div>
  <div class="proposal_comment_reply">
    <div class="baloon-triangle"></div>
    <div class="reply_content">
      <%= raw auto_link((h(reply.content)).gsub(/\n/, '<br/>'), :html => {:target => '_blank'}, :sanitize => false) do |text|
        truncate(text, :length => 15)
      end %>
      <div class="reply-footer">
        <% who = (comment_nickname && @proposal.is_anonima? && !(reply.user == current_user)) ? comment_nickname.nickname : reply.user.fullname %>
        <%= raw t('pages.proposals.show.comment_inserted_by', when: time_in_words(reply.created_at), who: who) %>

        <% if can? :destroy, reply %>
            <%= link_to t('pages.proposals.show.replies.delete'), {:controller => "proposal_comments", :action => "delete", :proposal_id => @proposal.id, :id => reply.id},
                        :remote => "true",
                        :onclick => "return false;",
                        :class => "deleteReplyLink",
                        :id => "delete#{reply.id}",
                        :data => {id: reply.id} %>
        <% end %>
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
</div>