<%= form_tag search_group_proposals_path(@group), method: :get do %>
    <p>
      <%= text_field_tag :search, params[:search], placeholder: t('pages.proposals.index.search_placeholder'), size: 30 %>
      <br/>
      <%= check_box_tag :or, params[:or] %> <%= t('pages.proposals.index.search_words') %><br/>
      <%= submit_tag t('buttons.search'), onclick: 'return checkCharacters();', class: 'btn' %>
    </p>
<% end %>

<script type="text/javascript">
    function checkCharacters() {
        return $('#search').val().length > 1
    }
</script>