<%if can? :view_proposal, @group%>
<fieldset>
  <legend><%= 'Cerca tra le proposte del gruppo' %></legend>

  <%= form_tag search_group_proposals_path(@group), method: :get do %>
      <p>
        <%= text_field_tag :search, params[:search], placeholder: 'Inserisci almeno due caratteri per effettuare la ricerca', size: 40 %><br />
        <%= check_box_tag :or, params[:or] %> <%= 'Almeno una parola' %><br />
        <%= submit_tag 'Cerca', onclick: 'return checkCharacters();', class: 'btn' %>
      </p>
  <% end %>
</fieldset>

<script type="text/javascript">
  function checkCharacters() {
      return $('#search').val().length > 1
  }
</script>
<%end%>