<div class="proposal_main" data-section_id="<%= section.id %>">
  <div class="row">
    <div class="columns small-7">
      <h3><%= section.title %></h3>
    </div>
    <div class="columns small-5">
      <% unless @proposal.voting? %>
          <% contributes_num = section.proposal_comments.listable.count %>
          <% unread = current_user ? section.proposal_comments.listable.unread(current_user.id, @proposal.id).count : contributes_num %>
          <div class="suggest">
            <a href="#" class="btn green contribute-button contribute-section-button" data-status="0"
               data-contribute-button
               data-section_id="<%= section.id %>"
               data-contributes_num="<%= contributes_num %>"
               data-unread_contributes_num="<%= unread %>"
               title="<%= (can? :participate, @proposal) ? t('pages.proposals.show.give_contribute') : t('pages.proposals.show.read_contribute') %>">
              <i class="fa fa-pencil"></i>
              <span class="contribute-button-text show-for-medium-up"><%= (can? :participate, @proposal) ? t('pages.proposals.show.give_contribute') : t('pages.proposals.show.read_contribute') %></span>
              <span class="contribute-button-num"><%= "(#{unread}/#{contributes_num})" %></span>
            </a>

            <div class="suggest_l" style="display: none;">
              <%= image_tag 'suggest.png', class: 'tria' %>
            </div>
          </div>
      <% end %>
    </div>
  </div>

  <div class="proposal_content" data-show-section="<%= section.id %>">
    <%= parsed_section(section) %>
  </div>
  <% if can? :edit, @proposal %>
      <%= link_to '#', data: { edit_paragraph: section.id } do %>
          <i class="fa fa-edit"></i>
      <% end %>
  <% end %>
  <% if can? :edit, @proposal %>
      <div class="proposal_edit_content" data-edit-section="<%= section.id %>">
        <%= simple_form_for @proposal, remote: true, html: { data: { no_fv_validation: '' } } do |f| %>
            <%= f.simple_fields_for :sections, section do |s| %>
                <%= s.simple_fields_for :paragraphs, section.paragraphs.first do |p| %>
                    <%= p.input :content_dirty, as: :text, label: false,
                                input_html: { id: "text_area_#{section.id}" } %>
                    <%= p.input :content, as: :hidden, input_html: { data: { clean_text_area: section.id } } %>
                <% end %>
            <% end %>
            <%= f.hidden_field :integrated_contributes_ids_list, data: {integrated_contributes_list: ''} %>
            <%= link_to '#', data: { show_paragraph: section.id } do %>
                <i class="fa fa-floppy-o"></i>
            <% end %>
            <%= link_to '#', data: { undo_paragraph: section.id } do %>
                <i class="fa fa-undo"></i>
            <% end %>
        <% end %>
      </div>
  <% end %>
</div>
