<script>
    var pageURL = "<%= proposal_path(@proposal) %>";	//need this for ajaxify pagination

    $(function () {
        $('img.cke_iframe').each(function () {
            var realelement = $(this).data('cke-realelement');
            $(this).after($(unescape(realelement)));
            $(this).remove();
        });
    });
</script>
<% if current_user %>
    <% @unread = @proposal.contributes.listable.unread(current_user.id, @proposal.id) %>
    <% if false && @unread.count > 0 #TODO%>
        <%= link_to '#', class: 'read_contributes' do %>
            <div class="icon-bell medium"></div>
        <% end %>

        <script type="text/javascript">
            var unread = <%=raw @unread.joins({:paragraph => :section}).select('proposal_comments.id, paragraphs.id as paragraph_id, sections.id as section').to_json%>;
            $('.read_contributes').css('top', '90px').css('right', '20px');
            console.log(unread);
            $('.read_contributes').click(function () {
                var obj_ = unread.pop();
                console.log(unread.length);
                $('.contributeButton[data-section_id=' + obj_.section + ']').trigger('click', obj_.id);
                if (unread.length == 0) {
                    $(this).remove();
                }
                return false;
            });
        </script>
    <% end %>
<% end %>

<h1 class="proposalTitle">
  <%= image_tag("proposal_types/#{@proposal.proposal_type.name.downcase}_ico.png", :align => 'middle', :alt => @proposal.proposal_type.description, :title => @proposal.proposal_type.description, :style => "width:40px;padding-right:2px;") %>
  <span itemprop="name"><%= h @proposal.title %></span>
</h1>

<h3 class="proposalSubtitle" itemprop="description"><%= h @proposal.subtitle %></h3>


<div style="text-align: right;float:right;">
  <% if @proposal.contributes.count>1 %>
      <% @removable_count = @proposal.contributes.unintegrated.removable.count %>
      <% @removed_count = @proposal.contributes.noise.count %>
      <% if ((is_proprietary? @proposal) || is_admin?) && (@removable_count + @removed_count > 0) %>
          <%= link_to t('pages.proposals.show.manage_noise_folder', removable: @removable_count, removed: @removed_count), manage_noise_proposal_proposal_comments_url(@proposal), :remote => true, class: 'btn' %>
      <% else %>
          <% if @proposal.contributes.noise.count > 0 %>
              <%= link_to t('pages.proposals.show.noise_folder'), noise_proposal_proposal_comments_url(@proposal), :remote => true, class: 'btn' %>
          <% end %>
      <% end %>

  <% end %>
  <% if can? :update, @proposal %>
      <% if @group %>
          <%= link_to t('pages.proposals.show.edit_button'), edit_group_proposal_url(@group, @proposal), :class => 'btn editButton' if can? :update, @proposal %>
          <%= link_to t('pages.proposals.show.delete_button'), group_proposal_url(@group, @proposal), method: :delete, data: {confirm: t('pages.proposals.show.delete_proposal_confirmation')}, class: 'btn trashButton' if can? :destroy, @proposal %>
      <% else %>
          <%= link_to t('pages.proposals.show.edit_button'), edit_proposal_path(@proposal), :class => 'btn editButton' if can? :update, @proposal %>
          <%= link_to t('pages.proposals.show.delete_button'), @proposal, method: :delete, confirm: t('pages.proposals.show.delete_proposal_confirmation'), class: 'btn trashButton' if can? :destroy, @proposal %>
      <% end %>
  <% end %>

  <% if @proposal.in_valutation? %>
      <%= link_to t('pages.proposals.show.close_debate_button'), @group ? close_debate_group_proposal_url(@group, @proposal) : close_debate_proposal_url(@proposal), method: :post, data: {confirm: t('pages.proposals.show.close_debate_proposal_confirmation')}, class: 'btn closeButton' if can? :close_debate, @proposal %>
  <% elsif @proposal.waiting_date? #se bisogna scegliere una data mostra la combobox                      %>
      <div id="wait_date_header_container">
        <%= render :partial => 'proposals/wait_date_header' %>
      </div>

      <div id="create_event_dialog" style="display:none;">
        <div id="create_event">
        </div>
      </div>
  <% elsif @proposal.voting? %>
      <% unless @proposal.is_petition? %>
          <b><%= raw 'Questa proposta è in votazione. Leggi le soluzioni proposte e <a href="#" onclick="scroll_to_vote_panel();return false;">vota qui</a>.' %></b> <!--TODO:I18n -->
      <% end %>
  <% elsif @proposal.abandoned? %>
      <%= render :partial => 'proposals/abandoned_header' %>
  <% end %>

</div>


<div style="clear: both;"></div>

<% unless @proposal.is_petition? %>
    <% if @proposal.waiting? #waiting for the vote period      %>
        <div class="status_description card">
          <b><%= t('pages.proposals.show.votation_message', from: l(@proposal.vote_period.starttime), to: l(@proposal.vote_period.endtime)) %></b>
        </div>
    <% elsif @proposal.in_valutation? %>
        <div class="status_description card">
          <%= @proposal.quorum.explanation %>
        </div>
    <% elsif @proposal.abandoned? %>
        <div class="status_description card">
          <%= "Abandoned #{time_ago_in_words(@proposal.updated_at)}: <b>#{l @proposal.updated_at}</b>".html_safe %>
        </div>
    <% end %>
<% end %>


<% @proposal.sections.includes(:paragraphs).each do |section| %>
    <div class="proposal_main card">
      <h3>
        <div class="tit1">
          <div class="tit2">
            <%= section.title %>
          </div>
          <% unless @proposal.voting? %>
              <% contributes_num = section.proposal_comments.listable.count %>
              <% unread = current_user ? section.proposal_comments.listable.unread(current_user.id, @proposal.id).count : contributes_num %>
              <div class="suggest">
                <a href="#" class="btn green contributeButton contributeSectionButton" data-status="0" data-section_id="<%= section.id %>" data-contributes_num="<%= contributes_num %>" data-unread_contributes_num="<%= unread %>"><%= t('pages.proposals.show.give_contribute') %> <%= "(#{unread}/#{contributes_num})" %></a>

                <div class="suggest_l" style="display: none;">
                  <img class="tria" src="/assets/suggest.png">
                </div>
              </div>
          <% end %>
        </div>
      </h3>

      <div class="proposal_content">
        <%= parsed_section(section) %>
      </div>
    </div>
<% end %>

<% @proposal.solutions.includes(:sections => :paragraphs).order('sections.seq').each_with_index do |solution, i| %>
    <div class="solution_main card" data-solution_id="<%= solution.id %>">
      <h3>
        <div class="tit1 sol">
          <div class="tit2">
            <%= raw t("pages.proposals.edit.new_solution_title.#{@proposal.proposal_type.name.downcase}", num: i+1) %> <%= "#{solution.title}" %>
          </div>
        </div>
      </h3>
      <div class="sol_content">
        <% solution.sections.each do |section| %>
            <div class="proposal_main">
              <h3>
                <div class="tit1">
                  <div class="tit2">
                    <%= section.title %>
                  </div>
                  <% unless @proposal.voting? %>
                      <% contributes_num = section.proposal_comments.listable.count %>
                      <% unread = current_user ? section.proposal_comments.listable.unread(current_user.id, @proposal.id).count : contributes_num %>
                      <div class="suggest">
                        <a href="#" class="btn green contributeButton contributeSectionButton" data-status="0" data-section_id="<%= section.id %>" data-contributes_num="<%= contributes_num %>" data-unread_contributes_num="<%= unread %>"><%= t('pages.proposals.show.give_contribute') %> <%= "(#{unread}/#{contributes_num})" %></a>
                        <img class="tria" src="/assets/suggest.png" style="display: none;">
                      </div>
                  <% end %>
                </div>
              </h3>

              <div class="proposal_content" data-id="<%= solution.id %>">
                <%= parsed_section(section) %>
              </div>
            </div>
        <% end %>
      </div>
    </div>

<% end %>

<div id="vote_panel_container">
  <%= render :partial => 'vote_panel' %>
</div>
