<%= javascript_include_tag "prettydiff/diffview" %>
<%= stylesheet_link_tag "prettydiff/diffview" %>

<script>
	//style="background-color: rgb(185, 255, 116);"
		function hideRankPanel(rank_p) {
			query = '#' + rank_p + ' > .voteup'
			$(query).hide();
			
			query = '#' + rank_p + ' > .votedown'
			$(query).hide();
			
			query = '#' + rank_p + ' > .loadingup'
			$(query).show();
		
			query = '#' + rank_p + ' > .loadingdown'
			$(query).show();
							
			query = '#' + rank_p + ' > .voteup-mini'
			$(query).hide();
			
			query = '#' + rank_p + ' > .votedown-mini'
			$(query).hide();
			
			query = '#' + rank_p + ' > .loadingup-mini'
			$(query).show();
		
			query = '#' + rank_p + ' > .loadingdown-mini'
			$(query).show();
		}	
	var pageURL = "<%= proposal_path(proposal) %>";	//need this for ajaxify pagination 
	
	
</script>	


<div style="float:right;">
<%if signed_in?%>
<%= link_to 'History', proposal_proposal_histories_path(@proposal), :remote => true, :class=>'historyButton buttonStyle'  %><br/>
<%end%>
<%if ((is_proprietary? proposal) || is_admin? ) %><!--se sono autorizzato a modificare la proposta-->
	<%if (proposal.proposal_state_id == 1) #se è ancor modificabile mostra il pulsante%>
		<%= link_to 'Modifica', edit_proposal_path(proposal), :class => 'editButton'  %>
	<%elsif (proposal.proposal_state_id == 2) #se bisogna scegliere una data mostra la combobox%>
		<%= form_for proposal, :url => {:controller => "proposals", :action => "set_votation_date"} do |f| %> 
		   <p>
		    <b>Scegli un periodo per la votazione</b>
				<%= select("proposal", "vote_period_id", Event.vote_period.all.collect {|p| [ p.starttime.strftime("%d/%m/%Y %H:%M") + ' - ' + p.endtime.strftime("%d/%m/%Y %H:%M"), p.id ] }) %>
			   <%= f.submit 'Ho scelto!', :confirm => 'Sei sicuro di voler votare la tua proposta in questo periodo? Non sarà possibile sceglierlo nuovamente!', :class => 'buttonStyle' %>
		  </p> 
		<%end%>
	<%end%>
<%end%>
</div>
<div style="clear: both;"></div>

<h1 class="proposalTitle"><%=h proposal.title %></h1>
<h2 class="proposalSubtitle"><%=h proposal.subtitle %></h1>
<div class="blogCommentPostedAt">
    
<%if (proposal.proposal_state_id == PROP_WAIT) #in attesa di essere votata%>
	<p>
    <b>Questa proposta sarà in votazione dal 
		<%= proposal.vote_period.starttime.strftime("%d/%m/%Y %H:%M") + ' al ' + proposal.vote_period.endtime.strftime("%d/%m/%Y %H:%M") %></b>
	</p>
<%elsif (proposal.proposal_state_id == PROP_VOTING) #in votazione%>
<p>				
	<%= link_to 'Vai alla pagina di votazione.', votation_path %>
</p>
<%end%>
    
Inserita il <span class="blogPostDate"><%= @proposal.created_at.strftime("%d/%m/%Y %H:%M") %></span>
<%if @proposal.updated_at != nil%>
(Ultima modifica del <%= @proposal.updated_at.strftime("%d/%m/%Y %H:%M") %>)
<%end%>


    <a class="spch-bub-inside" href="#proposalComments"><span class="point"></span><em><%=proposal.comments.count %></em></a>
	<br/>	
	

</div>

<h2>Problematica</h2>
<div class="proposalMainContainer proposal_main shadow-box">
        <div class="proposal_content">
            <%=simple_format(proposal.problems, :sanitize => true) %>
        </div>
</div>
<h2>Obiettivi</h2>
<div class="proposalMainContainer proposal_main shadow-box">
        <div class="proposal_content">
            <%=simple_format(proposal.objectives, :sanitize => true) %>
        </div>
</div>
<h2>Testo della proposta</h2>
<div id="proposal<%= proposal.id %>" class="proposalMainContainer proposal_main shadow-box">
        <div class="proposal_content">
            <%=simple_format(proposal.content, :sanitize => true) %>
        </div>
        <div class="baloon-footer">			
			
        </div>
</div>

<div id="proposal_histories_container">
</div>

