<script>

    var pageURL = "<%= proposal_path(@proposal) %>";	//need this for ajaxify pagination


    $(function () {
        $('img.mceItem').each(function () {
            var src = $(this).attr('alt');
            var width = $(this).attr('width') || 640
            var height = $(this).attr('height') || 390
            $(this).after($('<iframe src=\"http://www.youtube.com/embed/' + src + '?wmode=transparent\" width=\"' + width + '\" height=\"' + height + '\" frameborder=\"0\" seamless allowfullscreens/>'));
            $(this).remove();
        });
    });


</script>


<h1 class="proposalTitle" itemprop="name"><%= h @proposal.title %></h1>

<h3 class="proposalSubtitle" itemprop="description"><%= h @proposal.subtitle %></h3>


<div style="float:right;">

  <% if (is_proprietary? @proposal) || is_admin? #se sono autorizzato a modificare la proposta         %>
      <% if @group %>
          <%= link_to t('pages.proposals.show.edit_button'), edit_group_proposal_path(@group, @proposal), :class => 'btn editButton' if can? :update, @proposal %>
      <% else %>
          <%= link_to t('pages.proposals.show.edit_button'), edit_proposal_path(@proposal), :class => 'btn editButton' if can? :update, @proposal %>
      <% end %>
      <% if @group %>
          <%= link_to t('pages.proposals.show.delete_button'), [@group, @proposal], method: :delete, confirm: t('pages.proposals.show.delete_proposal_confirmation'), class: 'btn trashButton' if can? :destroy, @proposal %>
      <% else %>
          <%= link_to t('pages.proposals.show.delete_button'), @proposal, method: :delete, confirm: t('pages.proposals.show.delete_proposal_confirmation'), class: 'btn trashButton' if can? :destroy, @proposal %>
      <% end %>
      <% if @proposal.in_valutation? %>
          <%= link_to t('pages.proposals.show.close_debate_button'), @group ? close_debate_group_proposal_path(@group, @proposal) : close_debate_proposal_path(@proposal), method: :post, confirm: t('pages.proposals.show.close_debate_proposal_confirmation'), class: 'btn closeButton' if can? :close_debate, @proposal %>
      <% elsif @proposal.waiting_date? #se bisogna scegliere una data mostra la combobox           %>
          <div id="wait_date_header_container">
            <%= render :partial => 'proposals/wait_date_header' %>
          </div>

          <div id="create_event_dialog" style="display:none;">
            <div id="create_event">
            </div>
          </div>
      <% end %>
  <% end %>
</div>
<div style="clear: both;"></div>


<div class="blogCommentPostedAt">

  <% if @proposal.proposal_state_id == ProposalState::WAIT #in attesa di essere votata           %>
      <p>
        <b>
          <%= t('pages.proposals.show.votation_message', from: @proposal.vote_period.starttime.strftime("%d/%m/%Y %H:%M"), to: @proposal.vote_period.endtime.strftime("%d/%m/%Y %H:%M")) %>
        </b>
      </p>
  <% elsif @proposal.proposal_state_id == ProposalState::VALUTATION #in dibattito           %>
      <%= t('pages.proposals.show.editing_message_1') %>
      <a class="spch-bub-inside" href="#proposalComments"><span class="point"></span><em><%= @proposal.comments.count %></em></a>.
      <br/> <%= t('pages.proposals.show.editing_message_2') %>
      <span class="video_faq" id="suffgrad"><%= t('pages.proposals.show.editing_message_3') %></span>.

  <% end %>
  <br/>
</div>

<% @proposal.sections.each do |section| %>
    <div class="proposal_main">
      <h3>
        <div class="tit1">
        <span>
          <%= section.title %>
        </span>
          <% if (can? :partecipate, @proposal) || (!current_user && !@proposal.private) %>
              <div class="suggest">
                      <a href="#" class="btn green contributeButton contributeSectionButton" style="padding: 0.5em 0.8em;" onclick="return contribute(<%= section.id %>);"><%= 'Dai il tuo contributo' %></a>
              </div>
          <% end %>
        </div>
      </h3>


      <div class="proposal_content">
        <%= sanitize(section.paragraphs.first.content) %>
      </div>
    </div>
<% end %>

<% @proposal.solutions.includes(:sections).each do |solution| %>
    <div class="proposal_main">
      <% solution.sections.each do |section| %>
          <h3>
            <div class="tit1">
              <span>
                <%= section.title %>
              </span>
              <% if (can? :partecipate, @proposal) || (!current_user && !@proposal.private) %>

                  <div class="suggest">
                          <a href="#" class="btn green contributeButton contributeSectionButton" style="padding: 0.5em 0.8em;" onclick="return contribute(<%= section.id %>);"><%= 'Dai il tuo contributo' %></a>
                  </div>
              <% end %>
            </div>
          </h3>

          <div class="proposal_content">
            <%= sanitize(section.paragraphs.first.content) %>
          </div>
      <% end %>
    </div>
<% end %>

<div id="vote_panel_container">
  <%= render :partial => 'vote_panel' %>
</div>

<div id="proposal_histories_container">
</div>
