<div class="mybox">
  <h4><%= t('pages.proposals.show.supporting_group') %></h4>

  <div class="mycont">
    <% @proposal.supporting_groups.each do |group| %>
        <div class="pcontainer">
          <div class="MoImg24">
            <%= group.group_image_tag 24 %>
          </div>
          <div class="Mo">
            <%= link_to group.name[0..20], group_path(group) %>
          </div>
          <div style="clear: both;"></div>
        </div>
    <% end %>
    <%= t('pages.proposals.show.no_supporting_group') if @proposal.supporting_groups.empty? %>
    <% if signed_in? %>
        <% if !current_user.scoped_group_participations(GroupAction::SUPPORT_PROPOSAL).empty? && (can? :participate, @proposal) %>
            <%= link_to new_proposal_proposal_support_path(@proposal), remote: true, class: 'btn blue disable' do %>
                <i class="fa fa-heart"></i>
                <%= t('pages.proposals.show.support_proposal_button') %>
            <% end %>
        <% end %>
    <% end %>
  </div>
</div>
