<% unless @proposals.empty? || !::Configuration.phases_active %>
    <%= render :partial => '/proposals/orders/order_bar' %>
<% end %>

<div id="proposalsListContainer<%= params[:state] || params[:view] %>">
  <%= render :partial => 'list', :locals => {:proposals => @proposals} %>
</div>
<% unless @proposals.last_page? %>
    <div id="loading_proposals<%= params[:state] || params[:view] %>" class="loading_proposals">
      <span><%= t('pages.proposals.index.show_more') %></span>
    </div>
    <div id="loading_proposals<%= params[:state] || params[:view] %>_2" class="loading_proposals" style="display:none">
      <div class="waitDiv"><%= image_tag "facebook-loader.gif", :alt => "loading..." %> </div>
    </div>

    <script type="text/javascript">
        $(function () {
            var currentPage = 1;
            $('#loading_proposals<%=params[:state] || params[:view]%>').click(function () {
                $(this).hide();
                $(this).next().show();

                currentPage++;
                var cat = <%=params[:category] || 'null'%>;
                var view = <%=params[:view] || 'null'%>;
                var state = <%=params[:state] || 'null'%>;
                var group = <%=params[:group_id] || 'null'%>;
                var nurl = '/proposals/endless_index?scroll=true'
                if (cat != null && cat != 'null')
                    nurl += '&category=' + cat
                if (view != null && view != 'null')
                    nurl += '&view=' + view
                if (state != null && state != 'null')
                    nurl += '&state=' + state
                if (group != null && group != 'null')
                    nurl += '&group_id=' + group
                $.ajax({ url: nurl + '&page=' + currentPage, type: 'get'});
            });
        })
    </script>
<% end %>


<script type="text/javascript">
    $(function () {
        disegnaProgressBar();
        disegnaCountdown();
    });
</script>

