<% range = @proposal.solutions.count %>

<p><%= raw t('pages.proposals.vote_panel.schulze_title') %></p>
<h5><%= @proposal.secret_vote ? t('pages.proposals.vote_panel.secret_vote') : t('pages.proposals.vote_panel.clear_vote') %></h5>

<div id="solutions_table">
  <div class="vote-items-external">
    <span class="label primary">1</span>

    <div class="vote-items">
      <% @proposal.solutions.each_with_index do |solution, j| %>
          <div class="list-group-item vote-item" data-id="<%= solution.id %>">
            <i class="fa fa-arrows"></i>
            <a class="vote_solution_title" href="#">
              <%= raw t("pages.proposals.edit.new_solution_title.#{@proposal.proposal_type.name.downcase}", num: j+1) %>
              <%= "#{solution.title}" %>
            </a>
          </div>
      <% end %>
    </div>
  </div>
</div>

<%= form_for 'data', url: { action: "vote_schulze", controller: "votations", proposal_id: @proposal.id },
             method: :put, remote: true do |f| %>
    <%= f.hidden_field 'votes' %>

    <% if current_user.rotp_enabled && ::Configuration.rotp %>
        <%= f.label t('pages.proposals.show.security_token') %>
        <%= f.text_field 'token', maxlength: 6 %>
    <% end %>
    <%= f.button remote: true,
                 data: { confirm: t('pages.votations.show.confirm_schulze', name: @proposal.title) },
                 id: 'schulze-submit', class: 'btn blue' do %>
        <i class="fa fa-check"></i>
        <%= t('pages.proposals.show.vote_button') %>
    <% end %>
<% end %>
