<% if can? :vote, @proposal && !@proposal.is_petition? %>
    <div class="vote_panel">
      <h3><b><%= t('pages.proposals.vote_panel.title') %></b></h3>
      <% range = @proposal.solutions.count %>
      <% range += 1 if range.even? %>

      <% if @proposal.is_schulze? #schulze          %>
          <p><%= raw t('pages.proposals.vote_panel.schulze_title', max: range) %></p>
          <h5><%= @proposal.secret_vote ? t('pages.proposals.vote_panel.secret_vote') : t('pages.proposals.vote_panel.clear_vote') %></h5>

          <div id="solutions_table">
            <% @proposal.solutions.each_with_index do |solution,i| %>
                <div class="row solution_row panel" data-id="<%= solution.id %>">
                  <div class="columns large-3 small-8">
                    <a class="vote_solution_title" data-id="<%= solution.id %>" href="#" onclick="return scrollToSolution(this);">
                      <%=raw t("pages.proposals.edit.new_solution_title.#{@proposal.proposal_type.name.downcase}",num: i+1)%> <%= "#{solution.title}" %>
                    </a>
                  </div>
                  <div class="columns large-8 small-9 hide-for-small outer_slider_row">
                    <div class="row">
                      <div class="columns large-1 small-1">
                        <div class="schulze bad"></div>
                      </div>
                      <div class="columns large-10 small-10 slider_row">
                        <div class='slider'></div>
                      </div>
                      <div class="columns large-1 small-1">
                        <div class="schulze good"></div>
                      </div>
                    </div>
                  </div>
                  <div class="columns large-1 small-4">
                    <select class="slideNumber">
                      <% range.times do |c| %>
                          <option <%= 'selected="selected"' if c==range/2 %>><%= c+1 %></option>
                      <% end %>
                    </select>
                  </div>
                </div>
            <% end %>
          </div>

          <%= form_for 'data', :url => {:action => "vote_schulze", :controller => "votations", :proposal_id => @proposal.id}, method: :put, remote: true do |f| %>
              <%= f.hidden_field 'votes' %>

              <%= render :partial => 'fragments/how_schulze_works' %>
              <% if current_user.rotp_enabled && ::Configuration.rotp %>
                  <%= f.label 'Token di sicurezza' %>
                  <%= f.text_field 'token', maxlength: 6 %>
              <% end %>
              <%= f.button t('pages.proposals.show.vote_button'), :onclick => "return elaboraVoto();", :remote => true, :confirm => t('pages.votations.show.confirm_schulze', :name => @proposal.title), :id => 'submit', :class => 'btn blue acceptButton' %>
          <% end %>

          <script type="text/javascript">

            function scrollToSolution(el) {
                scrollToElement($('.solution_main[data-solution_id='+$(el).attr('data-id') + ']'));
                return false;
            }
              $(function () {
                  $('.vote_solution_title').each(function () {
                      $(this).qtip({
                          content: $('.proposal_content[data-id=' + $(this).data('id') + ']').clone()
                      });
                  });


                  $('.solution_row').each(function () {
                      var select = $(".slideNumber", $(this));
                      var slider = $(".slider", $(this)).slider({
                          min: 1,
                          max: <%=range%>,
                          range: "min",
                          value: select.val(),
                          slide: function (event, ui) {
                              select[0].selectedIndex = ui.value - 1;
                          }
                      });
                      select.change(function () {
                          slider.slider("value", this.selectedIndex + 1);
                      });
                  });
              });

              var vote = [];
              var votestring = "";

              function elaboraVoto() {
                  votestring = "";
                  vote = [];
                  $('.solution_row').each(function (panel) {
                      var val = $('.slideNumber', this).val();
                      if (!val || val == '') val = "0";
                      vote.push([$(this).data('id'), val])
                  })
                  vote.sort(function (a, b) {
                      return parseInt(b[1]) - parseInt(a[1]);
                  })
                  for (v in vote) {
                      if (v != 0) {
                          if (vote[v][1] == vote[v - 1][1]) {
                              votestring += ","
                          }
                          else {
                              votestring += ";"
                          }

                      }
                      votestring += vote[v][0]
                  }

                  $('#data_votes').val(votestring);
                  return true;
              }


          </script>
      <% else #standard          %>
          <h4><%= t('pages.proposals.vote_panel.single_title') %></h4>
          <h4><%= @proposal.secret_vote ? t('pages.proposals.vote_panel.secret_vote') : t('pages.proposals.vote_panel.clear_vote') %></h4>

          <%= form_for 'data', :url => votation_vote_path(:proposal_id => @proposal.id), remote: true, method: :put do |f| %>
              <%= f.hidden_field 'vote_type' %>
              <% if current_user.rotp_enabled && ::Configuration.rotp %>
                  <%= f.label 'Token di sicurezza' %> <br/>
                  <%= f.text_field 'token', maxlength: 6 %>
              <% end %>
          <% end %>

          <div style="float: left">
            <%= link_to '', '#', :class => "votegreen votebutton", :title => t('pages.votations.show.vote_positive'), onclick: "return send_vote(#{VoteType::POSITIVE});" %>
          </div>
          <div style="float: left">
            <%= link_to '', '#', :class => "voteyellow votebutton", :title => t('pages.votations.show.vote_neutral'), onclick: "return send_vote(#{VoteType::NEUTRAL});" %>
          </div>
          <div style="float: left">
            <%= link_to '', '#', :class => "votered votebutton", :title => t('pages.votations.show.vote_negative'), onclick: "return send_vote(#{VoteType::NEGATIVE});" %>
          </div>
          <%= image_tag "spinner.gif", :style => 'display: none;', :class => "loading_vote" %>
          <div style="clear: both"></div>

      <% end %>

      <script type="text/javascript">
          function send_vote(type) {
              var message = (type == <%=VoteType::POSITIVE%>) ?
                      '<%=j t('pages.votations.show.confirm_positive', :name => @proposal.title) %>' :
                      (type == <%=VoteType::NEUTRAL%>) ?
                              '<%=j t('pages.votations.show.confirm_neutral', :name => @proposal.title) %>' :
                              '<%=j t('pages.votations.show.confirm_negative', :name => @proposal.title) %>';
              if (confirm(message)) {
                  $("#data_vote_type").val(type);
                  $(".votebutton").fadeOut();
                  $(".vote_panel form").fadeOut();
                  $(".loading_vote").show();
                  $(".vote_panel form").submit();

              }
              return false;
          }
      </script>


    </div>


<% elsif current_user && vote = UserVote.find_by_proposal_id_and_user_id(@proposal.id, current_user.id) && !@proposal.is_petition? %>

    <div class="vote_panel">
      <h4><%= t('pages.proposals.vote_panel.results_time', when: (l vote.created_at)) %></h4>
      <% if @proposal.secret_vote %>
          <h4><%= t('pages.proposals.vote_panel.hidden_vote') %></h4>
      <% else %>
          <% if @proposal.is_schulze? %>
              <h4><%= t('pages.proposals.vote_panel.preferences_order') %></h4>
              <ol>
                <% vote.vote_schulze.split(";").each do |s_v| %>
                    <li>
                      <%= s_v.split(',').map { |s_v_v| @proposal.solutions.find_by_id(s_v_v).title }.join(' o ') %>
                    </li>
                <% end %>
              </ol>
          <% else %>
              <h4><%= t('pages.proposals.vote_panel.expressed_vote', vote: vote.vote_type.description) %></h4>
          <% end %>
      <% end %>
    </div>
<% end %>
