<div style="float:left">
  <b><%= t('pages.proposals.results.total', count: @proposal.vote.number) %> </b>
  <table>
    <thead>
    <tr>
      <th></th>
      <th><%= t('pages.proposals.results.vote_column') %></th>
      <th><%= t('pages.proposals.results.number_column') %></th>
      <th><%= t('pages.proposals.results.percentage_column') %></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="color_legend positive"></div>
      </td>
      <td><%= t('pages.proposals.results.positive') %></td>
      <td><%= @proposal.vote.positive %></td>
      <td><%= @proposal.vote.positive_perc %>%</td>
    </tr>
    <tr>
      <td>
        <div class="color_legend negative"></div>
      </td>
      <td><%= t('pages.proposals.results.negative') %></td>
      <td><%= @proposal.vote.negative %></td>
      <td><%= @proposal.vote.negative_perc %>%</td>
    </tr>
    <tr>
      <td>
        <div class="color_legend neutral"></div>
      </td>
      <td><%= t('pages.proposals.results.neutral') %></td>
      <td><%= @proposal.vote.neutral %></td>
      <td><%= @proposal.vote.neutral_perc %>%</td>
    </tr>
    </tbody>
  </table>
</div>

<div style="height: 200px; width: 200px; float:left;"
     data-plot
     id="vote-results-chart"
     data-positive="<%= @proposal.vote.positive %>"
     data-negative="<%= @proposal.vote.negative %>"
     data-neutral="<%= @proposal.vote.neutral %>">
</div>
<div style="clear: both;"></div>

<hr/>
<table id="votes_table">
  <thead>
  <tr>
    <th><%= t('pages.proposals.results.name_surname_column') %></th>
    <th><%= t('pages.proposals.results.date_time_column') %></th>
    <% unless @proposal.secret_vote %>
        <th><%= t('pages.proposals.results.vote_column') %></th>
    <% end %>
  </tr>
  </thead>
  <% @proposal.user_votes.each do |user_vote| %>
      <tr>
        <td><%= user_vote.user.fullname %></td>
        <td><%= l user_vote.created_at %></td>
        <% unless @proposal.secret_vote %>
            <td><%= user_vote.vote_type.description %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<script type="text/javascript">
    ProposalsVoteResults.positive = '<%=j t('pages.proposals.results.positive') %>';
    ProposalsVoteResults.neutral = '<%=j t('pages.proposals.results.neutral') %>';
    ProposalsVoteResults.negative = '<%=j t('pages.proposals.results.negative') %>';
</script>
