<% if can? :set_votation_date, @proposal %>
    <% if @group %>
        <% collection = @group.events.private.vote_period.all.collect { |p| ["da #{l p.starttime} a #{l p.endtime}", p.id, {'data-start' => (l p.starttime), 'data-end' => (l p.endtime), 'data-title' => p.title}] } %>
    <% else %>
        <% collection = Event.public.vote_period.all.collect { |p| ["da #{l p.starttime} a #{l p.endtime}", p.id, {'data-start' => (l p.starttime), 'data-end' => (l p.endtime), 'data-title' => p.title}] } %>
    <% end %>


    <% if collection.size > 0 %>
        <%= form_for @proposal, url: set_votation_date_proposal_url(@proposal, group_id: params[:group_id]) do |f| %>
            <p>

              <b><%= t('pages.proposals.show.choose_votation_period') %></b>
              <%= f.select :vote_period_id, options_for_select(collection), {style: 'width:400px'} %>

              <%= f.submit t('pages.proposals.show.choose_votation_period_button'), data: {confirm: t('pages.proposals.show.choose_votation_period_alert')}, class: 'btn blue' %>
            </p>
        <% end %>
    <% else %>
        <% if @group %>
            <b><%= t('pages.proposals.show.create_votation_period') %></b>
        <% else %>
            <b><%= raw t('pages.proposals.show.no_periods_contact_admin', email: (mail_to ENV['APP_EMAIL_ADDRESS'])) %></b>
        <% end %>
    <% end %>
    <% if @group && (can? :create_date, @group) %>
        <%= link_to t('pages.proposals.show.choose_new_votation_period_button'), new_group_event_url(@group, event_type_id: EventType::VOTAZIONE, proposal_id: @proposal.id), remote: true, class: 'btn newButton disable', style: 'float:right' %>

    <% end %>
<% else %>
    <b><%= t('pages.proposals.show.no_periods_contact_group') %></b>
<% end %>


<script type="text/javascript">
    $(function () {
        $('#proposal_vote_period_id').select2({
            minimumResultsForSearch: -1,
            formatResult: formatPeriod,
            formatSelection: formatPeriod,
            escapeMarkup: function (m) {
                return m;
            }
        });
    })
</script>
