<% collection = Event.public.vote_period.all.collect { |p| [p.starttime.strftime("%d/%m/%Y %H:%M") + ' - ' + p.endtime.strftime("%d/%m/%Y %H:%M"), p.id] } %>
<% if @group %>
    <% collection += Event.in_group(@group.id).vote_period.all.collect { |p| ["da #{l p.starttime} a #{l p.endtime}", p.id] } %>
<% end %>
<% if collection.size > 0 %>
    <%= form_for @proposal, :url => set_votation_date_proposal_path(@proposal, :group_id => params[:group_id]) do |f| %>
        <p>
          <b><%= t('pages.proposals.show.choose_votation_period')%></b>
          <%= f.select :vote_period_id, collection %>
          <%= f.submit t('pages.proposals.show.choose_votation_period_button'), :confirm => t('pages.proposals.show.choose_votation_period_alert'), :class => 'btn blue' %>
        </p>
    <% end %>
<% else %>
    <% if @group %>
        <% if can? :create_event, @group %>
            <p><b><%= t('pages.proposals.show.create_votation_period') %></b></p>
        <% else %>
            <p><b><%= t('pages.proposals.show.no_periods_contact_group') %></b></p>
        <% end %>
    <% else %>
        <p><b>
          <%=raw t('pages.proposals.show.no_periods_contact_admin', :email => (mail_to EMAIL_USERNAME)) %></b></p>
    <% end %>
<% end %>
<% if @group && (can? :create_event, @group) %>
<%= link_to t('pages.proposals.show.choose_new_votation_period_button'), new_group_event_path(@group, type: 'votation', proposal_id: @proposal.id), :remote => true, :class => 'btn newButton disable', :style => 'float:right' %>

<%end%>