<% @page_title = @proposal.title %>
<h1>Modifica la proposta</h1>

<%= form_for @group ? [@group, @proposal] : @proposal, :validate => true, :remote => @remote do |f| %>

    <% if can? :destroy, @proposal %>
        <div style="background: #FFE3A0; padding: 3px; border-radius: 2px;" class="shadow-box">
          <p>
            <% last = (10.minutes - (Time.now - @proposal.created_at)) / 60 %>

            <% if last < 2 %>
                <%= 'Affrettati!' %>
            <% end %>
            <% if last > 0 %>
                <%= "Potrai modificare questi dati ancora per #{last.round(0)} minuti." %>
            <% else %>
                <%= "Potrai modificare questi dati solo se nessuno ha ancora partecipato!" %>
            <% end %>
          </p>

          <p>
            <%= f.label :title %> *<br/>
            <%= f.text_field :title, :style => "width:300px" %>
          </p>

          <p>
            <%= f.label :subtitle %><br/>
            <%= f.text_field :subtitle, :style => "width:600px;" %>
          </p>

          <p>
            <%= f.label :interest_borders_tkn %><br/>
            <%= f.text_field 'interest_borders_tkn', "data-pre" => @proposal.interest_borders.to_json %>
          </p>

          <% if ::Configuration::folksonomy %>
              <p>
                <%= f.label :tags_list %><br/>
                <%= f.text_field :tags_list %>
              </p>
          <% end %>

      <!--    <p>
            <%= f.label :quorum_id %> *<br/>
            <% if @group %>
                <%= f.collection_select(:quorum_id, @group.quorums.active.all, :id, :name, :prompt => t('pages.proposals.new.quorum_prompt')) %>
                <%= link_to t('pages.proposals.new.quorum_help'), help_quorums_path(:group_id => @group.id), :remote => true %>
            <% else %>
                <%= f.collection_select(:quorum_id, Quorum.public.all, :id, :name, :prompt => 'Seleziona un quorum') %>
                <%= link_to t('pages.proposals.new.quorum_help'), help_quorums_path, :remote => true %>
            <% end %>

          <div id="available_quorums_container" title="<%= t('pages.quorums.index.title') %>">
          </div>
          </p>
       -->
          <p>
            <% if @change_advanced_options %>
                <%= f.check_box :anonima %>
                <%= f.label :anonima %><br/>
                <%= f.check_box :visible_outside %>
                <%= f.label :visible_outside %><br/>
                <%= f.check_box :secret_vote %>
                <%= f.label :secret_vote %><br/>
            <% end %>
          </p>


          <% data = "["
             @proposal.tags_list.split(',').each do |l|
               data += "{\"id\":\""+ l + "\",\"name\":\"" + l + "\"},"
             end
             data += "]"
          %>
          <script type="text/javascript">
              $(function () {
                  input = $('#proposal_interest_borders_tkn')
                  input.tokenInput("/interest_borders.json", {
                      crossDomain: false,
                      prePopulate: input.data("pre"),
                      hintText: "<%=t('interest_borders_hint')%>",
                      noResultsText: "<%=t('no_interest_border')%>",
                      searchingText: "<%=t('looking_for_interest_border')%>",
                      preventDuplicates: true
                  });


                  input = $('#proposal_tags_list')
                  if (input != null) {
                      input.tokenInput([], {
                          theme: "facebook",
                          crossDomain: false,
                          allowCustomEntry: true,
                          prePopulate: <%=raw data%>,
                          hintText: "<%=t('digit_tags')%>",
                          searchingText: "<%=t('digit_tags')%>",
                          preventDuplicates: true
                      })
                  }
              });
          </script>

        </div>
    <% end %>



    <h4>Descrivi in maniera esaustiva le problematiche che vuoi affrontare e quali sono gli obiettivi che vuole
      raggiungere la proposta</h4>

    <p>
      <%= f.label :proposal_category_id %><br/>
      <%= select("proposal", "proposal_category_id", ProposalCategory.includes(:translations).all.collect { |p| [p.description, p.id] }) %>
    </p>

    <% @proposal.sections.includes(:paragraphs).each do |section| %>
        <%= f.fields_for :sections, section do |s| %>
            <%= s.hidden_field :title %>
            <%= s.hidden_field :seq %>
            <%= s.fields_for :paragraphs, section.paragraphs.first do |p| %>
                <p>
                  <%= p.label :content_dirty, section.title %><br/>
                  <%= p.text_area :content_dirty, :rows => 5, :style => "width:98%;height:280px;", :class => "tinymce" %>
                  <%= p.hidden_field :content %>
                  <%= p.hidden_field :seq %>
                </p>
            <% end %>
        <% end %>
    <% end %>

    <h4>Modifica e aggiorna il testo della proposta!</h4>

    <% @proposal.solutions.each_with_index do |solution, i| %>
        <%= f.fields_for :solutions, solution do |sol| %>
            <%= sol.hidden_field :seq %>
            <%= sol.check_box '_destroy', style: 'display:none' %>
            <% solution.sections.each do |section| %>
                <%= sol.fields_for :sections, section do |s| %>
                    <%= s.hidden_field :title %>
                    <%= s.hidden_field :seq %>
                    <%= s.fields_for :paragraphs, section.paragraphs.first do |p| %>
                        <p>
                          <%= p.label :content_dirty, section.title %><br/>

                          <% if @proposal.is_standard? %>
                              <%= p.text_area :content_dirty, :rows => 5, :style => "width:98%;height:280px;", :class => "tinymce" %>
                              <%= p.hidden_field :content %>
                          <% elsif @proposal.is_polling? %>
                              <%= p.text_field :content, :style => "width:80%;" %>
                              <a href="#" onclick="removeSolution(this,<%=i%>,true);return false;">Rimuovi opzione</a>
                          <% end %>
                          <%= p.hidden_field :seq %>
                        </p>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>

    <a href="#" onclick="addSolution(this);return false;">Aggiungi un'opzione</a>


    <p>
      <%= render :partial => 'fragments/error_messages', :locals => {:resource => @proposal} %>
      <%= f.submit "Aggiorna", :class => 'buttonStyle', :onclick => 'return fillCleanFields();' %>
    </p>
<% end %>


<script type="text/javascript">
    tinyMCE.init({
        mode: 'textareas',
        theme: 'advanced',
        theme_advanced_toolbar_location: 'top',
        theme_advanced_toolbar_align: 'left',
        theme_advanced_buttons1: 'bold,italic,underline,separator,undo,redo,separator,bullist,numlist,separator,link,unlink,anchor,image,youtube,separator,ice_toggleshowchanges',
        theme_advanced_buttons2: '',
        theme_advanced_buttons3: '',
        plugins: 'media,paste,inlinepopups,youtube,ice',
        paste_auto_cleanup_on_paste : true,
        theme_advanced_statusbar_location: "none",
        //valid_elements: "-p",
        cleanup_on_startup: true,
        relative_urls : false,
        ice: {
            user: { name: '<%=current_user.fullname%>', id: <%=current_user.id%>},
            preserveOnPaste: 'p,a[href],i,em,strong'
        },
        body_class: "CT-hide"
    });
    function fillCleanFields() {
        <%if @proposal.is_standard?%>
          <%for i in 0..(@proposal.sections.count-1) %>
            $('#proposal_sections_attributes_<%=i%>_paragraphs_attributes_0_content').val(tinymce.get('proposal_sections_attributes_<%=i%>_paragraphs_attributes_0_content_dirty').execCommand('icecleanbody'));
          <%end%>
          <%for i in 0..(@proposal.solutions.count-1) %>
            <%for j in 0..(@proposal.solutions[i].sections.count-1) %>
              $('#proposal_solutions_attributes_<%=i%>_sections_attributes_<%=j%>_paragraphs_attributes_0_content').val(tinymce.get('proposal_solutions_attributes_<%=i%>_sections_attributes_<%=j%>_paragraphs_attributes_0_content_dirty').execCommand('icecleanbody'));
            <%end%>
          <%end%>
        <%end%>
        return true;
    }

    var numSolution = <%=@proposal.solutions.count%>

            function addSolution(el) {
                paragraph_ = $('<p></p>');
                paragraph_.append('<label>Opzione ' + (numSolution + 1) + '</label>');
                paragraph_.append('<br />');
                var solutionname = 'proposal[solutions_attributes][' + numSolution + ']';
                var sectionname = solutionname + '[sections_attributes][0]';
                var paragraphname = sectionname + '[paragraphs_attributes][0]';
                paragraph_.append('<input style=\'width:80%\' type=\'text\' name=\'' + paragraphname + '[content]\'></input>');
                paragraph_.append('<a href=\'#\' onclick=\'removeSolution(this,' + numSolution + ',false);return false;\'>Rimuovi opzione</a>');
                paragraph_.append('<input type=\'hidden\' value=\'' + numSolution + '\' name=\'' + solutionname + '][seq]\'></input>');
                paragraph_.append('<input type=\'hidden\' value=\'1\' name=\'' + paragraphname + '[seq]\'></input>');
                paragraph_.append('<input type=\'hidden\' value=\'1\' name=\'' + sectionname + '[seq]\'></input>');
                paragraph_.append('<input type=\'hidden\' value=\'Opzione ' + (numSolution + 1) + '\' name=\'' + sectionname + '[title]\'></input>');
                $(el).before(paragraph_);
                numSolution += 1;
            }

    function removeSolution(el, id, hide) {
        if (hide) {
            $('input[name="proposal\[solutions_attributes\]\[' + id + '\]\[_destroy\]"]').val(1);
            $(el).parent().hide();
        }
        else {
            $('input[name^="proposal\[solutions_attributes\]\[' + id + '\]"]').remove();
            $(el).parent().remove();
        }


    }
</script>