<% javascript 'proposal_endless_page' %>
<!--
<div id="accordion" style="width:90%">
    <h3><a href="#">Progetto in Alpha-Test. Leggi con attenzione.</a></h3>
    <div style="line-height:1;">
    	<p>Il progetto si basa su quanto scritto in questo documento: <a href="http://goo.gl/G4CIo">goo.gl/G4CIo</a>.</p>
    	<p>Per inviare feedback all'amministratore mandate una mail a <a href="mailto:coorasse+feedback@gmail.com">coorasse+feedback@gmail.com</a>.</p>
    </div>    
</div>
<script type="text/javascript">
	$('#accordion').accordion({
			collapsible: true,
			autoHeight: false, 
    		active: false 
		});
	
</script>
<br/>
-->
<div style="float:left">
<h3><%= link_to 'Crea una discussione', new_proposal_path, :remote => true, :id => 'nuova_proposta' %></h3>
</div>

<div id = "create_proposal_dialog" style ="display:none;">
    <div id = "create_proposal">
    </div>
</div>

<div style="float:right">
<h3><%= link_to 'Proposte accettate', index_accepted_proposals_path , :id => 'proposte_accettate' %></h3>
</div>
<div style="clear:both"></div>
<script>
	$('#nuova_proposta').button({
		icons: {
                primary: "ui-icon-lightbulb"
            },
            text: true
	});
	$('#proposte_accettate').button({
            icons: {
                primary: "ui-icon-star"
            },
            text: true
        });
</script>
<% if (@category)%>
	<h1>Proposte della categoria <%=@category.description%>
<%else%>	
	<h1>Proposte di tutte le categorie		
<%end%>
</h1>

		
		<%if (!params[:view] || (params[:view] == ORDER_BY_DATE))%>
			Ultime inserite
		<%else%>
			<a href="<%= current_url(:view=>ORDER_BY_DATE) %>">Ultime inserite</a>
		<%end%> | 		
		<% if (params[:view] == ORDER_BY_RANK)%>
			Pi첫 popolari
		<%else%>	
			<a href="<%= current_url(:view=>ORDER_BY_RANK) %>">Pi첫 popolari</a> 
		<%end%> | 
		<% if (params[:view] == ORDER_BY_VOTES)%>
			Pi첫 votate
		<%else%>	 
			<a href="<%= current_url(:view=>ORDER_BY_VOTES) %>">Pi첫 votate</a>
		<%end%>
		
		     
			<div id="proposalsListContainer">
			<%= render :partial => 'list', :locals => {:proposals => @proposals} %>
			</div>
	  		<div id="loading_proposals">
	  			<span>Mostra altre proposte...</span>
	  		</div>

	 	<script>
	    </script>
	 
<%content_for :left_panel do %>
<div id="categories">
<%if (params[:category])%>
	<h4 class="filterSelected">Categorie</h4>
	<a href="<%=current_url(:category => nil)%>">Tutte le categorie</a>
<%else%>
	<h4>Categorie</h4>
	Tutte le categorie
<%end%>

<% 
 	categories = ProposalCategory.find(:all,
     :select => "proposal_categories.id, proposal_categories.description, count(proposals.id) as proposals_count",
     :joins => "left join proposals on proposals.proposal_category_id = proposal_categories.id and proposals.proposal_state_id in (1,2,3,4)",
     :group => "proposal_categories.id, proposal_categories.description"
    )
	#categories = ProposalCategory.all
   categories.each do |category|%>
	<div>
		<%if (params[:category] == category.id.to_s)%>
			<%=category.description%> (<%=category.proposals_count%>)
		<%else%>
			<a href="<%=current_url(:category => category.id)%>"><%=category.description%> (<%=category.proposals_count%>)</a>
		<%end%>
	</div>
<%end%>
</div>

	<%= render :partial => 'users/most_active_users_panel' %>

<%end%>	 

	 
<%content_for :right_panel do %>
<%end%>