<%@page_title = t('pages.proposals.index.title')%>
<% if (@category)
	@page_head = "Proposte della categoria "+@category.description
   else	
	@page_head = "Proposte di tutte le categorie"		
end%>
<%=render :layout => "layouts/page_title", :locals => {:title => @page_head} do%>
	
<%end%>


<div style="clear:both"></div>


<div id="tabs">
	<ul>
		<li>
			<%=link_to 'In dibattito ('+@in_valutation_count.to_s+')', tab_list_proposals_path(:scroll=>true,:state=>1,:category=>params[:category], :group_id => params[:group_id]), :class=>"status_title", :id=>'dibattito', :title=>t("pages.proposals.index.debate")%>			
			<div class="tabs-triangle"/>
		</li>
		<li>
			<%=link_to 'In votazione ('+@in_votation_count.to_s+')', tab_list_proposals_path(:scroll=>true,:state=>2,:category=>params[:category], :group_id => params[:group_id]), :class=>"status_title", :id=>'votazione', :title=>t("pages.proposals.index.voting") %>			
			<div class="tabs-triangle"/>
		</li>
		<li>
			<%=link_to 'Approvate ('+@accepted_count.to_s+')', tab_list_proposals_path(:scroll=>true,:state=>3,:category=>params[:category], :group_id => params[:group_id]), :class=>"status_title", :id=>'accettate', :title =>t("pages.proposals.index.accepted") %>
			<div class="tabs-triangle"/>
		</li>
		<li>
			<%=link_to 'In revisione ('+@revision_count.to_s+')', tab_list_proposals_path(:scroll=>true,:state=>4,:category=>params[:category], :group_id => params[:group_id]), :class=>"status_title", :id=>'revisione', :title =>t("pages.proposals.index.revision") %>			
			<div class="tabs-triangle"/>
		</li>
	</ul>
	
	<div id="Tutte_le_proposte_da_costruire_che_sono_in_fase_di_dibattito">
		<div id='loading_borders' style='margin:auto;text-align:center;display:block;'>
			<%=image_tag 'ajax-loader.gif', :alt=>"Caricamento"%><br />
			<b>Sto caricando le proposte...</b>
		</div>
	</div>
</div>
<%content_for :left_panel do %>

<%if @group%>
<%= link_to 'Crea una proposta', new_proposal_path(:group_id => @group.id), :remote => true, :id => 'nuova_proposta', :class=>"disableButton" if (can? :insert_proposal, @group)%>
<%else%>
<%= link_to 'Crea una proposta', new_proposal_path, :remote => true, :id => 'nuova_proposta', :class=>"disableButton" %>
<%end%>	

<div id = "create_proposal_dialog" style ="display:none;">
    <div id = "create_proposal"></div>
</div>


<div id="categories">
<%if (params[:category])%>
	<h4 class="filterSelected">Categorie</h4>
	<a href="<%=current_url(:category => nil)%>">Tutte le categorie</a>
<%else%>
	<h4>Categorie</h4>
	Tutte le categorie
<%end%>

<% 
	conditions = "1 = 1"
	joins = "left join proposals on proposals.proposal_category_id = proposal_categories.id and proposals.proposal_state_id in (1,2,3,4,6,7)"
	if @group
		joins += " left join proposal_supports on proposals.id = proposal_supports.proposal_id  left join group_proposals on proposals.id = group_proposals.proposal_id"
		conditions += " AND ((proposal_supports.group_id = #{@group.id} and proposals.private = 'f') or (group_proposals.group_id = #{@group.id} and proposals.private = 't'))"
    end
 	categories = ProposalCategory.find(:all,
     :select => "proposal_categories.id, proposal_categories.description, count(proposals.id) as proposals_count",
     :joins => joins,
     :conditions => conditions, 
     :group => "proposal_categories.id, proposal_categories.description"
    )
	#categories = ProposalCategory.all
   categories.each do |category|%>
	<div>
		<%if (params[:category] == category.id.to_s)%>
			<%=category.description%> (<%=category.proposals_count%>)
		<%else%>
			<a href="<%=current_url(:category => category.id)%>"><%=category.description%> (<%=category.proposals_count%>)</a>
		<%end%>
	</div>
<%end%>
</div>

	<!--<%= render :partial => 'users/most_active_users_panel' %>-->

<%end%>	 

<script>
	$('#nuova_proposta').button({
		icons: {
                primary: "ui-icon-lightbulb"
            },
            text: true
	}).bind("ajax:error", function(event, data, status, xhr) {
    	if (data.status == 401) {
    		window.location = "/users/sign_in?l=it"
    	}
  	});
;
	$('#proposte_accettate').button({
            icons: {
                primary: "ui-icon-star"
            },
            text: true
        });
    
    $('#tabs').tabs({
    	cache: true,
    	load: function (e, ui) {
		    $(ui.panel).find("#loading_borders").remove();
		},
		select: function (e, ui) {
			var $panel = $(ui.panel);		
		     if ($panel.is(":empty")) {
		         $panel.html("<div id='loading_borders' style='margin:auto;text-align:center;display:block;'><%=escape_javascript(image_tag 'ajax-loader.gif', :alt=>"Caricamento")%><br /><b>Sto caricando le proposte...</b></div>");
		     }
		}    	
    });   
</script>
	 
<%content_for :right_panel do %>
<%end%>
