<% @extend = true %>
<% if @group %>
    <%- @meta_description = CGI::escapeHTML(@group.description) %>
    <%= content_for :head do %>
        <meta property="og:title" content="<%= @group.name %>"/>
        <meta property="og:type" content="airesis:group"/>
        <meta property="og:image" content="<%= @group.image.file? ? @group.image.url : asset_url('gruppo-anonimo.png') %>"/>
    <% end %>
<% end %>

<%= render layout: "layouts/page_title", locals: { title: @page_head } do %>

<% end %>

<div style="clear:both"></div>
<ul class="button-group even-4">
  <li><a href="?state=<%= ProposalState::TAB_DEBATE %>" class="button"
         <%= 'disabled' if @search.proposal_state_tab == ProposalState::TAB_DEBATE %>>
    <%= t('pages.proposals.index.debate_title', count: @in_valutation_count) %></a></li>
  <li><a href="?state=<%= ProposalState::TAB_VOTATION %>" class="button"
         <%= 'disabled' if @search.proposal_state_tab == ProposalState::TAB_VOTATION %>>
    <%= t('pages.proposals.index.voting_title', count: @in_votation_count) %></a></li>
  <li><a href="?state=<%= ProposalState::TAB_VOTED %>" class="button"
         <%= 'disabled' if @search.proposal_state_tab == ProposalState::TAB_VOTED %>>
    <%= t('pages.proposals.index.accepted_title', count: @accepted_count) %></a></li>
  <li><a href="?state=<%= ProposalState::TAB_REVISION %>" class="button"
         <%= 'disabled' if @search.proposal_state_tab == ProposalState::TAB_REVISION %>>
    <%= t('pages.proposals.index.revision_title', count: @revision_count) %></a></li>
</ul>

<div class="content">
  <%= render partial: 'tab_list', locals: { proposals: @proposals } %>
</div>

<% content_for :left_panel do %>
    <%= render 'left_panel_index' %>
<% end %>

<% if params[:time] %>
    <script type="application/javascript">
      ProposalsIndex.timeFilter = <%=raw params[:time].to_json %>;
    </script>
<% end %>
