/**
 * Se lo step delle proposte simili era stato saltato, saltalo anche quando torni indietro
 */
function skipIfNecessary(activeDiv) {
    if (activeDiv.attr('id') == 'suggestions' && skippedSuggestionStep) {
        $('#form-wizard-prev').click();
    }
}

/**
 * Mostra proposte simili se ve ne sono
 */
function showSimilarProposal(activeDiv) {
    $('#new_proposal').enableClientSideValidations();
    $(':input', activeDiv).first().focus();
    if (activeDiv.attr('id') == 'suggestions') {
        $.ajax({
            url: '<%=similar_proposals_path :group_id => params[:group_id]%>',
            data: 'tags=' + $('#proposal_tags_list').val()
        })
    }

}


window.ClientSideValidations.selectors = {
    inputs: ':input:not(button):not([type="submit"])[name]:enabled',
    validate_inputs: ':input:enabled:visible[data-validate]',
    forms: 'form[data-validate]'
};

var create_proposal_ = $('#create_proposal');
var container_ = $('#create_proposal_container');
container_.html('<%=j render "proposal_types/#{params[:proposal_type_id].downcase}"%>');
<%if params[:models] %>
    container_.dialog('option', 'title', '<%=j @title%>');
<%else%>
    container_.dialog({
        title: '<%=j @title%>',
        modal: true,
        width: 720,
        height: 'auto',
        close: function (event, ui) {
            create_proposal_.dialog('destroy');
        }
    });
<%end%>

$('.legend').hide();



$("#new_proposal").quickWizard({
    prevButton: '<button id="form-wizard-prev" type="button" class="btn backButton"><%=j t('buttons.go_back')%></button>',
    nextButton: '<button id="form-wizard-next" type="button" class="btn blue forwardButton"><%=j t('buttons.next')%></button>',
    nextCallback: showSimilarProposal,
    prevCallback: skipIfNecessary
});

input = $('#proposal_interest_borders_tkn')
input.tokenInput("<%=interest_borders_path(:format => :json)%>", {
    crossDomain: false,
    prePopulate: input.data("pre"),
    hintText: "<%=t('interest_borders.hint')%>",
    noResultsText: "<%=t('interest_borders.no_place_found')%>",
    searchingText: "<%=t('interest_borders.searching')%>",
    preventDuplicates: true,
    allowTabOut: true
});


input = $('#proposal_tags_list')
if (input != null) {
    input.tokenInput("<%=tags_path(format: :json )%>", {
        theme: "facebook",
        crossDomain: false,
        allowFreeTagging: true,
        minChars: 3,
        hintText: "<%=t('digit_tags')%>",
        searchingText: "<%=t('digit_tags')%>",
        preventDuplicates: true,
        allowTabOut: true,
        tokenValue: "name"
    })
}


$('#proposal_proposal_category_id').select2({
    minimumResultsForSearch: -1,
    formatResult: formatCategory,
    formatSelection: formatCategory,
    escapeMarkup: function(m) { return m; }
});


$('#proposal_quorum_id').select2({
    minimumResultsForSearch: -1,
    formatResult: formatQuorum,
    formatSelection: formatQuorum,
    escapeMarkup: function(m) { return m; }
});

$('#proposal_quorum_id').on("change", function(e) {
    var exlanation_ = $('#proposal_quorum_id option:selected').data('explanation');
    var timefixed_ = $('#proposal_quorum_id option:selected').data('time_fixed');
    var minutes_ = $('#proposal_quorum_id option:selected').data('minutes');
    if (exlanation_) {
        $('#quorum_explanation').html(exlanation_).show();
    }
    else {
        $('#quorum_explanation').hide();
    }
    if (timefixed_) {
        $('#choose_votation').show();
        var now_ = new Date();
        var end_ = addMinutes(now_,parseInt(minutes_));


        $('#choose_votation .start_vot').html('<%='al termine del dibattito'%>'+' ('+dateToString(upperend_)+')');
        var upperend_ = upperMinutes(end_,5);
        $("#proposal_votation_start").datetimepicker("option", "minDateTime", upperend_);
        $("#proposal_votation_start").datetimepicker("option", "minDate", upperend_);
        $("#proposal_votation_end").datetimepicker("option", "minDateTime", addMinutes(upperend_,120));
        $("#proposal_votation_end").datetimepicker("option", "minDate", addMinutes(upperend_,120));
        $("#proposal_votation_end").datetimepicker("setDate", addMinutes(upperend_,120));
        //$("#proposal_votation_end").focus();
    }
    else {
        $('#choose_votation').hide();

    }
});


$('#new_proposal').enableClientSideValidations();
disegnaBottoni();


var datePickerOptions = {
    dateFormat: "dd/mm/yy",
    buttonImageOnly: true,
    buttonImage: "<%= asset_path('iconCalendar.png') %>",
    showOn: "both",
    changeMonth: false,
    changeYear: false,
    yearRange: "c:c+10",
    maxDate: "+10Y",
    duration: "",
    showTime: true,
    constrainInput: true,
    stepMinute: 5,
    stepHour: 1,
    altTimeField: "alt",
    time24h: true
};

$('#proposal_votation_end').datetimepicker($.extend({},datePickerOptions,{
    onClose: function (date) {

    }
}));
$('#proposal_votation_start').datetimepicker($.extend({},datePickerOptions,{
   onClose: function (date) {
       var eventStartTime_ = $('#proposal_votation_start').datetimepicker("getDate");
       $('#proposal_votation_end').datetimepicker("option", "minDate", eventStartTime_);
   }
}));

$('#choose_votation .cancel_action').click(function() {
    $('#start_preset').show();
    $('#start_choose').hide();
    $('#proposal_votation_start_edited').val(null);
});


function changeStart() {
    $('#start_preset').hide();
    $('#start_choose').show();
    $('#proposal_votation_start_edited').val('true');
}


$('#proposal_quorum_id_container').css('float','left').css('margin-right','5px');


//window.ClientSideValidations.forms['new_proposal'].validators['proposal[sections_attributes][][paragraphs_attributes][][content]']['presence'] = [{'message':'deve essere compilato'}];


/*tinyMCE.init({
    mode: 'textareas',
    theme: 'advanced',
    theme_advanced_toolbar_location: 'top',
    theme_advanced_toolbar_align: 'left',
    theme_advanced_buttons1: 'bold,italic,underline,separator,undo,redo,separator,bullist,numlist,separator,link,unlink,anchor,image,youtube',
    theme_advanced_buttons2: '',
    theme_advanced_buttons3: '',
    relative_urls: false,
    plugins: 'legacyoutput,media,inlinepopups,youtube,paste',
    formats: {
        underline: { inline: 'u' }
    },
    paste_auto_cleanup_on_paste: true,
    theme_advanced_statusbar_location: "none"
});*/