<%@page_title = @proposal.title%>
<script type="text/javascript">
$(function() {
	//$('#svgintro').svg({onLoad: drawIntro});
})	
/*	
function drawIntro(svg) { 
    svg.polygon([[10,10],[400,10],[200,200]],  
    {fill: 'none', stroke: 'blue', strokeWidth: 2}); 
    
    <%@proposal.comments.each do |c| %>$
    	/*svg.circle(200,100,2)*/
    <%end%>
    
    
/*}*/
	
</script>
<!-- 
<div id="svgintro" style="height:600px;width:600px;">
</div>
-->
<%= render :partial => "steps/#{@step.fragment}", :layout => "layouts/tutorial" if @step%>

<%= render :partial => 'proposals/show_proposal', :locals => { :proposal => @proposal } %>

<%if (!current_user || (current_user && (!@proposal.private || (can? :partecipate_proposal, @group))))%>
<%= render :partial => @proposal_comment = ProposalComment.new, :locals => { :button_name => 'Invia risposta' } %> <div id="flash_messages_comments" style="height:20px"></div>
<%end%>

<div id="order_bar">
<%= render :partial => 'proposal_comments/order_bar' %>
</div>

<div id="loading_contributes" style="margin:auto;text-align:center;">
	<%= image_tag 'ajax-loader.gif'%><br />
	<b>Caricamento contributi...</b>
</div>
<div id="proposalCommentsContainer">
	<!--<%= render :partial => 'proposals/comments' %>-->
</div>

<div id="loading_results" style="display:none;">
	<span>Commenti precedenti...</span>
</div>

<script>

	function hide_vote_controls() {
	//nascondi i pulsanti di valutazione quando vengono cliccati
		$('.voteup-mini').bind('ajax:beforeSend',function(n,xhr) {
			id = $(this).attr('id');
			num = id.replace('voteup-mini','');
			hideRankPanel('rankingpanelcontainer'+num);
		});
		
		$('.votenil-mini').bind('ajax:beforeSend',function(n,xhr) {
			id = $(this).attr('id');
			num = id.replace('votenil-mini','');
			hideRankPanel('rankingpanelcontainer'+num);
		});
		
		$('.votedown-mini').bind('ajax:beforeSend',function(n,xhr) {
			id = $(this).attr('id');
			num = id.replace('votedown-mini','');
			hideRankPanel('rankingpanelcontainer'+num);
		});
				
	};
</script>

<script type="text/javascript">
	var retval = false;
	var clicked;
	function hiding(event,id) {
		if (!retval) {
			clicked = $('#delete'+id);
			console.log(clicked);
			if (confirm('Sei sicuro di voler cancellare questo commento?')) {			
				$('#comment'+id).hide(600,function() {
					retval = true;
					clicked.click();
				});
				event.stopPropagation();
				return false;
			}
			event.stopPropagation();
			return false;
		}
		else {
			retval = false;
			return true;
		}
		
	}
	
	function createAnswerBox() {
		return $("<div>").append("<textarea>").addClass("proposal_comment");
	}
	
	function openAnswer(el) {
		if (!$(el).data('opened')) {
			console.log("not open");
			$(el).data('opened',true);
			$(el).answerPanel = createAnswerBox(); 
			$(el).parent().parent().parent().parent().append($(el).answerPanel);
		}
		else {
			$(el).data('opened',false);
			$(el).answerPanel.hide();
		}
		
	}
	
	$(function() {
		$('.reply_textarea').watermark('Inserisci un suggerimento').elastic();
	})
</script>


<script type="text/javascript">
	var retval = false;
	var clicked;
	
	//funzione per la cancellazione di un commento dalla lista
	function hiding(event,id) {
		if (!retval) {
			clicked = $(this);
			if (confirm('Sei sicuro di voler cancellare questo commento?')) {			
				$('#comment'+id).hide(600,function() {
					retval = true;
					clicked.click();
				});
				event.stopPropagation();
				return false;
			}
			event.stopPropagation();
			return false;
		}
		else {
			retval = false;
			return true;
		}
		
	}
	
	function showNicknamePanel() {
		$('#nickname_panel').dialog();
	}
</script>

<script type="text/javascript">	
var currentPage = 0;
var currentView = 1;
var contributes = [];
var checkActive = false;

function resetCounter () {
	currentPage = 0;
}

function checkScroll() {
  if (nearBottomOfPage() && checkActive) {
    console.log("near bottom");
    currentPage++;
	$.ajax({ url: '<%=list_proposal_proposal_comments_url(@proposal) %>',
			 data: {page: currentPage,
			 		view: currentView,
			 		contributes: contributes
			 },
			 type:'post'});
  } else {
    setTimeout("checkScroll()", 250);
  }
}

function nearBottomOfPage() {
  return scrollDistanceFromBottom() < 150;
}

function scrollDistanceFromBottom(argument) {
  return pageHeight() - (window.pageYOffset + self.innerHeight);
}

function pageHeight() {
  return Math.max(document.body.scrollHeight, document.body.offsetHeight);
}

$(function() {
  currentPage++;
  $.ajax({ url: '<%=list_proposal_proposal_comments_url(@proposal) %>', 
   		   data: {page: currentPage,
			 	  view: currentView,
			 	  contributes: contributes
		   },
  		   type:'post',
  		   complete: function() {
		  		   		$("#loading_contributes").hide();
		  		     } 
  });	
});
	
	
</script>


<%content_for :left_panel do%>
<div id="rankleftpanel" class="rankleftpanel">
	<%= render :partial => 'proposals/rank_left_panel' %>	
</div>

	
<div style="height:20px;">	
<g:plusone size="small"></g:plusone>
</div>
<div style="height:20px;width:100px;">
<%=raw facebook_like %>
</div>

<%if signed_in? && @my_nickname && @proposal.is_anonima?%>
	<h4>Il tuo nickname è <%=image_tag 'icon_info.gif', :alt => 'Di cosa si tratta?', :title => 'Di cosa si tratta?', :style => 'cursor:pointer', :onclick => 'showNicknamePanel();'%></h4> 
	<div class="blogUserImage">
		<%=user_tag(current_user,@proposal)%>			
	</div>
	<div style="clear: both;"></div>
	
	<div id="nickname_panel" title="Perchè ho questo nickname?" style="display: none;">
		In Airesis le discussioni avvengono in modo anonimo.<br />
		In ciascuna discussione a cui partecipi non è possibile, per gli altri utenti, sapere chi sei e, allo stesso
		tempo, non è possibile a te sapere chi sono gli altri.<br />
		Lavorando e discutendo in questo modo si potranno prendere decisioni e valutare le proposte solo sulla base dei contenuti.<br />
		Quando la discussione sarà terminata e la proposta sarà approvata oppure respinta allora potrai vedere i veri nomi degli utenti!
	</div>
<%end%>

<h4>Redigono la sintesi</h4>
<div id="authors_list">
 <%= render :partial => 'proposals/authors_list_panel'%>
</div>   
<%if signed_in? && @proposal.in_valutation?%>
	<div id="available_author">    
		<%= render :partial => 'proposals/available_author'%>
	</div>	
	<%if @proposal.users.include?(current_user)%>
		<%=link_to 'Redattori disponibili', available_authors_list_proposal_path(@proposal), :remote => true, :class=> 'personButton littleText disableButton'%>
		
		<div id="available_authors_list_container" title="Elenco utenti disponibili a redigere la sintesi della proposta">
		</div>
	<%end%>
<%end%>
        
    <br />
    
<div id="support_left_panel_container">   
<%= render :partial => 'proposals/support_left_panel' %>
</div>	

    
<h4>Documenti collegati</h4>
Nessun documento allegato alla proposta

<%unless @proposal.interest_borders.empty?%>
	<h4>Confini geografici di interesse</h4>		
	<%@proposal.interest_borders.each do |ib|%>
		<div style="margin:5px;" class="ui-state-highlight"><%=ib.description%></div>
	<%end%>
<%end%>

<%unless @proposal.tags.empty?%>
	<h4>Tags</h4>		
	<%@proposal.tags.each do |tag|%>
		<div style="margin:5px;"><a  class="ui-state-highlight" href="<%=tag_path tag.text%>"><%=tag.text%></a> x <%=tag.proposals_count%></div>
	<%end%>
<%end%>

<% unless @proposal.closest.empty?%>
	<h4>Proposte attinenti</h4>
	<%@proposal.closest.each do |p|%>
		<%=link_to p.title, p%><br />
	<%end%>
<%end%>

<br />
<%end%>
