<% javascript 'endless_page' %>
<%= render :partial => 'proposals/show_proposal', :locals => { :proposal => @proposal } %>
<%= render :partial => @proposal_comment = ProposalComment.new, :locals => { :button_name => 'Invia risposta' } %> <div id="flash_messages_comments" style="height:20px"></div>


<script type="text/javascript">
$(function() {
	//$('#svgintro').svg({onLoad: drawIntro});
})	
/*	
function drawIntro(svg) { 
    svg.polygon([[10,10],[400,10],[200,200]],  
    {fill: 'none', stroke: 'blue', strokeWidth: 2}); 
    
    <%@proposal.comments.each do |c| %>$
    	/*svg.circle(200,100,2)*/
    <%end%>
    
    
/*}*/
	
</script>
<!-- 
<div id="svgintro" style="height:600px;width:600px;">
</div>
-->
<div id="proposalCommentsContainer">
	<%= render :partial => 'proposals/comments' %>
</div>
<div id="loading_results">
	<span>Commenti precedenti...</span>
</div>


<script>

$(function() {
	//nascondi i pulsanti di valutazione quando vengono cliccati
		$('.voteup-mini').bind('ajax:beforeSend',function(n,xhr) {
			id = $(this).attr('id');
			num = id.replace('voteup-mini','');
			hideRankPanel('rankingpanelcontainer'+num);
		});
		
		$('.votedown-mini').bind('ajax:beforeSend',function(n,xhr) {
			id = $(this).attr('id');
			num = id.replace('votedown-mini','');
			hideRankPanel('rankingpanelcontainer'+num);
		});	
	});
</script>


<script type="text/javascript">
	var retval = false;
	var clicked;
	
	//funzione per la cancellazione di un commento dalla lista
	function hiding(event,id) {
		if (!retval) {
			clicked = $(this);
			if (confirm('Sei sicuro di voler cancellare questo commento?')) {			
				$('#comment'+id).hide(600,function() {
					retval = true;
					clicked.click();
				});
				event.stopPropagation();
				return false;
			}
			event.stopPropagation();
			return false;
		}
		else {
			retval = false;
			return true;
		}
		
	}
</script>


<%content_for :left_panel do%>


<div id="rankleftpanel" class="rankleftpanel">
	<%= render :partial => 'proposals/rank_left_panel' %>	
</div>

	
<div style="height:20px;">	
<g:plusone size="small"></g:plusone>
</div>
<div style="height:20px;width:100px;">
<%=raw facebook_like %>
</div>

<h4>Autori della proposta</h4>
 <div class="blogUserImage">
 		<%@proposal.users.each do |user| %>
       <div class="pcontainer">
	        <div class="MoImg24">
	            <%= user.user_image_tag(24) %>
	        </div>
	        <div class="Mo">
	            <%=link_to_user user, :full_name => true %> (<%=user.rank%>)
	        </div>
	        <div style="clear: both;"></div>
	    </div>
        <%end%>
    </div>
    <div style="clear: both;"></div>
    <br />
    
<div id="support_left_panel_container">   
<%= render :partial => 'proposals/support_left_panel' %>
</div>	

<h4>Statistiche</h4>
<%if signed_in?%>
<%= link_to 'History', proposal_proposal_histories_path(@proposal), :remote => true, :class=>'buttonStyle littleText'  %>
<%else%>
Esegui il login per visualizzare le statistiche
<%end%>

<h4>Documenti collegati</h4>
Nessun documento allegato alla proposta
<%end%>

<%=content_for :right_panel do%>

	<%unless @proposal.interest_borders.empty?%>
		<h4>Confini geografici di interesse</h4>		
		<%@proposal.interest_borders.each do |ib|%>
			<div style="margin:5px;" class="ui-state-highlight"><%=ib.description%></div>
		<%end%>
	<%end%>
	
	<%unless @proposal.tags.empty?%>
		<h4>Tags Folksonomy</h4>		
		<%@proposal.tags.each do |tag|%>
			<div style="margin:5px;"><a  class="ui-state-highlight" href="<%=tag_path tag.text%>"><%=tag.text%></a> x <%=tag.proposals_count%></div>
		<%end%>
	<%end%>

	<% unless @proposal.closest.empty?%>
		<h4>Proposte attinenti</h4>
		<%@proposal.closest.each do |p|%>
			<%=link_to p.title, p%><br />
		<%end%>
	<%end%>
<%end%>
