<%= content_for :head do %>
    <meta property="og:title" content="<%= @proposal.title %>"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="<%= "#{request.protocol}#{request.host_with_port}#{asset_path("logo120.png")}" %>"/>
    <meta property="og:site_name" content="<%=APP_LONG_NAME%>"/>
    <meta property="og:description" content="<%= @proposal.subtitle %>"/>
    <meta property="fb:app_id" content="<%= FACEBOOK_APP_ID %>"/>
    <meta property="article:published_time" content="<%= @proposal.created_at.strftime("%Y/%m/%d") %>">
    <meta property="article:author" content="<%= @proposal.users.first.fullname %>">
    <meta property="article:section" content="<%= @proposal.category.description %>">
    <meta name="description" content="<%= @proposal.subtitle %>">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=<%= MAPS_API_KEY %>&sensor=false"></script>

<% end %>

<% @page_title = @proposal.title %>
<script type="text/javascript">
    $(function () {
        //$('#svgintro').svg({onLoad: drawIntro});
    })
    /*
     function drawIntro(svg) {
     svg.polygon([[10,10],[400,10],[200,200]],
     {fill: 'none', stroke: 'blue', strokeWidth: 2});

    <%@proposal.comments.each do |c| %>$
     /*svg.circle(200,100,2)*/
    <%end%>


    /*}*/

</script>
<!-- 
<div id="svgintro" style="height:600px;width:600px;">
</div>
-->
<%= render :partial => "steps/#{@step.fragment}", :layout => "layouts/tutorial" if @step %>

<%= render :partial => 'proposals/show_proposal' %>

<% if ((can? :partecipate, @proposal) || (!current_user && !@proposal.private)) && (!@proposal.voting?) %>
    <%= render :partial => @proposal_comment = ProposalComment.new, :locals => {:button_name => 'Invia risposta'} %>
    <div id="flash_messages_comments" style="height:20px"></div>
<% else %>
    <div style="height:20px"></div>
<% end %>

<div id="order_bar">
  <%= render :partial => 'proposal_comments/order_bar' %>
</div>

<div id="loading_contributes" style="margin:auto;text-align:center;">
  <%= image_tag 'ajax-loader.gif' %>
  <br/>
  <b><%= t('pages.proposals.show.loading_contributions') %></b>
</div>
<div id="proposalCommentsContainer">

</div>

<div id="loading_results" style="display:none;">
  <span><%= t('pages.proposals.show.previos_contributes') %></span>
</div>


<%= render :partial => 'report_contribute' %>


<script type="text/javascript">
    var clicked;

    var currentView = <%=current_user ? 1 : 3 %>;
    var contributes = [];
    var checkActive = false;

    var $viewport = $('html, body');

    function contribute(section_id) {
        $('#proposal_comment_section_id').val(section_id);
        $viewport.animate({
            scrollTop: $("#proposal_comment_content").offset().top - 150
        }, 2000, function () {
            $('#proposal_comment_content').focus();
        });


        // Stop the animation if the user scrolls. Defaults on .stop() should be fine
        $viewport.bind("scroll mousedown DOMMouseScroll mousewheel keyup", function (e) {
            if (e.which > 0 || e.type === "mousedown" || e.type === "mousewheel") {
                $viewport.stop().unbind('scroll mousedown DOMMouseScroll mousewheel keyup'); // This identifies the scroll as a user action, stops the animation, then unbinds the event straight after (optional)
            }
        });

        return false;
    }

    function hiding(event, id) {
      if (confirm('<%=t('pages.proposals.show.delete_contribute_confirmation')%>')) {
        $('#comment' + id).hide(600, function () {
          $.ajax({
		dataType: 'json',
		type: 'delete',
		url: '/proposals/<%=@proposal.id%>/proposal_comments/'+id
	  });
        });
        return false;
      }
      return false;
    }


    function hideAndDeleteReply(event, id) {
        if (!retval) {
            clicked = $('#delete' + id);
            console.log(clicked);
            if (confirm('<%= t('pages.proposals.show.delete_suggestion_confirmation')%>')) {
                $('#replys' + id).hide(600, function () {
                    retval = true;
                    clicked.click();
                });
                event.stopPropagation();
                return false;
            }
            event.stopPropagation();
            return false;
        }
        else {
            retval = false;
            return true;
        }

    }

    function report_contribute(id) {
        $('.report_menu').hide();
        $('.report_contribute.visible').removeClass('visible');
        $('#report_contribute_id').val(id);
        $('input[name=reason]').removeAttr('checked');
        doModal($('#report_contribute'));
    }

    function hide_vote_controls() {
        //nascondi i pulsanti di valutazione quando vengono cliccati
        $('.vote_comment').bind('ajax:beforeSend', function (n, xhr) {
            $(this).parent().find('.vote_comment').hide();
            $(this).parent().find('.loading').show();

        });

        $('.votedown-mini').bind('ajax:beforeSend', function (n, xhr) {
            var num = $(this).data('id');
            $(this).parent().find('.vote_comment').hide();
            $(this).parent().find('.loading').show();
            $('.reply_textarea[data-id=' + num + ']').focus().attr('placeholder', 'Indica il motivo della tua valutazione negativa').effect('highlight', {}, 3000);
        });


        $('.hidden_menu')
                .click(function (event) {
                    event.stopPropagation();
                });

        $('html').click(function () {
            $('.hidden_menu').hide();
            $('.hidden_link.visible').removeClass('visible');
        });

        $('.hidden_link')
                .click(function (event) {
                    $(this).addClass('visible');
                    $(this).next().show().position({
                        my: "right top",
                        at: "right bottom",
                        of: $(this)
                    });
                    event.stopPropagation();
                });
    }


    function checkScroll() {
        if (nearBottomOfPage() && checkActive) {
            checkActive = false;
            currentPage++;
            $.ajax({ url: '<%=list_proposal_proposal_comments_url(@proposal) %>',
                data: {page: currentPage,
                    view: currentView,
                    contributes: contributes
                },
                type: 'post'});
        } else {
            setTimeout("checkScroll()", 250);
        }
    }

    $(function () {
        currentPage++;
        $.ajax({ url: '<%=list_proposal_proposal_comments_url(@proposal) %>',
            data: {page: currentPage,
                view: currentView,
                contributes: contributes
            },
            type: 'post',
            complete: function () {
                $("#loading_contributes").hide();
            }
        });

        <%= render :partial => 'show_tooltips' %>

    });
</script>


<% content_for :left_panel do %>
    <% if @proposal.is_standard? %>
        <div id="rankleftpanel" class="rankleftpanel mybox">
          <%= render :partial => 'proposals/rank_left_panel' %>
        </div>
    <% end %>

    <% if ::Configuration.socialnetwork_active %>
        <div class="mybox">
          <a href="https://twitter.com/share"
             class="twitter-share-button"
             data-lang="en"
             data-count="vertical"
             data-text="Guarda questa proposta su <%= APP_SHORT_NAME %>: <%= @group ? group_proposal_url(@group, @proposal) : proposal_url(@proposal) %>">Tweet</a>
          <g:plusone size="tall"></g:plusone>
          <%= raw facebook_like %>
        </div>
    <% end %>

    <% if signed_in? && @my_nickname && @proposal.is_anonima? %>
        <div class="mybox">
          <h4><%= t('pages.proposals.show.your_nickname_is') %></h4>

          <div class="mycont">
            <span id="nickname_panel"><%= image_tag 'icon_info.gif', :alt => t('pages.proposals.show.what_nickname'), :style => 'cursor:pointer' %></span>

            <div class="blogUserImage">
              <%= user_tag(current_user, @proposal) %>
            </div>
          </div>
        </div>
    <% end %>

    <div class="mybox">
      <h4><%= t('pages.proposals.show.editors_title') %></h4>

      <div class="mycont">
        <div id="authors_list">
          <%= render :partial => 'proposals/authors_list_panel' %>
        </div>
        <% if signed_in? && @proposal.in_valutation? %>
            <div id="available_author">
              <%= render :partial => 'proposals/available_author' %>
            </div>
            <% if @proposal.users.include?(current_user) %>
                <% if @proposal.available_authors.count > 0 %>
                    <%= link_to t('pages.proposals.show.available_editors_button'), {:controller => "proposals", :action => "available_authors_list", :group_id => params[:group_id]}, :remote => true, :class => 'personButton littleText disableButton' %>

                    <div id="available_authors_list_container" title="<%= t('pages.proposals.show.editors_list_title') %>">
                    </div>
                <% end %>
            <% end %>
        <% end %>
      </div>
    </div>

    <br/>

    <% if ::Configuration.proposal_support && !@proposal.private %>
        <div id="support_left_panel_container">
          <%= render :partial => 'proposals/support_left_panel' %>
        </div>
    <% end %>

    <!--
    <h4><%= t('pages.proposals.show.attached_documents') %></h4>
    <%= t('pages.proposals.show.no_document_attached') %>
    -->

    <% unless @proposal.interest_borders.empty? %>
        <div class="mybox">
          <h4><%= t('pages.proposals.show.geographic_boundaries_title') %></h4>

          <div class="mycont">
            <% @proposal.interest_borders.each do |ib| %>
                <div style="margin:5px;" class="ui-state-highlight"><%= ib.description %></div>
            <% end %>
          </div>
        </div>
    <% end %>

    <% unless @proposal.tags.empty? || !::Configuration.folksonomy %>
        <div class="mybox">
          <h4><%= t('pages.proposals.show.tags_title') %></h4>

          <div class="mycont">
            <% @proposal.tags.each do |tag| %>
                <div style="margin:5px;">
                  <a class="ui-state-highlight" href="<%= tag_path tag.text %>"><%= tag.text %></a>
                  x <%= tag.proposals_count %></div>
            <% end %>
          </div>
        </div>
    <% end %>

    <% unless @proposal.closest(@group ? @group.id : nil).empty? %>
        <div class="mybox">
          <h4><%= t('pages.proposals.show.similar_proposals_title') %></h4>

          <div class="mycont">
            <% @proposal.closest.each do |p| %>
                <%= link_to p.title, p %>
                <br/>
            <% end %>
          </div>
        </div>
    <% end %>

    <% if ::Configuration.proposal_categories %>
        <div class="mybox">
          <h4><%= t('pages.proposals.show.category_title') %></h4>

          <div class="mycont">
            <table>
              <tr>
                <td style="vertical-align: middle;">
                  <%= link_to image_tag("proposal_categories/"+@proposal.category.id.to_s + "-22.png", :align => 'middle', :alt => @proposal.category.description, :style => "width:22px;padding-right:2px;"), @group ? group_proposals_path(@group, {:category => @proposal.category.id}) : proposals_path(:category => @proposal.category.id) %>
                </td>
                <td>
                  <%= link_to @proposal.category.description, @group ? group_proposals_path(@group, {:category => @proposal.category.id}) : proposals_path(:category => @proposal.category.id) %>
                </td>
              </tr>
            </table>
          </div>
        </div>
    <% end %>
<% end %>
