<% javascript 'endless_page' %>
<%= render :partial => 'proposals/show_proposal', :locals => { :proposal => @proposal } %>
<%= render :partial => @proposal_comment = ProposalComment.new, :locals => { :button_name => 'Invia risposta' } %> <div id="flash_messages_comments" style="height:20px"></div>
<div id="proposalCommentsContainer">
	<%= render :partial => 'proposals/comments' %>
</div>
<div id="loading_results">
	<span>Commenti precedenti...</span>
</div>


<script>

$(function() {
	//nascondi i pulsanti di valutazione quando vengono cliccati
		$('.voteup-mini').bind('ajax:beforeSend',function(n,xhr) {
			id = $(this).attr('id');
			num = id.replace('voteup-mini','');
			hideRankPanel('rankingpanelcontainer'+num);
		});
		
		$('.votedown-mini').bind('ajax:beforeSend',function(n,xhr) {
			id = $(this).attr('id');
			num = id.replace('votedown-mini','');
			hideRankPanel('rankingpanelcontainer'+num);
		});
		
		$('.voteup').bind('ajax:beforeSend',function(n,xhr) {
			id = $(this).attr('id');
			num = id.replace('voteup','');
			hideRankPanel2($('.handscontainer'));
		});
		
		$('.votedown').bind('ajax:beforeSend',function(n,xhr) {
			id = $(this).attr('id');
			num = id.replace('votedown','');
			hideRankPanel2($('.handscontainer'));
		});
	});
</script>


<script type="text/javascript">
	var retval = false;
	var clicked;
	
	//funzione per la cancellazione di un commento dalla lista
	function hiding(event,id) {
		if (!retval) {
			clicked = $(this);
			if (confirm('Sei sicuro di voler cancellare questo commento?')) {			
				$('#comment'+id).hide(600,function() {
					retval = true;
					clicked.click();
				});
				event.stopPropagation();
				return false;
			}
			event.stopPropagation();
			return false;
		}
		else {
			retval = false;
			return true;
		}
		
	}
</script>


<%content_for :left_panel do%>


<div id="rankleftpanel" class="rankleftpanel">
	<%= render :partial => 'proposals/rank_left_panel' %>	
</div>

	
<div style="height:20px;">	
<g:plusone size="small"></g:plusone>
</div>
<div style="height:20px;width:100px;">
<%=raw facebook_like %>
</div>

<h4>Autori della proposta</h4>
 <div class="blogUserImage">
 		<%@proposal.users.each do |user| %>
       <div class="pcontainer">
	        <div class="MoImg24">
	            <%= user.user_image_tag(24) %>
	        </div>
	        <div class="Mo">
	            <%=raw(user.full_link_to_page) %> (<%=user.rank%>)
	        </div>
	        <div style="clear: both;"></div>
	    </div>
        <%end%>
    </div>
    <div style="clear: both;"></div>
    <br />
<h4>Gruppi in sostegno</h4>
	<%@proposal.groups.each do |group| %>
		<div class="pcontainer">
	        <div class="MoImg24">
	            <%= group.group_image_tag 24%>
	        </div>
	        <div class="Mo">
	            <%=link_to group.name[0..20], group_path(group) %>
	        </div>
	        <div style="clear: both;"></div>
	    </div>
        
        <%end%>
        <%="Nessun gruppo sostiene la proposta" if @proposal.groups.empty?%>
        <%if signed_in?%>
        	<%if !current_user.groups.empty? %>
        	<%=link_to 'Sostieni la proposta', new_proposal_proposal_support_path(@proposal),:remote => true, :class => 'buttonStyle littleText' %>
        	<%end%>
        <%end%>
<h4>Statistiche</h4>
<%if signed_in?%>
<%= link_to 'History', proposal_proposal_histories_path(@proposal), :remote => true, :class=>'buttonStyle littleText'  %>
<%else%>
Esegui il login per visualizzare le statistiche
<%end%>

<h4>Documenti collegati</h4>
Nessun documento allegato alla proposta
<%end%>

<%=content_for :right_panel do%>
	<h4>Proposte attinenti</h4>
	Pannello ancora non disponibile
<%end%>
