<%= content_for :head do %>
    <meta property="og:title" content="<%= @proposal.title %>"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="<%= "#{request.protocol}#{request.host_with_port}#{asset_path("logo120.png")}" %>"/>
    <meta property="og:site_name" content="<%= ENV['APP_LONG_NAME'] %>"/>
    <meta property="og:description" content="<%= @proposal.short_content %>"/>
    <meta property="fb:app_id" content="<%= ENV['FACEBOOK_APP_ID'] %>"/>
    <meta property="article:published_time" content="<%= @proposal.created_at.strftime("%Y/%m/%d") %>">
    <meta property="article:author" content="<%= (@proposal.users.first || @proposal.proposal_lives.first.users.first).fullname %>">
    <meta property="article:section" content="<%= @proposal.category.description %>">
    <meta name="description" content="<%= @proposal.short_content %>">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_API_KEY'] %>&sensor=false"></script>
    <%= javascript_include_tag 'proposals/show' %>
<% end %>

<% if current_user %>
    <%= subscribe_to proposal_path(@proposal) %>
<% end %>
<% @page_title = @proposal.title %>
<script type="text/javascript">
    var nicknames = <%=raw @proposal.is_anonima? ? @proposal.proposal_nicknames.collect{|n|{name: n.nickname, id: n.id, avatar: n.avatar(16), type: 'nickname'}}.to_json.gsub('"','\'') : [] %>;

    $(function () {
        //$('#svgintro').svg({onLoad: drawIntro});
    })
    /*
     function drawIntro(svg) {
     svg.polygon([[10,10],[400,10],[200,200]],
     {fill: 'none', stroke: 'blue', strokeWidth: 2});

    <%#@proposal.comments.each do |c| %>$
     /*svg.circle(200,100,2)*/
    <%#end%>


    /*}*/
    <%if current_user %>
    Airesis.can_participate = <%=can? :participate, @proposal%>;
    Airesis.image_tag = $('<%=j current_user.user_image_tag 32%>');
    Airesis.resource_viewable = true;
    <%end%>

</script>
<!--
<div id="svgintro" style="height:600px;width:600px;">
</div>
-->

<%= render partial: 'proposals/show_proposal' %>

<% if ((can? :participate, @proposal) || (!current_user && !@proposal.private)) && (!@proposal.voting?) %>
    <div id="proposalNewComment" class="blogNewComment">
      <%= render partial: @proposal_comment = ProposalComment.new %>
    </div>
<% else %>
    <div style="height:20px"></div>
<% end %>


<% if @proposal.voting? %>
    <% unless @proposal.is_petition? %>
        <h4><%= t('pages.proposals.show.no_contributes') %></h4>
    <% end %>
<% else %>
    <div id="order_bar">
      <%= render partial: 'proposal_comments/order_bar' %>
    </div>

    <div id="loading_contributes" style="margin:auto;text-align:center;">
      <%= image_tag 'ajax-loader.gif' %>
      <br/>
      <b><%= t('pages.proposals.show.loading_contributions') %></b>
    </div>
    <div id="proposalCommentsContainer">

    </div>

    <div id="loading_results" style="display:none;">
      <span><%= t('pages.proposals.show.previos_contributes') %></span>
    </div>


    <%= render partial: 'report_contribute' %>

<% end %>

<script type="text/javascript">
    var currentView = <%=current_user ? 1 : 3 %>;


    function edit_contribute(id) {
        close_all_dropdown();
        $.ajax({
            dataType: 'script',
            type: 'get',
            url: '/proposals/<%=@proposal.id%>/proposal_comments/' + id + '/edit'
        });
        return false;
    }

    function history_contribute(id) {
        close_all_dropdown();
        $.ajax({
            dataType: 'script',
            type: 'get',
            url: '/proposals/<%=@proposal.id%>/proposal_comments/' + id + '/history'
        });
        return false;
    }


    var retval = false;

    function close_all_dropdown() {
        $('.f-dropdown').foundation('dropdown', 'close', $('.f-dropdown'));
    }

    function report_contribute(id) {
        $('#report_contribute_id').val(id);
        $('input[name=reason]').removeAttr('checked');
        $('#report_contribute').foundation('reveal', 'open');
        close_all_dropdown();
    }

    function hide_vote_controls() {
        //nascondi i pulsanti di valutazione quando vengono cliccati
        $('.vote_comment').bind('ajax:beforeSend', function (n, xhr) {
            $(this).parent().find('.vote_comment').hide();
            $(this).parent().find('.loading').show();

        });

        $('.votedown-mini').bind('ajax:beforeSend', function (n, xhr) {
            var num = $(this).data('id');
            $(this).parent().find('.vote_comment').hide();
            $(this).parent().find('.loading').show();
            $('.reply_textarea[data-id=' + num + ']').focus().attr('placeholder', 'Indica il motivo della tua valutazione negativa').effect('highlight', {}, 3000);
        });

    }

    function checkScroll() {
        <%unless @proposal.voting? %>
        if (nearBottomOfPage() && checkActive) {
            checkActive = false;
            currentPage++;
            $.ajax({ url: '<%=list_proposal_proposal_comments_url(@proposal) %>',
                data: {page: currentPage,
                    view: currentView,
                    contributes: contributes
                },
                type: 'get'});
        } else {
            setTimeout("checkScroll()", 250);
        }
        <%end%>
    }


    function open_right_contributes(_this, comment_id) {
        var section_id = _this.attr("data-section_id");
        _this.attr("data-status", 1);
        $('#suggest').show();
        _this.parent().find(".tria").show();
        _this.parent().addClass("sel");
        $('.text', _this).text('<%=j t('pages.proposals.show.close_contribute')%>');
        hideLeftPanel();
        var fetched = $('.suggestion_right[data-section_id=' + section_id + ']');
        fitRightMenu(fetched);
        $('.suggestion_right[data-section_id=' + section_id + ']').fadeIn();
        _this.next().show();

        if (comment_id) {
            console.log('opening and already fetched. id: ' + comment_id);
            var comment_ = $('#comment' + comment_id + ' .proposal_comment');
            fetched.animate({
                scrollTop: comment_.offset().top - 100
            }, 2000);
            comment_.effect('highlight', {}, 3000);
        }


    }


    function close_right_contributes(_this) {
        console.log('closing contributes');
        var section_id = _this.attr("data-section_id");
        _this.attr("data-status", 2);
        $('.suggestion_right[data-section_id=' + section_id + ']').hide();
        _this.parent().find(".tria").hide();
        $('.text', _this).text('<%=j t('pages.proposals.show.give_contribute')%>').append(" (" + _this.attr('data-unread_contributes_num') + "/" + _this.attr('data-contributes_num') + ")");
        $('#menu-left').removeClass('contributes_shown');
        $('#centerpanelextended').removeClass('contributes_shown');
        $('.suggestion_right[data-section_id=' + section_id + ']').removeClass('contributes_shown');
        _this.next().hide();
    }

    $(function () {
        //$('#centerpanelextended').css('max-width', '800px');

        <%unless @proposal.voting? %>
        currentPage++;
        $.ajax({ url: '<%=list_proposal_proposal_comments_url(@proposal) %>',
            data: {page: currentPage,
                view: currentView,
                contributes: contributes,
                comment_id: <%=params[:comment_id] || 'null'%>  //show contribute if requested
            },
            type: 'get',
            complete: function () {
                $("#loading_contributes").hide();
            }
        });
        <%end%>

        <%= render partial: 'show_tooltips' %>

        //0 - not fetched - closed
        //1 - fetched - open
        //2 - fetched - closed
        $(".contribute-button").click(function (event, comment_id) { //when we click on show contributes button
            var this_ = $(this);
            var section_id = $(this).attr("data-section_id");
            var this_status = $(this).attr("data-status");

            $(".contribute-button").each(function () {
                var his_status = $(this).attr("data-status");
                var his_section_id = $(this).attr("data-section_id");
                if (this_[0] != this) {     //for each right panel that is not the opened one
                    if (his_status == 1) {
                        $(this).attr("data-status", 2);
                        $('.suggestion_right[data-section_id=' + his_section_id + ']').hide();  //hide it
                        $(this).parent().find(".tria").hide();
                        $('.text', this).text('<%=j t('pages.proposals.show.give_contribute')%>').append(" (" + $(this).attr('data-unread_contributes_num') + "/" + $(this).attr('data-contributes_num') + ")");

                        $(this).next().hide();  //and hide what comes next...i don't know really...
                    }
                }
            });

            $(".suggest .tria").hide();
            $(".suggest").removeClass("sel");
            if (this_status == 0) { //closed and never fetched
                $(this).attr("data-status", 1);
                $('#suggest').show();
                $(this).parent().find(".tria").show();
                $(this).parent().addClass("sel");
                $('.text', this).text('<%=j t('pages.proposals.show.close_contribute')%>');
                hideLeftPanel();
                var fetched = $('<div data-section_id="' + section_id + '"class="suggestion_right"></div>');


                fetched.append('<div style="margin:auto;text-align:center;"><%= image_tag 'ajax-loader.gif' %><br/><b><%= t('pages.proposals.show.loading_contributions') %></b></div>');


                $('#centerpanelextended').append(fetched);
                fitRightMenu(fetched);

                $(this).next().show();

                $.ajax({ url: '<%=left_list_proposal_proposal_comments_url(@proposal) %>',
                    data: {
                        comment_id: comment_id, section_id: section_id,
                        disable_limit: true,
                        view: <%=current_user ? 1 : 3 %>
                    },
                    type: 'get',
                    complete: function () {
                        $(".loading", fetched).hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $(".loading", fetched).hide();
                        if (xhr.status == '404') {
                            $(fetched).html('<%=t('pages.proposals.show.error_loading_paragraph')%>');
                        }
                    }
                });

                $('.suggestion_right')
                        .bind('mousewheel DOMMouseScroll', function (e) {
                            if (e.originalEvent) e = e.originalEvent;
                            var delta = e.wheelDelta || -e.detail;
                            this.scrollTop += ( delta < 0 ? 1 : -1 ) * 30;
                            e.preventDefault();
                        });

            }
            else if (this_status == 2) { //closed and fetched
                open_right_contributes($(this), comment_id);
            }
            else {   //status == 1  //fetched and open
                if (comment_id != null) {
                    var comment_ = $('#comment' + comment_id + ' .proposal_comment');
                    var section_id = $(this).attr("data-section_id");
                    $('.suggestion_right[data-section_id=' + section_id + ']').scrollTop(0);
                    $('.suggestion_right[data-section_id=' + section_id + ']').animate({
                        scrollTop: comment_.offset().top - 100
                    }, 2000);
                    comment_.effect('highlight', {}, 3000);
                }
                else {
                    close_right_contributes($(this));
                }
            }
            return false;
        });

        //open the contribute if it's a link from an email
        <%if params[:section_id] %>
        $('.contribute-button[data-section_id=<%=params[:section_id]%>]').trigger('click', [<%=params[:comment_id]%>]);
        <%end%>

        <%if params[:share] %>
        $('#promote_proposal').click();
        <%end%>

        <%if @proposal.voted? %>
        $('.results-button')[0].click();
        <%end%>

        var creationDate = new Date(<%=(@proposal.created_at).to_i * 1000%>);
        $('.date_creation').each(function() {
            $(this).countdown($.extend({
                        since: creationDate,
                        significant: 1,
                        format: 'YODHMS',
                        layout: '{y<}{yn} {yl}{y>} {o<}{on} {ol}{o>} {d<}{dn} {dl}{d>} {h<}{hn} {hl}{h>} {m<}{mn} {ml}{m>}'},
                    $.countdown.regionalOptions['<%=I18n.locale%>']));
        });

        var updateDate = new Date(<%=(@proposal.updated_at).to_i * 1000%>);
        $('.date_update').countdown($.extend({
                    since: updateDate,
                    significant: 1,
                    format: 'YODHMS',
                    layout: Airesis.i18n.countdown2},
                $.countdown.regionalOptions['<%=I18n.locale%>']));
        <%if @proposal.quorum.ends_at %>
        var endsDate = new Date(<%=(@proposal.quorum.ends_at).to_i * 1000%>);
        $('#end_debate').countdown($.extend({
                    until: endsDate,
                    significant: 3,
                    onExpiry: reload_proposal,
                    description: '<%=l @proposal.quorum.ends_at%>'},
                $.countdown.regionalOptions['<%=I18n.locale%>']));
        <%end%>
        <%if @proposal.proposal_state_id == ProposalState::VOTING%>
        var endsVote = new Date(<%=(@proposal.vote_period.endtime).to_i * 1000%>);
        $('.end_vote').countdown($.extend({
                    until: endsVote,
                    significant: 3,
                    description: '<%=l @proposal.vote_period.endtime%>'},
                $.countdown.regionalOptions['<%=I18n.locale%>']));
        <%end%>
    });



    function reload_proposal() {
        <%=reload_message %>
    }
</script>


<% content_for :left_panel do %>
    <%= render 'proposals/left_panel' %>
<% end %>

