<%@page_title = t('frm.general.forum')%>
<% if can?(:read, forum) %>
  <tr class="forum <%= cycle("odd", "even") %>">
    <td class="forum-description">
      <%= link_to forum.title, group_forum_url(@group,forum), :class => "title" %>
      <div class='description'><%= forem_format(forum.description) %></div>

    </td>
    <td class="topics-count"><%= topics_count(forum) %></td>
    <td class="posts-count"><%= posts_count(forum) %></td>
    <td class="views-count"><%= forum.views_count %></td>
    <td class="last-post">
      <span class='last_post'>
        <% if last_post = forum.last_post_for(current_user) -%>
          <%= link_to(last_post.topic.subject, group_forum_topic_url(@group,forum, last_post.topic)) -%> <%= t('by') %> <%= last_post.user %>
            <br/>
            <time datetime="<%= last_post.created_at.to_s(:db) -%>"><%= "#{time_ago_in_words(last_post.created_at)}" %></time>
        <% else %>
          <%= t('frm.forums.index.none') -%>
        <% end %>
      </span>
    </td>
  </tr>
<% end %>
