<div id='forum'>
  <ul class="breadcrumbs">
    <li><%= link_to t('frm.forum.forums'), group_forums_url(@group) %></li>
    <li><%= link_to forum.category, group_frm_category_url(@group, forum.category) %></li>
    <li class="current"><%= link_to forum.title, group_forum_url(@group, forum) %></li>
  </ul>
  <h2><%= forum.title %></h2>


  <div id='forum_topic_links' class='btn-group'>
    <% unless @topic.try(:new_record?) %>
        <% if can? :create_topic, @forum %>
            <%= link_to t('frm.topic.links.new'), new_group_forum_topic_url(@group, forum), class: "btn blue disable newButton", data:{disable_with: t('loading')} %>
        <% end %>
    <% end %>

  </div>

  <div class='forum_title'>
    <h2><%= forem_format(forum.description) %></h2>
  </div>
</div>

<% content_for :left_panel do %>
    <% if @topic %>
        <%= link_to t('frm.topic.links.back_to_topics'), group_forum_url(@group, forum), class: "btn historyButton" %>
    <% end %>
    <% if can? :moderate, @forum %>
        <%= link_to t('frm.forum.moderator_tools'), group_frm_forum_moderator_tools_url(@group, forum), class: "btn flagButton" %>
    <% end %>
<% end %>