<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @sys_feature.title %>
</p>

<p>
  <b>Description:</b>
  <%= @sys_feature.description %>
</p>

<p>
  <b>Amount required:</b>
  <%= @sys_feature.amount_required %>
</p>

<p>
  <b>Amount received:</b>
  <%= @sys_feature.amount_received_calc %>
</p>
<p>
  <b>Image:</b>
  <%= image_tag @sys_feature.image.url(:medium) %>
</p>
<%= sys_feature_paypal_url(@sys_feature) %>|
<%= link_to 'Edit', edit_admin_sys_feature_path(@sys_feature) %> |
<%= link_to 'Back', admin_sys_features_path %>
