<div title="<%= t('pages.proposal_supports.new.panel_title') %>" id="proposal_support" style="display: none;">
  <% @available_groups = current_user.scoped_groups(GroupAction::PROPOSAL, @proposal.presentation_groups) %>
  <% if @available_groups.empty? %>
      <%= t('pages.proposal_supports.new.no_available_groups') %>
  <% else %>
      <%= form_for [@proposal, @proposal_support], :remote => true do |f| %>
          <% @available_groups.each do |group| %>
              <%= check_box_tag "proposal[group_ids][]", group.id %>
              <%= f.label group.name %>
              <br/>
          <% end %>
          <%= f.submit t('pages.proposal_supports.confirm_button'), :class => 'buttonStyle' %>
      <% end %>
  <% end %>
</div>