<p xmlns="http://www.w3.org/1999/html">
  Ciao <%= @name %>,<br/>
  l'associazione di promozione
  sociale <%= link_to 'Tecnologie Democratiche', 'http://www.tecnologiedemocratiche.it/?utm_campaign=nuoveadesioni&utm_medium=email&utm_source=nl_airesis_29' %>
  che cura lo sviluppo di Airesis è in difficoltà.<br/>
  Il suo team di volontari ha appena rilasciato la versione 2.9 imboccando la strada
  verso <%= link_to "l'internazionalizzazione", 'http://www.airesis.eu/?utm_campaign=nuoveadesioni&utm_medium=email&utm_source=nl_airesis_29' %>
  e attualmente sta lavorando incessantemente per poter rilasciare la Versione 3.0 con importanti novità quali:
<ul>
  <li>Forum fruibile anche via email
    (<%= link_to 'anteprima', 'https://docs.google.com/file/d/0B1Izc52GdOrRR2NEYWh4OW9KYnc/edit?usp=drive_web' %>)
  </li>
  <li>Modulo di proposta "Scelta di un candidato"
    (<%= link_to 'anteprima', 'https://docs.google.com/file/d/0B1Izc52GdOrRMlYwbFFzVml3Uzg/edit?usp=drive_web' %>)
  </li>
  <li>Guida interattiva
    (<%= link_to 'anteprima 1', 'https://docs.google.com/file/d/0B1Izc52GdOrRQ3UyNHB6MW0ydGc/edit?usp=drive_web' %>
    , <%= link_to 'anteprima 2', 'https://docs.google.com/file/d/0B1Izc52GdOrRZnZoVlI3aTh5WTg/edit?usp=drive_web' %>)
  </li>
  <li>Possibilità di commentare eventi in calendario come su meetup
    (<%= link_to 'anteprima', 'https://docs.google.com/file/d/0B1Izc52GdOrRSzl0TTk5OWQ4WUU/edit?usp=drive_web' %>)
  </li>
  <li>Nuova lista proposte arricchita da filtri combinabili e barra di ricerca
    (<%= link_to 'anteprima', 'https://docs.google.com/file/d/0B1Izc52GdOrRRG1HWThyMjZXSHc/edit?usp=drive_web' %>)
  </li>
  <li>Statistiche utente
    (<%= link_to 'anteprima', 'https://docs.google.com/file/d/0B1Izc52GdOrReDdQYTIyT2NaMHc/edit?usp=drive_web' %>)
  </li>
  <li>Funzionalità di citazione “@cite” nelle discussioni
    (<%= link_to 'anteprima', 'https://docs.google.com/file/d/0B1Izc52GdOrRbkRtMW4xMjgycFE/edit?usp=drive_web' %>)
  </li>
  <li>Impostazione della data di votazione durante la creazione delle proposte
    (<%= link_to 'anteprima', 'https://docs.google.com/file/d/0B1Izc52GdOrRZUp1Rk9VaUd0SU0/edit?usp=drive_web' %>)
  </li>
  <li>Nuovo nuovo editor avanzato per la creazione di proposte e blog
    (<%= link_to 'anteprima', 'https://docs.google.com/file/d/0B1Izc52GdOrRV0ZJa2FjWUxRXzA/edit?usp=drive_web' %>)
  </li>
  <li>Nuova bacheca di gruppo con riquadri informativi sulle attività recenti
    (<%= link_to 'anteprima', 'https://docs.google.com/file/d/0B0mabVhVw7EiSzNlWFRpZmo5OVE/edit?usp=drive_web' %>)
  </li>
</ul>
</p>
<p>
  L'associazione, indipendente e senza fini di lucro, ha sempre lavorato allo sviluppo di Airesis in base alle esigenze
  e alle segnalazioni di voi che lo utilizzate,
  sostenendosi mediante le donazioni. Attualmente però le nostre possibilità sono limitate dalla scarsità del
  budget a disposizione.
</p>
<p>
<h2>
  Perchè sostenerci?
</h2>
<ul>
  <li>Per promuovere in Italia e nel mondo una democrazia basata sulla partecipazione, la trasparenza, l'equità e il
    dialogo costruttivo possibile oggi grazie alle nuove tecnologie
  </li>
  <li>Per poter sostenere i costi di sviluppo e di mantenimento del server e dei domini (it, eu, fr, de, cn)</li>
  <li>Per permettere che il progetto rimanga indipendente e libero</li>
  <li>Per mantenere la fruizione del software gratuita</li>
</ul>
</p>
<p>
<h2>Come sostenerci?</h2>
<ul>
  <li><%= link_to 'Sostienici mediante una donazione libera', 'http://www.tecnologiedemocratiche.it/it/sostienici?utm_campaign=nuoveadesioni&utm_medium=email&utm_source=nl_airesis_29' %></li>
  <li><%= link_to 'Diventa socio di Tecnologie Democratiche', 'http://www.tecnologiedemocratiche.it/it/iscrizioni?utm_campaign=nuoveadesioni&utm_medium=email&utm_source=nl_airesis_29' %></li>
  <li><%= link_to 'Dedica il tuo tempo e metti le tue conoscenze a servizio del progetto', 'https://docs.google.com/forms/d/1UJXAIaLYp73XRr_BfvOG-V4Yw9Xf9K0eARNGevtyE1M/viewform' %></li>
</ul>
</p>
<p>
  Ti ricordiamo che il progetto persegue esclusivamente finalità di promozione sociale, si sostiene esclusivamente
  tramite le donazioni ed il suo team è composto essenzialmente da volontari.<br/>
  Prendi l'iniziativa, aiutaci a far sapere che una piattaforma vera per la democrazia partecipativa non è solo un'utopia, non si deve attendere ulteriormente...è pronta, è matura, è gratuita ed è
  operativa <%= link_to 'QUI', 'http://www.airesis.it/?utm_campaign=nuoveadesioni&utm_medium=email&utm_source=nl_airesis_29' %>
  ed ORA! Attende solo di essere usata e si chiama Airesis!
</p>
<p>
  Ti aspettiamo! Il tuo contributo può fare la differenza!
</p>
<p>
  Lo staff di Airesis<br/>
  <%= mail_to 'info@airesis.it' %>
</p>

