<p xmlns="http://www.w3.org/1999/html">
  Ciao <%= @name %>,
  in base al successo ottenuto
  dal <%= link_to 'BREVE SONDAGGIO', 'https://docs.google.com/forms/d/1aSxtqYg3ei7NENyCE94fzxF6JcqnCzvJyL0kTetygWk/viewform', target: '_blank' %>
  indetto nell'ultima Newsletter e
  alle <%= link_to 'scelte espresse dalla comunità di Airesis', 'https://docs.google.com/forms/d/1aSxtqYg3ei7NENyCE94fzxF6JcqnCzvJyL0kTetygWk/viewanalytics', target: '_blank' %>
  abbiamo apportato importanti modifiche allo strumento proposte al fine di migliorarne l'usabilità.
</p>
<p>
  Ora infatti è possibile:
<ul>
  <li>consultare la <%= link_to 'Guida', 'http://www.google.com/url?q=http%3A%2F%2Fbugtracking.airesis.it%2Fprojects%2Fairesis%2Fwiki%2FHome_Page&sa=D&sntz=1&usg=AFQjCNGa46XjEufixY7ALyk29GNqrqRalQ' %> e le <%= link_to 'FAQ', 'http://www.google.com/url?q=http%3A%2F%2Fbugtracking.airesis.it%2Fprojects%2Fairesis%2Fwiki%2FFAQ&sa=D&sntz=1&usg=AFQjCNGZJeANRgq4we9SZe5TJwcpI6M2gw' %> e partecipare al loro miglioramento</li>
  <li>creare due nuovi modelli di proposte: proposta semplice e elezioni</li>
  <li>discutere la proposta per paragrafo in modo da aumentare la chiarezza e nel contempo facilitare il compito del
    redattore.
  </li>
  <li>ripristinare una proposta abbandonata, ossia che non ha superato il quorum di dibattito</li>
  <li>discutere le proposte in tempo reale senza bisogno di aggiornare la pagina</li>
  <li>gestire eventi nel calendario in maniera più intuitiva e semplice</li>
  <li>possibilità di inserire e modificare il regolamento del gruppo</li>
  <li>richiedere siti personali per le istituzioni</li>
  <li>ritirarsi dalla redazione di una proposta</li>
</ul>
</p>
<p>
  Inoltre stiamo lavorando per implementare:
<ul>
  <li>L'internazionalizzazione del sito in inglese, francese, tedesco, spagnolo e portoghese</li>
  <li>Lo strumento forum</li>
  <li>Upload di documenti e immagini dallo strumento proposte</li>
  <li>Grafici per le statistiche utenti visibili nella pagina personale</li>
</ul>
</p>
<p>
Se vuoi conoscere in dettaglio tutte le novità introdotte e anche quelle che stiamo sviluppando, dai un'occhiata alla <%= link_to 'Roadmap', 'http://www.google.com/url?q=http%3A%2F%2Fwww.airesis.it%2Froadmap&sa=D&sntz=1&usg=AFQjCNHKG30Q0rlXIqnB5AZFEqBc90q8QQ' %> di Airesis!
</p>
<p>

Il nostro team è da sempre concentrato sullo sviluppo del software e, visto il carattere totalmente volontario dell'iniziativa, non disponiamo di mezzi economici sufficienti per divulgare più ampiamente la piattaforma. Se credi che il nostro progetto meriti più visibilità ti preghiamo di farlo conoscere... aiuterai la democrazia a crescere.
</p>
<p>
  Lo staff di Airesis<br/>
  <%= mail_to 'info@airesis.it'%>
</p>


