<% @newsletters.each do |newsletter| %>
    <div class="card">
      <div class="row">
        <div class="columns">
          <%= newsletter.subject %>
          <%= sanitize truncate_html(newsletter.body, length: 100, omission: '...') %>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <%= render 'publish_form', newsletter: newsletter %>
        </div>
      </div>
      <%= link_to t('buttons.edit'), edit_admin_newsletter_path(newsletter), class: 'btn' %>
      <%= link_to t('buttons.show'), admin_newsletter_path(newsletter), class: 'btn' %>
      <%= link_to t('buttons.preview'), preview_admin_newsletter_path(newsletter), class: 'btn' %>
    </div>
<% end %>

<%= link_to t('buttons.new_newsletter'), new_admin_newsletter_path, class: 'btn blue' %>
