<% @host = @resource.original_locale.host %>
<% @subdomain = @resource.subdomain %>
<% if @subdomain %>
    <% @host = [@subdomain, @host.gsub('www', '')].join %>
<% end %>
<% @url = user_confirmation_url(confirmation_token: @token, host: @host, l: @resource.original_locale.lang) %>

<p><%= t('devise.mailer.confirmation_instructions.welcome', {app_name: ENV['APP_SHORT_NAME'], user: @resource.fullname}) %></p>

<p><%= t('devise.mailer.confirmation_instructions.follow_link') %></p>

<p><%= link_to t('devise.mailer.confirmation_instructions.confirm_account'), @url %></p>

<p><%= t('devise.mailer.confirmation_instructions.follow_link_2') %></p>

<p><%= link_to @url, @url %></p>

<p><%= t('devise.mailer.confirmation_instructions.access_by_email', {app_name: ENV['APP_SHORT_NAME']}) %></p>

<p><%= t('devise.mailer.confirmation_instructions.contact_assistance', {mail: APP_EMAIL_ADDRESS}) %></p>