<% @host = @resource.original_locale.host %>
<% @subdomain = @resource.subdomain %>
<% if @subdomain %>
    <% @host = [@subdomain, @host.gsub('www', '')].join %>
<% end %>
<% @url = edit_password_url(@resource, reset_password_token: @token, host: @host, l: @resource.original_locale.lang) %>

<p><%= t('devise.mailer.reset_password_instructions.hi_user', {user: @resource.fullname}) %> </p>

<p><%= t('devise.mailer.reset_password_instructions.follow_link') %></p>

<p><%= link_to t('devise.mailer.reset_password_instructions.change_password'), @url %></p>

<p><%= t('devise.mailer.confirmation_instructions.follow_link_2') %></p>

<p><%= link_to @url, @url %></p>


<p><%= t('devise.mailer.reset_password_instructions.ignore') %></p>
<p><%= t('devise.mailer.reset_password_instructions.password_will_not_change') %></p>
<p><%= t('devise.mailer.confirmation_instructions.contact_assistance', {mail: APP_EMAIL_ADDRESS}) %></p>
