<fieldset>
  <legend><%= 'Certify a group' %></legend>
  <%= form_for admin_certifications_path do |f| %>
      <%= label_tag 'group_id', 'Group' %>   <br/>
      <%= text_field_tag "group_id" %>           <br/>
      <%= label_tag 'domain', 'Subdomain' %>   <br/>
      <%= text_field_tag "domain", '', required: true %>  <br/>
      <%= submit_tag 'Certify it!', class: 'btn blue' %>
  <% end %>
</fieldset>

<script type="text/javascript">
    function format(state) {
        if (!state.id) return state.text; // optgroup
        return state.image_path + state.identifier;
    }

    $("#group_id").select2({
        containerCssClass: "user_auto",
        ajax: {
            url: "<%= autocomplete_groups_url %>",
            data: function (term, page) {
                return {"term": term}
            },
            results: function (data, page) {
                return {results: data};
            }
        },
        templateResult: format,
        templateSelection: format
    });
</script>

<h4><%= t('pages.certifications.index.title') %></h4>
<table>
  <% Group.where(certified: true).each do |group| %>
      <tr>
        <td><%= link_to group.name, group_url(group) %></td>
        <td><%= link_to 'Remove', admin_certification_path(group.id),
                        method: :delete,
                        confirm: 'Are you sure?',
                        data: {disable_with: t('loading')},
                        class: 'btn' %></td>
      </tr>
  <% end %>
</table>
