<h1><%= t('forem.admin.area') %></h1>

<p>
  <%= t('forem.admin.welcome') %>
</p>

<ul>
  <li><%= link_to t('forem.admin.forum.index'), group_frm_admin_forums_url(@group), class: 'btn' %> </li>
  <li><%= link_to t('forem.admin.category.index'), group_frm_admin_categories_url(@group), class: 'btn' %></li>
  <li><%= link_to t('forem.admin.group.index'), group_frm_admin_groups_url(@group), class: 'btn' %></li>
</ul>

<br>
<footer id='admin_link'>
  <%= link_to t(:back_to_forums, :scope => 'forem.admin'), group_forums_url(@group), class: 'btn' %>
</footer>