<% @page_title = "#{@group.name} - #{t('frm.admin.area')}" %>
<div class="card">
  <h1><%= t('frm.admin.area') %></h1>
  <br/>
  <%= link_to t('frm.admin.category.index'), group_frm_admin_categories_url(@group), class: 'btn blue' %>
  <%= link_to t('frm.admin.forum.index'), group_frm_admin_forums_url(@group), class: 'btn blue' %>
  <%= link_to t('frm.admin.mod.index'), group_frm_admin_mods_url(@group), class: 'btn blue' %> <br/>
  <hr/>
  <div id='admin_link'>
    <%= link_to group_forums_url(@group), class: 'btn' do %>
        <%= t('back_to_forums') %>
        <i class="fa fa-arrow-right"></i>
    <% end %>
  </div>
</div>

<%= content_for :left_panel do %>
    <%= render 'groups/administration_panel' %>
<% end %>
