<div id="new_invitation" title="Invita i tuoi amici nel gruppo!" style="display: none; font-size: 14px;">
<%= form_for @group_invitation, :html => {:class=>"disableForm"}, :remote => true do |f| %>

  <div class="field">
    <%= f.label :emails_list %><br />
    <%= f.text_field :emails_list %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :testo, placeholder: "Testo da inviare (opzionale)", style: "width:400px;height:100px;" %>
  </div>

  <div class="actions">
    <%= f.hidden_field :group_id%>
    <%= f.submit 'Invita', class: "inviteButton" %>
  </div>
<% end %>
</div>


<script type="text/javascript">
  $(function() {
      $('#group_invitation_emails_list').tokenInput([], {
          theme: "facebook",
          crossDomain: false,
          allowCustomEntry: true,
          hintText: "Digita gli indirizzi email separati da virgola",
          searchingText: "Digita gli indirizzi email separati da virgola",
          invalidTokenText: "Indirizzo email non valido",
          preventDuplicates: true,
          tokenValidation: function(item) {
              var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
              return re.test(item.name);
          },
          invalidCharacters: [" "]
      });
  });
</script>