<% if @frm_groups.empty? %>
    <h4><%= t('pages.forum_groups.index.create_first') %></h4>
<% else %>
    <table id='groups' class='index table table-striped' cellspacing='0'>
      <thead>
      <tr>
        <th><%= t('name', scope: 'frm.admin.groups') %></th>
        <th><%= t('edit', scope: 'frm.admin.groups') %></th>
        <th><%= t('delete', scope: 'frm.admin.groups') %></th>
      </tr>
      </thead>
      <tbody>
      <% @frm_groups.each do |group| %>
          <tr>

            <td>
              <%= link_to group.name, group_frm_admin_frm_group_url(@group, group) %> <br/>
              <% group.members.each do |member| %>
                  <%= member.user_image_tag 20 %>
              <% end %>
            </td>
            <td>
              <%= link_to group_frm_admin_frm_group_url(@group, group), class: 'btn' do %>
                  <i class="fa fa-pencil"></i>
                  <%= t('edit', scope: 'frm.admin.groups') %>
              <% end %>
            </td>
            <td>
              <%= link_to group_frm_admin_frm_group_url(@group, group), method: :delete, data: {confirm: t('confirm_delete')}, class: 'btn' do %>
                  <i class="fa fa-trash-o"></i>
                  <%= t('delete', scope: 'frm.admin.groups') %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
