<ul class="breadcrumbs">
  <li><%= link_to t('pages.groups.administration_panel.forum'), group_frm_admin_root_url(@group) %></li>
  <li><%= link_to t('frm.admin.group.index'), group_frm_admin_frm_groups_url(@group) %></li>
  <li class="current"><%= @frm_group.name %></li>
</ul>

<div class="row">
  <label><%= t('.add_a_new_member') %></label>
  <%= form_tag add_group_frm_admin_frm_group_members_url(@group, @frm_group), remote: true do %>
      <p>
        <%= text_field_tag "frm_user_id" %>
      </p>

      <p class="span1">
        <%= submit_tag t('.add_member'), class: "btn blue", data:{disable_with: t('loading')} %>
      </p>
  <% end %>
</div>

<div id="group_members_container">
  <%= render partial: 'group_members' %>
</div>

<script>
    function format(state) {
        if (!state.id) return state.text; // optgroup
        return state.image_path + state.identifier;
    }

    $("#frm_user_id").select2({
        containerCssClass: "user_auto",
        ajax: {
            url: "<%= group_user_autocomplete_url(@group) %>",
            data: function (term, page) {
                return { "term": term }
            },
            results: function (data, page) {
                return { results: data };
            }
        },
        formatResult: format,
        formatSelection: format
    });
</script>


<%= content_for :left_panel do %>
    <%= render partial: 'groups/administration_panel' %>
<% end %>
