<h1>Listing sys_features</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Amount required</th>
    <th>Amount received</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sys_features.each do |sys_feature| %>
  <tr>
    <td><%= sys_feature.title %></td>
    <td><%= sys_feature.description %></td>
    <td><%= sys_feature.amount_required %></td>
    <td><%= sys_feature.amount_received %></td>
    <td><%= link_to 'Show', sys_feature %></td>
    <td><%= link_to 'Edit', edit_sys_feature_path(sys_feature) %></td>
    <td><%= link_to 'Destroy', sys_feature, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sys feature', new_sys_feature_path %>
