<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @sys_feature.title %>
</p>

<p>
  <b>Description:</b>
  <%= @sys_feature.description %>
</p>

<p>
  <b>Amount required:</b>
  <%= @sys_feature.amount_required %>
</p>

<p>
  <b>Amount received:</b>
  <%= @sys_feature.amount_received_calc %>
</p>

<%= @sys_feature.paypal_url(sys_feature_url(@sys_feature),sys_payment_notifications_url) %>|
<%= link_to 'Edit', edit_sys_feature_path(@sys_feature) %> |
<%= link_to 'Back', sys_features_path %>
