<tr>

  <td class="user_post" rowspan="2">
    <a name='post-<%= post.id %>'></a>

    <div id='post_<%= post_counter + 1 %>' class='post <%= cycle('odd', 'even') -%> span10'>
      <% if post.pending_review? %>
          <div class='moderation alert'>
            <%= t(".pending_review") %>
            <% if forem_admin_or_moderator?(post.topic.forum) %>
                <% if local_assigns[:mass_moderation] %>
                    <%= render "/frm/posts/moderation_tools", :post => post %>
                <% else %>
                    <%= form_tag group_frm_forum_moderate_posts_url(@group, forum), :method => :put do %>
                        <%= render "/frm/posts/moderation_tools", :post => post %>
                    <% end %>
                <% end %>
            <% end %>
          </div>
      <% end %>
    </div>
    <div class='user span2'>
      <div class='icon'><%= post.user.user_image_tag 100 %></div>
      <div class='username'>
        <%= link_to post.user.fullname, post.user %>
      </div>
    </div>
  </td>
  <td>
    <div class="post-header">
      <a href='#post-<%= post.id %>'>
        <div class="post-when">
          <time datetime="<%= post.created_at.to_s(:db) -%>"><%= "#{time_ago_in_words(post.created_at)}" %></time>
          <% if post.reply_to %>
            <span class='in-reply-to'>
              <%= link_to "#{t(".in_reply_to")} #{post.reply_to.user}", "#post-#{post.reply_to.id}" %>
            </span>
          <% end %>
        </div>
        <% if current_user %>
            <div class='btn-group'>
              <% if can?(:reply, post.topic) %>
                  <% if post.topic.can_be_replied_to? %>
                      <%= link_to t('reply', :scope => 'frm.topic'), new_group_forum_topic_post_url(@group, post.topic.forum, post.topic, :reply_to_id => post.id) %>
                      <%= link_to t('quote', :scope => 'frm.topic'), new_group_forum_topic_post_url(@group, post.topic.forum, post.topic, :reply_to_id => post.id, :quote => true) %>
                  <% end %>
              <% end %>
              <% if post.owner_or_admin?(current_user) %>
                  <% if can?(:edit_post, post.topic.forum) %>
                      <%= link_to t('edit', :scope => 'frm.post'), edit_group_forum_topic_post_url(@group, post.topic.forum, post.topic, post) %>
                  <% end %>
                  <%= link_to t('delete', :scope => 'frm.topic'), group_forum_topic_post_url(@group, post.topic.forum, post.topic, post), :method => :delete, data: {:confirm => t("are_you_sure")} %>
              <% end %>
            </div>
        <% end %>

      </a>
    </div>
  </td>
</tr>
<tr>
  <td class="post_content">
    <div class="post-body">
      <%=sanitize post.text %>
    </div>

  </td>
</tr>

