<%= render partial: 'frm/forums/head', locals: { forum: @topic.forum } %>

<% if @reply_to_post %>
<h2><%= t("frm.post.new") %></h2>
  <div class='row'>
    <%= render 'reply_to_post', post: @reply_to_post %>
  </div>
<% else %>
  <h3 class='topic_subject'>
    <%= @topic.subject %>
  </h3>
<% end %>

<%= simple_form_for @post, url: group_forum_topic_posts_url(@group,@topic.forum, @topic) do |f| %>
  <%= render partial: "form", locals: { f: f } %>
  <%= f.submit t("frm.post.buttons.reply"), class: "btn blue" %>
<% end %>
