<div class="slide red">
  <div class="row full-width">
    <div class="large-3 columns">
      <div class="image_volontario">
        <%= image_tag image, :width => 150 %>
      </div>
      <div>

        <%= yield :contacts %>

        <a href="skype:coorasse?add"><img src="http://download.skype.com/share/skypebuttons/buttons/add_green_transparent_118x23.png" style="border: none;" width="118" height="23" alt="Aggiungimi a Skype"/></a><br/>
        <a href="//plus.google.com/105378296770624698158?prsrc=3" rel="publisher" style="text-decoration:none;display:inline-block;color:#333;text-align:center; font:13px/16px arial,sans-serif;white-space:nowrap;">
          <span style="display:inline-block;font-weight:bold;vertical-align:top;margin-right:0px; margin-top:0px;">Alessandro</span>
          <span style="display:inline-block;vertical-align:top;margin-right:5px; margin-top:0px;">su</span>
          <img src="//ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+" style="border:0;width:16px;height:16px;"/>
        </a><br/>
        <a href="mailto:coorasse@gmail.com">
          <%= image_tag "gmail_icon.gif" %>
          coorasse@gmail.com
        </a>
        <%= yield :ccc%>
      </div>
    </div>
    <div class="large-9 columns">
      <div class="descrizione_volontario">
        <h3>Alessandro Rodi</h3>
        <h4>Referente per la programmazione e webmaster</h4>

        <p>
          Ho <%= age(Date.new(1986, 8, 19)) %> anni e vivo a Zurigo dove lavoro come sviluppatore Java e Ruby On Rails.
          Coltivo la passione per la programmazione da molti anni e nel 2009 ho completato il mio percorso di studi
          laureandomi in Scienze dell'Informazione a Bologna.
          Appassionato di politica e tecnologie digitali, a Luglio 2011 mi sono avvicinato a Ruby On Rails e ho iniziato
          a
          gettare le basi del codice di Airesis, con in mente un progetto ambizioso: la creazione di un software per la
          democrazia partecipata.
          Affascinato da come la politica stia cambiando in questi anni e dal fatto che dovrà presto fare i conti con la
          rete, mi sono reso conto che uno strumento simile non è mai stato messo a disposizione dei cittadini e
          quindi....eccomi quà!
          All'interno del progetto mi occupo di coordinare le attività di sviluppo e della programmazione vera e
          propria;
          sono di supporto agli altri programmatori e fungo da supervisore alla qualità del codice. Aiuto inoltre
          nell'elaborazione delle logiche e nella definizione delle tempistiche necessarie al loro completamento. </p>
      </div>
    </div>
  </div>
</div>