<%unless @notriangle%>
<div id="triangle-topleft2"></div>
<div id="triangle-topleft">
	<a href="mailto:feedback@airesis.it?cc=nicolagiulietti@hotmail.it,hicsuntleones@gmail.com&subject=Segnalazione da 
	<%=request.fullpath.dup.force_encoding(Encoding::UTF_8)%>&body=Nel testo della segnalazione ti preghiamo di inserire se hai avuto accesso alla tua area riservata e eventualmente
	 quale azione stavi compiendo inserendone l'eventuale testo o il messaggio di errore. ">
      <%=image_tag 'segnala_un_bug.png', :alt => "Segnala un bug", :title => "Segnalaci difetti, errori e le migliorie. Aiutaci a migliorare Airesis  "%>
	</a>
</div>
<%end%>

<div id="eula_modal" title="Condizioni d'uso" style="width:600px;height:300px;display:none" >
<p>
	<%= render :partial => 'devise/registrations/eula'%>
</p>
</div>


<div id="privacy_modal" title="Normativa sulla Privacy" style="width:600px;height:300px;display:none" >
<p>
	<%= render :partial => 'devise/registrations/privacy'%>
</p>
</div>
<div style="float:left; width:100%">
<hr >
<div style="float:left;">
<%=image_tag 'copyleft.gif', :height => '16px', :alt => "CopyLeft", :title => "Questo progetto e' un'inizativa Open Source - GNU AGPL 3", :align => "left", :style => "margin-right:5px;"%>
 Airesis 2012 - Progetto per una democrazia diretta, partecipata, <%= link_to 'Open Source', "https://github.com/coorasse/Airesis", :target => "_blank" %>
</div>
<div class="pull-right" style="float:right;">
    <%= link_to t("guide"), videoguide_path, :class => "video_faq" %> -
    <%= link_to '♥ Sostienici', sostienici_path %> -
	<a href="#" onclick="return openCondizioniModal();">Condizioni d'uso </a> - 
	<a href="#" onclick="return openPrivacyModal();">Privacy policy</a> - 
	<a href="#">Torna sopra</a>
</div>

<div>
<p>
<!-- <a id="lang-selector" href="#">Italiano
(IT) <img src="/images/arrowdwn.gif"></a>-->
</p>
</div>
<p></p>
<div>
</div>
</div>
<!-- /container -->
<script type="text/javascript">

	function openCondizioniModal() {
		$( "#eula_modal" ).dialog({ height: 250, width: 450 });		
		return false;
	}
	
	function openPrivacyModal() {
		$( "#privacy_modal" ).dialog({ height: 250, width: 450 });		
		return false;
	}

	
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34897773-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</div>
