<footer class="row full-width">
  <div class="large-6 medium-6 columns">
    <a href="https://github.com/coorasse/Airesis" target="_blank"><%= t('pages.footer.for_edemocracy_html') %></a> v.<%= AIRESIS_VERSION %>
    <% if in_subdomain? %>
        <%= link_to t('pages.footer.go_to_main_site'), root_url(subdomain: false), target: '_blank' %>
    <% end %>

  </div>

  <div class="large-6 medium-6 columns text-right-medium-up">

    <a href="#" data-reveal-id="language">
      <%= image_tag "flags/#{I18n.locale}.png", class: 'language footer', title: t('pages.home.index.change_language') %>
    </a>
    &nbsp-&nbsp
    <%= link_to t('pages.home.index.support'), sostienici_path %>
    &nbsp-&nbsp
    <%= link_to t('terms_of_service'), terms_path, class: 'terms_link' %>
    &nbsp-&nbsp
    <%= link_to t('privacy_policy'), privacy_path, class: 'privacy_link' %>
    &nbsp-&nbsp
    <span class="feedback_space">
    </span>
  </div>
</footer>

<%= render 'layouts/languages' %>

<script type="text/javascript">
    $(function () {
        $('.language.footer').qtip({
            position: {
                at: 'top center',
                my: 'bottom center',
                viewport: $(window)
            },
            style: {
                classes: 'qtip-shadow qtip-light'
            },
            show: {
                event: 'click mouseenter',
                solo: true
            },
            hide: {
                event: 'click mouseleave'
            }
        });


        $('#language').on('opened', function () {
            $(this).find('.row a').qtip({
                style: {
                    classes: 'qtip-shadow qtip-light'
                },
                position: {
                    at: 'left center',
                    my: 'right center'
                }
            });
            $(this).foundation('section', 'reflow');
        });

    })


</script>
