<div id="footer">
    <div class="pull-left">
      Airesis™ v. <%= VERSION %> - <%= t('pages.footer.for_edemocracy_html')%>
      <%if in_subdomain? %>
       <%= link_to t('pages.footer.go_to_main_site'), root_url(subdomain: false)  %>
      <%end%>

    </div>

    <div class="pull-right" style="float:right;">
      <%= link_to t('pages.home.index.videos'), videoguide_url(subdomain: false), :class => "video_faq" %> -
      <%= link_to t('pages.home.index.support'), sostienici_url(subdomain: false) %> -
      <%= link_to t('terms_of_service'), terms_path, remote: true, class: 'terms_link' %> -
      <%= link_to t('privacy_policy'), privacy_path, remote: true, class: 'privacy_link' %> -
    </div>

    <div>
      <p>
        <!-- <a id="lang-selector" href="#">Italiano
        (IT) <img src="/images/arrowdwn.gif"></a>-->
      </p>
    </div>
    <!-- /container -->
    <script type="text/javascript">

        function openCondizioniModal() {
            $("#eula_modal").dialog({ height: 250, width: 450 });
            return false;
        }

        function openPrivacyModal() {
            $("#privacy_modal").dialog({ height: 250, width: 450 });
            return false;
        }
    </script>
</div>
