<div id="footer">
    <div class="pull-left">
      Airesis™ v. <%= VERSION %> - Progetto <%= link_to 'Open Source', "https://github.com/coorasse/Airesis", :target => "_blank" %> per l'e-democracy

    </div>

    <div class="pull-right" style="float:right;">
      <%= link_to t('guide'), videoguide_path, :class => "video_faq" %> -
      <%= link_to t('pages.home.index.support'), sostienici_path %> -
      <%= link_to t('terms_of_service'), terms_path, remote: true, class: 'terms_link' %> -
      <%= link_to t('privacy_policy'), privacy_path, remote: true, class: 'privacy_link' %> -
    </div>

    <div>
      <p>
        <!-- <a id="lang-selector" href="#">Italiano
        (IT) <img src="/images/arrowdwn.gif"></a>-->
      </p>
    </div>
    <!-- /container -->
    <script type="text/javascript">

        function openCondizioniModal() {
            $("#eula_modal").dialog({ height: 250, width: 450 });
            return false;
        }

        function openPrivacyModal() {
            $("#privacy_modal").dialog({ height: 250, width: 450 });
            return false;
        }
    </script>
</div>
