<!-- ### facebook ###-->
<div id="fb-root"></div>

<link href="https://plus.google.com/109056260698393169005" rel="publisher"/>

<script>

    var Airesis = {};
    Airesis.id = <%=current_user ? current_user.id : -1 %>;

    var $viewport = $('html, body');

    $.fn.qtip.defaults = $.extend(true, {}, $.fn.qtip.defaults, {
        style: {
            classes: 'qtip-light qtip-shadow'
        }});

    window.fbAsyncInit = function () {
        // init the FB JS SDK
        FB.init({
            appId: '<%=FACEBOOK_APP_ID%>', // App ID from the App Dashboard
            //channelUrl : '//localhost:3000/channel.html', // Channel File for x-domain communication
            status: true, // check the login status upon init?
            cookie: true, // set sessions cookies to allow your server to access the session?
            xfbml: true  // parse XFBML tags on this page?
        });

        FB.Event.subscribe('edge.create', function (href, widget) {
            var likeable_type = $(widget).data('likeable_type');
            var likeable_id = $(widget).data('likeable_id');
            if (likeable_type && likeable_id) {
                $.ajax({
                    headers: {'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')},
                    data: 'user_like[likeable_id]=' + likeable_id + '&user_like[likeable_type]=' + likeable_type,
                    url: '<%=user_likes_url%>',
                    type: 'post'
                });
            }
        });
        FB.Event.subscribe('edge.remove', function (href, widget) {
            var likeable_type = $(widget).data('likeable_type');
            var likeable_id = $(widget).data('likeable_id');
            if (likeable_type && likeable_id) {
                $.ajax({
                    headers: {'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')},
                    data: 'user_like[likeable_id]=' + likeable_id + '&user_like[likeable_type]=' + likeable_type,
                    url: '<%=user_likes_url%>' + '/' + likeable_id,
                    type: 'delete'
                });
            }

        });

    };

    // Load the SDK's source Asynchronously
    // Note that the debug version is being actively developed and might
    // contain some type checks that are overly strict.
    // Please report such bugs using the bugs tool.
    (function (d, debug) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement('script');
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/<%="#{I18n.locale.to_s.gsub('-','_')}"%>/all" + (debug ? "/debug" : "") + ".js";
        ref.parentNode.insertBefore(js, ref);
    }(document, /*debug*/ false));


    //google analytics
    <%if Rails.env == 'production'%>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34897773-1']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_setDomainName', '<%= request.domain %>']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
    <%end%>

    window.___gcfg = {
        lang: '<%=I18n.locale%>'
    };
    (function () {
        var po = document.createElement("script");
        po.type = "text/javascript";
        po.async = true;
        po.src = "https://apis.google.com/js/plusone.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(po, s);
    })();

    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = "//platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, "script", "twitter-wjs");

</script>

<% if Rails.env != 'production' %>
    <style type="text/css">
        #menu-top {
            background-color: #3341E5;
        }
    </style>

<% end %>


<%= render :partial => '/layouts/top_menu' %>



<% if user_signed_in? %>
    <%= subscribe_to "/notifications/#{current_user.id}" %>

    <div id="avatar-qtip" style="display: none;">
      <%= render :partial => 'layouts/personal_menu' %>
    </div>
<% end %>

<script type="text/javascript">
    $(function () {
        var selector_ = $('#menu-top .submenu .sel');
        if (selector_.length > 0) {
            $('#menu-top .submenu .tria').animate({'left': (selector_.offset().left + (selector_.width() / 2) -12)}, 0);
        }
        else {
            $('#menu-top .submenu .tria').remove();
        }


        $('#tolr .cur.love').qtip({
            position: {
                at: 'bottom center',
                my: 'top center',
                viewport: $(window),
                effect: false,
                adjust: {
                    method: 'shift',
                    x: 0, y: +10
                }
            },
            style: {
                classes: 'qtip-light qtip-shadow qtip-cur'
            },
            show: {
                solo: true
            }
        });


        $('#tolr .cur.info').qtip({
            content: $('#help_panel'),
            position: {
                at: 'bottom center',
                my: 'top center',
                viewport: $(window),
                effect: false,
                adjust: {
                    method: 'shift',
                    x: 0, y: 0
                }
            },
            style: {
                classes: 'qtip-light qtip-shadow qtip-cur'
            },
            show: {
                solo: true
            },
            hide: {
                fixed: true,
                delay: 500
            }
        });




        <%if user_signed_in?%>


        var last_poll_start = new Date().getTime() / 1000;
        var last_poll_end = new Date().getTime() / 1000;


        PrivatePub.subscribe("/notifications/<%=current_user.id%>", function (data, channel) {
            var now_ = new Date().getTime() / 1000;
            if (last_poll_end > last_poll_start && last_poll_end < (now_ - 5)) {
                poll();
            }
        });

        $('.hidden_panel').hide().click(function (event) {
            event.stopPropagation();
        });

        user_panel_shown = false;
        notification_panel_shown = false;
        groups_panel_shown = false;

        $('html').click(function () {
            $('.menu_element').removeClass('active').data('show', false);
            $('.hidden_panel').hide();

        });

        function showPanel(el) {
            _this = $(el);
            sval = _this.data('show');
            $('.hidden_panel').hide();
            $('.menu_element').removeClass('active').data('show', false);
            _this.data('show', sval);
            if (_this.data('show')) {
                $('.hidden_panel', _this).hide();
                _this.removeClass('active');
                _this.data('show', false);
            } else {
                $('.hidden_panel', _this).show().position({
                    my: "right top",
                    at: "right bottom",
                    of: _this
                });
                _this.addClass('active');
                _this.data('show', true);
            }
        }

        $('.menu_element')
                .data('show', false)
                .click(function (event) {
                    showPanel(this);
                    event.stopPropagation();
                })
                .mouseover(function () {
                    $(this).addClass("active");
                })
                .mouseout(function () {
                    if ($(this).data('show') == false) {
                        $(this).removeClass("active");
                    }
                })
                .focusin(function () {
                    $(this).addClass("active");
                })
                .focusout(function () {
                    if ($(this).data('show') == false) {
                        $(this).removeClass("active");
                    }
                })
                .keypress(function (event) {
                    if (event.keyCode == 13) {
                        showPanel(this);
                    }
                });

        $('.groups_menu_chrome').width($('.groups_menu_chrome').width() + 3);

        function poll() {
            last_poll_start = new Date().getTime() / 1000;
            $.ajax({
                dataType: 'json',
                type: 'get',
                url: "<%=polling_alerts_path%>",
                success: function (data) {
                    $('.alert_box.logo').each(function () {
                        $(this).qtip('destroy');
                    });
                    $('.cont-mess').remove();

                    for (var i = 0; i < data.length; i++) {
                        var obj = data[i];
                        if (obj.count > 0) {
                            $('.alert_box.logo[data-id=' + obj.id + ']').append($('<button class="alert notify boxed">').append(obj.count));
                        }
                        var n_container = $('<div id="alert_cont_' + obj.id + '" class="cont-mess" style="display:none">');
                        var tool_container = $('<div class="tool">');
                        var img_container = $('<img class="logo" src="/assets/notification_categories/' + obj.short + '.png">');
                        var span_container = $('<div>' + obj.title + '</div>');
                        tool_container.append(img_container).append(span_container);
                        var read_container = $('<div class="read_all">');
                        read_container.append($('<a href="#" onclick="sign_all_as_read(' + obj.id + ');return false;"><%=t('pages.header.menu.sign_has_read')%></a>'));
                        var sub_container = $('<div class="cont1">');
                        n_container.append(tool_container).append(read_container).append(sub_container);
                        for (var j = 0; j < obj.alerts.length; j++) {
                            var alert = obj.alerts[j];
                            var alert_container = $('<a class="mess" href="' + alert.path + '">');

                            alert_container.addClass(alert.checked ? 'old' : 'new');

                            if (alert.proposal_id) {
                                alert_container.attr('data-proposal-id', alert.proposal_id);
                            }

                            if (!alert.checked) {
                                alert_container.append($('<span class="ui-icon ui-icon-radio-off read" title="<%=I18n.t('pages.header.read')%>" data-type_id="' + obj.id + '" onclick="read_notifica(this);return false;"></span>'));
                            }

                            alert_container.append($('<p class="p2">' + alert.created_at + '</p>'));
                            alert_container.append($('<p class="p2">' + alert.text + '</p>'));
                            sub_container.append(alert_container);
                        }
                        if (obj.alerts.length == 0) {
                            sub_container.append($('<span><%=t('pages.header.no_alerts')%></span>'));
                        }
                        $('body').append(n_container);
                    }

                    $('.alert_box.logo').each(function () {
                        $(this).qtip({
                            prerender: true,
                            content: $('#alert_cont_' + $(this).data('id')),
                            position: {
                                at: 'left center',
                                my: 'right center',
                                viewport: $(window),
                                effect: false,
                                resize: true,
                                adjust: {
                                    method: 'shift',
                                    x: -5, y: -10
                                }
                            },
                            show: {
                                event: 'click',
                                solo: true
                            },
                            hide: 'click unfocus',
                            style: {
                                classes: 'qtip-light qtip-shadow qtip-right',
                                tip: {
                                    corner: true,
                                    width: 15,
                                    height: 5
                                }
                            }
                        })
                    });

                    $('.alert_box.logo').each(function () {
                        $(this)
                                .removeData('qtip')
                                .qtip({
                                    prerender: true,
                                    content: $(this).attr('oldtitle'),
                                    position: {
                                        at: 'left top',
                                        my: 'bottom right',
                                        viewport: $(window),
                                        effect: false
                                    },
                                    style: {
                                        classes: 'qtip-dark'
                                    }
                                })
                    });


                    $('.cont-mess .mess .read').qtip({
                        position: {
                            at: 'top center',
                            my: 'bottom center',
                            viewport: $(window),
                            effect: false,
                            adjust: {
                                method: 'shift',
                                x: 0, y: 0
                            }
                        },
                        style: {
                            classes: 'qtip-dark'
                        }
                    });

                    $('.cont1')
                            .bind('mousewheel DOMMouseScroll', function (e) {
                                if (e.originalEvent) e = e.originalEvent;
                                var delta = e.wheelDelta || -e.detail;
                                this.scrollTop += ( delta < 0 ? 1 : -1 ) * 30;
                                e.preventDefault();
                            });


                },
                error: function (data) {
                    console.log(data);
                },
                complete: function (data) {
                    //setTimeout(poll, 60000);
                    last_poll_end = new Date().getTime() / 1000;
                }
            });
        }

        poll();

        $('#account').qtip({
            content: $('#avatar-qtip'),
            position: {
                target: $('#account .avatar'),
                at: 'left center',
                my: 'right center',
                viewport: $(window),
                effect: false,
                adjust: {
                    method: 'shift',
                    x: 0, y: 0
                }
            },
            show: {
                event: 'click',
                solo: true
            },
            hide: 'click -unfocus',
            style: {
                classes: 'qtip-light qtip-shadow qtip-avatar',
                tip: {
                    corner: true,
                    width: 15,
                    height: 5
                }
            }
        });

        $('#account-small').click(function () {
            var menu_ = $('#menu-right');
            if (menu_.attr('data-expshow') == 'true') {
                menu_.removeClass('small-show');
                menu_.attr('data-expshow', false);
            }
            else {
                menu_.addClass('small-show');
                menu_.attr('data-expshow', true);
            }
        });

        <%else%>
        $('#login_button').qtip({
            content: $('#login_panel'),
            position: {
                at: 'bottom center',
                my: 'top center',
                viewport: $(window),
                effect: false,
                adjust: {
                    method: 'shift',
                    x: 0,
                    y: 0
                }
            },
            show: {
                event: 'click',
                solo: true
            },
            hide: 'unfocus',
            style: {
                classes: 'qtip-light qtip-shadow  qtip-login',
                tip: {
                    corner: true,
                    height: 5,
                    width: 5
                }
            }
        });
        $('#registration-panel')
                .hide()
                .click(function (event) {
                    event.stopPropagation();
                });

        user_panel_shown = false;
        $('html').click(function () {
            if (user_panel_shown) {
                $('#registration-panel').hide();
                $('.superHeader').removeClass('active');
                user_panel_shown = false;
            }
        });

        $(".superHeader")
                .mouseover(function () {
                    $(this).addClass("active");
                })
                .mouseout(function () {
                    if (!user_panel_shown) {
                        $(this).removeClass("active");
                    }
                })
                .focusin(function () {
                    $(this).addClass("active");
                })
                .focusout(function () {
                    $(this).removeClass("active");
                })
                .click(function (event) {
                    if (user_panel_shown) {
                        $('#registration-panel').hide();
                        $('.superHeader').removeClass('active');
                        user_panel_shown = false;
                    } else {
                        $('#registration-panel').show().position({
                            my: "right top",
                            at: "right bottom",
                            of: $('.superHeader')
                        })
                        $('.superHeader').addClass('active');
                        user_panel_shown = true;
                    }
                    event.stopPropagation();
                });

        <%end%>
    });
</script>
