<!-- ### facebook ###-->
<div id="fb-root"></div>
<script>
	( function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if(d.getElementById(id)) {
return;
}
js = d.createElement(s);
js.id = id;<%if (Rails.env == "production")%>
	js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1&appId=242345195791486";

<%else%>
	js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1&appId=221145254619152";

<%end%>
	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

</script>
<link href="https://plus.google.com/109056260698393169005" rel="publisher" />
<script type="text/javascript">
	window.___gcfg = {
		lang : 'it'
	}; (function() {
		var po = document.createElement("script");
		po.type = "text/javascript";
		po.async = true;
		po.src = "https://apis.google.com/js/plusone.js";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(po, s);
	})();

</script>
<script>
	! function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if(!d.getElementById(id)) {
			js = d.createElement(s);
			js.id = id;
			js.src = "//platform.twitter.com/widgets.js";
			fjs.parentNode.insertBefore(js, fjs);
		}
	}(document, "script", "twitter-wjs");

</script>
<!-- ##### Header ##### -->
<div id="header">
	<div id="fixed">
		<div class="midHeader">
			<h2 class="headerTitle" lang="la"><%= link_to "Airesis", root_path%></h2>
		</div>
		<div class="subHeader">
			<span class="doNotDisplay">Navigation:</span>
			<%= link_to 'Le proposte', proposals_path%>
			<%= link_to 'I blog', blogs_path %>
			<%= link_to 'I gruppi', groups_path %>
			<%= link_to 'Calendario', events_path %>
		</div>
		<div class="superHeader">
			<% if user_signed_in? %> <span>Benvenuto </span>
			<%if current_user.name%>
			<%= current_user.name %>
			<%else%>
			<%= current_user.login %>
			<%end%>
			<div class="user-panel shadow-box" id="user-panel">
				<div style="float:left">
					<%= current_user.user_image_tag%>
				</div>
				<ul class="menu-list">
					<li>
						<span class="Mo ui-icon ui-icon-contact"></span>
						<%= link_to 'La mia pagina', root_url %>
					</li>
					<li>
						<span class="Mo ui-icon ui-icon-comment"></span>
						<% if current_user.blog %>
						<%= link_to 'Il mio blog', current_user.blog %>
						<% else %>
						<%= link_to 'Crea un tuo blog', new_blog_path %>
						<% end %>
					<li>
						<span class="Mo ui-icon ui-icon-contact"></span>
						<%= link_to 'Impostazioni', user_url(current_user.id) %>
					</li>
					<% if is_admin?%>
					<li>
						<span class="Mo ui-icon ui-icon-key"></span>
						<%= link_to 'Amministrazione', admin_panel_path%>
					</li>
					<%end%>
					</li>
					<li>
						<span class="Mo ui-icon ui-icon-power"></span>
						<%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %>
					</li>
				</ul>
			</div>
			<% else %>
			<span><%= t('pages.top_panel.login') %></span>
			
			<div class="shadow-box" id="registration-panel">
				<%= form_for(resource, :as => resource_name, :url => {:action => "create", :controller => "devise/sessions"}) do |f| %>
				<div>
					<%= f.label :login %>
					<br />
					<%= f.text_field :login %>
				</div>
				<div>
					<%= f.label :password %>
					<br />
					<%= f.password_field :password %>
				</div>
				<% if devise_mapping.rememberable? -%>
				<div>
					<%= f.check_box :remember_me %> <%= f.label :remember_me, "Ricordami su questo computer" %>
				</div>
				<% end -%>
				<div>
					<%= f.submit "Login", :class=>"buttonStyle" %>
					<%= link_to "Registrati", new_registration_path(resource_name), :class=>"buttonStyle" %>
					<br />
				</div>
				<% end %>
				<br />
				<div>
					<%= link_to "Accedi tramite Facebook Connect", user_omniauth_authorize_path('facebook'), :class=>"fb-login-button" %>
				</div>
				<p>
					<%= link_to "Hai dimenticato la password?", new_password_path(resource_name) %>
					<br />
				</p>
				<%= link_to "Non hai ricevuto l'email per la conferma?", new_confirmation_path(resource_name) %>
				<br />
			</div>
			<% end %>
		</div>
		
		<% if user_signed_in? %>
		<div class="alerts_link">
			<div class="number">
				0
			</div>
			<div class="notification-panel shadow-box" id="notification-panel">
				<ul class="menu-list">
					<li>
						Nessuna notifica
					</li>
				</ul>
			</div>
		</div>
		<%end%>
		
		<div style="clear: both; height: 0; overflow: hidden;"></div>
	</div>
	<span>
		<div id = 'loading'>
			Caricamento...
		</div> </span>
</div>
<script type="text/javascript">
	$('.subHeader a').button();

<%if user_signed_in?%>
	$('#user-panel').hide();
	user_panel_shown = false;

	$('#notification-panel').hide();
	notification_panel_shown = false;

	$('html').click(function() {
		if(user_panel_shown) {
			$('#user-panel').hide();
			$('.superHeader').removeClass('active');
			user_panel_shown = false;
		}
		if(notification_panel_shown) {
			$('#notification-panel').hide();
			$('.alerts_link').removeClass('active');
			notification_panel_shown = false;
		}
	});
	$('.superHeader').click(function(event) {
		if(user_panel_shown) {
			$('#user-panel').hide();
			$('.superHeader').removeClass('active');
			user_panel_shown = false;
		} else {
			$('#user-panel').show().position({				
    			my:        "right top",
    			at:        "right bottom",
    			of:        $('.superHeader'),    			
			})
			$('.superHeader').addClass('active');
			user_panel_shown = true;

			if(notification_panel_shown) {
				$('#notification-panel').hide();
				$('.alerts_link').removeClass('active');
				notification_panel_shown = false;
			}
		}
		event.stopPropagation();
	});

	$(".superHeader").mouseover(function() {
		$(this).addClass("active");
	}).mouseout(function() {

		if(user_panel_shown == false) {
			$(this).removeClass("active");
		}

	});

	$('#user-panel').click(function(event) {
		event.stopPropagation();
	});
	function fetchNotifications() {
		jQuery.ajax({
			data : '',
			dataType : 'script',
			type : 'get',
			url : "/alerts/polling"
		});
	}

	function poll() {
		$.getScript("/alerts/polling/")
		setTimeout(poll, 60000);
		//valore temporaneo
	};

	//setTimeout(poll, 600000);
	//valore temporaneo
	poll();

	$('.alerts_link').click(function(event) {
		if(notification_panel_shown) {
			$('#notification-panel').hide();
			$('.alerts_link').removeClass('active');
			notification_panel_shown = false;
		} else {
			$('#notification-panel').show();
			$('.alerts_link').addClass('active');
			notification_panel_shown = true;

			if(user_panel_shown) {
				$('#user-panel').hide();
				$('.superHeader').removeClass('active');
				user_panel_shown = false;
			}
		}

		event.stopPropagation();
	});

	$(".alerts_link").mouseover(function() {
		$(this).addClass("active");
	}).mouseout(function() {

		if(!notification_panel_shown) {
			$(this).removeClass("active");
		}

	});

<%else%>
	$('#registration-panel').hide();
	user_panel_shown = false;
	$('html').click(function() {
		if(user_panel_shown) {
			$('#registration-panel').hide();
			$('.superHeader').removeClass('active');
			user_panel_shown = false;
		}
	});

	$(".superHeader").mouseover(function() {
		$(this).addClass("active");
	}).mouseout(function() {
		if(!user_panel_shown) {
			$(this).removeClass("active");
		}
	});

	$(".superHeader").focusin(function() {
		$(this).addClass("active");
	}).focusout(function() {
		$(this).removeClass("active");
	});

	$('.superHeader').click(function(event) {
		if(user_panel_shown) {
			$('#registration-panel').hide();
			$('.superHeader').removeClass('active');
			user_panel_shown = false;
		} else {
			$('#registration-panel').show().position({				
    			my:        "right top",
    			at:        "right bottom",
    			of:        $('.superHeader'),    			
			})
			$('.superHeader').addClass('active');
			user_panel_shown = true;
		}
		event.stopPropagation();
	});

	$('#registration-panel').click(function(event) {
		event.stopPropagation();
	});

<%end%>
	$('#loading').hide();

</script>
