<!-- ### facebook ###-->
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        // init the FB JS SDK
        FB.init({
            appId: '<%=FACEBOOK_APP_ID%>', // App ID from the App Dashboard
            //channelUrl : '//localhost:3000/channel.html', // Channel File for x-domain communication
            status: true, // check the login status upon init?
            cookie: true, // set sessions cookies to allow your server to access the session?
            xfbml: true  // parse XFBML tags on this page?
        });

        // Additional initialization code such as adding Event Listeners goes here

    };

    // Load the SDK's source Asynchronously
    // Note that the debug version is being actively developed and might
    // contain some type checks that are overly strict.
    // Please report such bugs using the bugs tool.
    (function (d, debug) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement('script');
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/<%="#{I18n.locale}_#{I18n.locale.upcase}"%>/all" + (debug ? "/debug" : "") + ".js";
        ref.parentNode.insertBefore(js, ref);
    }(document, /*debug*/ false));


    //google analytics
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34897773-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();


</script>
<link href="https://plus.google.com/109056260698393169005" rel="publisher"/>
<script type="text/javascript">
    window.___gcfg = {
        lang: '<%=I18n.locale%>'
    };
    (function () {
        var po = document.createElement("script");
        po.type = "text/javascript";
        po.async = true;
        po.src = "https://apis.google.com/js/plusone.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(po, s);
    })();

</script>
<script>
    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = "//platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, "script", "twitter-wjs");

</script>
<!-- ##### Header ##### -->

<% if current_user %>
    <div id="menu-right" class="slim">
      <div class="cont">

        <div id="account">
          <%= current_user.user_image_tag 55 %>
        </div>

        <div id="mybox" style="display: block;">
          <%NotificationCategory.all.each do |category| %>
              <div class="box">
                <div class="alert_box logo"  data-id="<%=category.id%>" style="background:#fff url(img/icon/01.png) center; background-size:cover;">
                  <!--<button class="notify">3</button>-->
                </div>
              </div>
          <%end%>

        </div>

      </div>
    </div>

<% end %>



<div id="menu-top"
     <% if current_user %>style="right: 80px;"
     <% end %>>
  <div id="logo-airesis">
    <%= image_tag 'logo.png', class: "logo1" %>
  </div>
  <div class="sep1"></div>
  <div id="menu-group">
    <%= yield :menu %>

  </div>
  <div id="logo-but">
    <span>GRUPPI</span>
    <br>
    <%= image_tag 'cur-tria.png' %>
  </div>

  <div id="tolr">
    <% unless current_user %>
        <div id="inlog">
          <a id="login_button" href="#" onclick="return false;">ACCEDI</a>
          -
          <%= link_to t('pages.header.menu.registration_button'), new_registration_path(resource_name) %>
        </div>

        <div id="login_panel" style="display:none;">
          <%= form_for resource, :as => resource_name, :url => {:action => "create", :controller => "devise/sessions"}, :html => {:class => 'box'} do |f| %>

              <%= f.text_field :login, placeholder: 'Email o username' %>

              <%= f.password_field :password, placeholder: 'Password' %>         <br/>
              <%= f.check_box :remember_me %> <%= f.label :remember_me, t('pages.header.menu.remember_me') %>

              <%= f.submit t('pages.header.menu.login_button'), :class => "buttonStyle" %>

          <% end %>


          <div class="box lost">
            <p><%= link_to t('pages.header.menu.forgot_password_button'), new_password_path(resource_name) %></p>

            <p><%= link_to t('pages.header.menu.resend_email_button'), new_confirmation_path(resource_name) %></p>
          </div>

          <% if ::Configuration.socialnetwork_active %>
              <div class="box more">
                <div class="more">
                  <%= link_to image_tag('accedi_facebook.jpg'), user_omniauth_authorize_path(:facebook), :alt => t('pages.top_panel.facebook_login'), :title => t('pages.top_panel.facebook_login') %>
                </div>
                <div class="more">
                  <%= link_to image_tag('accedi_google.png', :width => '150px'), user_omniauth_authorize_path(:google_oauth2), :alt => t('pages.top_panel.google_login'), :title => t('pages.top_panel.google_login') %>
                </div>
                <div class="more">
                  <%= link_to image_tag('accedi_twitter.png'), user_omniauth_authorize_path(:twitter), :alt => t('pages.top_panel.twitter_login'), :title => t('pages.top_panel.twitter_login') %>
                </div>
                <div class="more">
                  <%= link_to image_tag('accedi_meetup.png'), user_omniauth_authorize_path(:meetup), :alt => t('pages.top_panel.meetup_login'), :title => t('pages.top_panel.meetup_login') %>
                </div>
                <div class="more">
                  <%= link_to image_tag('accedi_linkedin.png'), user_omniauth_authorize_path(:linkedin), :alt => t('pages.top_panel.linkedin_login'), :title => t('pages.top_panel.linkedin_login') %>
                </div>
              </div>
          <% end %>
        </div>
    <% end %>
    <%= image_tag 'cur-info.png', :id => 'curinfo', :data => {hasqtip: 27} %>
  </div>

  <div class="group-cont">
    <div class="tria"></div>
    <div class="group-cont-sep"></div>
    <div class="group-tag">
      <div class="tag sel"><span>Gruppi a cui partecipi</span>

        <div class="tria"></div>
      </div>
      <div class="tag"><%= link_to 'Apri un nuovo gruppo',  new_group_path%></div>
      <div class="tag"><%= link_to 'Cerca gruppi',  groups_path%></div>
    </div>
    <div class="group-tag1">
      <% if user_signed_in? %>

          <% @groups = current_user.groups %>
          <% if @groups.empty? %>
              <%= t('pages.header.no_groups_yet') %>
              <br/>
          <% else %>
              <% @groups.each do |group| %>
                  <div class="group-item">
                    <div style="width:45px;height: 30px; float:left;">
                      <%= group.group_image_tag(30) rescue nil %>
                    </div>
                    <span class="p1"><%= link_to group.name, group %></span>

                    <div class="p2">
                      <%= link_to 'PROPOSTE', group_proposals_path(group) %> -
                      <%= link_to 'EVENTI', group_events_path(group) %></div>
                  </div>
              <% end %>
          <% end %>
      <% else %>
          <div class="menu_element">
            <%= link_to t('pages.top_panel.find_groups'), groups_path %>
          </div>
      <% end %>
    </div>
  </div>
</div>



<% if user_signed_in? %>
    <div id="avatar-qtip" style="display: none;">
      <div class="cont">
        <h2>Marcello Kabora</h2>

        <div class="sep"></div>
        <li>
          <%= link_to t('pages.header.menu.my_page'), root_url %>
        </li>
        <li>
          <% if current_user.blog %>
              <%= link_to t('pages.header.menu.my_blog'), current_user.blog %>
          <% else %>
              <%= link_to t('pages.header.menu.create_blog'), new_blog_path %>
          <% end %>
        </li>
        <li>
          <%= link_to t('pages.header.menu.preferences'), user_url(current_user) %>
        </li>
        <div class="sep"></div>
        <li>
          <%= link_to t('pages.header.menu.logout'), destroy_user_session_path, :method => 'delete' %>
        </li>
        <% if is_admin? %>

            <li>
              <span class="Mo ui-icon ui-icon-key"></span>
              <%= link_to t('pages.header.menu.administration'), admin_panel_path %>
            </li>

            <%= form_tag "/admin/become/" do %>
                <%= label_tag t('pages.header.menu.become_user') %>
                <%= text_field_tag 'user_id' %>
                <%= submit_tag t('pages.header.menu.become_user_button') %>
            <% end %>

        <% end %>
      </div>
    </div>
<% end %>

<script type="text/javascript">

    <%if user_signed_in?%>
    $('.hidden_panel').hide().click(function (event) {
        event.stopPropagation();
    });

    user_panel_shown = false;
    notification_panel_shown = false;
    groups_panel_shown = false;

    $('html').click(function () {
        $('.menu_element').removeClass('active').data('show', false);
        $('.hidden_panel').hide();

    });

    function showPanel(el) {
        _this = $(el);
        sval = _this.data('show');
        $('.hidden_panel').hide();
        $('.menu_element').removeClass('active').data('show', false);
        _this.data('show', sval);
        if (_this.data('show')) {
            $('.hidden_panel', _this).hide();
            _this.removeClass('active');
            _this.data('show', false);
        } else {
            console.log($('.hidden_panel', _this));
            $('.hidden_panel', _this).show().position({
                my: "right top",
                at: "right bottom",
                of: _this
            });
            _this.addClass('active');
            _this.data('show', true);
        }
    }

    $('.menu_element')
            .data('show', false)
            .click(function (event) {
                showPanel(this);
                event.stopPropagation();
            })
            .mouseover(function () {
                $(this).addClass("active");
            })
            .mouseout(function () {
                if ($(this).data('show') == false) {
                    $(this).removeClass("active");
                }
            })
            .focusin(function () {
                $(this).addClass("active");
            })
            .focusout(function () {
                if ($(this).data('show') == false) {
                    $(this).removeClass("active");
                }
            })
            .keypress(function (event) {
                if (event.keyCode == 13) {
                    showPanel(this);
                }
            });

    $('.groups_menu_chrome').width($('.groups_menu_chrome').width() + 3);

    function poll() {
        $.ajax({
            dataType: 'json',
            type: 'get',
            url: "<%=polling_alerts_path%>",
            success: function(data) {
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    var obj = data[i];
                    if (obj.count > 0) {
                      $('.alert_box.logo[data-id='+obj.id+']').append($('<button class="notify">').append(obj.count));
                    }
                    console.log('add container');
                    var n_container = $('<div id="alert_cont_'+obj.id+'" class="cont-mess" style="display:none">');
                    var tool_container = $('<div class="tool">');
                    var img_container = $('<img class="logo" src="/assets/notification_categories/'+obj.id+'">');
                    var span_container = $('<span>'+obj.title+'</span>');
                    tool_container.append(img_container).append(span_container);
                    var sub_container = $('<div class="cont1">');
                    n_container.append(tool_container).append(sub_container);
                    for (var j = 0; j < obj.alerts.length; j++) {
                        var alert = obj.alerts[j];
                        var alert_container = $('<a class="mess" href="'+alert.path+'">');
                        alert_container.addClass(alert.checked ? 'old' : 'new');
                        //alert_container.append($('<button>X</button>'));
                        alert_container.append($('<p class="p2">AAAA</p>'));
                        sub_container.append(alert_container);
                    }
                    $('body').append(n_container);
                }

                $('.alert_box.logo').each(function(){
                    $(this).qtip({
                        prerender: true,
                        content: $('#alert_cont_'+$(this).data('id')),
                        position: {
                            at: 'left center',
                            my: 'right center',
                            viewport: $(window),
                            effect: false,
                            resize: true,
                            adjust: {
                                method: 'shift',
                                x: -5, y: 0
                            }
                        },
                        show: {
                            event: 'click',
                            solo: true
                        },
                        hide: 'unfocus',
                        style: {
                            classes: 'qtip-light qtip-right',
                            tip: {
                                corner: true,
                                width: 15,
                                height: 5
                            }
                        }
                    })
                })

                $( '.cont1' )
                .bind( 'mousewheel DOMMouseScroll', function ( e ) {
                    if( e.originalEvent ) e = e.originalEvent;
                    console.log('scrolling');
                    console.log(e);
                    var delta = e.wheelDelta || -e.detail;
                    console.log('delta: '+ delta);
                    this.scrollTop += ( delta < 0 ? 1 : -1 ) * 30;
                    e.preventDefault();
                });


            },
            error: function(data) {
              console.log(data);
            },
            complete: function(data) {
                //setTimeout(poll, 60000);
            }
        });
    }

    poll();

    $('#account img').qtip({
        content: $('#avatar-qtip'),
        position: {
            at: 'left center',
            my: 'right center',
            viewport: $(window),
            effect: false,
            adjust: {
                method: 'shift',
                x: -5, y: -10
            }
        },
        show: {
            event: 'click',
            solo: true
        },
        hide: 'unfocus',
        style: {
            classes: 'qtip-light qtip-shadow qtip-avatar',
            tip: {
                corner: true,
                width: 15,
                height: 5
            }
        }
    });




    <%else%>
    $('#login_button').qtip({
        content: $('#login_panel'),
        position: {
            at: 'bottom center',
            my: 'top center',
            viewport: $(window),
            effect: false,
            adjust: {
                method: 'shift',
                x: 0,
                y: 0
            }
        },
        show: {
            event: 'click',
            solo: true
        },
        hide: 'unfocus',
        style: {
            classes: 'qtip-light qtip-shadow  qtip-login',
            tip: {
                corner: true,
                height: 5,
                width: 5
            }
        }
    });
    $('#registration-panel')
            .hide()
            .click(function (event) {
                event.stopPropagation();
            });

    user_panel_shown = false;
    $('html').click(function () {
        if (user_panel_shown) {
            $('#registration-panel').hide();
            $('.superHeader').removeClass('active');
            user_panel_shown = false;
        }
    });

    $(".superHeader")
            .mouseover(function () {
                $(this).addClass("active");
            })
            .mouseout(function () {
                if (!user_panel_shown) {
                    $(this).removeClass("active");
                }
            })
            .focusin(function () {
                $(this).addClass("active");
            })
            .focusout(function () {
                $(this).removeClass("active");
            })
            .click(function (event) {
                if (user_panel_shown) {
                    $('#registration-panel').hide();
                    $('.superHeader').removeClass('active');
                    user_panel_shown = false;
                } else {
                    $('#registration-panel').show().position({
                        my: "right top",
                        at: "right bottom",
                        of: $('.superHeader')
                    })
                    $('.superHeader').addClass('active');
                    user_panel_shown = true;
                }
                event.stopPropagation();
            });

    <%end%>
    $('#loading').hide();

</script>
