<!-- ### facebook ###-->
<div id="fb-root"></div>

<link href="https://plus.google.com/109056260698393169005" rel="publisher"/>

<script>


    window.fbAsyncInit = function () {
        // init the FB JS SDK
        FB.init({
            appId: '<%=ENV['FACEBOOK_APP_ID']%>', // App ID from the App Dashboard
            //channelUrl : '//localhost:3000/channel.html', // Channel File for x-domain communication
            status: true, // check the login status upon init?
            cookie: true, // set sessions cookies to allow your server to access the session?
            xfbml: true  // parse XFBML tags on this page?
        });

        FB.Event.subscribe('edge.create', function (href, widget) {
            var likeable_type = $(widget).data('likeable_type');
            var likeable_id = $(widget).data('likeable_id');
            if (likeable_type && likeable_id) {
                $.ajax({
                    headers: {'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')},
                    data: 'user_like[likeable_id]=' + likeable_id + '&user_like[likeable_type]=' + likeable_type,
                    url: '<%=user_likes_url%>',
                    type: 'post'
                });
            }
        });
        FB.Event.subscribe('edge.remove', function (href, widget) {
            var likeable_type = $(widget).data('likeable_type');
            var likeable_id = $(widget).data('likeable_id');
            if (likeable_type && likeable_id) {
                $.ajax({
                    headers: {'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')},
                    data: 'user_like[likeable_id]=' + likeable_id + '&user_like[likeable_type]=' + likeable_type,
                    url: '<%=user_likes_url%>' + '/' + likeable_id,
                    type: 'delete'
                });
            }
        });
    };

    (function (d, debug) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement('script');
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/<%="#{I18n.locale.to_s.gsub('-','_')}"%>/all" + (debug ? "/debug" : "") + ".js";
        ref.parentNode.insertBefore(js, ref);
    }(document, /*debug*/ false));


    //google analytics
    <%if Rails.env == 'production'%>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34897773-1']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_setDomainName', '<%= request.domain %>']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
    <%end%>

    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = "//platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, "script", "twitter-wjs");

    $(function () {
        <%if user_signed_in?%>
        PrivatePub.subscribe("/notifications/" + Airesis.id, function (data, channel) {
            if (Airesis.resource_viewable) {    //if I am in a page with a viewable object, sign it has view and then poll for alerts
                $.ajax({url: window.location,
                    complete: poll_if_not_recent});
            }
            else {  //otherwise, just poll for alerts
                poll_if_not_recent();
            }
        });

        poll();
        <%else%>
        $('#login_button').click(function () {
            $('#login_panel').foundation('reveal', 'open');
        });
        <%end%>


    });
    <%if Rails.env.test?%>
    $.fx.off = true;
    <%end%>
</script>

<%= render '/layouts/top_menu' %>

<% if user_signed_in? %>
    <%= subscribe_to "/notifications/#{current_user.id}" %>
    <%= render 'layouts/personal_menu' %>
<% end %>
