<div id="login-panel" class="reveal-modal medium" data-reveal>
  <h2><%= t('pages.header.login') %></h2>


  <% if ::Configuration.socialnetwork_active %>
      <div class="row">
        <div class="columns large-12">
          <div class="login-with-buttons mb-2">
            <%= link_to_ip t('pages.top_panel.facebook_login'), :facebook, 'facebook' %>
            <%= link_to_ip t('pages.top_panel.google_login'), :google_oauth2, 'google' %>
            <%= link_to_ip t('pages.top_panel.twitter_login'), :twitter, 'twitter' %>
          </div>
        </div>
      </div>
  <% end %>
  <div class="row">
    <div class="columns small-12">
      <%= simple_form_for User.new, url: user_session_path, html: {class: 'box', id: 'login_user'} do |f| %>
          <%= f.input :email, label: false, required: true,
                      placeholder: t('activerecord.attributes.user.email'), autocomplete: :off %>
          <%= f.input :password, label: false, required: true,
                      placeholder: t('activerecord.attributes.user.password') %>
          <%= f.label :remember_me do %>
              <%= f.check_box :remember_me %>
              <%= t('pages.header.menu.remember_me') %>
          <% end %>
          <%= button_tag(type: 'submit', class: 'btn blue') do %>
              <i class="fa fa-key"></i>
              <%= t('pages.header.menu.login_button') %>
          <% end %>
      <% end %>
      <div class="box lost">
        <p><%= link_to t('pages.header.menu.forgot_password_button'), new_password_path(resource_name) %></p>
        <p><%= link_to t('pages.header.menu.resend_email_button'), new_confirmation_path(resource_name) %></p>
      </div>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
