<footer class="hide-for-small">
    <div class="left">
      Airesis™ v. <%= VERSION %> <span class="show-for-medium-up">- <%= t('pages.footer.for_edemocracy_html')%></span>
      <%if in_subdomain? %>
       <%= link_to t('pages.footer.go_to_main_site'), root_url(subdomain: false), target: '_blank'  %>
      <%end%>

    </div>

    <div class="right">

      <div id="language" class="reveal-modal">
        <div class="row">
            <div class="large-12 column">
                <%= locale.to_s=="crowdin" ?
                             (link_to (image_tag 'flags/crowdin.png') + ' Exit Translation Mode', current_url(:l => nil)):
                             (link_to (image_tag 'flags/crowdin.png') + ' Activate Translation Mode', current_url(:l => :"crowdin"))%>
            </div>
            <%= link_to (image_tag 'flags/en.png') + ' Europe', SysLocale.find_by_key('en').url %>
            <br/>
            <%= link_to (image_tag 'flags/it-IT.png') + ' Italia', SysLocale.find_by_key('it-IT').url %>
            <br/>
            <%= link_to (image_tag 'flags/pt-PT.png') + ' Portugal', SysLocale.find_by_key('pt-PT').url %>
            <br/>
            <%= link_to (image_tag 'flags/es-ES.png') + ' España', SysLocale.find_by_key('es-ES').url %>
            <br/>
            <%= link_to (image_tag 'flags/fr.png') + ' France', SysLocale.find_by_key('fr').url %>
            <br/>
            <%= link_to (image_tag 'flags/de.png') + ' Deutschland', SysLocale.find_by_key('de').url %>
            <br/>
            <%= link_to (image_tag 'flags/ro-RO.png') + ' România', SysLocale.find_by_key('ro-RO').url %>
            <br/>
            <%= link_to (image_tag 'flags/en-US.png') + ' USA', SysLocale.find_by_key('en-US').url %>
            <br/>
            <%= link_to (image_tag 'flags/pt-BR.png') + ' Brasil', SysLocale.find_by_key('pt-BR').url %>
            <br/>
            <%= link_to (image_tag 'flags/es-EC.png') + ' Ecuador', SysLocale.find_by_key('es-EC').url %>
            <br/>
            <%= link_to (image_tag 'flags/es-CL.png') + ' Chile', SysLocale.find_by_key('es-CL').url %>
            <br/>
            <%= link_to (image_tag 'flags/zh.png') + ' 中国', SysLocale.find_by_key('zh').url %>
            <br/>
        </div>
        <a class="close-reveal-modal">&#215;</a>
      </div>

      <a href="#" data-reveal-id="language">
        <%= image_tag "flags/#{I18n.locale}.png", :class => 'language footer', title: t('pages.home.index.change_language') %>
      </a>

      <%= link_to t('pages.home.index.support'), sostienici_path %> -
      <%= link_to t('terms_of_service'), terms_path, class: 'terms_link' %> -
      <%= link_to t('privacy_policy'), privacy_path, class: 'privacy_link' %> -
    </div>

    <div>
      <p>
        <!-- <a id="lang-selector" href="#">Italiano
        (IT) <img src="/images/arrowdwn.gif"></a>-->
      </p>
    </div>
    <!-- /container -->
    <script type="text/javascript">

        function openCondizioniModal() {
            $("#eula_modal").dialog({ height: 250, width: 450 });
            return false;
        }

        function openPrivacyModal() {
            $("#privacy_modal").dialog({ height: 250, width: 450 });
            return false;
        }

        $(function () {

            $('.language.footer').qtip({
                content: "<%=j t('pages.home.index.change_language')%>",
                position: {
                    at: 'top center',
                    my: 'bottom center',
                    viewport: $(window),
                    effect: false
                },
                style: {
                    classes: 'qtip-light qtip-shadow qtip-cur'
                },
                show: {
                    event: 'click mouseenter',
                    solo: true
                },
                hide: {
                    event: 'click mouseleave',
                    fixed: true,
                    delay: 500
                }
            });

        })
    </script>
</footer>


<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js">
</script>

<script>
    $(document).foundation();
</script>

