<footer class="hide-for-small">
    <div class="left">
      Airesis™ v. <%= VERSION %> <span class="show-for-medium-up">- <%= t('pages.footer.for_edemocracy_html')%></span>
      <%if in_subdomain? %>
       <%= link_to t('pages.footer.go_to_main_site'), root_url(subdomain: false), target: '_blank'  %>
      <%end%>

    </div>

    <div class="right">
        <%= image_tag "flags/crowdin.png", :class => 'cur language footer', title: t('pages.home.index.change_language') , style:"display:inline;"%>
      <div id="language_footer" style="display:none;">
        <%= locale.to_s=="crowdin" ?
                    (link_to (image_tag 'flags/crowdin.png') + ' Exit Translation Mode', current_url(:l => nil)):
                    (link_to (image_tag 'flags/crowdin.png') + ' Activate Translation Mode', current_url(:l => :"crowdin"))%>
      </div> -
      <%= link_to t('pages.home.index.support'), sostienici_path %> -
      <%= link_to t('terms_of_service'), terms_path, remote: true, class: 'terms_link' %> -
      <%= link_to t('privacy_policy'), privacy_path, remote: true, class: 'privacy_link' %> -
    </div>

    <div>
      <p>
        <!-- <a id="lang-selector" href="#">Italiano
        (IT) <img src="/images/arrowdwn.gif"></a>-->
      </p>
    </div>
    <!-- /container -->
    <script type="text/javascript">

        function openCondizioniModal() {
            $("#eula_modal").dialog({ height: 250, width: 450 });
            return false;
        }

        function openPrivacyModal() {
            $("#privacy_modal").dialog({ height: 250, width: 450 });
            return false;
        }

        $(function () {

            $('.language.footer').qtip({
                content: $('#language_footer'),
                position: {
                    at: 'top center',
                    my: 'bottom center',
                    viewport: $(window),
                    effect: false
                },
                style: {
                    classes: 'qtip-light qtip-shadow qtip-cur'
                },
                show: {
                    event: 'click',
                    solo: true
                },
                hide: {
                    event: 'click -unfocus',
                    fixed: true,
                    delay: 500
                }
            });

        })
    </script>
</footer>


<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js">
</script>

<script>
    $(document).foundation();
</script>

