<div id="menu-top">
  <div id="menu-top-left">
    <div id="logo-airesis">
      <%= link_to (image_tag (Rails.env == 'production') ? 'logo.png' : 'logo_test.png', class: "logo1 show-for-medium-up"), root_path, tabindex: 1 %>
      <%= link_to (image_tag 'logo120.png', class: "logo1mini show-for-small"), '#', tabindex: 1, id: 'logo1mini' %>
    </div>

    <% unless in_subdomain? %>
        <div id="logo-but" tabindex="2">
          <div style="margin:auto;text-align: center;margin-bottom: 10px;"><%= t('pages.header.groups_title') %></div>
          <%= image_tag 'cur-tria.png' %>
        </div>
    <% end %>
  </div>

  <div class="sep1"></div>
  <div style="position:relative">
    <%= yield :menu %>
  </div>

  <div id="tolr"
       <% unless current_user %>class="not_logged"
       <% end %>>
    <% unless current_user %>
        <div id="inlog">
          <% if in_subdomain? %>
              <%= eval "#{@group.subdomain}_login" %>
          <% else %>
              <a id="login_button" href="#" onclick="return false;" class="show-for-medium-up"><%= t('pages.header.login') %></a>
              <%= link_to t('pages.header.login'), '/users/sign_in', :class => "show-for-small" %>
              -
              <%= link_to t('pages.header.menu.registration_button'), new_registration_path(resource_name) %>
          <% end %>
        </div>

        <div id="login_panel" style="display:none;">
          <%= form_for resource, :as => resource_name, :url => {:action => "create", :controller => "devise/sessions"}, :html => {:class => 'box'} do |f| %>

              <%= f.text_field :login, placeholder: t('pages.header.login_placeholder') %>

              <%= f.password_field :password, placeholder: 'Password' %>         <br/>
              <%= f.label :remember_me do %>
                  <%= f.check_box :remember_me %>
                  <%= t('pages.header.menu.remember_me') %>
              <% end %>

              <%= f.button t('pages.header.menu.login_button'), :class => "btn blue loginButton" %>

          <% end %>


          <div class="box lost">
            <p><%= link_to t('pages.header.menu.forgot_password_button'), new_password_path(resource_name) %></p>

            <p><%= link_to t('pages.header.menu.resend_email_button'), new_confirmation_path(resource_name) %></p>
          </div>

          <% if ::Configuration.socialnetwork_active && !in_subdomain? %>
              <%= cache ["social_network_header", I18n.locale] do %>
                  <div class="box more">
                    <div class="more">
                      <%= link_to t('pages.top_panel.facebook_login'), user_omniauth_authorize_path(:facebook), :alt => t('pages.top_panel.facebook_login'), :title => t('pages.top_panel.facebook_login'), class: 'zocial facebook' %>
                    </div>
                    <div class="more">
                      <%= link_to t('pages.top_panel.google_login'), user_omniauth_authorize_path(:google_oauth2), :alt => t('pages.top_panel.google_login'), :title => t('pages.top_panel.google_login'), class: 'zocial google' %>
                    </div>
                    <div class="more">
                      <%= link_to t('pages.top_panel.twitter_login'), user_omniauth_authorize_path(:twitter), :alt => t('pages.top_panel.twitter_login'), :title => t('pages.top_panel.twitter_login'), class: 'zocial twitter' %>
                    </div>
                    <div class="more">
                      <%= link_to t('pages.top_panel.meetup_login'), user_omniauth_authorize_path(:meetup), :alt => t('pages.top_panel.meetup_login'), :title => t('pages.top_panel.meetup_login'), class: 'zocial meetup' %>
                    </div>
                    <div class="more">
                      <%= link_to t('pages.top_panel.linkedin_login'), user_omniauth_authorize_path(:linkedin), :alt => t('pages.top_panel.linkedin_login'), :title => t('pages.top_panel.linkedin_login'), class: 'zocial linkedin' %>
                    </div>
                  </div>
              <% end %>
          <% end %>
        </div>
    <% end %>

    <%= link_to (image_tag 'cur-love.png'), sostienici_path, :class => 'cur love hide-for-small', title: t('pages.header.support_us') %>
    <%= image_tag 'cur-info.png', :class => 'cur info hide-for-small', title: 'TUTORIAL' %>
    <div id="help_panel" style="display:none;">
      <%= link_to t('pages.home.index.feedback'), '#', title: t('pages.home.index.feedback'), onclick: "$('.feedbackBtn').click();return false;", class: 'btn feedbackButton' %>
      <br/>
      <%= link_to t('pages.home.index.videos'), videoguide_path, title: t('pages.home.index.videos'), class: 'btn videoButton' %>
      <br/>
      <%= link_to t('pages.home.index.FAQ'), 'http://bugtracking.airesis.it/projects/airesis/wiki/FAQ', title: t('pages.home.index.FAQ'), target: '_blank', class: 'btn bookmarkButton' %>
      <br/>
      <%= link_to t('pages.home.index.guide'), 'http://bugtracking.airesis.it/projects/airesis/wiki/Home_Page', title: t('pages.home.index.guide'), target: '_blank', class: 'btn help' %>
      <br/>
      <%= link_to t('pages.home.index.whatis'), edemocracy_path, title: t('pages.home.index.whatis'), class: 'btn infoButton' %>
      <br/>
      <%= link_to t('pages.home.index.whowe'), chisiamo_path, title: t('pages.home.index.whowe'), class: 'btn contactButton' %>
    </div>
  </div>

  <% if current_user %>
      <div id="account" class="show-for-large-up">
          <span class="avatar">
          <%= current_user.user_image_tag 60, false, false %>
          </span>
        <%= image_tag 'cur-tria.png', class: 'triangle' %>
      </div>
      <div id="account-small" class="show-for-medium-down">
          <span class="avatar">
          <%= current_user.user_image_tag 60, false, false %>
          </span>
        <%= image_tag 'cur-tria.png', class: 'triangle' %>
      </div>
  <% end %>
  <% unless in_subdomain? %>
      <div class="group-cont">
        <div class="tria"></div>
        <div class="group-cont-sep"></div>
        <div class="group-tag">
          <div class="tag sel"><span><%= t('pages.header.groups_list') %></span>

            <div class="tria"></div>
          </div>
          <div class="tag"><%= link_to t('pages.header.open_group'), new_group_url(subdomain: false) %></div>
          <div class="tag"><%= link_to t('pages.header.new_group'), groups_url(subdomain: false) %></div>
        </div>
        <div class="group-tag1">
          <div class="group-item">
            <div style="width:45px;height: 30px; float:left;">
              <%= image_tag 'logo30.png', :width => 30, :alt => APP_LONG_NAME %>
            </div>
            <div class="p1"><%= link_to t('open_space'), proposals_url(subdomain: false) %></div>

            <div class="p2">
              <%= link_to t('pages.header.groups.proposals'), proposals_url(subdomain: false) %> -
              <%= link_to t('pages.header.groups.events'), events_url(subdomain: false) %></div>
          </div>
          <% if user_signed_in? %>
              <% @groups = current_user.groups %>
              <% if @groups.empty? %>
                  <%= t('pages.header.no_groups_yet') %>
                  <br/>
              <% else %>
                  <% @groups.each do |group| %>
                      <div class="group-item">
                        <div style="width:45px;height: 30px; float:left;">
                          <%= group.group_image_tag(30) rescue nil %>
                        </div>
                        <div class="p1">
                          <%= link_to group.name, group_url(group) %>
                          <div class="group_tag_fade"></div>
                        </div>

                        <div class="p2">
                          <%= link_to t('pages.header.groups.proposals'), group_proposals_url(group) %> -
                          <%= link_to t('pages.header.groups.events'), group_events_url(group) %></div>
                      </div>
                  <% end %>
              <% end %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>