<div class="fixed">
  <nav class="top-bar" data-topbar>
    <section class="top-bar-section">
      <div class="logo-wrapper hide-for-small-only">
        <div class="logo">
          <%= link_to (image_tag 'logo_new.png', class: "logo1", style: 'height:30px'), root_path, tabindex: 1 %>
        </div>
      </div>


      <ul class="left">
        <% unless in_subdomain? %>
            <li class="has-form">
              <a id="logo-but" href="#" class="button" data-dropdown="hover1" data-options="is_hover:true"><%= t('pages.header.groups_title') %></a>
            </li>
        <% end %>
        <li class="has-form">
          <%= form_for Search.new, data: {remote: true} do |f| %>
              <div class="row collapse">
                <div class="large-10 small-10 columns">
                  <%= f.text_field :q, placeholder: "Find Stuff" %>
                </div>
                <div class="large-2 small-2 columns">
                  <%= link_to searches_path do %>
                      <div class="icon-search medium"></div>
                  <% end %>
                </div>
              </div>
          <% end %>
          <div id="search_box" class="card"></div>
        </li>
      </ul>

      <ul class="right">
        <li><%= link_to sostienici_path, class: 'cur love', title: t('pages.header.support_us') do %>
              <div class="icon-heart medium"></div>
          <% end %></li>
        <li><a href="#" onclick="return false;">
          <div class="icon-question medium cur info" title="TUTORIAL"></div>
        </a></li>

        <% if current_user %>
            <li>
              <%= link_to '#', class: 'button account' do %>
                  <%= current_user.user_image_tag 26, false, false %>
                  <span  class="show-for-large-up"><%= current_user.fullname %></span>
              <% end %></li>
            <li >
            </li>
            <li><a href="#" onclick="return false;" id="alerts_link">
              <div class="icon-bell medium" title="ALERTS"></div>
            </a></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>


<div id="help_panel" style="display:none;">
  <%= link_to t('pages.home.index.feedback'), '#', title: t('pages.home.index.feedback'), onclick: "$('.feedbackBtn').click();return false;", class: 'btn feedbackButton' %>
  <br/>
  <%= link_to t('pages.home.index.videos'), videoguide_path, title: t('pages.home.index.videos'), class: 'btn videoButton' %>
  <br/>
  <%= link_to t('pages.home.index.FAQ'), 'http://bugtracking.airesis.it/projects/airesis/wiki/FAQ', title: t('pages.home.index.FAQ'), target: '_blank', class: 'btn bookmarkButton' %>
  <br/>
  <%= link_to t('pages.home.index.guide'), 'http://bugtracking.airesis.it/projects/airesis/wiki/Home_Page', title: t('pages.home.index.guide'), target: '_blank', class: 'btn help' %>
  <br/>
  <%= link_to t('pages.home.index.whatis'), edemocracy_path, title: t('pages.home.index.whatis'), class: 'btn infoButton' %>
  <br/>
  <%= link_to t('pages.home.index.whowe'), chisiamo_path, title: t('pages.home.index.whowe'), class: 'btn contactButton' %>
</div>

<% unless in_subdomain? %>
    <div id="hover1" class="f-dropdown medium" data-dropdown-content>
      <div class="group-item">
        <div style="float:left;">
          <%= image_tag 'logo30.png', :width => 60, :alt => APP_LONG_NAME %>
        </div>
        <div class="p1"><%= link_to t('open_space'), proposals_url(subdomain: false) %></div>

        <div class="p2">
          <%= link_to t('pages.header.groups.proposals'), proposals_url(subdomain: false) %> -
          <%= link_to t('pages.header.groups.events'), events_url(subdomain: false) %>
        </div>
        <div class="clearboth"></div>
      </div>


      <% if user_signed_in? %>
          <% @groups = current_user.groups %>
          <% if @groups.empty? %>
              <%= t('pages.header.no_groups_yet') %>
          <% else %>
              <% @groups.each do |group| %>

                  <div class="group-item">
                    <div style="float:left;">
                      <%= group.group_image_tag(60) rescue nil %>
                    </div>
                    <div class="p1">
                      <%= link_to group.name, group_url(group) %>
                    </div>

                    <div class="p2">
                      <%= link_to t('pages.header.groups.proposals'), group_proposals_url(group) %> -
                      <%= link_to t('pages.header.groups.events'), group_events_url(group) %>
                    </div>
                    <div class="clearboth"></div>
                  </div>

              <% end %>
          <% end %>
      <% end %>

      <%= link_to t('pages.header.open_group'), new_group_url(subdomain: false), class: 'button' %>
      <%= link_to t('pages.header.new_group'), groups_url(subdomain: false), class: 'button' %>
    </div>
<% end %>

<div id="tolr"
     <% unless current_user %>class="not_logged"
     <% end %>>
  <% unless current_user %>
      <div id="inlog">
        <% if in_subdomain? %>
            <%= eval "#{@group.subdomain}_login" if @group %>
        <% else %>
            <a id="login_button" href="#" onclick="return false;" class="show-for-medium-up"><%= t('pages.header.login') %></a>
            <%= link_to t('pages.header.login'), '/users/sign_in', :class => "show-for-small" %>
            -
            <%= link_to t('pages.header.menu.registration_button'), new_registration_path(resource_name) %>
        <% end %>
      </div>

      <div id="login_panel" class="reveal-modal large" data-reveal>
        <h2><%= t('pages.header.login') %></h2>

        <div class="row">
          <div class="columns large-6">
            <%= form_for User.new, url: {:action => "create", :controller => "devise/sessions"}, html: {:class => 'box'} do |f| %>

                <%= f.text_field :login, placeholder: t('pages.header.login_placeholder'), autocomplete: :off %>

                <%= f.password_field :password, placeholder: 'Password' %>         <br/>
                <%= f.label :remember_me do %>
                    <%= f.check_box :remember_me %>
                    <%= t('pages.header.menu.remember_me') %>
                <% end %>

                <%= f.button t('pages.header.menu.login_button'), :class => "btn blue loginButton" %>

            <% end %>


            <div class="box lost">
              <p><%= link_to t('pages.header.menu.forgot_password_button'), new_password_path(resource_name) %></p>

              <p><%= link_to t('pages.header.menu.resend_email_button'), new_confirmation_path(resource_name) %></p>
            </div>
          </div>
          <div class="columns large-6">
            <% if ::Configuration.socialnetwork_active && !in_subdomain? %>
                <%= cache ["social_network_header", I18n.locale] do %>
                    <div class="box more">
                      <div class="more">
                        <%= link_to t('pages.top_panel.facebook_login'), user_omniauth_authorize_path(:facebook), :alt => t('pages.top_panel.facebook_login'), :title => t('pages.top_panel.facebook_login'), class: 'zocial facebook' %>
                      </div>
                      <div class="more">
                        <%= link_to t('pages.top_panel.google_login'), user_omniauth_authorize_path(:google_oauth2), :alt => t('pages.top_panel.google_login'), :title => t('pages.top_panel.google_login'), class: 'zocial google' %>
                      </div>
                      <div class="more">
                        <%= link_to t('pages.top_panel.twitter_login'), user_omniauth_authorize_path(:twitter), :alt => t('pages.top_panel.twitter_login'), :title => t('pages.top_panel.twitter_login'), class: 'zocial twitter' %>
                      </div>
                      <div class="more">
                        <%= link_to t('pages.top_panel.meetup_login'), user_omniauth_authorize_path(:meetup), :alt => t('pages.top_panel.meetup_login'), :title => t('pages.top_panel.meetup_login'), class: 'zocial meetup' %>
                      </div>
                      <div class="more">
                        <%= link_to t('pages.top_panel.linkedin_login'), user_omniauth_authorize_path(:linkedin), :alt => t('pages.top_panel.linkedin_login'), :title => t('pages.top_panel.linkedin_login'), class: 'zocial linkedin' %>
                      </div>
                    </div>
                <% end %>
            <% end %>
          </div>
        </div>
        <a class="close-reveal-modal">&#215;</a>
      </div>
  <% end %>
</div>



