<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-US">
	<head>
		<title><%= @page_title || 'Democracy Online (Airesis) - '+ VERSION.to_s + ' Beta'%></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		
		<%= stylesheet_link_tag 'application' %>
		<%= javascript_include_tag 'application' %>
		<%= stylesheet_link_tag 'redmond/custom'%> 
		<%= csrf_meta_tag %>
		<%= yield :head %>
		
		<link rel="shortcut icon" href="/favicon.ico" />
	</head>
	<body>
		<%=render :partial => "layouts/header" %>
		
		<!-- ##### Main Copy ##### -->
		<div id="main-copy">
			<div id="leftpanel">
				<%= yield :left_panel%>
			</div>
			<div id="centerpanel">
				<div id="flash_messages" style="height:20px">
					<%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
				</div>
				<%= yield :layout %>
				
			</div>
			<div id="rightpanel">
				<%= yield :right_panel%>
				<%= render :partial => 'events/next_events_panel' %>
				<g:plusone href="http://www.airesis.it"></g:plusone>
				
				<a href="https://twitter.com/democracyo" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @democracyo</a>

				<%if (!@group.facebook_page_url.empty? rescue false)%>
				<div class="fb-like-box" data-href="<%=@group.facebook_page_url%>" data-width="180" data-height="400" data-show-faces="false" data-stream="false" data-header="true"></div>
				<%else%>
				<div class="fb-like-box" data-href="https://www.facebook.com/pages/Democracy-Online/113093412144167" data-width="180" data-height="400" data-show-faces="true" data-stream="true" data-header="false"></div>
				<%end%>
			
			</div>
			<div style="clear: both; height: 0; overflow: hidden;"></div>
			<!--<div id="bottompanel">
			Airesis © 2012
			</div>-->
		</div>
	</body>
</html>
