<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-US">
	<head>
		<title><%= @page_title || 'Tests' %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<%= stylesheet_link_tag 'style','blog_kit','token-input', 'redmond/custom', 'jquery.contextmenu', 'ImageOverlay.css' %>
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag 'jquery-ui', 'jquery.tokeninput', 'jquery.contextMenu', 'jquery.ImageOverlay', 'jrails','democracy' %>
		<%= csrf_meta_tag %>
		<%= yield :head %>
	</head>
	<body>
		<!-- ### facebook ###-->
		<div id="fb-root"></div>
		<script>
			( function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if(d.getElementById(id)) {
					return;
				}
				js = d.createElement(s);
				js.id = id;
				js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1&appId=221145254619152";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		</script>
		<!-- ##### Header ##### -->
		<div id="header">
			<div id="fixed">
				<div class="midHeader">
					<h2 class="headerTitle" lang="la">Democracy Online</h2>
				</div>
				<div class="subHeader">
					<span class="doNotDisplay">Navigation:</span>
					<%= link_to 'Le proposte', proposals_path %>
					| <%= link_to 'I blog', blogs_path %>
					| <%= link_to 'Le liste', groups_path %>

					| <%= link_to 'Notifiche', '/alerts' %>
					| <%= link_to 'Calendario', '/events'%>
				</div>
				<div class="superHeader">
					<% if user_signed_in? %> <span>Benvenuto </span>
						<%if current_user.name%>
						<%= current_user.name %>
						<%else%>
						<%= current_user.login %>
						<%end%>
						
					<% else %> 
					<span><%= link_to 'Esegui il login o registrati',new_user_session_path(:redirect => current_url) %></span>
					<% end %>
				</div>
				<% if user_signed_in? %> 
					<div class="user-panel shadow-box" id="user-panel">
							<% if user_signed_in? %>
							<div style="float:left">
								<%= current_user.user_image_tag%>
							</div>
							<ul class="menu-list">
								<li>
									<span class="Mo ui-icon ui-icon-comment"></span>
									<% if current_user.blog %>
									<%= link_to 'Il mio blog', current_user.blog %>
									<% else %>
									<%= link_to 'Crea un tuo blog', new_blog_path %>
									<% end %>
									<li>
										<span class="Mo ui-icon ui-icon-contact"></span>
										<%= link_to 'La mia pagina', user_url(current_user.id) %>
									</li>
									<% if is_admin?%>
									<li>
										<span class="Mo ui-icon ui-icon-key"></span>
										<%= link_to 'Amministrazione', admin_panel_path%>
									</li>
									<%end%>
								</li>
								<li>
									<span class="Mo ui-icon ui-icon-power"></span>
									<%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %>
								</li>
							</ul>
							<% end %>
						</div>
				<% end %>
				<div style="clear: both; height: 0; overflow: hidden;"></div>
			</div>
			<span>
				<div id = 'loading'>
					Caricamento...
				</div> </span>
		</div>
		<!-- ##### Main Copy ##### -->
		<div id="main-copy">
			<div id="leftpanel">
				<%= yield :left_panel%>
			</div>
			<div id="centerpanel">
				<div id="flash_messages" style="height:20px">
					<%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
				</div>
				<%= yield :layout %>
			</div>
			<div id="rightpanel">
				<%= render :partial => 'events/next_events_panel' %>

				<%= yield :right_panel%>
			</div>
			<div style="clear: both; height: 0; overflow: hidden;"></div>
		</div>
		<script type="text/javascript">
			$('input:submit,input:button, .subHeader a').button();
			
			
			<%if user_signed_in?%>
			$('.user-panel').hide();
			shown = false;
			$('html').click(function() {
				if(shown) {
					$('.user-panel').hide();
					$('.superHeader').removeClass('active');
					shown = false;
				}
			});
			$('.superHeader').click(function(event) {
				if(shown) {
					$('.user-panel').hide();
					$('.superHeader').removeClass('active');
					shown = false;
				} else {
					$('.user-panel').show('drop',{ direction: "up" })
					$('.superHeader').addClass('active');
					shown = true;
				}
				event.stopPropagation();
			});

			$('#user-panel').click(function(event) {
				event.stopPropagation();
			});
			<%end%>
			$('#loading').hide();

		</script>
	</body>
</html>
