<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-US">
<head>
  <title><%= @page_title ? @page_title + ' - ' + APP_SHORT_NAME : APP_SHORT_NAME %></title>

  <%= render :partial => "layouts/head" %>

</head>
<body style="min-width:1000px;">
<div id="great_container">

  <% content_for :menu do %>

      <%= image_tag 'logo120.png', :width => 60, :alt => APP_LONG_NAME %>
      <span class="tit"><%= @page_title %></span>

  <% end %>

  <%= render :partial => "layouts/header" %>
  <div id="main" style="<%= current_user ? 'right:80px;min-width:920px;' : 'right:0px;min-width:1000px;' %>">
    <!-- ##### Main Copy ##### -->
    <div id="main-copy">
      <div id="menu-left">
        <div class="menu2">
          <%= yield :left_panel %>
        </div>
      </div>
      <div id="centerpanelextended">
        <div class="centerfloat <%= raw @extend ? 'extended' : '' %>">
          <div id="flash_messages" style="height:20px">
            <%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
          </div>
          <%= yield :layout %>
        </div>
        <div class="clearboth"></div>
      </div>
      <div style="clear: both; height: 0; overflow: hidden;"></div>
      <%= render :partial => "layouts/footer" %>
    </div>
  </div>
</div>
</body>
</html>
