<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-US">
<head>
  <title><%= @page_title ? @page_title + ' - ' + APP_SHORT_NAME : APP_SHORT_NAME %></title>
  <%= render :partial => "layouts/head" %>

</head>
<body>

<% content_for :menu do %>
    <div id="menu-group" class="title-area hide-for-small">
    <div class="topimage hide-for-small">
      <%= image_tag 'logo120.png', :width => 60, :alt => APP_LONG_NAME %>
    </div>
    <div class="topmenu">
      <span class="tit"><%= @page_title %></span>
    </div>
    </div>
<% end %>

<%= render :partial => "layouts/header" %>
<div id="main" style="<%= current_user ? 'right:80px;' : 'right:0px;' %>">
  <!-- ##### Main Copy ##### -->
  <div id="main-copy" class="application">

    <div class="row">
      <div class="columns large-12">
          <%= yield :left_panel %>
          <%= render :partial => 'layouts/tutorials' %>
          <div id="flash_messages" style="height:20px">
            <%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
          </div>
          <%= yield :layout %>
      </div>
    </div>
    <%= render :partial => "layouts/new_footer" %>
  </div>
</div>
</body>
</html>
