<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-US">
	<head>
		<title><%= @page_title + ' - Airesis' || 'Airesis'%></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		
		<%= stylesheet_link_tag 'application' %>
		<%= javascript_include_tag 'application' %>
		<%= stylesheet_link_tag 'redmond/custom'%> 
		<%= csrf_meta_tag %>
		<%= yield :head %>
		
		<link rel="shortcut icon" href="/favicon.ico" />
	</head>
	<body>
		
	<%=render :partial => "layouts/header" %>		
	<div id="subheader">
		<div class="body_maxwidth">
			<div class="header_image">
		    	<%= @group.group_image_tag 120 %>
		    </div>
		    <div class="group_title">
			<h1><%= @group.name%></h1>
			<%=link_to 'Home Page', @group, :class => 'homeButton buttonStyle' %>
			<%=link_to 'Le proposte', group_proposals_path(@group), :class => 'ideaButton buttonStyle'%>			
			<%=link_to 'Calendario', group_events_path(@group), :class => 'calendarButton buttonStyle' %>
			<%=link_to 'Area candidati', group_candidates_path(@group),  :class => 'personButton buttonStyle' if current_user%>
			<%if (user_signed_in? && (is_admin? || (@group.portavoce.include?current_user)))%>
				<%= link_to 'Modifica', edit_group_path(@group), :class => 'editButton buttonStyle'  %>
			<%end%>
			</div>
		</div>
			
	</div>
		
		<!-- ##### Main Copy ##### -->
		<div id="main-copy">
			<div id="groups_leftpanel">
				<%= yield :left_panel%>
			</div>
			<div id="centerpanelextended">
				<div id="flash_messages" style="height:20px">
					<%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
				</div>
				<%= yield :layout %>
			</div>		<br><%=render :partial => "layouts/footer_landing" %>			
			<div style="clear: both; height: 0; overflow: hidden;"></div>
		</div>
		
	</body>
</html>
