<% content_for :menu do %>
    <div id="menu-group" class="title-area">
      <div class="topimage hide-for-small">
        <%= @group ? (@group.group_image_tag 40) : (image_tag 'logo120.png', :width => 40, :alt => APP_LONG_NAME) %>

      </div>
      <div class="topmenu">
        <% if @group %>
            <% if @group.id %>
                <%= @top_title = link_to @group.name, ((@group.certified && (request.subdomain == @group.subdomain)) ? root_path(:subdomain => @group.subdomain) : @group), class: 'tit left' %>
            <% else %>
                <%= @top_title = link_to t('pages.groups.new.title'), new_group_path, class: 'tit left' %>
            <% end %>
        <% else %>
            <%= @top_title = link_to t('pages.groups.index.title'), groups_path, class: 'tit left' %>
        <% end %>

        <div class="submenu mycont hide-for-small">
          <% if @group && @group.id && (can? :view_data, @group) %>
              <%= link_to t('pages.groups.layout.home_button'), @group, class: ((params[:controller] == 'groups' && params[:action] == 'show') || (params[:controller] == 'blog_posts') || (!(can? :update, @group) && params[:controller] == 'group_partecipations')) ? 'sel' : '' %>
              <span> ⋅ </span>
              <%= link_to t('pages.groups.layout.proposals_button'), group_proposals_url(@group), class: ((['proposals', 'proposal_histories'].include? params[:controller]) ? 'sel' : '') %>
              <span> ⋅ </span>
              <% if ::Configuration::groups_calendar %>
                  <%= link_to t('pages.groups.layout.calendar'), group_events_url(@group), class: (params[:controller] == 'events' ? 'sel' : '') %>

              <% end %>
              <% unless @group.disable_documents %>
                  <% if ::Configuration::documents_active %>
                      <span> ⋅ </span>
                      <%= link_to t('pages.groups.header.documents'), group_documents_url(@group), class: (params[:controller] == 'documents' ? 'sel' : '') %>
                  <% end %>
              <% end %>

              <%unless @group.disable_forums %>
              <span> ⋅ </span>
              <%= link_to t('pages.groups.header.forums'), group_forums_url(@group), class: (((params[:controller].start_with? 'frm/') && !(params[:controller].start_with? 'frm/admin')) ? 'sel' : '') %>
              <%end%>
              <% if can? :update, @group %>
                  <span> ⋅ </span>
                  <%= link_to t('pages.groups.header.settings'), edit_group_url(@group), class: ((params[:controller] == 'groups' && params[:action] != 'show') || (['group_areas', 'group_partecipations', 'search_partecipants','quorums'].include? params[:controller]) || (params[:controller].start_with? 'frm/admin') ? 'sel' : '') %>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>

<% end %>

<%=render 'layouts/general'%>

