<% content_for :menu do %>
    <div class="topimage hide-for-small">
      <%= @group ? (@group.group_image_tag 30) : (image_tag 'logo120.png', alt: APP_LONG_NAME) %>
    </div>

    <div class="topmenu">
      <% if @group %>
          <% if @group.id %>
              <%= @top_title = link_to @group.name, ((@group.certified && (request.subdomain == @group.subdomain)) ? root_path(subdomain: @group.subdomain) : @group), class: 'tit' %>
          <% else %>
              <%= @top_title = link_to t('pages.groups.new.title'), new_group_path, class: 'tit' %>
          <% end %>
      <% else %>
          <%= @top_title = link_to t('pages.groups.index.title'), groups_path, class: 'tit' %>
      <% end %>

      <div class="submenu">
        <% if @group && @group.id && (can? :view_data, @group) %>
            <%= link_to(@group, class: ((params[:controller] == 'groups' && (['show','by_year_and_month'].include? params[:action])) || (params[:controller] == 'blog_posts') || (!(can? :update, @group) && params[:controller] == 'group_partecipations')) ? 'sel' : '') do %>
                <span class="show-for-large-up"><%= t('pages.groups.layout.home_button') %></span>

                <div class="icon-home small hide-for-large-up" title="<%= t('pages.groups.layout.home_button') %>"></div>
            <% end %>
            <span> ⋅ </span>
            <%= link_to(group_proposals_url(@group), class: ((['proposals', 'proposal_histories'].include? params[:controller]) ? 'sel' : '')) do %>
                <span class="show-for-large-up"><%= t('pages.groups.layout.proposals_button') %></span>

                <div class="icon-file small hide-for-large-up" title="<%= t('pages.groups.layout.proposals_button') %>"></div>
            <% end %>
            <span> ⋅ </span>
            <% if ::Configuration::groups_calendar %>
                <%= link_to(group_events_url(@group), class: (params[:controller] == 'events' ? 'sel' : '')) do %>
                    <span class="show-for-large-up"><%= t('pages.groups.layout.calendar') %></span>

                    <div class="icon-calendar small hide-for-large-up" title="<%= t('pages.groups.layout.calendar') %>"></div>
                <% end %>
            <% end %>
            <% unless @group.disable_documents %>
                <% if ::Configuration::documents_active %>
                    <span> ⋅ </span>
                    <%= link_to(group_documents_url(@group), class: (params[:controller] == 'documents' ? 'sel' : '')) do %>
                        <span class="show-for-large-up"><%= t('pages.groups.header.documents') %></span>

                        <div class="icon-folder-open small hide-for-large-up" title="<%= t('pages.groups.header.documents') %>"></div>
                    <% end %>
                <% end %>
            <% end %>

            <% unless @group.disable_forums %>
                <span> ⋅ </span>
                <%= link_to(group_forums_url(@group), class: (((params[:controller].start_with? 'frm/') && !(params[:controller].start_with? 'frm/admin')) ? 'sel' : '')) do %>
                    <span class="show-for-large-up"><%= t('pages.groups.header.forums') %></span>

                    <div class="icon-bubbles small hide-for-large-up" title="<%= t('pages.groups.header.forums') %>"></div>
                <% end %>
            <% end %>
            <% if can? :update, @group %>
                <span> ⋅ </span>
                <%= link_to(edit_group_url(@group), class: ((params[:controller] == 'groups' && params[:action] != 'show') || (['group_areas', 'group_partecipations', 'search_partecipants', 'quorums'].include? params[:controller]) || (params[:controller].start_with? 'frm/admin') ? 'sel' : '')) do %>
                    <span class="show-for-large-up"><%= t('pages.groups.header.settings') %></span>

                    <div class="icon-cog small hide-for-large-up" title="<%= t('pages.groups.header.settings') %>"></div>
                <% end %>
            <% end %>
        <% end %>
      </div>
    </div>
<% end %>

<%= render 'layouts/general' %>

