<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:fb="http://ogp.me/ns/fb#" lang="en-US">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article# blog: http://ogp.me/ns/blog# http://ogp.me/ns/fb/airesis#">
  <title><%= @page_title ? @page_title + ' - ' + APP_SHORT_NAME : APP_SHORT_NAME %></title>
  <%= render :partial => "layouts/head" %>
</head>
<body>

<% content_for :menu do %>
    <% if @group %>
        <%= @group.group_image_tag 60 %>
        <% if @group.id %>
            <%= link_to @group.name, @group, class: 'tit' %>
        <% else %>
            <%= link_to t('pages.groups.new.title'), new_group_path, class: 'tit' %>
        <% end %>
    <% else %>
        <%= image_tag 'logo120.png', :width => 60, :alt => APP_LONG_NAME %>
        <%= link_to t('pages.groups.index.title'), groups_path, class: 'tit' %>
    <% end %>

    <div id="submenu">
      <% if @group && @group.id %>
          <%= link_to t('pages.groups.layout.proposals_button'), group_proposals_path(@group) %> -
          <% if ::Configuration::groups_calendar %>
              <%= link_to t('pages.groups.layout.calendar'), group_events_path(@group) %> -
          <% end %>
          <% if ::Configuration::elections_active %>
              <%= link_to t('pages.groups.header.elections'), group_candidates_path(@group) if current_user %> -
          <% end %>
          <% if ::Configuration::documents_active %>
              <%= link_to t('pages.groups.header.documents'), group_documents_path(@group) %> -
          <% end %>
          <% if can? :update, @group %>
              <%= link_to t('pages.groups.header.settings'), edit_group_path(@group) %>
          <% end %>
      <% end %>
    </div>
<% end %>

<%= render :partial => "layouts/header" %>

<!-- ##### Main Copy ##### -->
<div id="main-copy" style="right:<%= current_user ? '80px' : '0px' %>">
  <div id="leftpanel">
    <%= yield :left_panel %>
  </div>
  <div id="centerpanelextended">
    <div id="flash_messages" style="height:20px">
      <%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
    </div>
    <%= yield :layout %>
  </div>
  <div style="clear: both; height: 0; overflow: hidden;"></div>
</div>
<%= render :partial => "layouts/footer" %>


</body>
</html>
