<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= I18n.locale %>" lang="<%= I18n.locale %>">
<head>
  <title><%= (@page_title || t('open_space')) + ' - ' + APP_SHORT_NAME %></title>
  <%= render :partial => "layouts/head" %>
</head>
<body>


<% content_for :menu do %>
    <div id="menu-group" class="title-area">
      <div class="topimage hide-for-small">
        <%= image_tag 'logo120.png', :width => 60, :alt => APP_LONG_NAME %>
      </div>
      <div class="topmenu">
        <div class="tit left"><%= @page_title %></div>
        <div class="topbar-menu-icon left"></div>

        <div class="submenu mycont hide-for-small left">
          <%= link_to t('pages.home.index.whatis'), edemocracy_path, :class => 'coseButton', class: ((['whatis','intro'].include? params[:action]) ? 'sel' : '') %>
          <span> ⋅ </span>
          <%= link_to t('pages.home.index.partecipate'), partecipa_path, :class => 'sviluppoButton', class: ((['engage'].include? params[:action]) ? 'sel' : '') %>
          <span> ⋅ </span>
          <%= link_to t('pages.home.index.videos'), videoguide_path, :class => 'videoButton', class: ((['videoguide'].include? params[:action])  ? 'sel' : '') %>
          <span> ⋅ </span>
          <%= link_to t('pages.home.index.whowe'), chisiamo_path, :class => 'chisiamoButton', class: ((['whowe','story'].include? params[:action]) ? 'sel' : '') %>
          <span> ⋅ </span>
          <%= link_to t('pages.header.support_us'), sostienici_path, :class => 'sostieniButton', class: ((['helpus'].include? params[:action]) ? 'sel' : '') %>
          <span> ⋅ </span>
          <%= link_to 'ROADMAP', roadmap_path, :class => 'roadmapButton', class: (params[:action] == 'roadmap' ? 'sel' : '') %>
          <% unless in_subdomain? %>
              <span> ⋅ </span>
              <%= link_to 'PRESS', press_path, :class => 'pressButton', class: (params[:action] == 'press' ? 'sel' : '') %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>

<%= render :partial => "layouts/header" %>

<div id="main">
  <div id="menu-top">
    <div style="position:relative">
      <%= yield :menu %>
    </div>
  </div>
  <div id="main-copy">
    <div id="pulldown">
      <div class="full-width">
        <div id="menu-left">
          <div class="menu2">
            <div class="mybox show-for-small">
              <%= yield :menu %>
            </div>
            <%= yield :left_panel %>
          </div>
        </div>

        <%= yield :layout %>

      </div>

      <%= render :partial => "layouts/footer" %>
    </div>
  </div>
</div>


</body>
</html>
