<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-US">
	<head>
		<title><%= (@page_title || t('open_space')) + ' - Airesis'%></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		
		<%= stylesheet_link_tag 'application' %>
		<%= javascript_include_tag 'application' %>
		<%= stylesheet_link_tag 'redmond/custom'%> 
		<%= csrf_meta_tag %>
		<%= yield :head %>
		
		<link rel="shortcut icon" href="/favicon.ico" />
	</head>
	<body>
		
	<%=render :partial => "layouts/header" %>		
	<div id="subheader">
		<div class="body_maxwidth">
			<div class="header_image">
		    	<%= image_tag 'airesis.jpg', :width => 120 %>
		    </div>
		    <div class="group_title">
			<h1><%=t('open_space')%></h1>
			<%= link_to 'Le proposte', proposals_path, :class => 'ideaButton buttonStyle'%>			
			<%= link_to 'Calendario', events_path, :class => 'calendarButton buttonStyle' %>
			<%= link_to 'Mappa', proposals_path, :class => 'mapButton buttonStyle' %>
			</div>
		</div>
			
	</div>
		
		<!-- ##### Main Copy ##### -->
		<div id="main-copy">
			<div id="groups_leftpanel">
				<%= yield :left_panel%>
			</div>
			<div id="centerpanelextended">
				<div id="flash_messages" style="height:20px">
					<%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
				</div>
				<%= yield :layout %>
			</div>			
			<div style="clear: both; height: 0; overflow: hidden;"></div>
		</div>
		
	</body>
</html>
