<% content_for :menu do %>
    <div id="menu-group" class="title-area hide-for-small">
      <div class="topimage hide-for-small">
        <%= image_tag 'logo120.png', :width => 40, :alt => APP_LONG_NAME %>
      </div>
      <div class="topmenu">
        <span class="tit left"><%= APP_LONG_NAME %></span>

        <div class="submenu mycont hide-for-small left">
          <%= link_to t('pages.open_space.layout.proposals_button'), proposals_path, class: ((['proposals', 'proposal_histories'].include? params[:controller]) ? 'sel' : '') %>
          <span> ⋅ </span>
          <%= link_to t('pages.open_space.layout.petitions_button'), proposals_path, class: ((['proposals', 'proposal_histories'].include? params[:controller]) ? 'sel' : '') %>
          <span> ⋅ </span>
          <%= link_to t('pages.open_space.layout.calendar_button'), events_path, class: (params[:controller] == 'events' ? 'sel' : '') %>
        </div>
      </div>
    </div>
<% end %>

<%= render 'layouts/general' %>