<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-US">
	<head>
		<title><%= (@page_title || t('open_space')) + ' - ' + APP_SHORT_NAME%></title>
		
		<%=render :partial => "layouts/head" %>
	</head>
	<body>
		
	<%=render :partial => "layouts/header" %>		
	<div id="subheader" class="ui-widget-header ui-state-default">
		<div class="body_maxwidth">
			<div class="header_image">
		    	<%= image_tag 'logo120.png', :width => 120, :alt => APP_LONG_NAME %>
		    </div>
		    <div class="group_title">
			<h1><%=t('open_space')%></h1>
			<%= link_to t('pages.open_space.layout.proposals_button'), proposals_path, :class => 'ideaButton buttonStyle'%>
			<%= link_to t('pages.open_space.layout.calendar_button'), events_path, :class => 'calendarButton buttonStyle' %>
			<!--<%= link_to t('pages.open_space.layout.map_button'), proposals_path, :class => 'mapButton buttonStyle' %>-->
			</div>
		</div>
			
	</div>
		
		<!-- ##### Main Copy ##### -->
		<div id="main-copy">
			<div id="groups_leftpanel">
				<%= yield :left_panel%>
			</div>
			<div id="centerpanelextended">
				<div id="flash_messages" style="height:20px">
					<%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
				</div>
				<%= yield :layout %>
			</div>					
			<div style="clear: both; height: 0; overflow: hidden;"></div>
			<%=render :partial => "layouts/footer" %>
		</div>
		
	</body>
</html>
