<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-US">
	<head>
		<title><%= @page_title + ' - ' + APP_SHORT_NAME || APP_SHORT_NAME%></title>
		<%=render :partial => "layouts/head" %>
	</head>
	<body>
		
	<%=render :partial => "layouts/header" %>		
		
		<!-- ##### Main Copy ##### -->
		<div id="main-copy">
			<div id="leftpanel">
				<%= yield :left_panel%>
			</div>
			<div id="centerpanelextended">
				<div id="flash_messages" style="height:20px">
					<%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
				</div>
				<%= yield :layout %>
			</div>			
			<div style="clear: both; height: 0; overflow: hidden;"></div>
			<div id="footer"><%=render :partial => "layouts/footer" %>
			</div>
		</div>
		
	</body>
</html>
