<% content_for :head do %>
    <% if @user && @user.google_page_url %>
        <link href="<%= @user.google_page_url %>" rel="author"/>
    <% end %>
<% end %>

<% content_for :menu do %>
    <div id="menu-group" class="title-area ">
      <% if @user %>
          <div class="topimage hide-for-small">
            <%= @user.user_image_tag 40 %>
          </div>
          <div class="topmenu">
            <span class="tit left"><%= @user.fullname %></span>

            <div class="submenu mycont hide-for-small left">
              <% if current_user && (@user == current_user) %>
                  <%= link_to t('pages.header.menu.my_page'), home_url, class: (params[:controller] == 'home' ? 'sel' : '') %>
                  <span> ⋅ </span>
                  <% if @user.blog %>
                      <%= link_to t('pages.header.menu.my_blog'), @user.blog, class: ((['blogs', 'blog_posts'].include? params[:controller]) ? 'sel' : '') %>
                  <% else %>
                      <%= link_to t('pages.header.menu.create_blog'), new_blog_path, class: (['blogs', 'blog_posts'].include? params[:controller] ? 'sel' : '') %>
                  <% end %>
                  <span> ⋅ </span>
                  <%= link_to t('pages.header.menu.preferences'), @user, class: ((['users', 'alerts'].include? params[:controller]) ? 'sel' : '') %>
              <% end %>
              <% if @user != current_user %>
                  <% unless @user.new_record? %>
                      <%= link_to t('pages.header.menu.profile'), @user, class: ((['home', 'users'].include? params[:controller]) ? 'sel' : '') %>
                  <% end %>
                  <% if @user.blog %>
                      <span> ⋅ </span>
                      <%= link_to 'BLOG', @user.blog, class: ((['blogs', 'blog_posts'].include? params[:controller]) ? 'sel' : '') %>
                  <% end %>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
<% end %>

<%=render 'layouts/general'%>