<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-US" <%= yield :html_options %>>
<head>
  <title><%= (@page_title || t('open_space')) + ' - ' + APP_SHORT_NAME %></title>
  <%= render :partial => "layouts/head" %>
  <% if @user.google_page_url %>
      <link href="<%= @user.google_page_url %>" rel="author"/>
  <% end %>
</head>
<body>
<div id="great_container">


  <% content_for :menu do %>
      <span class="tit"><%= @user.fullname %></span>
      <%= @user.user_image_tag 60 %>


      <div id="submenu">
        <% if current_user && (@user == current_user) %>
            <%= link_to 'HOME PAGE', root_path %> -
            <%= link_to t('pages.header.menu.preferences'), @user %> -
            <% if @user.blog %>
                <%= link_to t('pages.header.menu.my_blog'), @user.blog %>
            <% else %>
                <%= link_to t('pages.header.menu.create_blog'), new_blog_path %>
            <% end %>
        <% end %>
        <% if @user != current_user %>
            <% unless @user.new_record? %>
                - <%= link_to 'PROFILO', @user %>
            <% end %>
            <% if @user.blog %>
                - <%= link_to 'BLOG', @user.blog %>
            <% end %>
        <% end %>

      </div>
  <% end %>

  <%= render :partial => "layouts/header" %>

  <!-- ##### Main Copy ##### -->
  <div id="main-copy" style="margin-right:<%= current_user ? '80px' : '0px' %>">
    <div id="leftpanel">
      <%= yield :left_panel %>
    </div>
    <div id="centerpanelextended">
      <div id="flash_messages" style="height:20px">
        <%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
      </div>
      <%= yield :layout %>
    </div>
    <div style="clear: both; height: 0; overflow: hidden;"></div>

  </div>
</div>
<%= render :partial => "layouts/footer" %>
</body>
</html>
