<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-US" <%= yield :html_options %>>
<head>
  <title><%= (@page_title || t('open_space')) + ' - ' + APP_SHORT_NAME %></title>
  <%= render :partial => "layouts/head" %>
  <% if @user && @user.google_page_url %>
      <link href="<%= @user.google_page_url %>" rel="author"/>
  <% end %>
</head>
<body style="min-width:1000px;">
<div id="great_container">

  <% content_for :menu do %>
      <% if @user %>
          <span class="tit"><%= @user.fullname %></span>
          <%= @user.user_image_tag 60 %>


          <div id="submenu">
            <% if current_user && (@user == current_user) %>
                <%= link_to t('pages.header.menu.my_page'), root_path, class: (params[:controller] == 'home' ? 'sel' : '') %>
                <span> ⋅ </span>
                <% if @user.blog %>
                    <%= link_to t('pages.header.menu.my_blog'), @user.blog, class: ((['blogs', 'blog_posts'].include? params[:controller]) ? 'sel' : '') %>
                <% else %>
                    <%= link_to t('pages.header.menu.create_blog'), new_blog_path, class: (['blogs', 'blog_posts'].include? params[:controller] ? 'sel' : '') %>
                <% end %>
                <span> ⋅ </span>
                <%= link_to t('pages.header.menu.preferences'), @user, class: (params[:controller] == 'users' ? 'sel' : '') %>
            <% end %>
            <% if @user != current_user %>
                <% unless @user.new_record? %>
                    <%= link_to 'PROFILO', @user, class: ((['home', 'users'].include? params[:controller]) ? 'sel' : '') %>
                <% end %>
                <% if @user.blog %>
                    <span> ⋅ </span>
                    <%= link_to 'BLOG', @user.blog, class: ((['blogs', 'blog_posts'].include? params[:controller]) ? 'sel' : '') %>
                <% end %>
            <% end %>
            <div class="borx"></div>
            <div class="tria" style="left: 389px;"></div>

          </div>
      <% end %>
  <% end %>

  <%= render :partial => "layouts/header" %>
  <div id="main" style="right:0px;min-width:1000px;">
    <!-- ##### Main Copy ##### -->
    <div id="main-copy">
      <div id="menu-left">
        <div class="menu2">
          <%= yield :left_panel %>
        </div>
      </div>
      <div id="centerpanelextended">
        <div class="centerfloat <%= raw @extend ? 'extended' : '' %>">
          <div id="flash_messages" style="height:20px">
            <%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
          </div>
          <%= yield :layout %>
        </div>


        <%= render :partial => "layouts/menu_right" %>

        <div class="clearboth"></div>
      </div>
      <%= render :partial => "layouts/footer" %>
    </div>
  </div>
</div>

</body>
</html>
